Repository espnet/espnet, pull requests merged in 2018-08, with the labels that each got.

#379 Fix undefined gpu_id
  src/lm/lm_chainer.py
Labels: Bug

#376 Add more test codes
  test/test_e2e_asr.py
  test/test_e2e_tts.py
Labels: Enhancement

#370 Refactor recognition part
  src/asr/asr_chainer.py
  src/asr/asr_pytorch.py
  src/asr/asr_utils.py
Labels: Refactoring

#378 Fix no hypothesis bug
  src/nets/e2e_asr.py
  src/nets/e2e_asr_th.py
Labels: Bug

#377 Use snapshot in recognition
  README.md
  egs/ami/asr1/run.sh
  egs/an4/asr1/run.sh
  egs/babel/asr1/run.sh
  egs/chime4/asr1/run.sh
  egs/chime5/asr1/run.sh
  egs/csj/asr1/local/run_spm.sh
  egs/csj/asr1/run.sh
  egs/fisher_swbd/asr1/run.sh
  egs/hkust/asr1/run.sh
  egs/hub4_spanish/asr1/run.sh
  egs/iwslt18st/st1/run.sh
  egs/jsalt18e2e/asr1/local/run_spm.sh
  egs/jsalt18e2e/asr1/run.sh
  egs/li10/asr1/run.sh
  egs/librispeech/asr1/run.sh
  egs/ljspeech/tts1/run.sh
  egs/swbd/asr1/run.sh
  egs/tedlium/asr1/run.sh
  egs/voxforge/asr1/run.sh
  egs/wsj/asr1/run.sh
  src/asr/asr_chainer.py
  src/asr/asr_utils.py
  test/test_e2e_asr.py
Labels: Enhancement

#373 Add installation check scripts
  README.md
  tools/Makefile
  tools/check_install.py
  tools/conda.mk
  tools/requirements.txt
Labels: Enhancement

#381 Add setting file for probot stale
  .github/stale.yml
Labels: Enhancement

#384 Add shortcut to re-setup python libraries
  README.md
  tools/Makefile
Labels: Enhancement

#359 REVERB challenge recipe
  egs/jsalt18e2e/asr1/local/run_spm.sh
  egs/reverb/asr1/RESULTS
  egs/reverb/asr1/cmd.sh
  egs/reverb/asr1/conf/fbank.conf
  egs/reverb/asr1/conf/gpu.conf
  egs/reverb/asr1/conf/pitch.conf
  egs/reverb/asr1/local/Generate_mcTrainData_cut.m
  egs/reverb/asr1/local/filterjson.py
  egs/reverb/asr1/local/find_transcripts.pl
  egs/reverb/asr1/local/find_transcripts_singledot.pl
  egs/reverb/asr1/local/find_transcripts_txt.pl
  egs/reverb/asr1/local/flist2scp.pl
  egs/reverb/asr1/local/generate_data.sh
  egs/reverb/asr1/local/mlf2text.pl
  egs/reverb/asr1/local/ndx2flist.pl
  egs/reverb/asr1/local/normalize_transcript.pl
  egs/reverb/asr1/local/prepare_real_data.sh
  egs/reverb/asr1/local/prepare_simu_data.sh
  egs/reverb/asr1/local/score_for_reverb.sh
  egs/reverb/asr1/local/wsj_data_prep.sh
  egs/reverb/asr1/local/wsj_format_data.sh
  egs/reverb/asr1/path.sh
  egs/reverb/asr1/run.sh
  egs/reverb/asr1/steps
  egs/reverb/asr1/utils
Labels: Enhancement

#389 Update check_install.py to check warpctc version
  tools/check_install.py
Labels: Enhancement

#390 Remove duplicated lines
  src/tts/tts_pytorch.py
Labels: Bug

#401 Fix zero division error (#400)
  src/asr/asr_pytorch.py
Labels: Bug
