Repository espnet/espnet, pull requests merged in 2019-11, with the labels that each got.

#1232 Update Must-C ST recipe
  egs/must_c/asr1/conf/decode.yaml
  egs/must_c/asr1/conf/fbank.conf
  egs/must_c/asr1/conf/specaug.yaml
  egs/must_c/asr1/conf/train.yaml
  egs/must_c/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/must_c/asr1/run.sh
  egs/must_c/st1/RESULTS.md
  egs/must_c/st1/conf/decode.yaml
  egs/must_c/st1/conf/fbank.conf
  egs/must_c/st1/conf/specaug.yaml
  egs/must_c/st1/conf/train.yaml
  egs/must_c/st1/conf/tuning/decode_pytorch_transformer.yaml
  egs/must_c/st1/conf/tuning/decode_rnn.yaml
  egs/must_c/st1/conf/tuning/train_pytorch_transformer.yaml
  egs/must_c/st1/local/divide_lang.sh
  egs/must_c/st1/run.sh
Labels: Recipe

#1336 Change log level info -> warning about batchsize
  espnet/asr/chainer_backend/asr.py
  espnet/asr/pytorch_backend/asr.py
  espnet/asr/pytorch_backend/asr_mix.py
  espnet/mt/pytorch_backend/mt.py
  espnet/tts/pytorch_backend/tts.py
Labels: Enhancement

#1337 Return parser in add_arguments method for transducer
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
Labels: Bugfix

#1331 Fix TTS transformer attention weight calculation in inference
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
Labels: Bugfix

#1341 Pre-trained CSJ model
  .gitignore
  README.md
  egs/csj/asr1/RESULTS.md
  utils/recog_wav.sh
Labels: Recipe

#1342 Update README
  README.md
Labels: Documentation

#1344 Update libri_trans asr recipe
  egs/libri_trans/asr1/RESULTS
  egs/libri_trans/asr1/RESULTS.md
  egs/libri_trans/asr1/conf/decode.yaml
  egs/libri_trans/asr1/conf/specaug.yaml
  egs/libri_trans/asr1/conf/train.yaml
  egs/libri_trans/asr1/conf/tuning/decode_pytorch_transformer_bpe.yaml
  egs/libri_trans/asr1/conf/tuning/decode_pytorch_transformer_char.yaml
  egs/libri_trans/asr1/conf/tuning/decode_rnn_bpe.yaml
  egs/libri_trans/asr1/conf/tuning/train_pytorch_transformer_bpe.yaml
  egs/libri_trans/asr1/conf/tuning/train_pytorch_transformer_bpe_long.yaml
  egs/libri_trans/asr1/conf/tuning/train_pytorch_transformer_char.yaml
  egs/libri_trans/asr1/conf/tuning/train_rnn_bpe.yaml
  egs/libri_trans/asr1/run.sh
  utils/pack_model.sh
Labels: Recipe

#1343 Fixing compatibility problems with PyTorch 1.3.0 in ESPnet (v0.5.3)
  espnet/bin/asr_train.py
  espnet/nets/pytorch_backend/ctc.py
  espnet/nets/pytorch_backend/e2e_tts_fastspeech.py
  espnet/nets/pytorch_backend/e2e_tts_tacotron2.py
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  espnet/nets/pytorch_backend/frontends/dnn_beamformer.py
  espnet/nets/pytorch_backend/nets_utils.py
  espnet/nets/pytorch_backend/transformer/decoder.py
  espnet/nets/pytorch_backend/transformer/mask.py
Labels: Enhancement

#1333 Support Parallel WaveGAN
  README.md
  utils/synth_wav.sh
Labels: New Features

#1351 Fix pretrained model URL for master
  README.md
Labels: Bugfix

#1350 Fix pretrained model URL
  README.md
  utils/synth_wav.sh
Labels: Bugfix

#1354 Fix pretrained model URL
  README.md
  egs/csmsc/tts1/RESULTS.md
  egs/ljspeech/tts1/RESULTS.md
  utils/synth_wav.sh
Labels: Bugfix

#1355 Fix pretrained model URL for master
  README.md
  egs/csmsc/tts1/RESULTS.md
  egs/ljspeech/tts1/RESULTS.md
  utils/synth_wav.sh
Labels: Bugfix

#1366 Fix sphinx warning of TTS modules
  doc/conf.py
  espnet/nets/pytorch_backend/tacotron2/cbhg.py
  espnet/nets/pytorch_backend/tacotron2/decoder.py
  espnet/nets/pytorch_backend/transformer/multi_layer_conv.py
Labels: Documentation

#1365 Make --preprocess_conf optional in pack_model.sh
  utils/pack_model.sh
Labels: Bugfix

#1363 Remove set start method to fix #1290
  espnet/bin/asr_train.py
  espnet/bin/lm_train.py
  espnet/bin/mt_train.py
  espnet/bin/tts_train.py
Labels: Bugfix

#1368 Fix ASR eval for TTS in the case of trans_type=phn
  egs/ljspeech/tts1/local/ob_eval/data_prep_for_asr.sh
  egs/ljspeech/tts1/local/ob_eval/evaluate_cer.sh
  egs/ljspeech/tts1/run.sh
Labels: Bugfix

#1376 Update LJSpeech RESULTS.md
  egs/ljspeech/tts1/RESULTS.md
Labels: Recipe

#1388 Fix gradient accumlation
  espnet/asr/pytorch_backend/asr.py
Labels: Bugfix

#1391 fix rnnlm load bug
  espnet/asr/pytorch_backend/asr.py
Labels: Bugfix

#1390 Add Fisher-CallHome asr1b recipe
  egs/fisher_callhome_spanish/asr1b/README.md
  egs/fisher_callhome_spanish/asr1b/RESULTS.md
  egs/fisher_callhome_spanish/asr1b/cmd.sh
  egs/fisher_callhome_spanish/asr1b/conf/decode.yaml
  egs/fisher_callhome_spanish/asr1b/conf/fbank.conf
  egs/fisher_callhome_spanish/asr1b/conf/gpu.conf
  egs/fisher_callhome_spanish/asr1b/conf/lm.yaml
  egs/fisher_callhome_spanish/asr1b/conf/pitch.conf
  egs/fisher_callhome_spanish/asr1b/conf/queue.conf
  egs/fisher_callhome_spanish/asr1b/conf/slurm.conf
  egs/fisher_callhome_spanish/asr1b/conf/specaug.yaml
  egs/fisher_callhome_spanish/asr1b/conf/train.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/decode_pytorch_transformer_bpe.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/decode_pytorch_transformer_char.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/decode_rnn_bpe.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/decode_rnn_char.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/lm_char.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/train_pytorch_transformer_bpe.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/train_pytorch_transformer_bpe_long.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/train_pytorch_transformer_char.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/train_rnn_bpe.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/train_rnn_char.yaml
  egs/fisher_callhome_spanish/asr1b/local
  egs/fisher_callhome_spanish/asr1b/path.sh
  egs/fisher_callhome_spanish/asr1b/run.sh
  egs/fisher_callhome_spanish/asr1b/steps
  egs/fisher_callhome_spanish/asr1b/utils
Labels: Recipe
