Repository espnet/espnet, pull requests merged in 2019-05, with the labels that each got.

#698 TIMIT recipe
  egs/timit/asr1/cmd.sh
  egs/timit/asr1/conf/dev_spk.list
  egs/timit/asr1/conf/fbank.conf
  egs/timit/asr1/conf/gpu.conf
  egs/timit/asr1/conf/mfcc.conf
  egs/timit/asr1/conf/phones.60-48-39.map
  egs/timit/asr1/conf/pitch.conf
  egs/timit/asr1/conf/queue.conf
  egs/timit/asr1/conf/slurm.conf
  egs/timit/asr1/conf/test_spk.list
  egs/timit/asr1/local/timit_data_prep.sh
  egs/timit/asr1/local/timit_format_data.sh
  egs/timit/asr1/local/timit_norm_trans.pl
  egs/timit/asr1/path.sh
  egs/timit/asr1/run.sh
  egs/timit/asr1/steps
  egs/timit/asr1/utils
  utils/data2json.sh
  utils/text2token.py
Labels: Recipe

#721 Updated to use pytorch 1.0.1
  .travis.yml
  tools/Makefile
Labels: Enhancement

#728 Fix check_install.py
  tools/check_install.py
Labels: Bugfix

#730 Use ensure_ascii=False to make json human-readable
  espnet/asr/chainer_backend/asr.py
  espnet/asr/pytorch_backend/asr.py
  espnet/asr/pytorch_backend/asr_mix.py
  espnet/lm/chainer_backend/lm.py
  espnet/lm/pytorch_backend/lm.py
  espnet/tts/pytorch_backend/tts.py
Labels: Bugfix

#690 Pytorch transformer (take 2)
  README.md
  egs/wsj/asr2/RESULTS
  egs/wsj/asr2/local/run_chainer.sh
  egs/wsj/asr2/local/run_pytorch.sh
  egs/wsj/asr2/run.sh
  espnet/asr/chainer_backend/asr.py
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_train.py
  espnet/nets/asr_interface.py
  espnet/nets/chainer_backend/e2e_asr.py
  espnet/nets/chainer_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_asr.py
  espnet/nets/pytorch_backend/e2e_asr_mix.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_tts.py
  espnet/nets/pytorch_backend/frontends/mask_estimator.py
  espnet/nets/pytorch_backend/rnn/__init__.py
  espnet/nets/pytorch_backend/rnn/attentions.py
  espnet/nets/pytorch_backend/rnn/decoders.py
  espnet/nets/pytorch_backend/rnn/encoders.py
  espnet/nets/pytorch_backend/transformer/__init__.py
  espnet/nets/pytorch_backend/transformer/attention.py
  espnet/nets/pytorch_backend/transformer/decoder.py
  espnet/nets/pytorch_backend/transformer/decoder_layer.py
  espnet/nets/pytorch_backend/transformer/embedding.py
  espnet/nets/pytorch_backend/transformer/encoder.py
  espnet/nets/pytorch_backend/transformer/encoder_layer.py
  espnet/nets/pytorch_backend/transformer/label_smoothing_loss.py
  espnet/nets/pytorch_backend/transformer/layer_norm.py
  espnet/nets/pytorch_backend/transformer/optimizer.py
  espnet/nets/pytorch_backend/transformer/plot.py
  espnet/nets/pytorch_backend/transformer/positionwise_feed_forward.py
  espnet/nets/pytorch_backend/transformer/repeat.py
  espnet/nets/pytorch_backend/transformer/subsampling.py
  espnet/transform/transformation.py
  espnet/utils/dynamic_import.py
  test/test_e2e_asr.py
  test/test_e2e_transformer.py
Labels: Enhancement

#725 JNAS_Recipe
  egs/jnas/asr1/RESULTS
  egs/jnas/asr1/cmd.sh
  egs/jnas/asr1/conf/fbank.conf
  egs/jnas/asr1/conf/gpu.conf
  egs/jnas/asr1/conf/pitch.conf
  egs/jnas/asr1/conf/queue.conf
  egs/jnas/asr1/conf/slurm.conf
  egs/jnas/asr1/conf/train_speakers.txt
  egs/jnas/asr1/local/filter_text.py
  egs/jnas/asr1/local/jnas_eval_prep.sh
  egs/jnas/asr1/local/jnas_train_prep.sh
  egs/jnas/asr1/local/make_eval_trans.py
  egs/jnas/asr1/local/make_train_trans.py
  egs/jnas/asr1/local/split_tr_dt.sh
  egs/jnas/asr1/path.sh
  egs/jnas/asr1/run.sh
  egs/jnas/asr1/steps
  egs/jnas/asr1/utils
Labels: Enhancement, Recipe

#737 Add CSJ transformer recipe
  README.md
  egs/csj/asr1/RESULTS
  egs/csj/asr2/cmd.sh
  egs/csj/asr2/conf/fbank.conf
  egs/csj/asr2/conf/gpu.conf
  egs/csj/asr2/conf/pitch.conf
  egs/csj/asr2/conf/queue.conf
  egs/csj/asr2/conf/slurm.conf
  egs/csj/asr2/local
  egs/csj/asr2/path.sh
  egs/csj/asr2/run.sh
  egs/csj/asr2/steps
  egs/csj/asr2/utils
Labels: Recipe

#734 Add implementation of specaug
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_train.py
  espnet/utils/spec_augment.py
Labels: Enhancement

#746 TTS modularize
  egs/ljspeech/tts2/run.sh
  espnet/bin/tts_train.py
  espnet/nets/pytorch_backend/e2e_tts.py
  espnet/nets/pytorch_backend/tacotron2/cbhg.py
  espnet/nets/pytorch_backend/tacotron2/decoder.py
  espnet/nets/pytorch_backend/tacotron2/encoder.py
  espnet/nets/tts_interface.py
  espnet/tts/pytorch_backend/tts.py
  test/test_e2e_tts.py
Labels: Refactoring

#758 Update voxforge recipe
  egs/voxforge/asr2/RESULTS
  egs/voxforge/asr2/cmd.sh
  egs/voxforge/asr2/conf/decode.yaml
  egs/voxforge/asr2/conf/fbank.conf
  egs/voxforge/asr2/conf/gpu.conf
  egs/voxforge/asr2/conf/pitch.conf
  egs/voxforge/asr2/conf/queue.conf
  egs/voxforge/asr2/conf/slurm.conf
  egs/voxforge/asr2/conf/train.yaml
  egs/voxforge/asr2/local/filter_text.py
  egs/voxforge/asr2/local/getdata.sh
  egs/voxforge/asr2/local/make_trans.py
  egs/voxforge/asr2/local/split_tr_dt_et.sh
  egs/voxforge/asr2/local/voxforge_data_prep.sh
  egs/voxforge/asr2/local/voxforge_format_data.sh
  egs/voxforge/asr2/path.sh
  egs/voxforge/asr2/run.sh
  egs/voxforge/asr2/steps
  egs/voxforge/asr2/utils
Labels: Recipe

#763 Reinforce CI
  .circleci/config.yml
  .travis.yml
  CONTRIBUTING.md
  README.md
  ci/install.sh
  ci/test_python.sh
  ci/test_shell.sh
  egs/an4/asr1/run.sh
  egs/fisher_callhome_spanish_st/st1/run.sh
  egs/iwslt18st/st1/run.sh
  egs/jsut/tts1/run.sh
  egs/ljspeech/tts1/run.sh
  egs/ljspeech/tts2/run.sh
  egs/wsj_mix/asr1/run.sh
  test/test_e2e_asr.py
  utils/data2json.sh
  utils/eval_source_separation.sh
  utils/score_sclite.sh
Labels: Enhancement

#767 Add missing files for iwslt18 recipe
  egs/iwslt18/asr1/RESULTS
  egs/iwslt18/asr1/cmd.sh
  egs/iwslt18/asr1/conf/fbank.conf
  egs/iwslt18/asr1/conf/gpu.conf
  egs/iwslt18/asr1/conf/pitch.conf
  egs/iwslt18/asr1/conf/queue.conf
  egs/iwslt18/asr1/conf/slurm.conf
  egs/iwslt18/asr1/local
  egs/iwslt18/asr1/path.sh
  egs/iwslt18/asr1/run.sh
  egs/iwslt18/asr1/steps
  egs/iwslt18/asr1/utils
  egs/iwslt18/st1/RESULTS
  egs/iwslt18/st1/cmd.sh
  egs/iwslt18/st1/conf/fbank.conf
  egs/iwslt18/st1/conf/gpu.conf
  egs/iwslt18/st1/conf/pitch.conf
  egs/iwslt18/st1/conf/queue.conf
  egs/iwslt18/st1/conf/slurm.conf
  egs/iwslt18/st1/local/ctm2segments.py
  egs/iwslt18/st1/local/data2json.sh
  egs/iwslt18/st1/local/data_prep_eval.sh
  egs/iwslt18/st1/local/data_prep_train.sh
  egs/iwslt18/st1/local/divide_lang.sh
  egs/iwslt18/st1/local/download_and_untar.sh
  egs/iwslt18/st1/local/join_suffix.py
  egs/iwslt18/st1/local/json2trn_reorder.py
  egs/iwslt18/st1/local/normalize_punctuation.pl
  egs/iwslt18/st1/local/parse_xml.py
  egs/iwslt18/st1/local/reclist
  egs/iwslt18/st1/local/remove_punctuation.pl
  egs/iwslt18/st1/local/reorder_text.py
  egs/iwslt18/st1/local/score_bleu.sh
  egs/iwslt18/st1/local/score_bleu_reseg.sh
  egs/iwslt18/st1/local/score_sclite.sh
  egs/iwslt18/st1/local/score_sclite_reseg.sh
  egs/iwslt18/st1/local/update_json.sh
  egs/iwslt18/st1/local/wrap-xml.perl
  egs/iwslt18/st1/path.sh
  egs/iwslt18/st1/run.sh
  egs/iwslt18/st1/steps
  egs/iwslt18/st1/utils
  egs/iwslt18st/st1/local/update_json.sh
  egs/iwslt18st/st1/run.sh
  espnet/asr/pytorch_backend/asr.py
  espnet/nets/pytorch_backend/decoders.py
Labels: Bugfix, Recipe

#745 Implement specaug as preprocessing and unify egs/wsj/asr1 and asr2
  egs/wsj/asr1/RESULTS
  egs/wsj/asr1/conf/decode.yaml
  egs/wsj/asr1/conf/no_preprocess.yaml
  egs/wsj/asr1/conf/specaug.yaml
  egs/wsj/asr1/conf/train.yaml
  egs/wsj/asr1/conf/tuning/decode_chainer_transformer.yaml
  egs/wsj/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/wsj/asr1/conf/tuning/decode_rnn.yaml
  egs/wsj/asr1/conf/tuning/train_chainer_transformer.yaml
  egs/wsj/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/wsj/asr1/conf/tuning/train_rnn.yaml
  egs/wsj/asr1/run.sh
  egs/wsj/asr2/RESULTS
  egs/wsj/asr2/cmd.sh
  egs/wsj/asr2/conf/fbank.conf
  egs/wsj/asr2/conf/gpu.conf
  egs/wsj/asr2/conf/pitch.conf
  egs/wsj/asr2/conf/queue.conf
  egs/wsj/asr2/conf/slurm.conf
  egs/wsj/asr2/local/find_transcripts.pl
  egs/wsj/asr2/local/flist2scp.pl
  egs/wsj/asr2/local/ndx2flist.pl
  egs/wsj/asr2/local/normalize_transcript.pl
  egs/wsj/asr2/local/recog_wav.sh
  egs/wsj/asr2/local/run_chainer.sh
  egs/wsj/asr2/local/run_pytorch.sh
  egs/wsj/asr2/local/wsj_data_prep.sh
  egs/wsj/asr2/local/wsj_format_data.sh
  egs/wsj/asr2/path.sh
  egs/wsj/asr2/run.sh
  egs/wsj/asr2/steps
  egs/wsj/asr2/utils
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_train.py
  espnet/transform/functional.py
  espnet/transform/spec_augment.py
  espnet/transform/transform_interface.py
  espnet/transform/transformation.py
  espnet/utils/check_kwargs.py
  setup.cfg
  test/test_transform.py
  test_utils/test_get_yaml.bats
  utils/get_yaml.py
Labels: Enhancement, WIP

#776 Merge iwslt fix
  egs/iwslt18/asr1/RESULTS
  egs/iwslt18/asr1/cmd.sh
  egs/iwslt18/asr1/conf/fbank.conf
  egs/iwslt18/asr1/conf/gpu.conf
  egs/iwslt18/asr1/conf/pitch.conf
  egs/iwslt18/asr1/conf/queue.conf
  egs/iwslt18/asr1/conf/slurm.conf
  egs/iwslt18/asr1/local
  egs/iwslt18/asr1/path.sh
  egs/iwslt18/asr1/run.sh
  egs/iwslt18/asr1/steps
  egs/iwslt18/asr1/utils
  egs/iwslt18/st1/RESULTS
  egs/iwslt18/st1/cmd.sh
  egs/iwslt18/st1/conf/fbank.conf
  egs/iwslt18/st1/conf/gpu.conf
  egs/iwslt18/st1/conf/pitch.conf
  egs/iwslt18/st1/conf/queue.conf
  egs/iwslt18/st1/conf/slurm.conf
  egs/iwslt18/st1/local/ctm2segments.py
  egs/iwslt18/st1/local/data2json.sh
  egs/iwslt18/st1/local/data_prep_eval.sh
  egs/iwslt18/st1/local/data_prep_train.sh
  egs/iwslt18/st1/local/divide_lang.sh
  egs/iwslt18/st1/local/download_and_untar.sh
  egs/iwslt18/st1/local/join_suffix.py
  egs/iwslt18/st1/local/json2trn_reorder.py
  egs/iwslt18/st1/local/normalize_punctuation.pl
  egs/iwslt18/st1/local/parse_xml.py
  egs/iwslt18/st1/local/reclist
  egs/iwslt18/st1/local/remove_punctuation.pl
  egs/iwslt18/st1/local/reorder_text.py
  egs/iwslt18/st1/local/score_bleu.sh
  egs/iwslt18/st1/local/score_bleu_reseg.sh
  egs/iwslt18/st1/local/score_sclite.sh
  egs/iwslt18/st1/local/score_sclite_reseg.sh
  egs/iwslt18/st1/local/update_json.sh
  egs/iwslt18/st1/local/wrap-xml.perl
  egs/iwslt18/st1/path.sh
  egs/iwslt18/st1/run.sh
  egs/iwslt18/st1/steps
  egs/iwslt18/st1/utils
  egs/iwslt18st/st1/local/update_json.sh
  egs/iwslt18st/st1/run.sh
  egs/voxforge/asr1/RESULTS
  egs/voxforge/asr1/conf/tuning/decode_pytorch_rnn.yaml
  egs/voxforge/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/voxforge/asr1/conf/tuning/train_pytorch_rnn.yaml
  egs/voxforge/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/voxforge/asr1/run.sh
  egs/voxforge/asr2/RESULTS
  egs/voxforge/asr2/local/filter_text.py
  egs/voxforge/asr2/local/getdata.sh
  egs/voxforge/asr2/local/make_trans.py
  egs/voxforge/asr2/local/split_tr_dt_et.sh
  egs/voxforge/asr2/local/voxforge_data_prep.sh
  egs/voxforge/asr2/local/voxforge_format_data.sh
  egs/voxforge/asr2/run.sh
  espnet/asr/pytorch_backend/asr.py
  espnet/nets/pytorch_backend/rnn/decoders.py
Labels: Recipe

#769 unify rnn and transformer recipes for the voxforge task
  egs/voxforge/asr1/RESULTS
  egs/voxforge/asr1/conf/tuning/decode_pytorch_rnn.yaml
  egs/voxforge/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/voxforge/asr1/conf/tuning/train_pytorch_rnn.yaml
  egs/voxforge/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/voxforge/asr1/run.sh
  egs/voxforge/asr2/RESULTS
  egs/voxforge/asr2/cmd.sh
  egs/voxforge/asr2/conf/fbank.conf
  egs/voxforge/asr2/conf/gpu.conf
  egs/voxforge/asr2/conf/pitch.conf
  egs/voxforge/asr2/conf/queue.conf
  egs/voxforge/asr2/conf/slurm.conf
  egs/voxforge/asr2/local/filter_text.py
  egs/voxforge/asr2/local/getdata.sh
  egs/voxforge/asr2/local/make_trans.py
  egs/voxforge/asr2/local/split_tr_dt_et.sh
  egs/voxforge/asr2/local/voxforge_data_prep.sh
  egs/voxforge/asr2/local/voxforge_format_data.sh
  egs/voxforge/asr2/path.sh
  egs/voxforge/asr2/run.sh
  egs/voxforge/asr2/steps
  egs/voxforge/asr2/utils
Labels: Recipe

#759 Implement new make_batchset strategies
  README.md
  espnet/asr/asr_utils.py
  espnet/asr/chainer_backend/asr.py
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_train.py
  espnet/bin/tts_train.py
  espnet/tts/pytorch_backend/tts.py
  espnet/tts/tts_utils.py
  espnet/utils/training/batchfy.py
  test/test_e2e_asr.py
  test/test_utils.py
Labels: Enhancement

#773 Docker updates
  docker/prebuilt/devel/Dockerfile
  docker/prebuilt/runtime/Dockerfile
Labels: Bugfix

#771 Fix a bug in the TEDLIUM recipe
  egs/tedlium/asr1/run.sh
Labels: Bugfix

#783 update config files in the voxforge recipe
  docker/prebuilt/devel/Dockerfile
  docker/prebuilt/runtime/Dockerfile
  egs/voxforge/asr1/RESULTS
  egs/voxforge/asr1/conf/decode.yaml
  egs/voxforge/asr1/conf/train.yaml
  egs/voxforge/asr1/conf/tuning/decode_rnn.yaml
  egs/voxforge/asr1/conf/tuning/train_pytorch_transformer_d6-2048.yaml
  egs/voxforge/asr1/conf/tuning/train_rnn.yaml
Labels: Recipe

#780 Update TTS recipes to use config files
  docker/build_and_push.sh
  docker/prebuilt/Dockerfile
  docker/prebuilt/devel/Dockerfile
  egs/an4/tts1/conf/decode.yaml
  egs/an4/tts1/conf/slurm.conf
  egs/an4/tts1/conf/train_pytorch_tacotron2.yaml
  egs/an4/tts1/run.sh
  egs/csj/asr1/local/csj_make_trans/csj_autorun.sh
  egs/iwslt18/st1/local/download_and_untar.sh
  egs/jsut/tts1/conf/decode.yaml
  egs/jsut/tts1/conf/train_pytorch_tacotron2.yaml
  egs/jsut/tts1/run.sh
  egs/librispeech/tts1/conf/decode.yaml
  egs/librispeech/tts1/conf/train_pytorch_tacotron2+spkemb.yaml
  egs/librispeech/tts1/run.sh
  egs/ljspeech/tts1/conf/decode.yaml
  egs/ljspeech/tts1/conf/train_pytorch_tactoron2.yaml
  egs/ljspeech/tts1/conf/tuning/train_pytorch_tacotron2.v1.yaml
  egs/ljspeech/tts1/conf/tuning/train_pytorch_tacotron2.v2.yaml
  egs/ljspeech/tts1/local/download.sh
  egs/ljspeech/tts1/run.sh
  egs/ljspeech/tts2/conf/decode.yaml
  egs/ljspeech/tts2/conf/train_pytorch_tacotron2+cbhg.yaml
  egs/ljspeech/tts2/run.sh
  egs/m_ailabs/tts1/RESULTS
  egs/m_ailabs/tts1/conf/decode.yaml
  egs/m_ailabs/tts1/conf/train_pytorch_tacotron2.yaml
  egs/m_ailabs/tts1/conf/tuning/train_pytorch_tacotron2.v1.yaml
  egs/m_ailabs/tts1/conf/tuning/train_pytorch_tacotron2.v2.yaml
  egs/m_ailabs/tts1/local/data_prep.sh
  egs/m_ailabs/tts1/local/download.sh
  egs/m_ailabs/tts1/run.sh
  egs/yesno/tts1/conf/decode.yaml
  egs/yesno/tts1/conf/slurm.conf
  egs/yesno/tts1/conf/train_pytorch_tacotron2.yaml
  egs/yesno/tts1/run.sh
  espnet/asr/asr_utils.py
  espnet/bin/tts_train.py
  espnet/nets/pytorch_backend/e2e_tts_tacotron2.py
  espnet/nets/pytorch_backend/tacotron2/decoder.py
  espnet/nets/pytorch_backend/tacotron2/encoder.py
  espnet/tts/pytorch_backend/tts.py
  test/test_e2e_tts_tacotron2.py
  utils/dump.sh
  utils/dump_pcm.sh
  utils/make_fbank.sh
  utils/make_stft.sh
Labels: Enhancement, Recipe

#757 Segment streaming E2E
  egs/tedlium/asr1/local/recog_wav.sh
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_recog.py
  espnet/nets/pytorch_backend/e2e_asr.py
  espnet/nets/pytorch_backend/rnn/encoders.py
  espnet/nets/pytorch_backend/streaming/__init__.py
  espnet/nets/pytorch_backend/streaming/segment.py
  espnet/nets/pytorch_backend/streaming/window.py
  espnet/nets/pytorch_backend/tacotron2/__init__.py
  test/test_e2e_asr.py
Labels: Enhancement

#731 Added README for CMU Wilderness recipe.
  egs/cmu_wilderness/README.txt
Labels: Recipe
