Repository espnet/espnet, pull requests merged in 2019-12, with the labels that each got.

#1397 Support length-weighted normalization in loss calculation
  egs/ljspeech/tts1/RESULTS.md
  egs/ljspeech/tts1/conf/tuning/train_pytorch_tacotron2.v4.yaml
  espnet/nets/pytorch_backend/e2e_tts_fastspeech.py
  espnet/nets/pytorch_backend/e2e_tts_tacotron2.py
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  espnet/nets/pytorch_backend/fastspeech/duration_predictor.py
  test/test_e2e_tts_fastspeech.py
  test/test_e2e_tts_tacotron2.py
  test/test_e2e_tts_transformer.py
Labels: Enhancement

#1408 Fix missing key error in Tacotron2
  espnet/nets/pytorch_backend/e2e_tts_tacotron2.py
Labels: Bugfix

#1406 Support Tacotron 2 as a teacher of FastSpeech
  espnet/nets/pytorch_backend/e2e_tts_fastspeech.py
  espnet/nets/pytorch_backend/e2e_tts_tacotron2.py
  espnet/nets/pytorch_backend/fastspeech/duration_calculator.py
  test/test_e2e_tts_fastspeech.py
Labels: Enhancement

#1407 Support attention constraint for Tacotron 2
  egs/an4/tts1/conf/decode.yaml
  egs/arctic/tts1/conf/decode.yaml
  egs/blizzard17/tts1/conf/decode.yaml
  egs/csmsc/tts1/conf/decode.yaml
  egs/jnas/tts1/conf/decode.yaml
  egs/jsut/tts1/conf/decode.yaml
  egs/jvs/tts1/conf/decode.yaml
  egs/libritts/tts1/conf/decode.yaml
  egs/ljspeech/tts1/conf/decode.yaml
  egs/ljspeech/tts2/conf/decode.yaml
  egs/m_ailabs/tts1/conf/decode.yaml
  egs/tweb/tts1/conf/decode.yaml
  egs/vais1000/tts1/conf/decode.yaml
  egs/yesno/tts1/conf/decode.yaml
  espnet/bin/tts_decode.py
  espnet/nets/pytorch_backend/e2e_tts_tacotron2.py
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  espnet/nets/pytorch_backend/rnn/attentions.py
  espnet/nets/pytorch_backend/tacotron2/decoder.py
  test/test_e2e_tts_tacotron2.py
Labels: New Features

#1413 Fix wrong type float -> int
  espnet/bin/tts_decode.py
Labels: Bugfix

#1412 Add focus rate logging in decoding
  egs/an4/tts1/run.sh
  egs/arctic/tts1/run.sh
  egs/blizzard17/tts1/run.sh
  egs/csmsc/tts1/run.sh
  egs/jnas/tts1/run.sh
  egs/jsut/tts1/run.sh
  egs/jvs/tts1/run.sh
  egs/libritts/tts1/run.sh
  egs/ljspeech/tts1/run.sh
  egs/ljspeech/tts2/run.sh
  egs/m_ailabs/tts1/run.sh
  egs/tweb/tts1/run.sh
  egs/vais1000/tts1/run.sh
  egs/yesno/tts1/run.sh
  espnet/tts/pytorch_backend/tts.py
Labels: Enhancement

#1346 RECIPE JESC for MT
  egs/README.md
  egs/jesc/mt1/RESULTS
  egs/jesc/mt1/cmd.sh
  egs/jesc/mt1/conf/decode.yaml
  egs/jesc/mt1/conf/gpu.conf
  egs/jesc/mt1/conf/queue.conf
  egs/jesc/mt1/conf/slurm.conf
  egs/jesc/mt1/conf/train.yaml
  egs/jesc/mt1/conf/tuning/decode_rnn_char.yaml
  egs/jesc/mt1/conf/tuning/decode_rnn_spm.yaml
  egs/jesc/mt1/conf/tuning/train_rnn_char.yaml
  egs/jesc/mt1/conf/tuning/train_rnn_spm.yaml
  egs/jesc/mt1/local/data2json.sh
  egs/jesc/mt1/local/download_data.sh
  egs/jesc/mt1/local/remove_punctuation.pl
  egs/jesc/mt1/local/score_bleu.sh
  egs/jesc/mt1/local/update_json.sh
  egs/jesc/mt1/path.sh
  egs/jesc/mt1/run.sh
  egs/jesc/mt1/steps
  egs/jesc/mt1/utils
Labels: Recipe

#1426 [ESPnet2] Fix bug of text-chars converter
  espnet2/utils/text_converter.py
  test/espnet2/utils/test_text_converter.py
Labels: Bugfix

#1415 Support knowledge distillation in FastSpeech training
  egs/ljspeech/tts1/RESULTS.md
  egs/ljspeech/tts1/conf/decode_for_knowledge_dist.yaml
  egs/ljspeech/tts1/conf/tuning/train_fastspeech.v4.single.yaml
  egs/ljspeech/tts1/conf/tuning/train_fastspeech.v4.yaml
  egs/ljspeech/tts1/local/filter_by_focus_rate.py
  egs/ljspeech/tts1/local/setup_knowledge_dist.sh
  egs/ljspeech/tts1/local/update_json.sh
  egs/ljspeech/tts1/run.sh
  espnet/bin/tts_decode.py
  espnet/nets/pytorch_backend/e2e_tts_fastspeech.py
  espnet/nets/pytorch_backend/e2e_tts_tacotron2.py
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  espnet/tts/pytorch_backend/tts.py
  test/test_e2e_tts_tacotron2.py
Labels: New Features

#1428 [ESPnet2] Fix a bug in TTS
  espnet2/bin/tts_decode.py
  utils/convert_fbank_to_wav.py
Labels: Bugfix

#1431 fix to use queue.conf
  egs2/TEMPLATE/asr1/cmd.sh
  egs2/TEMPLATE/tts1/cmd.sh
  egs2/an4/asr1/cmd.sh
  egs2/an4/tts1/cmd.sh
  egs2/mini_an4/asr1/cmd.sh
  egs2/mini_an4/tts1/cmd.sh
  egs2/voxforge/asr1/cmd.sh
  egs2/wsj/asr1/cmd.sh
Labels: Bugfix

#1432 Fix multi-encoder ASR integration test
  ci/test_integration.sh
  espnet/asr/pytorch_backend/asr.py
Labels: Bugfix, CI

#1430 [ESPnet2] Update TTS recipes
  egs2/TEMPLATE/tts1/tts.sh
  egs2/an4/tts1/conf/decode.yaml
  egs2/an4/tts1/conf/train_tacotron2.v3.yaml
  espnet2/bin/tts_decode.py
  espnet2/tts/tacotron2.py
Labels: Enhancement

#1439 [ESPnet2] Update ASR recipe
  ci/test_integration.sh
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/tts1/tts.sh
Labels: Refactoring

#1450 Fix segmentation fault in CI
  egs/mini_an4/tts1/run.sh
  setup.py
  utils/convert_fbank.sh
Labels: Bugfix

#1451 Support github actions
  .github/workflows/ci.yaml
  ci/test_integration.sh
  utils/free-gpu.sh
Labels: CI

#1454 Update github actions
  .github/workflows/ci.yaml
  README.md
Labels: CI

#1442 [ESPnet2] Integrate Griffin-Lim with tts_decode()
  egs2/TEMPLATE/asr1/scripts/tts/convert_fbank.sh
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/bin/tts_decode.py
  espnet2/layers/stft.py
  espnet2/tasks/tts.py
  espnet2/utils/griffin_lim.py
  utils/compute-fbank-feats.py
  utils/compute-stft-feats.py
Labels: Refactoring

#1458 Fix wrong SC2026 fixing
  utils/free-gpu.sh
Labels: Bugfix

#1445 [ESPnet2] add test codes for asr decoders
  espnet2/asr/decoder/transformer_decoder.py
  test/espnet2/asr/decoder/__init__.py
  test/espnet2/asr/decoder/test_rnn_decoder.py
  test/espnet2/asr/decoder/test_transformer_decoder.py
Labels: Enhancement

#1465 Add knowledge dist based FastSpeech link in README
  README.md
Labels: Documentation

#1466 fixed a small problem in run.sh
  egs/ami/asr1/run.sh
Labels: Bugfix

#1468 Updated README in ljspeech about FastSpeech training
  egs/ljspeech/README.md
Labels: Documentation

#1463 Add LM training/decoding in swbd recipe
  egs/swbd/asr1/RESULTS.md
  egs/swbd/asr1/conf/lm.yaml
  egs/swbd/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/swbd/asr1/local/fisher_data_prep.sh
  egs/swbd/asr1/run.sh
  utils/pack_model.sh
Labels: Recipe

#1470 Unify TTS Transformer mask with ASR Transformer
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_tts_fastspeech.py
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  test/test_e2e_tts_transformer.py
Labels: Refactoring

#1476 added interspeech 2019 tutorial link and performed spell check
  README.md
Labels: Documentation

#1479 Transformer NMT
  ci/test_flake8.sh
  egs/must_c/mt1/conf/decode.yaml
  egs/must_c/mt1/conf/train.yaml
  egs/must_c/mt1/conf/tuning/decode_pytorch_transformer.yaml
  egs/must_c/mt1/conf/tuning/train_pytorch_transformer.yaml
  egs/must_c/mt1/run.sh
  espnet/nets/e2e_asr_common.py
  espnet/nets/e2e_mt_common.py
  espnet/nets/pytorch_backend/e2e_mt_transformer.py
  espnet/nets/pytorch_backend/transformer/plot.py
  test/test_e2e_mt_transformer.py
Labels: MT, New Features, Recipe
