Repository espnet/espnet, pull requests merged in 2019-10, with the labels that each got.

#1238 fixed att_to_numpy() function for AttCov, AttCovLoc
  espnet/nets/pytorch_backend/rnn/attentions.py
Labels: Bugfix

#1240 Implement attention cache in Transformer for faster decoding
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  espnet/nets/pytorch_backend/transformer/decoder.py
  espnet/nets/pytorch_backend/transformer/decoder_layer.py
  test/test_e2e_tts_transformer.py
  test/test_transformer_decode.py
Labels: Enhancement

#1229 Add M-AILABS pretrained models
  README.md
  egs/ljspeech/tts1/conf/tuning/train_pytorch_transformer.v1.single.yaml
  egs/m_ailabs/tts1/RESULTS.md
  egs/m_ailabs/tts1/conf/tuning/train_pytorch_tacotron2.v3.yaml
  egs/m_ailabs/tts1/conf/tuning/train_pytorch_transformer.v1.single.yaml
Labels: Recipe

#1223 Refact transformer for transformer LM
  espnet/nets/chainer_backend/e2e_asr_transformer.py
  espnet/nets/chainer_backend/transformer/decoder.py
  espnet/nets/chainer_backend/transformer/encoder.py
  espnet/nets/chainer_backend/transformer/mask.py
Labels: Refactoring

#1251 Use spawn in multiprocessing to fix #404
  espnet/bin/asr_train.py
  espnet/bin/lm_train.py
  espnet/bin/mt_train.py
  espnet/bin/tts_train.py
Labels: Bugfix

#1260 Add pretrained models: JSUT and LibriTTS
  README.md
  utils/synth_wav.sh
Labels: Enhancement

#1256 Indirect call for training method [chainer]
  espnet/asr/chainer_backend/asr.py
  espnet/nets/chainer_backend/asr_interface.py
  espnet/nets/chainer_backend/e2e_asr.py
  espnet/nets/chainer_backend/e2e_asr_transformer.py
  espnet/nets/chainer_backend/transformer/training.py
Labels: Refactoring

#1262 Update M-AILABS results
  README.md
  egs/m_ailabs/tts1/RESULTS.md
  egs/m_ailabs/tts1/conf/tuning/train_fastspeech.v2.single.yaml
Labels: Recipe

#1265 Support Polish speakers in M-AILABS
  egs/m_ailabs/tts1/local/data_prep.sh
  egs/m_ailabs/tts1/local/download.sh
  egs/m_ailabs/tts1/local/parse_text.py
Labels: Recipe

#1267 Fix RuntimeError in setting spawn multiple times
  espnet/bin/asr_train.py
  espnet/bin/lm_train.py
  espnet/bin/mt_train.py
  espnet/bin/tts_train.py
Labels: Bugfix

#1259 Add CSMSC reicpe
  README.md
  egs/README.md
  egs/csmsc/tts1/RESULTS.md
  egs/csmsc/tts1/cmd.sh
  egs/csmsc/tts1/conf/decode.yaml
  egs/csmsc/tts1/conf/gpu.conf
  egs/csmsc/tts1/conf/queue.conf
  egs/csmsc/tts1/conf/slurm.conf
  egs/csmsc/tts1/conf/train_pytorch_tacotron2.yaml
  egs/csmsc/tts1/conf/train_pytorch_transformer.yaml
  egs/csmsc/tts1/conf/tuning/train_pytorch_tacotron2.v3.yaml
  egs/csmsc/tts1/conf/tuning/train_pytorch_transformer.v1.single.yaml
  egs/csmsc/tts1/conf/tuning/train_pytorch_transformer.v1.yaml
  egs/csmsc/tts1/local/data_download.sh
  egs/csmsc/tts1/local/data_prep.sh
  egs/csmsc/tts1/path.sh
  egs/csmsc/tts1/run.sh
  egs/csmsc/tts1/steps
  egs/csmsc/tts1/utils
Labels: Recipe

#1271 Add VIVOS recipe - Vietnamese ASR
  egs/README.md
  egs/vivos/README.txt
  egs/vivos/asr1/RESULT
  egs/vivos/asr1/cmd.sh
  egs/vivos/asr1/conf/decode_ctcweight1.0.yaml
  egs/vivos/asr1/conf/fbank.conf
  egs/vivos/asr1/conf/lm.yaml
  egs/vivos/asr1/conf/pitch.conf
  egs/vivos/asr1/conf/train_mtlalpha1.0.yaml
  egs/vivos/asr1/local/download_and_untar.sh
  egs/vivos/asr1/path.sh
  egs/vivos/asr1/run.sh
  egs/vivos/asr1/steps
  egs/vivos/asr1/utils
Labels: Recipe

#1273 [bug fixing] Using inplace masked_fill_()
  espnet/nets/pytorch_backend/frontends/dnn_wpe.py
Labels: Bugfix

#1279 Fix RemoveError: 'setuptools' is a dependency of conda
  tools/Makefile
Labels: Bugfix, CI

#1288 Fix docstrings
  espnet/nets/pytorch_backend/transformer/multi_layer_conv.py
Labels: Documentation

#1292 Add Mandarin Pretrained Wavenet
  README.md
Labels: Enhancement

#1295 Minor fix of FastSpeech
  .circleci/config.yml
  espnet/nets/pytorch_backend/e2e_tts_fastspeech.py
Labels: Bugfix

#1298 Fix CSMSC wavenet link
  README.md
Labels: Bugfix

#1299 Update CSMSC results
  README.md
  egs/csmsc/tts1/RESULTS.md
Labels: Recipe

#1302 Update README
  README.md
Labels: Documentation

#1283 Add vais1000 recipe - Vietnamese TTS
  egs/vais1000/tts1/RESULTS.md
  egs/vais1000/tts1/cmd.sh
  egs/vais1000/tts1/conf/decode.yaml
  egs/vais1000/tts1/conf/gpu.conf
  egs/vais1000/tts1/conf/queue.conf
  egs/vais1000/tts1/conf/slurm.conf
  egs/vais1000/tts1/conf/train_fastspeech.yaml
  egs/vais1000/tts1/conf/train_transformer.yaml
  egs/vais1000/tts1/conf/tuning/train_fastspeech.v1.yaml
  egs/vais1000/tts1/conf/tuning/train_fastspeech.v2.yaml
  egs/vais1000/tts1/conf/tuning/train_pytorch_transformer.v1.yaml
  egs/vais1000/tts1/conf/tuning/train_pytorch_transformer.v2.yaml
  egs/vais1000/tts1/local/clean_text.py
  egs/vais1000/tts1/local/data_prep.sh
  egs/vais1000/tts1/local/download.sh
  egs/vais1000/tts1/local/text/regex_tokenize.py
  egs/vais1000/tts1/local/text/vietnameseNormUniStd.py
  egs/vais1000/tts1/local/text/vietnamese_cleaners.py
  egs/vais1000/tts1/path.sh
  egs/vais1000/tts1/run.sh
  egs/vais1000/tts1/steps
  egs/vais1000/tts1/utils
Labels: Recipe

#1308 Update VAIS1000 recipe RESULTS.md
  egs/README.md
  egs/vais1000/tts1/RESULTS.md
  egs/vais1000/tts1/conf/tuning/train_fastspeech.v1.yaml
  egs/vais1000/tts1/conf/tuning/train_fastspeech.v2.yaml
Labels: Recipe

#1309 Update README.md
  README.md
Labels: Documentation

#1306 Add eval-interval-epochs for the tiny dataset
  egs/vais1000/tts1/conf/tuning/train_fastspeech.v1.yaml
  egs/vais1000/tts1/conf/tuning/train_fastspeech.v2.yaml
  egs/vais1000/tts1/conf/tuning/train_pytorch_transformer.v1.yaml
  espnet/bin/tts_train.py
  espnet/tts/pytorch_backend/tts.py
Labels: New Features

#1314 Fixed pretrained model URL in CSMSC reicpe
  egs/csmsc/tts1/RESULTS.md
  egs/csmsc/tts1/conf/tuning/train_fastspeech.v3.single.yaml
Labels: Bugfix

#1190 ASR-based CER/WER eval for TTS
  egs/ljspeech/tts1/conf/fbank.conf
  egs/ljspeech/tts1/conf/ob_eval/decode_asr.yaml
  egs/ljspeech/tts1/conf/pitch.conf
  egs/ljspeech/tts1/conf/specaug.yaml
  egs/ljspeech/tts1/local/ob_eval/data_prep_for_asr.sh
  egs/ljspeech/tts1/local/ob_eval/evaluate_cer.sh
  egs/ljspeech/tts1/run.sh
  utils/json2trn_wo_dict.py
  utils/score_sclite_wo_dict.sh
Labels: New Features

#1241 Asr commonvoice recipe update
  egs/README.md
  egs/commonvoice/asr1/local/data_prep.pl
  egs/commonvoice/asr1/local/download_and_untar.sh
  egs/commonvoice/asr1/local/filter_text.py
  egs/commonvoice/asr1/local/split_tr_dt_et.sh
  egs/commonvoice/asr1/run.sh
Labels: Recipe

#1321 TTS: add FastSpeech config and result for jsut
  egs/jsut/tts1/RESULTS.md
  egs/jsut/tts1/conf/tuning/train_fastspeech.v1.yaml
Labels: Recipe

#1270 Support batch decoding for streaming E2E
  README.md
  espnet/asr/pytorch_backend/asr.py
  espnet/nets/pytorch_backend/streaming/segment.py
  test/test_e2e_asr.py
  utils/recog_wav.sh
Labels: Enhancement
