Repository espnet/espnet, pull requests merged in 2019-06, with the labels that each got.

#768 Add Russian open STT recipe
  egs/ru_open_stt/asr1/RESULTS
  egs/ru_open_stt/asr1/cmd.sh
  egs/ru_open_stt/asr1/conf/decode.yaml
  egs/ru_open_stt/asr1/conf/fbank.conf
  egs/ru_open_stt/asr1/conf/gpu.conf
  egs/ru_open_stt/asr1/conf/lm.yaml
  egs/ru_open_stt/asr1/conf/pitch.conf
  egs/ru_open_stt/asr1/conf/queue.conf
  egs/ru_open_stt/asr1/conf/slurm.conf
  egs/ru_open_stt/asr1/conf/train.yaml
  egs/ru_open_stt/asr1/local/ru_open_stt_download_data.sh
  egs/ru_open_stt/asr1/local/ru_open_stt_prepare_data.py
  egs/ru_open_stt/asr1/path.sh
  egs/ru_open_stt/asr1/run.sh
  egs/ru_open_stt/asr1/steps
  egs/ru_open_stt/asr1/utils
Labels: Recipe

#770 AURORA4 recipe
  egs/aurora4/asr1/RESULTS
  egs/aurora4/asr1/cmd.sh
  egs/aurora4/asr1/conf/decode.yaml
  egs/aurora4/asr1/conf/fbank.conf
  egs/aurora4/asr1/conf/gpu.conf
  egs/aurora4/asr1/conf/lm.yaml
  egs/aurora4/asr1/conf/pitch.conf
  egs/aurora4/asr1/conf/queue.conf
  egs/aurora4/asr1/conf/slurm.conf
  egs/aurora4/asr1/conf/train.yaml
  egs/aurora4/asr1/local/aurora2flist.pl
  egs/aurora4/asr1/local/aurora4_data_prep.sh
  egs/aurora4/asr1/local/aurora4_format_data.sh
  egs/aurora4/asr1/local/find_transcripts.pl
  egs/aurora4/asr1/local/flist2scp.pl
  egs/aurora4/asr1/local/flist2scp_12.pl
  egs/aurora4/asr1/local/ndx2flist.pl
  egs/aurora4/asr1/local/normalize_transcript.pl
  egs/aurora4/asr1/local/score_sclite.sh
  egs/aurora4/asr1/local/wsj_data_prep.sh
  egs/aurora4/asr1/local/wsj_format_data.sh
  egs/aurora4/asr1/path.sh
  egs/aurora4/asr1/run.sh
  egs/aurora4/asr1/steps
  egs/aurora4/asr1/utils
Labels: Recipe

#803 Update tedlium recipe with transformer
  README.md
  egs/tedlium/asr1/RESULTS
  egs/tedlium/asr1/RESULTS.md
  egs/tedlium/asr1/conf/decode.yaml
  egs/tedlium/asr1/conf/train.yaml
  egs/tedlium/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/tedlium/asr1/conf/tuning/decode_rnn.yaml
  egs/tedlium/asr1/conf/tuning/train_pytorch_transformer.v1.yaml
  egs/tedlium/asr1/conf/tuning/train_pytorch_transformer.v2.yaml
  egs/tedlium/asr1/conf/tuning/train_rnn.yaml
  egs/tedlium/asr1/run.sh
  egs/voxforge/asr1/conf/tuning/train_pytorch_transformer.yaml
  utils/get_sys_info.sh
Labels: Recipe

#812 Add toc
  README.md
Labels: Documentation

#813 add GPU decoding document
  README.md
Labels: Documentation

#815 Refactor tacotron2 modules
  espnet/nets/pytorch_backend/e2e_tts_tacotron2.py
  espnet/nets/pytorch_backend/tacotron2/decoder.py
  espnet/nets/pytorch_backend/tacotron2/encoder.py
Labels: Refactoring

#806 Remove deprecated recipe
  egs/librispeech/tts1/README.md
  egs/librispeech/tts1/RESULTS
  egs/librispeech/tts1/cmd.sh
  egs/librispeech/tts1/conf/decode.yaml
  egs/librispeech/tts1/conf/gpu.conf
  egs/librispeech/tts1/conf/mfcc.conf
  egs/librispeech/tts1/conf/queue.conf
  egs/librispeech/tts1/conf/slurm.conf
  egs/librispeech/tts1/conf/train_pytorch_tacotron2+spkemb.yaml
  egs/librispeech/tts1/conf/vad.conf
  egs/librispeech/tts1/local/data_prep.sh
  egs/librispeech/tts1/local/download_and_untar.sh
  egs/librispeech/tts1/local/update_json.sh
  egs/librispeech/tts1/path.sh
  egs/librispeech/tts1/run.sh
  egs/librispeech/tts1/sid
  egs/librispeech/tts1/steps
  egs/librispeech/tts1/utils
Labels: Refactoring

#816 Add guided attention loss for Tacotron2
  espnet/nets/pytorch_backend/e2e_tts_tacotron2.py
  espnet/nets/pytorch_backend/tacotron2/decoder.py
  test/test_e2e_tts_tacotron2.py
Labels: Enhancement

#823 Support n_average option
  egs/an4/tts1/run.sh
  egs/jsut/tts1/run.sh
  egs/libritts/tts1/run.sh
  egs/ljspeech/tts1/run.sh
  egs/ljspeech/tts2/run.sh
  egs/m_ailabs/tts1/run.sh
  egs/yesno/tts1/run.sh
Labels: Enhancement

#826 Bug fix: egs/chime4/asr1_multich/conf/train.yaml
  egs/chime4/asr1_multich/conf/train.yaml
Labels: Bugfix

#809 Demo of streaming ASR
  CONTRIBUTING.md
  doc/tutorial.md
  egs/wsj/asr1/local/recog_wav.sh
  espnet/asr/pytorch_backend/asr.py
  utils/pack_model.sh
  utils/recog_wav.sh
Labels: Enhancement

#827 update aishell result
  README.md
  egs/aishell/asr1/RESULTS
  egs/aishell/asr1/RESULTS.md
  egs/aishell/asr1/conf/decode.yaml
  egs/aishell/asr1/conf/train.yaml
  egs/aishell/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/aishell/asr1/conf/tuning/decode_rnn.yaml
  egs/aishell/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/aishell/asr1/conf/tuning/train_rnn.yaml
  egs/aishell/asr1/run.sh
Labels: Recipe

#805 change the scoring in multi-speaker case from shell to python compute…
  test_utils/test_eval_perm_free_error_py.bats
  utils/compute-perm-free-error.sh
  utils/eval_perm_free_error.py
  utils/mergeresultjson.py
  utils/min_perm_wer.py
  utils/minpermwer.py
  utils/score_sclite.sh
Labels: Enhancement

#739 Add Tedlium v3 recipe
  egs/tedlium2/asr1/RESULTS.md
  egs/tedlium2/asr1/cmd.sh
  egs/tedlium2/asr1/conf/decode.yaml
  egs/tedlium2/asr1/conf/fbank.conf
  egs/tedlium2/asr1/conf/gpu.conf
  egs/tedlium2/asr1/conf/lm.yaml
  egs/tedlium2/asr1/conf/pitch.conf
  egs/tedlium2/asr1/conf/queue.conf
  egs/tedlium2/asr1/conf/slurm.conf
  egs/tedlium2/asr1/conf/train.yaml
  egs/tedlium2/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/tedlium2/asr1/conf/tuning/decode_rnn.yaml
  egs/tedlium2/asr1/conf/tuning/train_pytorch_transformer.v1.yaml
  egs/tedlium2/asr1/conf/tuning/train_pytorch_transformer.v2.yaml
  egs/tedlium2/asr1/conf/tuning/train_rnn.yaml
  egs/tedlium2/asr1/local/download_data.sh
  egs/tedlium2/asr1/local/join_suffix.py
  egs/tedlium2/asr1/local/prepare_data.sh
  egs/tedlium2/asr1/local/recog_wav.sh
  egs/tedlium2/asr1/path.sh
  egs/tedlium2/asr1/run.sh
  egs/tedlium2/asr1/steps
  egs/tedlium2/asr1/utils
  egs/tedlium3/asr1/RESULTS.md
  egs/tedlium3/asr1/cmd.sh
  egs/tedlium3/asr1/conf/decode.yaml
  egs/tedlium3/asr1/conf/fbank.conf
  egs/tedlium3/asr1/conf/gpu.conf
  egs/tedlium3/asr1/conf/lm.yaml
  egs/tedlium3/asr1/conf/pitch.conf
  egs/tedlium3/asr1/conf/queue.conf
  egs/tedlium3/asr1/conf/slurm.conf
  egs/tedlium3/asr1/conf/train.yaml
  egs/tedlium3/asr1/local/download_data.sh
  egs/tedlium3/asr1/local/join_suffix.py
  egs/tedlium3/asr1/local/prepare_data.sh
  egs/tedlium3/asr1/path.sh
  egs/tedlium3/asr1/run.sh
Labels: Recipe

#824 Transformer for AURORA4
  egs/aurora4/asr1/RESULTS
  egs/aurora4/asr1/conf/decode.yaml
  egs/aurora4/asr1/conf/train.yaml
  egs/aurora4/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/aurora4/asr1/conf/tuning/decode_rnn.yaml
  egs/aurora4/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/aurora4/asr1/conf/tuning/train_rnn.yaml
  egs/aurora4/asr1/run.sh
Labels: Recipe

#752 Transformer TTS
  .gitignore
  egs/ljspeech/tts1/conf/train_pytorch_transformer.yaml
  egs/ljspeech/tts1/conf/tuning/train_transformer.v1.yaml
  egs/ljspeech/tts1/conf/tuning/train_transformer.v2.yaml
  espnet/bin/tts_train.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  espnet/nets/pytorch_backend/transformer/attention.py
  espnet/nets/pytorch_backend/transformer/decoder.py
  espnet/nets/pytorch_backend/transformer/decoder_layer.py
  espnet/nets/pytorch_backend/transformer/embedding.py
  espnet/nets/pytorch_backend/transformer/encoder.py
  espnet/nets/pytorch_backend/transformer/encoder_layer.py
  espnet/nets/pytorch_backend/transformer/plot.py
  espnet/tts/pytorch_backend/tts.py
  espnet/utils/training/batchfy.py
  test/test_e2e_asr_transformer.py
  test/test_e2e_tts_tacotron2.py
  test/test_e2e_tts_transformer.py
Labels: Enhancement

#854 test: avoid using grep and sed in subprocess and use python stdlib instead
  test/test_e2e_compatibility.py
Labels: Enhancement

#858 Move the dependency links to github from Makefile to setup.py
  setup.py
  tools/Makefile
Labels: Enhancement

#808 Update iwslt18 recipe
  .gitignore
  egs/iwslt18/asr1/RESULTS
  egs/iwslt18/asr1/conf/decode.yaml
  egs/iwslt18/asr1/conf/lm.yaml
  egs/iwslt18/asr1/conf/train.yaml
  egs/iwslt18/asr1/conf/tuning/decode_rnn_char.yaml
  egs/iwslt18/asr1/conf/tuning/lm_char.yaml
  egs/iwslt18/asr1/conf/tuning/train_rnn_char.yaml
  egs/iwslt18/asr1/path.sh
  egs/iwslt18/asr1/run.sh
  egs/iwslt18/st1/RESULTS
  egs/iwslt18/st1/conf/decode.yaml
  egs/iwslt18/st1/conf/train.yaml
  egs/iwslt18/st1/conf/tuning/decode_rnn_char.yaml
  egs/iwslt18/st1/conf/tuning/train_rnn_char.yaml
  egs/iwslt18/st1/local/data2json.sh
  egs/iwslt18/st1/local/data_prep_eval.sh
  egs/iwslt18/st1/local/data_prep_train.sh
  egs/iwslt18/st1/local/divide_lang.sh
  egs/iwslt18/st1/local/download_and_untar.sh
  egs/iwslt18/st1/local/normalize_punctuation.pl
  egs/iwslt18/st1/local/parse_xml.py
  egs/iwslt18/st1/local/reclist
  egs/iwslt18/st1/local/reorder_text.py
  egs/iwslt18/st1/local/score_bleu.sh
  egs/iwslt18/st1/local/score_bleu_reseg.sh
  egs/iwslt18/st1/local/score_sclite.sh
  egs/iwslt18/st1/local/score_sclite_reseg.sh
  egs/iwslt18/st1/path.sh
  egs/iwslt18/st1/run.sh
  espnet/asr/asr_utils.py
  espnet/bin/asr_train.py
  espnet/nets/pytorch_backend/rnn/decoders.py
  test/test_e2e_asr.py
  test/test_initialization.py
  test/test_multi_spkrs.py
  test/test_recog.py
  tools/Makefile
  utils/json2trn_mt.py
Labels: Bugfix, Recipe

#860 add the version and development branch policy descriptions
  CONTRIBUTING.md
Labels: Documentation

#862 Fix a bug in calculate_all_attentions
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
Labels: Bugfix

#865 Refactor TTS Transformer
  egs/ljspeech/README.md
  egs/ljspeech/tts1/conf/train_pytorch_tactoron2.yaml
  egs/ljspeech/tts1/run.sh
  espnet/nets/pytorch_backend/e2e_tts_tacotron2.py
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  espnet/nets/pytorch_backend/tacotron2/cbhg.py
Labels: Refactoring

#866 Fix: espnet/transform/transformation.py
  espnet/transform/transformation.py
Labels: Bugfix

#793 Add Jsut asr recipe
  egs/jsut/asr1/RESULTS.md
  egs/jsut/asr1/cmd.sh
  egs/jsut/asr1/conf/decode.yaml
  egs/jsut/asr1/conf/fbank_16k.conf
  egs/jsut/asr1/conf/gpu.conf
  egs/jsut/asr1/conf/lm.yaml
  egs/jsut/asr1/conf/pitch_16k.conf
  egs/jsut/asr1/conf/queue.conf
  egs/jsut/asr1/conf/slurm.conf
  egs/jsut/asr1/conf/train.yaml
  egs/jsut/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/jsut/asr1/conf/tuning/decode_rnn.yaml
  egs/jsut/asr1/conf/tuning/train_pytorch_transformer.v1.yaml
  egs/jsut/asr1/conf/tuning/train_pytorch_transformer.v2.yaml
  egs/jsut/asr1/conf/tuning/train_rnn.yaml
  egs/jsut/asr1/local/change_sampling_rate.sh
  egs/jsut/asr1/local/data_prep.sh
  egs/jsut/asr1/local/download.sh
  egs/jsut/asr1/path.sh
  egs/jsut/asr1/run.sh
  egs/jsut/asr1/steps
  egs/jsut/asr1/utils
Labels: Enhancement, Recipe

#871 Demo script for TTS
  CONTRIBUTING.md
  README.md
  doc/tutorial.md
  egs/libritts/tts1/RESULTS.md
  espnet/utils/io_utils.py
  utils/data2json.sh
  utils/pack_model.sh
  utils/recog_wav.sh
  utils/synth_wav.sh
Labels: Enhancement

#868 Update fisher callhome spanish for speech translation
  egs/fisher_callhome_spanish/st1/RESULTS
  egs/fisher_callhome_spanish/st1/cmd.sh
  egs/fisher_callhome_spanish/st1/conf/decode.yaml
  egs/fisher_callhome_spanish/st1/conf/fbank.conf
  egs/fisher_callhome_spanish/st1/conf/gpu.conf
  egs/fisher_callhome_spanish/st1/conf/pitch.conf
  egs/fisher_callhome_spanish/st1/conf/train.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/decode_rnn_char.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/decode_rnn_spm.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/train_rnn_char.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/train_rnn_spm.yaml
  egs/fisher_callhome_spanish/st1/local/callhome_create_splits.sh
  egs/fisher_callhome_spanish/st1/local/callhome_data_prep.sh
  egs/fisher_callhome_spanish/st1/local/callhome_make_spk2gender.py
  egs/fisher_callhome_spanish/st1/local/callhome_make_trans.pl
  egs/fisher_callhome_spanish/st1/local/concat_short_utt.py
  egs/fisher_callhome_spanish/st1/local/create_splits.sh
  egs/fisher_callhome_spanish/st1/local/data2json.sh
  egs/fisher_callhome_spanish/st1/local/divide_lang.sh
  egs/fisher_callhome_spanish/st1/local/fsp_data_prep.sh
  egs/fisher_callhome_spanish/st1/local/fsp_make_spk2gender.py
  egs/fisher_callhome_spanish/st1/local/fsp_make_trans.pl
  egs/fisher_callhome_spanish/st1/local/normalize_punctuation.pl
  egs/fisher_callhome_spanish/st1/local/normalize_trans.sh
  egs/fisher_callhome_spanish/st1/local/remove_punctuation.pl
  egs/fisher_callhome_spanish/st1/local/score_bleu.sh
  egs/fisher_callhome_spanish/st1/local/score_sclite.sh
  egs/fisher_callhome_spanish/st1/local/splits/split_callhome/devtest
  egs/fisher_callhome_spanish/st1/local/splits/split_callhome/evltest
  egs/fisher_callhome_spanish/st1/local/splits/split_callhome/train
  egs/fisher_callhome_spanish/st1/local/splits/split_fisher/dev
  egs/fisher_callhome_spanish/st1/local/splits/split_fisher/dev2
  egs/fisher_callhome_spanish/st1/local/splits/split_fisher/test
  egs/fisher_callhome_spanish/st1/local/splits/split_fisher/train
  egs/fisher_callhome_spanish/st1/local/update_json.sh
  egs/fisher_callhome_spanish/st1/path.sh
  egs/fisher_callhome_spanish/st1/run.sh
  egs/fisher_callhome_spanish/st1/steps
  egs/fisher_callhome_spanish/st1/utils
  egs/fisher_callhome_spanish_st/st1/RESULTS
  egs/fisher_callhome_spanish_st/st1/conf/.dropbox.attr
  egs/fisher_callhome_spanish_st/st1/local/callhome_make_spk2gender.py
  egs/fisher_callhome_spanish_st/st1/local/divide_lang.sh
  egs/fisher_callhome_spanish_st/st1/local/fsp_make_spk2gender.py
  egs/fisher_callhome_spanish_st/st1/local/json2trn.py
  egs/fisher_callhome_spanish_st/st1/local/mergejson.py
  egs/fisher_callhome_spanish_st/st1/local/normalize_trans.sh
  egs/fisher_callhome_spanish_st/st1/local/run_asr.sh
  egs/fisher_callhome_spanish_st/st1/local/run_asr_spm.sh
  egs/fisher_callhome_spanish_st/st1/local/run_spm.sh
  egs/fisher_callhome_spanish_st/st1/local/score_bleu.sh
  egs/fisher_callhome_spanish_st/st1/local/update_json.sh
Labels: Recipe

#885 Update Librispeech recipe
  README.md
  egs/librispeech/asr1/RESULTS
  egs/librispeech/asr1/RESULTS.md
  egs/librispeech/asr1/conf/train.yaml
  egs/librispeech/asr1/conf/tuning/train_pytorch_transformer_lr5.0_ag8.v2.yaml
Labels: Recipe

#881 gradient noise injection from std normal dis
  espnet/asr/asr_utils.py
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_train.py
  test/test_e2e_asr.py
Labels: Enhancement

#886 fix bugs in grad noise
  espnet/asr/asr_utils.py
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_train.py
Labels: Bugfix

#848 Implement Fast Speech
  README.md
  egs/ljspeech/README.md
  egs/ljspeech/tts1/RESULTS.md
  egs/ljspeech/tts1/conf/tuning/train_fastspeech.v1.yaml
  egs/ljspeech/tts1/conf/tuning/train_fastspeech.v2.yaml
  egs/ljspeech/tts1/run.sh
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_tts_fastspeech.py
  espnet/nets/pytorch_backend/e2e_tts_tacotron2.py
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  espnet/nets/pytorch_backend/fastspeech/__init__.py
  espnet/nets/pytorch_backend/fastspeech/duration_calculator.py
  espnet/nets/pytorch_backend/fastspeech/duration_predictor.py
  espnet/nets/pytorch_backend/fastspeech/length_regulator.py
  espnet/nets/pytorch_backend/nets_utils.py
  espnet/nets/pytorch_backend/transformer/encoder.py
  espnet/nets/pytorch_backend/transformer/initializer.py
  espnet/nets/pytorch_backend/transformer/multi_layer_conv.py
  espnet/nets/pytorch_backend/transformer/positionwise_feed_forward.py
  test/test_e2e_tts_fastspeech.py
  test/test_e2e_tts_transformer.py
  utils/synth_wav.sh
Labels: Enhancement

#880 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Documentation

#892 Fix tgz typo
  egs/aishell/asr1/local/download_and_untar.sh
Labels: Bugfix

#893 Fixed certain typos
  espnet/transform/spec_augment.py
Labels: Typo

#875 Fix bugs in frontend
  egs/chime4/asr1/local/show_enhance_results.sh
  egs/chime4/asr1_multich/RESULTS
  egs/chime4/asr1_multich/RESULTS.md
  espnet/nets/pytorch_backend/frontends/mask_estimator.py
  tools/Makefile
  utils/eval-source-separation.py
Labels: Bugfix

#895 use only conda to build doc
  .travis.yml
Labels: Documentation

#882 Add Librispeech French corpus
  egs/librispeech_french/asr1/RESULTS
  egs/librispeech_french/asr1/cmd.sh
  egs/librispeech_french/asr1/conf/decode.yaml
  egs/librispeech_french/asr1/conf/fbank.conf
  egs/librispeech_french/asr1/conf/gpu.conf
  egs/librispeech_french/asr1/conf/pitch.conf
  egs/librispeech_french/asr1/conf/train.yaml
  egs/librispeech_french/asr1/conf/tuning/decode_rnn_char.yaml
  egs/librispeech_french/asr1/conf/tuning/lm_char.yaml
  egs/librispeech_french/asr1/conf/tuning/train_rnn_char.yaml
  egs/librispeech_french/asr1/local
  egs/librispeech_french/asr1/path.sh
  egs/librispeech_french/asr1/run.sh
  egs/librispeech_french/asr1/steps
  egs/librispeech_french/asr1/utils
  egs/librispeech_french/st1/RESULTS
  egs/librispeech_french/st1/cmd.sh
  egs/librispeech_french/st1/conf/decode.yaml
  egs/librispeech_french/st1/conf/fbank.conf
  egs/librispeech_french/st1/conf/gpu.conf
  egs/librispeech_french/st1/conf/pitch.conf
  egs/librispeech_french/st1/conf/train.yaml
  egs/librispeech_french/st1/conf/tuning/decode_rnn_char.yaml
  egs/librispeech_french/st1/conf/tuning/train_rnn_char.yaml
  egs/librispeech_french/st1/local/concat_json_multiref.py
  egs/librispeech_french/st1/local/data2json.sh
  egs/librispeech_french/st1/local/data_prep.sh
  egs/librispeech_french/st1/local/divide_lang.sh
  egs/librispeech_french/st1/local/normalize_punctuation.pl
  egs/librispeech_french/st1/local/remove_punctuation.pl
  egs/librispeech_french/st1/local/score_bleu.sh
  egs/librispeech_french/st1/local/score_sclite.sh
  egs/librispeech_french/st1/local/update_json.sh
  egs/librispeech_french/st1/path.sh
  egs/librispeech_french/st1/run.sh
  egs/librispeech_french/st1/steps
  egs/librispeech_french/st1/utils
Labels: Recipe

#899 Add model link
  README.md
Labels: Documentation

#901 skip ci when gh-pages is deployed
  .travis.yml
Labels: Documentation

#903 Change librispeech_french to libri_trans
  egs/libri_trans/asr1/RESULTS
  egs/libri_trans/asr1/cmd.sh
  egs/libri_trans/asr1/conf/decode.yaml
  egs/libri_trans/asr1/conf/fbank.conf
  egs/libri_trans/asr1/conf/gpu.conf
  egs/libri_trans/asr1/conf/pitch.conf
  egs/libri_trans/asr1/conf/train.yaml
  egs/libri_trans/asr1/conf/tuning/decode_rnn_char.yaml
  egs/libri_trans/asr1/conf/tuning/lm_char.yaml
  egs/libri_trans/asr1/conf/tuning/train_rnn_char.yaml
  egs/libri_trans/asr1/local
  egs/libri_trans/asr1/path.sh
  egs/libri_trans/asr1/run.sh
  egs/libri_trans/asr1/steps
  egs/libri_trans/asr1/utils
  egs/libri_trans/st1/RESULTS
  egs/libri_trans/st1/cmd.sh
  egs/libri_trans/st1/conf/decode.yaml
  egs/libri_trans/st1/conf/fbank.conf
  egs/libri_trans/st1/conf/gpu.conf
  egs/libri_trans/st1/conf/pitch.conf
  egs/libri_trans/st1/conf/train.yaml
  egs/libri_trans/st1/conf/tuning/decode_rnn_char.yaml
  egs/libri_trans/st1/conf/tuning/train_rnn_char.yaml
  egs/libri_trans/st1/local/concat_json_multiref.py
  egs/libri_trans/st1/local/data2json.sh
  egs/libri_trans/st1/local/data_prep.sh
  egs/libri_trans/st1/local/divide_lang.sh
  egs/libri_trans/st1/local/normalize_punctuation.pl
  egs/libri_trans/st1/local/remove_punctuation.pl
  egs/libri_trans/st1/local/score_bleu.sh
  egs/libri_trans/st1/local/score_sclite.sh
  egs/libri_trans/st1/local/update_json.sh
  egs/libri_trans/st1/path.sh
  egs/libri_trans/st1/run.sh
  egs/libri_trans/st1/steps
  egs/libri_trans/st1/utils
Labels: Recipe

#874 [Discussion]Create show_result.sh
  CONTRIBUTING.md
  utils/get_sys_info.sh
  utils/show_result.sh
Labels: Documentation, Enhancement, Recipe

#908 Modified if conditions
  test_utils/test_eval_perm_free_error_py.bats
Labels: Bugfix

#898 Update TTS module’s docstrings and refactor some modules
  doc/conf.py
  egs/ljspeech/tts2/run.sh
  espnet/nets/pytorch_backend/e2e_tts_fastspeech.py
  espnet/nets/pytorch_backend/e2e_tts_tacotron2.py
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  espnet/nets/pytorch_backend/fastspeech/duration_calculator.py
  espnet/nets/pytorch_backend/fastspeech/duration_predictor.py
  espnet/nets/pytorch_backend/fastspeech/length_regulator.py
  espnet/nets/pytorch_backend/nets_utils.py
  espnet/nets/pytorch_backend/rnn/decoders.py
  espnet/nets/pytorch_backend/tacotron2/cbhg.py
  espnet/nets/pytorch_backend/tacotron2/decoder.py
  espnet/nets/pytorch_backend/tacotron2/encoder.py
  espnet/nets/pytorch_backend/transformer/multi_layer_conv.py
  setup.py
Labels: Documentation, Refactoring

#913 Fix plot fail
  espnet/nets/pytorch_backend/transformer/plot.py
Labels: Bugfix

#915 Fix: utils/show_result.sh
  egs/chime4/asr1_multich/RESULTS.md
  utils/show_result.sh
Labels: Recipe

#921 Fix: Output dimension of Conv2dSubsampling #822
  espnet/nets/pytorch_backend/transformer/subsampling.py
Labels: Bugfix

#925 Add fastspeech.v2 result
  README.md
  egs/ljspeech/tts1/RESULTS.md
  utils/synth_wav.sh
Labels: Recipe

#912 Fix grad noise v2
  espnet/asr/asr_utils.py
  espnet/asr/pytorch_backend/asr.py
Labels: Bugfix

#930 Fix typo
  README.md
Labels: Documentation

#837 Transformer for CHiME4 Single Channel
  egs/chime4/asr1/RESULTS
  egs/chime4/asr1/RESULTS.md
  egs/chime4/asr1/conf/decode.yaml
  egs/chime4/asr1/conf/train.yaml
  egs/chime4/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/chime4/asr1/conf/tuning/decode_rnn.yaml
  egs/chime4/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/chime4/asr1/conf/tuning/train_rnn.yaml
  egs/chime4/asr1/run.sh
Labels: Recipe
