Repository espnet/espnet, pull requests merged in 2019-09, with the labels that each got.

#1165 How2 NMT recipe
  egs/how2/mt1/RESULTS.md
  egs/how2/mt1/cmd.sh
  egs/how2/mt1/conf/decode.yaml
  egs/how2/mt1/conf/gpu.conf
  egs/how2/mt1/conf/queue.conf
  egs/how2/mt1/conf/slurm.conf
  egs/how2/mt1/conf/train.yaml
  egs/how2/mt1/conf/tuning/decode_rnn.yaml
  egs/how2/mt1/conf/tuning/train_rnn.yaml
  egs/how2/mt1/local
  egs/how2/mt1/path.sh
  egs/how2/mt1/run.sh
  egs/how2/mt1/steps
  egs/how2/mt1/utils
Labels: Recipe

#1160 Update Russian open STT recipe for v0.5 of the dataset
  egs/ru_open_stt/asr1/RESULTS
  egs/ru_open_stt/asr1/RESULTS.md
  egs/ru_open_stt/asr1/conf/decode.yaml
  egs/ru_open_stt/asr1/conf/lm.yaml
  egs/ru_open_stt/asr1/conf/specaug.yaml
  egs/ru_open_stt/asr1/conf/train.yaml
  egs/ru_open_stt/asr1/conf/tuning/decode_pytorch_transformer_large.yaml
  egs/ru_open_stt/asr1/conf/tuning/train_pytorch_transformer_large_ngpu4.yaml
  egs/ru_open_stt/asr1/local/ru_open_stt_download_data.sh
  egs/ru_open_stt/asr1/local/ru_open_stt_prepare_data.py
  egs/ru_open_stt/asr1/run.sh
Labels: Recipe

#1168 Must-C NMT recipe
  egs/must_c/mt1/RESULTS.md
  egs/must_c/mt1/cmd.sh
  egs/must_c/mt1/conf/decode.yaml
  egs/must_c/mt1/conf/gpu.conf
  egs/must_c/mt1/conf/queue.conf
  egs/must_c/mt1/conf/slurm.conf
  egs/must_c/mt1/conf/train.yaml
  egs/must_c/mt1/conf/tuning/decode_rnn.yaml
  egs/must_c/mt1/conf/tuning/train_rnn.yaml
  egs/must_c/mt1/local
  egs/must_c/mt1/path.sh
  egs/must_c/mt1/run.sh
  egs/must_c/mt1/steps
  egs/must_c/mt1/utils
Labels: Recipe

#1170 Fix error on waveform generation by WaveNet
  utils/generate_wav_from_fbank.py
Labels: Bugfix

#1056 Blizzard recipe
  egs/README.md
  egs/blizzard17/tts1/cmd.sh
  egs/blizzard17/tts1/conf/decode.yaml
  egs/blizzard17/tts1/conf/gpu.conf
  egs/blizzard17/tts1/conf/queue.conf
  egs/blizzard17/tts1/conf/slurm.conf
  egs/blizzard17/tts1/conf/train_pytorch_tacotron2.yaml
  egs/blizzard17/tts1/conf/tuning/train_pytorch_tacotron2.tuning.lab3-rev3.yaml
  egs/blizzard17/tts1/local/data_prep.sh
  egs/blizzard17/tts1/local/download.sh
  egs/blizzard17/tts1/local/make_lab_w_punc.py
  egs/blizzard17/tts1/local/make_lab_w_punc.sh
  egs/blizzard17/tts1/local/make_lab_wo_sil.py
  egs/blizzard17/tts1/local/make_lab_wo_sil.sh
  egs/blizzard17/tts1/path.sh
  egs/blizzard17/tts1/run.sh
  egs/blizzard17/tts1/steps
  egs/blizzard17/tts1/utils
Labels: Recipe

#1138 Using pytorch dataloader for pytorch backend
  espnet/asr/pytorch_backend/asr.py
  espnet/asr/pytorch_backend/asr_mix.py
  espnet/mt/pytorch_backend/mt.py
  espnet/st/pytorch_backend/st.py
  espnet/tts/pytorch_backend/tts.py
  espnet/utils/dataset.py
Labels: New Features

#1145 Wsj mix
  ci/test_flake8.sh
  ci/test_integration.sh
  egs/mini_an4/asr1/conf/train_multispkr.yaml
  egs/mini_an4/asr_mix1/RESULTS
  egs/mini_an4/asr_mix1/cmd.sh
  egs/mini_an4/asr_mix1/conf
  egs/mini_an4/asr_mix1/downloads.tar.gz
  egs/mini_an4/asr_mix1/local/data2json.sh
  egs/mini_an4/asr_mix1/local/data_prep.py
  egs/mini_an4/asr_mix1/path.sh
  egs/mini_an4/asr_mix1/run.sh
  egs/mini_an4/asr_mix1/steps
  egs/mini_an4/asr_mix1/utils
  egs/wsj/asr1/conf/train_multispkr.yaml
  egs/wsj_mix/asr1/RESULTS
  egs/wsj_mix/asr1/RESULTS.md
  egs/wsj_mix/asr1/local/data2json.sh
  egs/wsj_mix/asr1/local/wsj_mix_scheme.tar.gz
  egs/wsj_mix/asr1/run.sh
  espnet/asr/asr_mix_utils.py
  espnet/asr/chainer_backend/asr.py
  espnet/asr/pytorch_backend/asr.py
  espnet/asr/pytorch_backend/asr_mix.py
  espnet/bin/asr_train.py
  espnet/mt/pytorch_backend/mt.py
  espnet/nets/pytorch_backend/e2e_asr_mix.py
  espnet/nets/pytorch_backend/frontends/dnn_beamformer.py
  espnet/nets/pytorch_backend/frontends/frontend.py
  espnet/tts/pytorch_backend/tts.py
  espnet/utils/training/batchfy.py
  test/test_e2e_mt.py
  test/test_multi_spkrs.py
Labels: Bugfix, Recipe

#1183 fixed h5py version as 2.9.0
  setup.py
Labels: Bugfix

#1186 Add support for MoL WaveNet to synth_wav.sh
  README.md
  utils/feats2npy.py
  utils/synth_wav.sh
Labels: New Features

#1180 Support multiple inputs
  ci/install_kaldi.sh
  ci/test_shell.sh
  espnet/utils/io_utils.py
  test/test_utils.py
  test_utils/test_data2json_sh.bats
  utils/data2json.sh
Labels: New Features

#1179 dirha_wsj recipe
  egs/README.md
  egs/dirha_wsj/asr1/RESULTS.md
  egs/dirha_wsj/asr1/cmd.sh
  egs/dirha_wsj/asr1/conf/decode.yaml
  egs/dirha_wsj/asr1/conf/fbank.conf
  egs/dirha_wsj/asr1/conf/gpu.conf
  egs/dirha_wsj/asr1/conf/lm.yaml
  egs/dirha_wsj/asr1/conf/no_preprocess.yaml
  egs/dirha_wsj/asr1/conf/pitch.conf
  egs/dirha_wsj/asr1/conf/queue.conf
  egs/dirha_wsj/asr1/conf/slurm.conf
  egs/dirha_wsj/asr1/conf/specaug.yaml
  egs/dirha_wsj/asr1/conf/train.yaml
  egs/dirha_wsj/asr1/conf/tuning/decode_rnn.yaml
  egs/dirha_wsj/asr1/conf/tuning/train_rnn.yaml
  egs/dirha_wsj/asr1/local/cstr_ndx2flist.pl
  egs/dirha_wsj/asr1/local/dirha_data_prep.sh
  egs/dirha_wsj/asr1/local/find_transcripts.pl
  egs/dirha_wsj/asr1/local/flist2scp.pl
  egs/dirha_wsj/asr1/local/format_data.sh
  egs/dirha_wsj/asr1/local/ndx2flist.pl
  egs/dirha_wsj/asr1/local/normalize_transcript.pl
  egs/dirha_wsj/asr1/local/tools/Data_Contamination.m
  egs/dirha_wsj/asr1/local/tools/create_folder_str.m
  egs/dirha_wsj/asr1/local/tools/find_files.m
  egs/dirha_wsj/asr1/local/tools/linear_shift.m
  egs/dirha_wsj/asr1/local/tools/read_sphere.m
  egs/dirha_wsj/asr1/local/tools/readsph.m
  egs/dirha_wsj/asr1/local/wsj_data_prep.sh
  egs/dirha_wsj/asr1/local/wsj_format_data.sh
  egs/dirha_wsj/asr1/path.sh
  egs/dirha_wsj/asr1/run.sh
  egs/dirha_wsj/asr1/steps
  egs/dirha_wsj/asr1/utils
Labels: Recipe

#1197 Fix a bug in building docker container
  docker/prebuilt/local/Dockerfile
Labels: Bugfix

#1195 TTS: MoL WaveNet minor update
  utils/synth_wav.sh
Labels: Enhancement

#1173 Transducer v1.2
  ci/test_flake8.sh
  egs/voxforge/asr1/RESULTS.md
  egs/voxforge/asr1/conf/tuning/transducer/decode_transducer.yaml
  egs/voxforge/asr1/conf/tuning/transducer/train_transducer.yaml
  egs/voxforge/asr1/local/make_trans.py
  egs/voxforge/asr1/local/prep_transducer_finetuning.sh
  egs/voxforge/asr1/run_rnnt.sh
  espnet/asr/pytorch_backend/asr_init.py
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
  espnet/nets/pytorch_backend/rnn/decoders_transducer.py
Labels: Enhancement

#1196 Install warp-ctc from PyPI
  tools/Makefile
  tools/check_install.py
Labels: Enhancement, Installation Issue

#1204 support save snapshot by iteration
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_train.py
Labels: New Features

#1211 Fix a bug that <eos> prob is not applied in batch decoding with word LM
  espnet/nets/ctc_prefix_score.py
  espnet/nets/pytorch_backend/lm/default.py
  espnet/nets/pytorch_backend/rnn/decoders.py
  test/test_recog.py
Labels: Bugfix

#1221 Fix e2e_tts test error in CI
  test/test_e2e_tts_fastspeech.py
  test/test_e2e_tts_tacotron2.py
  test/test_e2e_tts_transformer.py
Labels: Bugfix

#1220 Fixed a typo in swbd asr1
  egs/swbd/asr1/run.sh
Labels: Documentation

#1216 Improved JSUT TTS recipe
  .gitignore
  egs/jsut/README.md
  egs/jsut/tts1/RESULTS.md
  egs/jsut/tts1/local/clean_text.py
  egs/jsut/tts1/local/data_prep.sh
  egs/jsut/tts1/local/download.sh
  egs/jsut/tts1/local/prep_segments.py
  egs/jsut/tts1/local/text/__init__.py
  egs/jsut/tts1/local/text/text2yomi.py
  egs/jsut/tts1/path.sh
  egs/jsut/tts1/run.sh
  setup.py
  tools/Makefile
Labels: Enhancement, Recipe
