Repository espnet/espnet, pull requests merged in 2019-04, with the labels that each got.

#678 kaldi way of computing cer/wer
  espnet/nets/pytorch_backend/e2e_asr.py
  espnet/nets/pytorch_backend/e2e_asr_mix.py
Labels: Bugfix

#679 Add version check for matplotlib installation
  tools/Makefile
Labels: Bugfix

#680 Make sure hlens is tensor in recognize_batch
  espnet/nets/pytorch_backend/e2e_asr.py
Labels: Bugfix

#681 Fix recognize_batch for 2d, location_reccurent, multi-head attentions
  espnet/nets/pytorch_backend/decoders.py
  espnet/nets/pytorch_backend/e2e_asr.py
  test/test_e2e_asr.py
Labels: Bugfix

#677 No Cupy install
  README.md
  tools/Makefile
  tools/check_install.py
Labels: Enhancement

#685 Fix to use python2 as default in travis
  .travis.yml
Labels: Bugfix

#684 bugfix in voxforge
  egs/voxforge/asr1/local/voxforge_data_prep.sh
  egs/voxforge/asr1/run.sh
Labels: Bugfix

#655 [WIP] Transformer Chainer
  .gitignore
  egs/wsj/asr2/RESULTS
  egs/wsj/asr2/cmd.sh
  egs/wsj/asr2/conf/fbank.conf
  egs/wsj/asr2/conf/gpu.conf
  egs/wsj/asr2/conf/pitch.conf
  egs/wsj/asr2/conf/queue.conf
  egs/wsj/asr2/conf/slurm.conf
  egs/wsj/asr2/local/find_transcripts.pl
  egs/wsj/asr2/local/flist2scp.pl
  egs/wsj/asr2/local/ndx2flist.pl
  egs/wsj/asr2/local/normalize_transcript.pl
  egs/wsj/asr2/local/recog_wav.sh
  egs/wsj/asr2/local/wsj_data_prep.sh
  egs/wsj/asr2/local/wsj_format_data.sh
  egs/wsj/asr2/path.sh
  egs/wsj/asr2/run.sh
  egs/wsj/asr2/steps
  egs/wsj/asr2/utils
  espnet/asr/chainer_backend/asr.py
  espnet/bin/asr_train.py
  espnet/nets/chainer_backend/attentions_transformer.py
  espnet/nets/chainer_backend/decoders_transformer.py
  espnet/nets/chainer_backend/e2e_asr_transformer.py
  espnet/nets/chainer_backend/encoders_transformer.py
  espnet/nets/chainer_backend/nets_utils_transformer.py
  test/test_e2e_transformer.py
  utils/average_checkpoints.py
Labels: Enhancement, Review, WIP

#702 fix choice between pytorch and pytorch-cpu
  tools/Makefile
Labels: Bugfix
