Repository espnet/espnet, pull requests merged in 2019-07, with the labels that each got.

#936 [Fixed] CER/WER & CER_CTC in Transformer pytorch
  egs/wsj/asr1/conf/tuning/train_pytorch_transformer.yaml
  espnet/nets/e2e_asr_common.py
  espnet/nets/pytorch_backend/e2e_asr.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  test/test_e2e_asr.py
  test/test_e2e_asr_transformer.py
  test/test_initialization.py
  test/test_recog.py
  test/test_utils.py
Labels: Bugfix, Enhancement

#914 Reformat docstrings in espnet/asr
  espnet/asr/asr_mix_utils.py
  espnet/asr/asr_utils.py
  espnet/asr/chainer_backend/asr.py
  espnet/asr/pytorch_backend/asr.py
  espnet/asr/pytorch_backend/asr_mix.py
Labels: Documentation

#940 Fix plot attention for chainer transformer
  espnet/nets/chainer_backend/e2e_asr_transformer.py
  espnet/nets/chainer_backend/nets_utils_transformer.py
Labels: Enhancement

#946 Update README
  README.md
  utils/recog_wav.sh
  utils/synth_wav.sh
Labels: Documentation

#949 Update libri trans
  egs/libri_trans/asr1/conf/lm.yaml
  egs/libri_trans/asr1/run.sh
  egs/libri_trans/mt1/run.sh
  egs/libri_trans/st1/RESULTS
  egs/libri_trans/st1/run.sh
Labels: Recipe

#954 run.sh should exit if sourcing path.sh return error
  ci/install.sh
  egs/librispeech/asr1/run.sh
Labels: Bugfix

#956 Fix a typo bug in computing guided attention loss
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  test/test_e2e_tts_transformer.py
Labels: Bugfix

#957 transform: expose pad_mode for logmelspectrogram
  espnet/transform/spectrogram.py
Labels: Enhancement

#955 FiX ER calculator
  espnet/nets/e2e_asr_common.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  test/test_utils.py
Labels: Bugfix

#965 Update li10
  egs/li10/asr1/RESULTS.md
  egs/li10/asr1/conf/decode.yaml
  egs/li10/asr1/conf/train.yaml
  egs/li10/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/li10/asr1/conf/tuning/decode_rnn.yaml
  egs/li10/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/li10/asr1/conf/tuning/train_rnn.yaml
  egs/li10/asr1/run.sh
Labels: Recipe

#966 make tensorboard logging done every 100 iters
  espnet/asr/chainer_backend/asr.py
  espnet/asr/pytorch_backend/asr.py
  espnet/asr/pytorch_backend/asr_mix.py
  espnet/lm/chainer_backend/lm.py
  espnet/lm/pytorch_backend/lm.py
  espnet/tts/pytorch_backend/tts.py
Labels: Bugfix

#909 BPE support for SwitchBoard & Transformer config
  egs/swbd/asr1/RESULTS
  egs/swbd/asr1/conf/decode.yaml
  egs/swbd/asr1/conf/train.yaml
  egs/swbd/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/swbd/asr1/conf/tuning/decode_rnn.yaml
  egs/swbd/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/swbd/asr1/conf/tuning/train_rnn.yaml
  egs/swbd/asr1/local/score_sclite.sh
  egs/swbd/asr1/run.sh
Labels: Recipe

#978 New RNN and Transformer result of AMI recipe(ihm)
  egs/ami/asr1/RESULTS
  egs/ami/asr1/RESULTS_ihm.md
  egs/ami/asr1/conf/decode.yaml
  egs/ami/asr1/conf/train.yaml
  egs/ami/asr1/conf/tuning/decode.yaml
  egs/ami/asr1/conf/tuning/decode_rnn.yaml
  egs/ami/asr1/conf/tuning/decode_transformer.yaml
  egs/ami/asr1/conf/tuning/train.yaml
  egs/ami/asr1/conf/tuning/train_rnn.yaml
  egs/ami/asr1/conf/tuning/train_transformer.yaml
Labels: Recipe

#970 Update Librispeech recipe
  README.md
  egs/librispeech/asr1/RESULTS.md
  egs/librispeech/asr1/conf/lm.yaml
  egs/librispeech/asr1/conf/specaug.yaml
  egs/librispeech/asr1/conf/tuning/decode_pytorch_transformer_large.yaml
  egs/librispeech/asr1/conf/tuning/lm.yaml
  egs/librispeech/asr1/conf/tuning/lm_large.yaml
  egs/librispeech/asr1/conf/tuning/train_pytorch_transformer_large_ngpu4.yaml
  egs/librispeech/asr1/run.sh
  espnet/bin/asr_train.py
  espnet/bin/lm_train.py
  espnet/lm/pytorch_backend/lm.py
  test_utils/test_average_checkpoints_py.bats
  utils/average_checkpoints.py
Labels: Recipe

#981 Fix pytorch LM GPU training without cupy
  espnet/lm/pytorch_backend/lm.py
Labels: Bugfix

#988 Fix lm_n_average in lang_model
  egs/librispeech/asr1/run.sh
Labels: Bugfix

#989 Fix a bug in synthesis_wav.sh
  README.md
  utils/synth_wav.sh
Labels: Bugfix

#974 Update docstrings in espnet.nets.chainer_backend
  espnet/asr/asr_mix_utils.py
  espnet/asr/asr_utils.py
  espnet/nets/chainer_backend/attentions.py
  espnet/nets/chainer_backend/attentions_transformer.py
  espnet/nets/chainer_backend/ctc.py
  espnet/nets/chainer_backend/decoders.py
  espnet/nets/chainer_backend/decoders_transformer.py
  espnet/nets/chainer_backend/deterministic_embed_id.py
  espnet/nets/chainer_backend/e2e_asr.py
  espnet/nets/chainer_backend/e2e_asr_transformer.py
  espnet/nets/chainer_backend/encoders.py
  espnet/nets/chainer_backend/encoders_transformer.py
  espnet/nets/chainer_backend/nets_utils.py
  espnet/nets/chainer_backend/nets_utils_transformer.py
Labels: Documentation

#947 Refactor FileReaderWrapper and FileWriterWrapper
  espnet/asr/pytorch_backend/asr.py
  espnet/utils/cli_readers.py
  espnet/utils/cli_utils.py
  espnet/utils/cli_writers.py
  test/test_cli.py
  utils/apply-cmvn.py
  utils/compute-cmvn-stats.py
  utils/compute-fbank-feats.py
  utils/compute-stft-feats.py
  utils/convert_fbank_to_wav.py
  utils/copy-feats.py
  utils/dump-pcm.py
  utils/feat-to-shape.py
Labels: Refactoring

#994 Update docstrings
  espnet/nets/pytorch_backend/e2e_tts_tacotron2.py
Labels: Documentation

#996 make tensorboard logging done every 100 iters
  espnet/mt/pytorch_backend/mt.py
Labels: Bugfix

#995 Support saving of attention weights and probability in decoding
  espnet/nets/pytorch_backend/e2e_tts_fastspeech.py
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  espnet/tts/pytorch_backend/tts.py
Labels: Enhancement

#774 [WIP] Transformer Chainer
  egs/wsj/asr1/conf/tuning/decode_chainer_transformer.yaml
  egs/wsj/asr1/conf/tuning/train_chainer_transformer.yaml
  egs/wsj/asr1/conf/tuning/train_rnn.yaml
  egs/wsj/asr1/run.sh
  espnet/asr/chainer_backend/asr.py
  espnet/asr/pytorch_backend/asr.py
  espnet/nets/chainer_backend/ctc.py
  espnet/nets/chainer_backend/decoders_transformer.py
  espnet/nets/chainer_backend/e2e_asr.py
  espnet/nets/chainer_backend/e2e_asr_transformer.py
  espnet/nets/chainer_backend/encoders_transformer.py
  espnet/nets/chainer_backend/nets_utils_transformer.py
  espnet/nets/chainer_backend/rnn/__init__.py
  espnet/nets/chainer_backend/rnn/attentions.py
  espnet/nets/chainer_backend/rnn/decoders.py
  espnet/nets/chainer_backend/rnn/encoders.py
  espnet/nets/chainer_backend/transformer/__init__.py
  espnet/nets/chainer_backend/transformer/attention.py
  espnet/nets/chainer_backend/transformer/decoder.py
  espnet/nets/chainer_backend/transformer/decoder_layer.py
  espnet/nets/chainer_backend/transformer/embedding.py
  espnet/nets/chainer_backend/transformer/encoder.py
  espnet/nets/chainer_backend/transformer/encoder_layer.py
  espnet/nets/chainer_backend/transformer/label_smoothing_loss.py
  espnet/nets/chainer_backend/transformer/layer_norm.py
  espnet/nets/chainer_backend/transformer/optimizer_rule.py
  espnet/nets/chainer_backend/transformer/plot.py
  espnet/nets/chainer_backend/transformer/positionwise_feed_forward.py
  espnet/nets/chainer_backend/transformer/subsampling.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  test/test_e2e_asr_transformer.py
Labels: Enhancement

#1007 WSJ asr1: prettify RESULTS.md
  egs/wsj/asr1/RESULTS
  egs/wsj/asr1/RESULTS.md
Labels: Recipe

#1008 CSJ asr1: prettify RESULTS.md
  egs/csj/asr1/RESULTS
  egs/csj/asr1/RESULTS.md
Labels: Recipe

#1009 Add Transformer config in JSUT
  egs/jsut/tts1/conf/train_pytorch_transformer.yaml
Labels: Recipe

#938 Remove "free-gpu" from *_train and create queue-freegpu.pl
  egs/an4/asr1/cmd.sh
  espnet/bin/asr_train.py
  espnet/bin/lm_train.py
  espnet/bin/tts_train.py
  utils/free-gpu.sh
  utils/queue-freegpu.pl
Labels: Refactoring

#1010 fix Cupy Import Error #969
  tools/Makefile
Labels: Bugfix

#1001 Support multi-speaker Transformer
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  test/test_e2e_tts_fastspeech.py
  test/test_e2e_tts_transformer.py
Labels: Enhancement

#1011 Reduce travis jobs
  .travis.yml
  ci/doc.sh
  tools/Makefile
Labels: CI

#1013 Use queue-freegpu.pl in all cmd.sh
  egs/aishell/asr1/cmd.sh
  egs/ami/asr1/cmd.sh
  egs/an4/tts1/cmd.sh
  egs/aurora4/asr1/cmd.sh
  egs/babel/asr1/cmd.sh
  egs/chime4/asr1/cmd.sh
  egs/chime4/asr1_multich/cmd.sh
  egs/chime5/asr1/cmd.sh
  egs/csj/asr1/cmd.sh
  egs/fisher_callhome_spanish/asr1/cmd.sh
  egs/fisher_callhome_spanish/st1/cmd.sh
  egs/fisher_swbd/asr1/cmd.sh
  egs/hkust/asr1/cmd.sh
  egs/hub4_spanish/asr1/cmd.sh
  egs/iwslt18/asr1/cmd.sh
  egs/iwslt18/st1/cmd.sh
  egs/jnas/asr1/cmd.sh
  egs/jsalt18e2e/asr1/cmd.sh
  egs/jsut/asr1/cmd.sh
  egs/jsut/tts1/cmd.sh
  egs/li10/asr1/cmd.sh
  egs/libri_trans/asr1/cmd.sh
  egs/libri_trans/st1/cmd.sh
  egs/librispeech/asr1/cmd.sh
  egs/libritts/tts1/cmd.sh
  egs/ljspeech/tts1/cmd.sh
  egs/ljspeech/tts2/cmd.sh
  egs/m_ailabs/tts1/cmd.sh
  egs/reverb/asr1/cmd.sh
  egs/ru_open_stt/asr1/cmd.sh
  egs/swbd/asr1/cmd.sh
  egs/tedlium2/asr1/cmd.sh
  egs/tedlium3/asr1/cmd.sh
  egs/timit/asr1/cmd.sh
  egs/voxforge/asr1/cmd.sh
  egs/wsj/asr1/cmd.sh
  egs/wsj_mix/asr1/cmd.sh
  egs/yesno/asr1/cmd.sh
  egs/yesno/tts1/cmd.sh
Labels: Enhancement

#1002 fix unk scoring
  test_utils/test_json2trn.py.bats
  utils/json2trn.py
Labels: Bugfix
