Repository espnet/espnet, pull requests merged in 2020-01, with the labels that each got.

#1477 [ESPnet2] Pack and Unpack model
  espnet2/bin/pack.py
  espnet2/utils/pack_funcs.py
  test/espnet2/utils/test_pack_funcs.py
Labels: New Features

#1486 [ESPnet2] Fix espnet2.bin.pack
  espnet2/bin/pack.py
Labels: Enhancement

#1478 [ESPnet2] show_result.sh
  ci/test_integration.sh
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/scripts/utils/show_asr_result.sh
  egs2/TEMPLATE/tts1/tts.sh
Labels: Enhancement

#1485 Update for Common Voice recipe & Multilingual training recipe
  egs/README.md
  egs/commonvoice/asr1/RESULTS.md
  egs/commonvoice/asr1/local/data_prep.pl
  egs/commonvoice/asr1/run.sh
  egs/li42/asr1/cmd.sh
  egs/li42/asr1/conf/decode.yaml
  egs/li42/asr1/conf/fbank.conf
  egs/li42/asr1/conf/gpu.conf
  egs/li42/asr1/conf/pitch.conf
  egs/li42/asr1/conf/queue.conf
  egs/li42/asr1/conf/slurm.conf
  egs/li42/asr1/conf/train.yaml
  egs/li42/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/li42/asr1/conf/tuning/decode_rnn.yaml
  egs/li42/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/li42/asr1/conf/tuning/train_rnn.yaml
  egs/li42/asr1/path.sh
  egs/li42/asr1/run.sh
  egs/li42/asr1/steps
  egs/li42/asr1/utils
Labels: Recipe

#1421 Fix a compatibility problem with PyTorch 1.3.0 in ESPnet (v0.6.0)
  egs/wsj/asr1/local/filtering_samples.py
  egs/wsj/asr1/run.sh
  espnet/asr/pytorch_backend/asr.py
  espnet/nets/chainer_backend/e2e_asr.py
  espnet/nets/chainer_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_asr.py
  espnet/nets/pytorch_backend/e2e_asr_mix.py
  espnet/nets/pytorch_backend/e2e_asr_mulenc.py
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_mt.py
  espnet/nets/pytorch_backend/e2e_mt_transformer.py
  espnet/nets/pytorch_backend/e2e_st.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
  espnet/nets/pytorch_backend/nets_utils.py
Labels: Bugfix

#1487 [ESPnet2] Tensorboard, --num_iters_per_epoch, etc.
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/asr/encoder/rnn_encoder.py
  espnet2/bin/asr_decode.py
  espnet2/bin/lm_calc_perplexity.py
  espnet2/bin/tts_decode.py
  espnet2/schedulers/abs_scheduler.py
  espnet2/tasks/abs_task.py
  espnet2/torch_utils/load_pretrained_model.py
  espnet2/torch_utils/pytorch_version.py
  espnet2/torch_utils/recursive_op.py
  espnet2/torch_utils/set_all_random_seed.py
  espnet2/train/batch_sampler.py
  espnet2/train/checkpoint.py
  espnet2/train/epoch_iter_factory.py
  espnet2/train/reporter.py
  espnet2/train/trainer.py
  espnet2/tts/feats_extract/log_spectrogram.py
  espnet2/utils/build_dataclass.py
  setup.py
  test/espnet2/train/test_epoch_iter_factory.py
  test/espnet2/train/test_reporter.py
Labels: Enhancement, Refactoring

#1491 [ESPnet2] Fix ci of flake8 part
  ci/test_flake8.sh
  espnet2/asr/decoder/transformer_decoder.py
  espnet2/asr/e2e.py
  espnet2/asr/encoder/rnn_encoder.py
  espnet2/asr/encoder/transformer_encoder.py
  espnet2/asr/encoder/vgg_rnn_encoder.py
  espnet2/asr/frontend/abs_frontend.py
  espnet2/asr/frontend/default.py
  espnet2/bin/aggregate_stats_dirs.py
  espnet2/bin/asr_decode.py
  espnet2/bin/asr_train.py
  espnet2/bin/lm_calc_perplexity.py
  espnet2/bin/lm_train.py
  espnet2/bin/tokenize_text.py
  espnet2/bin/tts_decode.py
  espnet2/bin/tts_train.py
  espnet2/layers/stft.py
  espnet2/lm/e2e.py
  espnet2/tasks/abs_task.py
  espnet2/torch_utils/load_pretrained_model.py
  espnet2/train/batch_sampler.py
  espnet2/train/dataset.py
  espnet2/train/preprocessor.py
  espnet2/train/reporter.py
  espnet2/train/trainer.py
  espnet2/tts/feats_extract/abs_feats_extract.py
  espnet2/tts/tacotron2.py
  espnet2/utils/fileio.py
  espnet2/utils/get_default_kwargs.py
  espnet2/utils/nested_dict_action.py
  espnet2/utils/pack_funcs.py
  espnet2/utils/types.py
Labels: Refactoring

#1494 [ESPnet2] Refactoring
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/bin/aggregate_stats_dirs.py
  espnet2/bin/asr_decode.py
  espnet2/bin/lm_calc_perplexity.py
  espnet2/bin/tts_decode.py
  espnet2/main_funcs/__init__.py
  espnet2/main_funcs/average_nbest_models.py
  espnet2/main_funcs/collect_stats.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/asr.py
  espnet2/tasks/lm.py
  espnet2/tasks/tts.py
  espnet2/train/batch_sampler.py
  espnet2/train/distributed_utils.py
  espnet2/train/reporter.py
  espnet2/train/trainer.py
  test/espnet2/train/test_reporter.py
Labels: Refactoring

#1505 [ESPnet2] Bug fix of splitting files for collect_stats mode
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/tts1/tts.sh
Labels: Bugfix

#1509 [ESPnet2] Implement --max_cache_size option
  espnet2/tasks/abs_task.py
  espnet2/train/dataset.py
  espnet2/utils/sized_dict.py
  espnet2/utils/types.py
  test/espnet2/utils/test_sized_dict.py
  test/espnet2/utils/test_types.py
Labels: New Features

#1510 Avoid deprecated warning: reduction="none"
  espnet/nets/pytorch_backend/transformer/label_smoothing_loss.py
Labels: Refactoring

#1511 [ESPnet2] Fix voxforge config
  egs2/voxforge/asr1/conf/train_asr_rnn.yaml
Labels: Bugfix

#1513 [ESPnet2] Support "segments" file in asr.sh and tts.sh
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/tts1/tts.sh
Labels: Bugfix, Recipe

#1497 [ESPnet2] Update ASR Recipes
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/asr1/setup.sh
  egs2/vivos/asr1/README.md
  egs2/vivos/asr1/asr.sh
  egs2/vivos/asr1/cmd.sh
  egs2/vivos/asr1/conf/decode.yaml
  egs2/vivos/asr1/conf/fbank.conf
  egs2/vivos/asr1/conf/lm_char.yaml
  egs2/vivos/asr1/conf/lm_word.yaml
  egs2/vivos/asr1/conf/pitch.conf
  egs2/vivos/asr1/conf/queue.conf
  egs2/vivos/asr1/conf/slurm.conf
  egs2/vivos/asr1/conf/train.yaml
  egs2/vivos/asr1/db.sh
  egs2/vivos/asr1/local/data.sh
  egs2/vivos/asr1/path.sh
  egs2/vivos/asr1/pyscripts
  egs2/vivos/asr1/run.sh
  egs2/vivos/asr1/scripts
  egs2/vivos/asr1/steps
  egs2/vivos/asr1/utils
  egs2/yesno/asr1/asr.sh
  egs2/yesno/asr1/cmd.sh
  egs2/yesno/asr1/conf/decode.yaml
  egs2/yesno/asr1/conf/fbank.conf
  egs2/yesno/asr1/conf/pitch.conf
  egs2/yesno/asr1/conf/queue.conf
  egs2/yesno/asr1/conf/slurm.conf
  egs2/yesno/asr1/conf/train.yaml
  egs2/yesno/asr1/db.sh
  egs2/yesno/asr1/local/create_yesno_txt.pl
  egs2/yesno/asr1/local/create_yesno_wav_scp.pl
  egs2/yesno/asr1/local/create_yesno_waves_test_train.pl
  egs2/yesno/asr1/local/data.sh
  egs2/yesno/asr1/path.sh
  egs2/yesno/asr1/pyscripts
  egs2/yesno/asr1/run.sh
  egs2/yesno/asr1/scripts
  egs2/yesno/asr1/steps
  egs2/yesno/asr1/utils
  espnet2/bin/asr_decode.py
Labels: Recipe

#1514 Use Markdown table instead for WER results
  egs/librispeech/asr1/RESULTS.md
Labels: Bugfix

#1515 Fix bug in MT training script
  egs/must_c/mt1/RESULTS.md
  egs/must_c/mt1/conf/decode.yaml
  egs/must_c/mt1/conf/tuning/decode_pytorch_transformer.en-de.lc.rm.yaml
  egs/must_c/mt1/conf/tuning/decode_pytorch_transformer.en-de.tc.yaml
  egs/must_c/mt1/conf/tuning/decode_pytorch_transformer.en-es.lc.rm.yaml
  egs/must_c/mt1/conf/tuning/decode_pytorch_transformer.en-es.tc.yaml
  egs/must_c/mt1/conf/tuning/decode_pytorch_transformer.en-fr.lc.rm.yaml
  egs/must_c/mt1/conf/tuning/decode_pytorch_transformer.en-fr.tc.yaml
  egs/must_c/mt1/conf/tuning/decode_pytorch_transformer.en-it.lc.rm.yaml
  egs/must_c/mt1/conf/tuning/decode_pytorch_transformer.en-it.tc.yaml
  egs/must_c/mt1/conf/tuning/decode_pytorch_transformer.en-nl.lc.rm.yaml
  egs/must_c/mt1/conf/tuning/decode_pytorch_transformer.en-nl.tc.yaml
  egs/must_c/mt1/conf/tuning/decode_pytorch_transformer.en-pt.lc.rm.yaml
  egs/must_c/mt1/conf/tuning/decode_pytorch_transformer.en-pt.tc.yaml
  egs/must_c/mt1/conf/tuning/decode_pytorch_transformer.en-ro.lc.rm.yaml
  egs/must_c/mt1/conf/tuning/decode_pytorch_transformer.en-ro.tc.yaml
  egs/must_c/mt1/conf/tuning/decode_pytorch_transformer.en-ru.lc.rm.yaml
  egs/must_c/mt1/conf/tuning/decode_pytorch_transformer.en-ru.tc.yaml
  egs/must_c/mt1/conf/tuning/train_pytorch_transformer.yaml
  egs/must_c/mt1/run.sh
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_train.py
  espnet/bin/mt_train.py
  espnet/bin/st_train.py
  espnet/mt/pytorch_backend/mt.py
  espnet/st/pytorch_backend/st.py
Labels: Bugfix

#1524 [ESPnet2] shellcheck for local/data.sh
  ci/test_shell.sh
  egs2/an4/asr1/local/data.sh
  egs2/mini_an4/asr1/local/data.sh
  egs2/vivos/asr1/local/data.sh
  egs2/voxforge/asr1/local/data.sh
  egs2/wsj/asr1/local/data.sh
  egs2/yesno/asr1/local/data.sh
Labels: CI

#1525 [ESPnet2 ] Fix --accum_grad
  espnet2/train/trainer.py
Labels: Bugfix

#1526 [ESPnet2] Fix bug of using GPU even if CPU mode
  espnet2/tasks/abs_task.py
  espnet2/train/epoch_iter_factory.py
Labels: Bugfix

#1519 [ESPnet2] Change NoamLR to deprecated and implement WarmupLR
  egs2/voxforge/asr1/README.md
  egs2/voxforge/asr1/conf/train_asr_transformer.yaml
  espnet2/schedulers/noam_lr.py
  espnet2/schedulers/warmup_lr.py
  espnet2/tasks/abs_task.py
  test/espnet2/schedulers/test_warmup_lr.py
Labels: New Features

#1527 Update WSJ results using PyTorch 1.3.1 and builtin CTC
  egs/wsj/asr1/RESULTS.md
Labels: Recipe

#1520 [ESPnet2] [WIP] Update CSJ ASR Recipe
  egs2/TEMPLATE/asr1/asr.sh
  egs2/csj/asr1/README.md
  egs2/csj/asr1/asr.sh
  egs2/csj/asr1/cmd.sh
  egs2/csj/asr1/conf/fbank.conf
  egs2/csj/asr1/conf/lm.yaml
  egs2/csj/asr1/conf/pitch.conf
  egs2/csj/asr1/conf/queue.conf
  egs2/csj/asr1/conf/slurm.conf
  egs2/csj/asr1/conf/tuning/decode_rnn.yaml
  egs2/csj/asr1/conf/tuning/decode_transformer.yaml
  egs2/csj/asr1/conf/tuning/train_rnn.yaml
  egs2/csj/asr1/conf/tuning/train_transformer.yaml
  egs2/csj/asr1/db.sh
  egs2/csj/asr1/local/csj_data_prep.sh
  egs2/csj/asr1/local/csj_eval_data_prep.sh
  egs2/csj/asr1/local/csj_make_trans
  egs2/csj/asr1/local/csj_rm_tag.py
  egs2/csj/asr1/local/csj_rm_tag_sp_space.sh
  egs2/csj/asr1/local/data.sh
  egs2/csj/asr1/local/run_spm.sh
  egs2/csj/asr1/local/score_sclite.sh
  egs2/csj/asr1/path.sh
  egs2/csj/asr1/pyscripts
  egs2/csj/asr1/run.sh
  egs2/csj/asr1/scripts
  egs2/csj/asr1/steps
  egs2/csj/asr1/utils
Labels: Recipe

#1533 [ESPnet2] fix rnn_type when bidirectional is used
  espnet2/asr/encoder/rnn_encoder.py
  espnet2/asr/encoder/vgg_rnn_encoder.py
Labels: Bugfix

#1532 [ESPnet2] Fix format_wav_scp.py
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
Labels: Bugfix

#1541 [ESPnet2] Use load_scp_sequential in formart_wav_scp.py
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
Labels: Bugfix

#1540 [ESPNet2] Minor fix for CSJ recipe
  egs2/csj/asr1/run.sh
Labels: Bugfix, Recipe

#1537 Update WSJ results in the main README.md
  README.md
  egs/wsj/asr1/RESULTS.md
Labels: Documentation, Recipe

#1492 [WIP] IWSLT2016 Recipe
  egs/README.md
  egs/iwslt16/mt1/RESULTS.md
  egs/iwslt16/mt1/cmd.sh
  egs/iwslt16/mt1/conf/decode.yaml
  egs/iwslt16/mt1/conf/gpu.conf
  egs/iwslt16/mt1/conf/queue.conf
  egs/iwslt16/mt1/conf/slurm.conf
  egs/iwslt16/mt1/conf/train.yaml
  egs/iwslt16/mt1/conf/tuning/decode_pytorch_transformer.yaml
  egs/iwslt16/mt1/conf/tuning/decode_rnn.yaml
  egs/iwslt16/mt1/conf/tuning/train_pytorch_transformer.yaml
  egs/iwslt16/mt1/conf/tuning/train_rnn.yaml
  egs/iwslt16/mt1/local/clean_corpus.sh
  egs/iwslt16/mt1/local/compute_bleu.sh
  egs/iwslt16/mt1/local/data_prep.sh
  egs/iwslt16/mt1/local/download_and_untar.sh
  egs/iwslt16/mt1/local/extract_recog_text.py
  egs/iwslt16/mt1/local/generate_json.py
  egs/iwslt16/mt1/local/generate_json.sh
  egs/iwslt16/mt1/local/generate_vocab.py
  egs/iwslt16/mt1/local/tokenize.sh
  egs/iwslt16/mt1/local/train_and_apply_bpe.sh
  egs/iwslt16/mt1/local/truecasing.sh
  egs/iwslt16/mt1/path.sh
  egs/iwslt16/mt1/run.sh
  egs/iwslt16/mt1/steps
  egs/iwslt16/mt1/utils
Labels: Recipe

#1543 Fix IWSLT16 Script Permission
  egs/iwslt16/mt1/local/clean_corpus.sh
  egs/iwslt16/mt1/local/compute_bleu.sh
  egs/iwslt16/mt1/local/data_prep.sh
  egs/iwslt16/mt1/local/extract_recog_text.py
  egs/iwslt16/mt1/local/generate_json.py
  egs/iwslt16/mt1/local/generate_json.sh
  egs/iwslt16/mt1/local/generate_vocab.py
  egs/iwslt16/mt1/local/tokenize.sh
  egs/iwslt16/mt1/local/train_and_apply_bpe.sh
  egs/iwslt16/mt1/local/truecasing.sh
Labels: Bugfix
