Repository espnet/espnet, pull requests merged in 2020-09, with the labels that each got.

#2388 Add grep -H option
  egs2/TEMPLATE/asr1/scripts/utils/show_asr_result.sh
Labels: ASR, Bugfix, ESPnet2, auto-merge

#2389 Add sanity check for setup_cuda_env.sh
  tools/setup_cuda_env.sh
Labels: Installation, auto-merge

#2392 Revert ctc seg installation
  ci/install.sh
  egs/tedlium2/align1/path.sh
  setup.py
Labels: Bugfix, CI, ESPnet1, Installation

#2394 asr: Fix recog issue on Transformer CTC model
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
Labels: ASR, Bugfix, ESPnet1

#2399 Implement --grad_clip_type
  espnet2/tasks/abs_task.py
  espnet2/train/trainer.py
Labels: ESPnet2, New Features, auto-merge

#2393 espnet2 zeroth_korean recipe changing feats_type from fbank_pitch to raw.
  egs2/zeroth_korean/asr1/README.md
  egs2/zeroth_korean/asr1/conf/tuning/train_asr_transformer5.yaml
  egs2/zeroth_korean/asr1/run.sh
Labels: ASR, ESPnet2, Enhancement, README, Recipe

#2397 Add installation issue template
  .github/ISSUE_TEMPLATE/installation-issue-template.md
Labels: CI, Documentation

#2400 Fix score_bleu.sh
  egs/must_c/mt1/run.sh
  egs/must_c/st1/run.sh
  utils/score_bleu.sh
Labels: Bugfix, ESPnet1, MT, ST

#2396 Add bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: CI, Documentation

#2404 Change to refer https://anaconda.org/pytorch/pytorch/files
  tools/check_pytorch_cuda_compatibility.py
Labels: Installation, auto-merge

#2402 [zeroth korean] Not to use pipe format if feats_type=raw
  egs2/zeroth_korean/asr1/local/data.sh
  egs2/zeroth_korean/asr1/local/data_prep.sh
  egs2/zeroth_korean/asr1/run.sh
Labels: ASR, ESPnet2, auto-merge

#2405 Change cudatoolkit to cuda if cuda_version=8.0
  tools/Makefile
Labels: Installation, auto-merge

#2407 Lazy import chainer in asr_utils.py
  espnet/asr/asr_utils.py
Labels: ASR, ESPnet1, Refactoring, auto-merge

#2409 lazy import chainer: espnet/nets/tts_interface.py
  espnet/nets/tts_interface.py
Labels: Bugfix, ESPnet1, TTS, auto-merge

#2411 make sure chainer independent
  ci/test_integration.sh
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/tts1/tts.sh
  espnet/nets/pytorch_backend/e2e_tts_fastspeech.py
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
Labels: Bugfix, CI, ESPnet1, ESPnet2, auto-merge

#2412 fix the directory for init_file_prefix
  egs2/TEMPLATE/asr1/asr.sh
Labels: Bugfix, ESPnet2, auto-merge

#2413 Support Conformer-based FastSpeech / FastSpeech2
  README.md
  egs2/TEMPLATE/tts1/README.md
  egs2/csmsc/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/csmsc/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/jsut/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/jsut/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/ljspeech/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/ljspeech/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  espnet2/tts/fastspeech.py
  espnet2/tts/fastspeech2.py
  test/espnet2/tts/test_fastspeech.py
  test/espnet2/tts/test_fastspeech2.py
Labels: ESPnet2, New Features, README, TTS

#2418 Update espnet2_distributed.md
  doc/espnet2_distributed.md
Labels: Documentation, auto-merge

#2419 Update espnet2_distributed.md
  doc/espnet2_distributed.md
Labels: Documentation, auto-merge

#2420 remove garbage
  doc/a.txt
Labels: Documentation, auto-merge

#2421 Update espnet2_training_option.md
  doc/espnet2_training_option.md
Labels: Documentation, auto-merge

#2424 Fix hangup of unittests
  test/espnet2/train/test_distributed_utils.py
Labels: auto-merge

#2425 remove garbage
  egs2/mnist/dcgan1/conf/slurm.conf
Labels: ESPnet2, auto-merge

#2426 Update db.sh
  egs2/TEMPLATE/asr1/db.sh
Labels: ESPnet2, auto-merge

#2427 Add missing database in db.sh
  egs2/TEMPLATE/asr1/db.sh
Labels: Bugfix, ESPnet2, auto-merge

#2428 Update parallelization.md
  doc/parallelization.md
Labels: Documentation, auto-merge

#2430 Update README.md
  egs2/TEMPLATE/README.md
Labels: ESPnet2, README, auto-merge

#2431 Update faq.md
  doc/faq.md
Labels: Documentation, auto-merge

#2434 Update .gitignore
  .gitignore
Labels: auto-merge

#2437 Workaround for soundfile issue
  tools/Makefile
Labels: Installation, auto-merge

#2438 Minor fix of egs2/commonvoice/asr1/local/data.sh
  egs2/commonvoice/asr1/local/data.sh
Labels: ESPnet2, auto-merge

#2246 Add LibriCSS recipe
  egs/libri_css/asr1/RESULTS.md
  egs/libri_css/asr1/cmd.sh
  egs/libri_css/asr1/conf/fbank.conf
  egs/libri_css/asr1/conf/mfcc_hires.conf
  egs/libri_css/asr1/conf/pitch.conf
  egs/libri_css/asr1/conf/queue.conf
  egs/libri_css/asr1/conf/slurm.conf
  egs/libri_css/asr1/conf/specaug.yaml
  egs/libri_css/asr1/diarization/README
  egs/libri_css/asr1/diarization/VB_diarization.py
  egs/libri_css/asr1/diarization/calc_cossim_scores.py
  egs/libri_css/asr1/diarization/cluster.sh
  egs/libri_css/asr1/diarization/make_rttm.py
  egs/libri_css/asr1/diarization/nnet3/xvector/extract_xvectors.sh
  egs/libri_css/asr1/diarization/nnet3/xvector/score_plda.sh
  egs/libri_css/asr1/diarization/scluster.sh
  egs/libri_css/asr1/diarization/score_cossim.sh
  egs/libri_css/asr1/diarization/spec_clust.py
  egs/libri_css/asr1/diarization/vb_hmm_xvector.py
  egs/libri_css/asr1/diarization/vb_hmm_xvector.sh
  egs/libri_css/asr1/local/best_wer_matching.py
  egs/libri_css/asr1/local/convert_rttm_to_utt2spk_and_segments.py
  egs/libri_css/asr1/local/data_download.sh
  egs/libri_css/asr1/local/data_prep_mono.sh
  egs/libri_css/asr1/local/diarize.sh
  egs/libri_css/asr1/local/download_asr.sh
  egs/libri_css/asr1/local/download_xvector.sh
  egs/libri_css/asr1/local/get_perspeaker_output.py
  egs/libri_css/asr1/local/multispeaker_score.sh
  egs/libri_css/asr1/local/nnet3/xvector/prepare_feats.sh
  egs/libri_css/asr1/local/prepare_data.py
  egs/libri_css/asr1/local/score.sh
  egs/libri_css/asr1/local/score_reco_diarized.sh
  egs/libri_css/asr1/local/score_reco_oracle.sh
  egs/libri_css/asr1/local/segment.sh
  egs/libri_css/asr1/local/segment_diarize_oracle.sh
  egs/libri_css/asr1/local/segmentation/apply_webrtcvad.py
  egs/libri_css/asr1/local/wer_output_filter
  egs/libri_css/asr1/path.sh
  egs/libri_css/asr1/run.sh
  egs/libri_css/asr1/sid
  egs/libri_css/asr1/steps
  egs/libri_css/asr1/utils
Labels: ASR, ESPnet1, Recipe

#2452 ADD CSJ RNN pretrained model
  README.md
  egs/csj/asr1/RESULTS.md
Labels: ESPnet1, README

#2453 Install warpctc-pytorch wheel when torch version is 1.1, 1.2 or 1.3
  espnet/nets/pytorch_backend/ctc.py
  tools/check_install.py
  tools/installers/install_warp-ctc.sh
Labels: ESPnet1, Installation

#2435 Update for the Official Split of YM Recipe
  egs/yoloxochitl_mixtec/asr1/RESULTS.md
  egs/yoloxochitl_mixtec/asr1/run.sh
Labels: ASR, ESPnet1, Recipe

#2455 Update CommonVoice for Latest Version
  egs/commonvoice/asr1/local/filter_text.py
  egs/commonvoice/asr1/local/split_tr_dt_et.sh
  egs/commonvoice/asr1/run.sh
  egs2/commonvoice/asr1/local/data.sh
  egs2/commonvoice/asr1/local/filter_text.py
  egs2/commonvoice/asr1/local/split_tr_dt_et.sh
  egs2/commonvoice/asr1/run.sh
Labels: ASR, ESPnet1, ESPnet2, Recipe

#2461 Make espnet2 tts test faster
  test/espnet2/tts/test_fastspeech.py
  test/espnet2/tts/test_fastspeech2.py
  test/espnet2/tts/test_tacotron2.py
  test/espnet2/tts/test_transformer.py
Labels: CI, auto-merge

#2457 Support Debian9 and CentOS7 in Github Actions
  .github/workflows/centos7.yml
  .github/workflows/debian9.yml
  egs/mini_an4/asr_mix1/cmd.sh
  egs/mini_an4/tts1/cmd.sh
Labels: CI, ESPnet1

#2462 Make test_(batch_)beam_search.py faster.
  espnet/nets/pytorch_backend/transformer/decoder.py
  test/test_batch_beam_search.py
  test/test_beam_search.py
Labels: CI, ESPnet1, auto-merge

#2468 Update ESPnet2 TTS config
  egs2/csmsc/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/csmsc/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/csmsc/tts1/conf/tuning/train_fastspeech.yaml
  egs2/csmsc/tts1/conf/tuning/train_fastspeech2.yaml
  egs2/csmsc/tts1/conf/tuning/train_tacotron2.yaml
  egs2/csmsc/tts1/conf/tuning/train_transformer.yaml
  egs2/jsut/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/jsut/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/jsut/tts1/conf/tuning/train_fastspeech.yaml
  egs2/jsut/tts1/conf/tuning/train_fastspeech2.yaml
  egs2/jsut/tts1/conf/tuning/train_tacotron2.yaml
  egs2/jsut/tts1/conf/tuning/train_transformer.yaml
  egs2/ljspeech/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/ljspeech/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/ljspeech/tts1/conf/tuning/train_fastspeech.yaml
  egs2/ljspeech/tts1/conf/tuning/train_fastspeech2.yaml
  egs2/ljspeech/tts1/conf/tuning/train_tacotron2.yaml
  egs2/ljspeech/tts1/conf/tuning/train_transformer.yaml
  egs2/vctk/tts1/conf/tuning/train_gst_conformer_fastspeech2.yaml
  egs2/vctk/tts1/conf/tuning/train_gst_fastspeech.yaml
  egs2/vctk/tts1/conf/tuning/train_gst_fastspeech2.yaml
  egs2/vctk/tts1/conf/tuning/train_gst_tacotron2.yaml
  egs2/vctk/tts1/conf/tuning/train_gst_transformer.yaml
Labels: ESPnet2, Refactoring, TTS, auto-merge

#2469 Fix wrong sum axis in energy extraction
  espnet2/tts/feats_extract/energy.py
  test/espnet2/tts/feats_extract/test_energy.py
Labels: Bugfix, ESPnet2, TTS, auto-merge

#2467 Add codecov actions.
  .github/workflows/ci.yaml
  .github/workflows/debian9.yml
Labels: CI, auto-merge

#2470 Fix typo in help comment and docstrings
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/tts/variance_predictor.py
Labels: ESPnet2, Typo, auto-merge

#2472 fix typo of log_level choices
  espnet2/bin/aggregate_stats_dirs.py
  espnet2/bin/asr_inference.py
  espnet2/bin/enh_inference.py
  espnet2/bin/enh_scoring.py
  espnet2/bin/lm_calc_perplexity.py
  espnet2/bin/split_scps.py
  espnet2/bin/tokenize_text.py
  espnet2/bin/tts_inference.py
Labels: Bugfix, ESPnet2, auto-merge

#2473 fixed typo in egs/README.md
  egs/README.md
Labels: ESPnet1, README, Typo, auto-merge

#2465 Add ESPnet2 TTS finetuning example recipe (JVS)
  egs/jsut/tts1/local/download.sh
  egs/jvs/tts1/local/data_download.sh
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/asr1/pyscripts/utils/make_token_list_from_config.py
  egs2/TEMPLATE/tts1/README.md
  egs2/jvs/tts1/README.md
  egs2/jvs/tts1/cmd.sh
  egs2/jvs/tts1/conf/decode.yaml
  egs2/jvs/tts1/conf/finetune.yaml
  egs2/jvs/tts1/conf/pbs.conf
  egs2/jvs/tts1/conf/queue.conf
  egs2/jvs/tts1/conf/slurm.conf
  egs2/jvs/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/jvs/tts1/conf/tuning/finetune_tacotron2.yaml
  egs2/jvs/tts1/db.sh
  egs2/jvs/tts1/local/data.sh
  egs2/jvs/tts1/local/data_download.sh
  egs2/jvs/tts1/local/data_prep.sh
  egs2/jvs/tts1/local/path.sh
  egs2/jvs/tts1/path.sh
  egs2/jvs/tts1/pyscripts
  egs2/jvs/tts1/run.sh
  egs2/jvs/tts1/scripts
  egs2/jvs/tts1/steps
  egs2/jvs/tts1/tts.sh
  egs2/jvs/tts1/utils
  espnet2/tasks/abs_task.py
Labels: ESPnet1, ESPnet2, README, Recipe, TTS

#2464 Make test_e2e_{asr,st,mt}_{transformer,conformer}.py faster.
  test/test_e2e_asr_conformer.py
  test/test_e2e_asr_transformer.py
  test/test_e2e_mt_transformer.py
  test/test_e2e_st_transformer.py
Labels: CI

#2440 Fix HKUST recipe
  ci/install.sh
  egs/hkust/asr1/local/hkust_data_prep.sh
  egs/hkust/asr1/run.sh
  tools/Makefile
  tools/installers/install_py3mmseg.sh
Labels: CI, ESPnet1, Installation

#2460 Fix the CommonPreprocessor_multi missing issue
  espnet2/train/preprocessor.py
Labels: Bugfix, ESPnet2

#2476 Fix the installation error in CI
  ci/install.sh
  setup.py
Labels: Bugfix, CI, Installation, auto-merge

#2480 make test_e2e_asr_mulenc.py faster
  test/test_e2e_asr_mulenc.py
Labels: ASR, CI, ESPnet1, auto-merge

#2482 Refactor length regulator to improve the speed
  espnet/nets/pytorch_backend/e2e_tts_fastspeech.py
  espnet/nets/pytorch_backend/fastspeech/length_regulator.py
  espnet2/tts/fastspeech.py
  espnet2/tts/fastspeech2.py
  test/test_e2e_tts_fastspeech.py
Labels: ESPnet1, ESPnet2, Refactoring, TTS

#2484 Fixed IndexError in BatchBeamSearch.post_process() (#2483)
  espnet/nets/batch_beam_search.py
Labels: Bugfix, ESPnet1, auto-merge

#2489 Make test_beamformer_net.py faster
  test/espnet2/enh/nets/test_beamformer_net.py
Labels: CI, SE, auto-merge

#2491 shorten test time for tasnet
  test/espnet2/enh/nets/test_tasnet.py
Labels: CI, SE, auto-merge

#2481 Remove all __future__ lines
  egs/an4/asr1/local/data_prep.py
  egs/csj/asr1/local/csj_rm_tag.py
  egs/iwslt18/st1/local/ctm2segments.py
  egs/jnas/asr1/local/filter_text.py
  egs/libri_trans/st1/local/concat_json_multiref.py
  egs/mini_an4/asr1/local/data_prep.py
  egs/mini_an4/asr_mix1/local/data_prep.py
  egs/voxforge/asr1/local/filter_text.py
  espnet/asr/chainer_backend/asr.py
  espnet/lm/chainer_backend/extlm.py
  espnet/lm/chainer_backend/lm.py
  espnet/lm/pytorch_backend/extlm.py
  espnet/nets/chainer_backend/rnn/training.py
  utils/addjson.py
  utils/concatjson.py
  utils/filt.py
  utils/json2text.py
  utils/merge_scp2json.py
  utils/mergejson.py
  utils/result2json.py
  utils/scp2json.py
  utils/splitjson.py
  utils/spm_decode
  utils/spm_encode
  utils/text2token.py
  utils/trim_silence.py
Labels: ASR, ESPnet1, LM, Refactoring, auto-merge

#2492 fix multigpu bug if pytorch>=1.5
  espnet/lm/pytorch_backend/extlm.py
  espnet/nets/pytorch_backend/ctc.py
  espnet/nets/pytorch_backend/e2e_asr_mix.py
  espnet/nets/pytorch_backend/lm/default.py
  espnet/nets/pytorch_backend/nets_utils.py
  espnet/nets/pytorch_backend/rnn/attentions.py
  espnet/nets/pytorch_backend/rnn/decoders.py
  espnet/nets/pytorch_backend/rnn/encoders.py
Labels: Bugfix, ESPnet1, LM, auto-merge

#2493 Make test_e2e_asr_maskctc.py faster.
  test/test_e2e_asr_maskctc.py
Labels: ASR, CI

#2486 Make test_recog.py faster
  test/test_recog.py
Labels: ASR, CI, auto-merge

#2488 Make test_e2e_asr.py faster
  test/test_e2e_asr.py
Labels: ASR, CI, auto-merge

#2494 Update Transformer-TTS config
  egs2/csmsc/tts1/conf/tuning/train_transformer.yaml
  egs2/jsut/tts1/conf/tuning/train_transformer.yaml
  egs2/ljspeech/tts1/conf/tuning/train_transformer.yaml
  egs2/vctk/tts1/conf/tuning/train_gst_transformer.yaml
Labels: ESPnet2, Enhancement, TTS, auto-merge

#2497 Update ESPnet2 CSJ Transformer results
  egs2/csj/asr1/README.md
  egs2/csj/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/csj/asr1/run.sh
Labels: ASR, ESPnet2, README, Recipe, auto-merge

#2498 Fix TTS inference bug for GST + Fastspeech2
  espnet2/tts/espnet_model.py
Labels: Bugfix, ESPnet2, TTS, auto-merge

#2500 Update shellcheck url.
  ci/install.sh
  ci/test_shell.sh
  egs/reverb/asr1_multich/run.sh
  egs/timit_ssc/ssr1/run.sh
  tools/extra_path.sh
  tools/setup_anaconda.sh
  tools/setup_cuda_env.sh
  tools/setup_python.sh
  tools/setup_venv.sh
  utils/asr_align_wav.sh
Labels: CI, ESPnet1, Installation, auto-merge

#2502 Update Transformer-TTS configs
  egs2/csmsc/tts1/conf/tuning/train_transformer.yaml
  egs2/jsut/tts1/conf/tuning/train_transformer.yaml
  egs2/ljspeech/tts1/conf/tuning/train_transformer.yaml
  egs2/vctk/tts1/conf/tuning/train_gst_transformer.yaml
Labels: ESPnet2, Recipe, TTS, auto-merge

#2503 Add results for ESPnet2 TTS
  egs2/csmsc/tts1/README.md
  egs2/jsut/tts1/README.md
  egs2/ljspeech/tts1/README.md
  egs2/vctk/tts1/README.md
Labels: ESPnet2, README, Recipe, TTS, auto-merge

#2504 Update README
  README.md
  utils/synth_wav.sh
Labels: Documentation, README, auto-merge

#2501 Refactor decoding for translation tasks
  espnet/bin/mt_trans.py
  espnet/bin/st_trans.py
  espnet/mt/pytorch_backend/mt.py
  espnet/nets/pytorch_backend/e2e_mt_transformer.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
  espnet/st/pytorch_backend/st.py
Labels: ESPnet1, Enhancement, MT, Refactoring, ST, auto-merge

#2510 add conformer results for librispeech
  README.md
  egs/librispeech/asr1/RESULTS.md
  egs/librispeech/asr1/conf/train.yaml
  egs/librispeech/asr1/conf/tuning/train_pytorch_conformer_large.yaml
Labels: ASR, ESPnet1, README, Recipe

#2509 Docker Updates
  docker/prebuilt/devel/Dockerfile
  docker/prebuilt/devel/gpu/10.1/cudnn7/Dockerfile
  docker/prebuilt/local/Dockerfile
  docker/prebuilt/runtime/Dockerfile
Labels: Docker

#2514 Small fixes for transducer
  doc/tutorial.md
  espnet/nets/pytorch_backend/transducer/causal_conv1d.py
  espnet/nets/pytorch_backend/transducer/loss.py
  espnet/nets/pytorch_backend/transducer/rnn_att_decoder.py
  espnet/nets/pytorch_backend/transducer/rnn_decoder.py
  espnet/nets/pytorch_backend/transducer/tdnn.py
  espnet/nets/pytorch_backend/transducer/transformer_decoder_layer.py
  espnet/nets/pytorch_backend/transducer/transformer_encoder.py
  espnet/nets/pytorch_backend/transducer/vgg2l.py
  test/test_e2e_asr_sa_transducer.py
  test/test_e2e_asr_transducer.py
Labels: Documentation, ESPnet1, auto-merge

#2516 Update ESPnet2 TTS README
  egs2/TEMPLATE/tts1/README.md
  egs2/csmsc/tts1/README.md
  egs2/csmsc/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/csmsc/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/csmsc/tts1/conf/tuning/train_fastspeech.yaml
  egs2/csmsc/tts1/conf/tuning/train_fastspeech2.yaml
  egs2/jsut/tts1/README.md
  egs2/jsut/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/jsut/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/jsut/tts1/conf/tuning/train_fastspeech.yaml
  egs2/jsut/tts1/conf/tuning/train_fastspeech2.yaml
  egs2/jvs/tts1/README.md
  egs2/ljspeech/tts1/README.md
  egs2/ljspeech/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/ljspeech/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/ljspeech/tts1/conf/tuning/train_fastspeech.yaml
  egs2/ljspeech/tts1/conf/tuning/train_fastspeech2.yaml
  egs2/vctk/tts1/README.md
  egs2/vctk/tts1/conf/tuning/train_gst_conformer_fastspeech2.yaml
  egs2/vctk/tts1/conf/tuning/train_gst_fastspeech.yaml
  egs2/vctk/tts1/conf/tuning/train_gst_fastspeech2.yaml
  espnet2/tts/fastspeech.py
  espnet2/tts/fastspeech2.py
  espnet2/tts/transformer.py
Labels: Documentation, ESPnet2, README, TTS, auto-merge

#2517 Fix typo in README
  egs2/TEMPLATE/tts1/README.md
  egs2/csmsc/tts1/README.md
  egs2/jsut/tts1/README.md
  egs2/ljspeech/tts1/README.md
  egs2/vctk/tts1/README.md
Labels: ESPnet2, README, Typo, auto-merge

#2506 Unify arguments
  espnet/nets/pytorch_backend/e2e_asr.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_mt.py
  espnet/nets/pytorch_backend/e2e_mt_transformer.py
  espnet/nets/pytorch_backend/e2e_st.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
  espnet/nets/pytorch_backend/rnn/argument.py
  espnet/nets/pytorch_backend/transformer/argument.py
Labels: ASR, ESPnet1, MT, Refactoring, ST

#2525 Change add_scalars to add_scalar for tensorboard SummaryWriter
  espnet2/train/reporter.py
Labels: ESPnet2, Refactoring, auto-merge

#2451 Support audio_format=flac.ark, wav.ark
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/tasks/abs_task.py
  espnet2/train/dataset.py
  espnet2/train/iterable_dataset.py
  setup.py
  test/espnet2/train/test_dataset.py
  test/espnet2/train/test_iterable_dataset.py
Labels: ESPnet2, Installation, New Features

#2527 Modify uttid to "${spkid}-${uttid}" for trn files
  egs2/TEMPLATE/asr1/asr.sh
Labels: Refactoring, auto-merge

#2528 Update espnet2_tutorial.md
  doc/espnet2_tutorial.md
Labels: Documentation, auto-merge

#2529 remove cleaner
  egs2/TEMPLATE/asr1/asr.sh
Labels: Bugfix, ESPnet2, auto-merge

#2520 Limit test execution time to 2.0 sec
  CONTRIBUTING.md
  setup.cfg
  setup.py
  test/espnet2/bin/test_asr_inference.py
  test/espnet2/bin/test_tts_inference.py
  test/espnet2/schedulers/test_warmup_lr.py
  test/espnet2/text/test_phoneme_tokenizer.py
  test/espnet2/utils/test_sized_dict.py
  test/test_e2e_asr_mulenc.py
  test/test_recog.py
Labels: CI, ESPnet2, Installation, auto-merge

#2532 Update espnet2_tutorial.md
  doc/espnet2_tutorial.md
Labels: Documentation, auto-merge

#2534 Update espnet2_tutorial.md
  doc/espnet2_tutorial.md
Labels: Documentation, auto-merge

#2535 CTC segmentation - checks for blank chars and RNN models
  README.md
  espnet/bin/asr_align.py
  utils/asr_align_wav.sh
Labels: ESPnet1, README

#2519 Update h5py version to avoid errors in Python3.8
  setup.py
Labels: Installation, auto-merge
