Repository espnet/espnet, pull requests merged in 2020-11, with the labels that each got.

#2619 python setup.py install -> pip install -e
  tools/installers/install_chainer_ctc.sh
  tools/installers/install_kenlm.sh
  tools/installers/install_py3mmseg.sh
  tools/installers/install_warp-ctc.sh
  tools/installers/install_warp-rnnt.sh
  tools/installers/install_warp-transducer.sh
Labels: Installation, auto-merge

#2617 add librispeech conformer w/ speed perturbation + specaug
  README.md
  egs/librispeech/asr1/RESULTS.md
  egs/librispeech/asr1/run.sh
Labels: ESPnet1, README, Recipe

#2613 Extend model averaging condition in run scripts
  egs/aidatatang_200zh/asr1/run.sh
  egs/aishell/asr1/run.sh
  egs/aishell2/asr1/run.sh
  egs/aurora4/asr1/run.sh
  egs/chime4/asr1/run.sh
  egs/chime5/asr1/run.sh
  egs/chime6/asr1/run.sh
  egs/commonvoice/asr1/run.sh
  egs/csj/asr1/run.sh
  egs/dipco/asr1/run.sh
  egs/dirha_wsj/asr1/run.sh
  egs/fisher_callhome_spanish/asr1b/run.sh
  egs/hkust/asr1/run.sh
  egs/how2/asr1/run.sh
  egs/iwslt18/asr1/run.sh
  egs/iwslt19/asr1/run.sh
  egs/jsut/asr1/run.sh
  egs/ksponspeech/asr1/run.sh
  egs/li10/asr1/run.sh
  egs/li42/asr1/run.sh
  egs/libri_trans/asr1/run.sh
  egs/librispeech/asr1/run.sh
  egs/mgb2/asr1/run.sh
  egs/mini_an4/asr1/run.sh
  egs/must_c/asr1/run.sh
  egs/polyphone_swiss_french/asr1/run.sh
  egs/ru_open_stt/asr1/run.sh
  egs/swbd/asr1/run.sh
  egs/tedlium2/asr1/run.sh
  egs/tedlium3/asr1/run.sh
  egs/timit_ssc/ssr1/run.sh
  egs/vivos/asr1/run.sh
  egs/voxforge/asr1/run.sh
  egs/wsj/asr1/run.sh
  egs/wsj_mix/asr1/run.sh
  egs/yoloxochitl_mixtec/asr1/run.sh
Labels: ESPnet1, Recipe

#2623 Fix flooring for global_mvn.py
  espnet2/layers/global_mvn.py
Labels: Bugfix, ESPnet2, auto-merge

#2625 Add $token_type to asr_tag and lm_tag
  egs2/TEMPLATE/asr1/asr.sh
Labels: ASR, ESPnet2, auto-merge

#2624 Update KsponSpeech conformer results
  egs/ksponspeech/asr1/RESULTS.md
  egs/ksponspeech/asr1/conf/train.yaml
  egs/ksponspeech/asr1/conf/tuning/train_pytorch_conformer_large.yaml
  egs/ksponspeech/asr1/local/remove_punctuation.pl
  egs/ksponspeech/asr1/run.sh
Labels: ASR, ESPnet1, Recipe

#2628 Update WSJ result
  egs2/wsj/asr1/README.md
  egs2/wsj/asr1/conf/decode.conf
  egs2/wsj/asr1/conf/train_lm_rnn.yaml
  egs2/wsj/asr1/conf/train_lm_transformer.yaml
  egs2/wsj/asr1/conf/tuning/train_lm_transformer.yaml
Labels: ASR, ESPnet2, README, auto-merge

#2636 Update recent result in README.md
  README.md
Labels: README, auto-merge

#2634 Fix various issues of arctic/vc1
  egs/arctic/vc1/README.md
  egs/arctic/vc1/conf/tuning/train_pytorch_transformer.nopt.v1.1.n80.single.yaml
  egs/arctic/vc1/conf/tuning/train_pytorch_transformer.nopt.v1.1.single.yaml
  egs/arctic/vc1/conf/tuning/train_pytorch_transformer.tts_pt.v1.1.n80.single.yaml
  egs/arctic/vc1/conf/tuning/train_pytorch_transformer.tts_pt.v1.1.single.yaml
  egs/arctic/vc1/local/pretrained_model_download.sh
  egs/arctic/vc1/run.sh
Labels: Bugfix, ESPnet1, README

#2637 Save model snapshot at every epoch even if save_interval_iters>0 - for model averaging
  espnet/asr/pytorch_backend/asr.py
Labels: ASR, ESPnet1

#2622 Docker flags for extra libraries (VC)
  docker/prebuilt/Dockerfile
  docker/run.sh
Labels: Docker

#2639 Fix wsj recipe
  egs2/wsj/asr1/conf/decode.yaml
  egs2/wsj/asr1/run.sh
Labels: ASR, ESPnet2, auto-merge

#2642 Update Voxforge with Conformer results
  egs/voxforge/asr1/RESULTS.md
  egs/voxforge/asr1/conf/train.yaml
  egs/voxforge/asr1/conf/tuning/train_pytorch_conformer.yaml
Labels: ASR, ESPnet1, Recipe

#2650 Update TTS README.md
  egs2/TEMPLATE/tts1/README.md
Labels: Documentation, ESPnet2, README, TTS, auto-merge

#2656 bug fix for pytorch1.7
  espnet/nets/pytorch_backend/rnn/encoders.py
  espnet/nets/pytorch_backend/tacotron2/cbhg.py
  espnet/nets/pytorch_backend/tacotron2/encoder.py
Labels: Bugfix, ESPnet1, auto-merge

#2654 lang was being used before being parsed for user input
  egs/commonvoice/asr1/run.sh
Labels: ASR, ESPnet1, Recipe

#2659 Update README.md
  egs2/librispeech/asr1/README.md
Labels: ASR, ESPnet2, README, Recipe

#2661 CTC segmentation 1.4.0 feature updates
  espnet/bin/asr_align.py
  setup.py
  test/test_ctc_segmentation.py
  utils/asr_align_wav.sh
Labels: ESPnet1, Enhancement, Installation

#2660 ASR template recipe: --srctexts -> --lm_train_text, --bpe_train_text
  egs2/TEMPLATE/asr1/asr.sh
  egs2/aishell/asr1/run.sh
  egs2/ami/asr1/run.sh
  egs2/an4/asr1/run.sh
  egs2/babel/asr1/run.sh
  egs2/chime4/asr1/run.sh
  egs2/commonvoice/asr1/run.sh
  egs2/csj/asr1/run.sh
  egs2/dirha_wsj/asr1/run.sh
  egs2/how2/asr1/run.sh
  egs2/jsut/asr1/run.sh
  egs2/librispeech/asr1/run.sh
  egs2/mini_an4/asr1/run.sh
  egs2/vivos/asr1/run.sh
  egs2/voxforge/asr1/run.sh
  egs2/wsj/asr1/run.sh
  egs2/yesno/asr1/run.sh
  egs2/zeroth_korean/asr1/run.sh
Labels: ASR, ESPnet2, Recipe, auto-merge

#2672 Added unicode support for generated configs
  espnet2/utils/yaml_no_alias_safe_dump.py
Labels: ESPnet2, Refactoring

#2680 Add --init_param option
  doc/espnet2_training_option.md
  espnet2/tasks/abs_task.py
  espnet2/torch_utils/load_pretrained_model.py
  test/espnet2/torch_utils/test_load_pretrained_model.py
Labels: Documentation, ESPnet2, Enhancement

#2685 Update README about fine-tuning
  egs2/TEMPLATE/tts1/README.md
  egs2/jvs/tts1/README.md
Labels: Documentation, ESPnet2, Question, README, TTS, auto-merge

#2681 Enable multi-thread processing of json files.
  egs/librispeech/asr1/run.sh
Labels: ASR, ESPnet1, Recipe

#2687 espnet2 librispeech with conformer
  egs2/librispeech/asr1/README.md
  egs2/librispeech/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/librispeech/asr1/run.sh
Labels: ASR, ESPnet2, README, Recipe

#2691 espnet2 reverb recipe
  egs/reverb/asr1/local/run_beamform.sh
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/db.sh
  egs2/reverb/asr1/README.md
  egs2/reverb/asr1/asr.sh
  egs2/reverb/asr1/cmd.sh
  egs2/reverb/asr1/conf/decode.yaml
  egs2/reverb/asr1/conf/fbank.conf
  egs2/reverb/asr1/conf/pbs.conf
  egs2/reverb/asr1/conf/pitch.conf
  egs2/reverb/asr1/conf/queue.conf
  egs2/reverb/asr1/conf/reverb_beamformit.cfg
  egs2/reverb/asr1/conf/slurm.conf
  egs2/reverb/asr1/conf/train_asr_transformer.yaml
  egs2/reverb/asr1/conf/train_lm_transformer.yaml
  egs2/reverb/asr1/conf/tuning/decode.yaml
  egs2/reverb/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/reverb/asr1/conf/tuning/train_lm_transformer.yaml
  egs2/reverb/asr1/db.sh
  egs2/reverb/asr1/local/Generate_mcTrainData_cut.m
  egs2/reverb/asr1/local/PESQ_sources/P.862.pdf
  egs2/reverb/asr1/local/compute_se_scores.sh
  egs2/reverb/asr1/local/data.sh
  egs2/reverb/asr1/local/dot2scp.py
  egs2/reverb/asr1/local/download_se_eval_tool.sh
  egs2/reverb/asr1/local/filterjson.py
  egs2/reverb/asr1/local/find_transcripts.pl
  egs2/reverb/asr1/local/find_transcripts_singledot.pl
  egs2/reverb/asr1/local/find_transcripts_txt.pl
  egs2/reverb/asr1/local/flist2scp.pl
  egs2/reverb/asr1/local/generate_data.sh
  egs2/reverb/asr1/local/get_results.sh
  egs2/reverb/asr1/local/mlf2text.pl
  egs2/reverb/asr1/local/ndx2flist.pl
  egs2/reverb/asr1/local/normalize_transcript.pl
  egs2/reverb/asr1/local/path.sh
  egs2/reverb/asr1/local/prepare_real_data.sh
  egs2/reverb/asr1/local/prepare_simu_data.sh
  egs2/reverb/asr1/local/prepare_wsjcam0.sh
  egs2/reverb/asr1/local/run_beamform.sh
  egs2/reverb/asr1/local/run_wpe.py
  egs2/reverb/asr1/local/run_wpe.sh
  egs2/reverb/asr1/local/score.sh
  egs2/reverb/asr1/local/score_RealData.patch
  egs2/reverb/asr1/local/score_SimData.patch
  egs2/reverb/asr1/local/wsj_data_prep.sh
  egs2/reverb/asr1/local/wsj_format_data.sh
  egs2/reverb/asr1/path.sh
  egs2/reverb/asr1/pyscripts
  egs2/reverb/asr1/run.sh
  egs2/reverb/asr1/steps
  egs2/reverb/asr1/utils
  tools/Makefile
  tools/installers/install_beamformit.sh
Labels: ASR, ESPnet1, ESPnet2, Installation, README, Recipe, auto-merge

#2693 Delete garbage
  egs2/reverb/asr1/local/PESQ_sources/P.862.pdf
Labels: ESPnet2, auto-merge

#2696 modify for zsh: tools/extra_path.sh
  tools/extra_path.sh
Labels: Installation, Refactoring, auto-merge

#2697 Update Switchboard with conformer results
  README.md
  egs/swbd/asr1/RESULTS.md
  egs/swbd/asr1/conf/lm.yaml
  egs/swbd/asr1/conf/train.yaml
  egs/swbd/asr1/conf/tuning/lm.yaml
  egs/swbd/asr1/conf/tuning/lm_transformer.yaml
  egs/swbd/asr1/conf/tuning/train_pytorch_conformer_lr5.yaml
  egs/swbd/asr1/run.sh
Labels: ASR, ESPnet1, README, Recipe

#2699 Add ignore_nan_grad option for CTC
  espnet2/asr/ctc.py
Labels: ASR, ESPnet2, New Features, auto-merge

#2702 Fix small bug of tensorboard part
  espnet2/train/trainer.py
Labels: Bugfix, ESPnet2, auto-merge

#2704 Fix token averaged feature the case when r > 1
  espnet2/tasks/tts.py
  espnet2/tts/feats_extract/dio.py
  espnet2/tts/feats_extract/energy.py
  test/espnet2/tts/feats_extract/test_dio.py
  test/espnet2/tts/feats_extract/test_energy.py
Labels: Bug, ESPnet2, TTS

#2705 Touching common modules before the main Enh PR
  ci/install.sh
  espnet2/asr/espnet_model.py
  espnet2/asr/frontend/default.py
  espnet2/bin/aggregate_stats_dirs.py
  espnet2/bin/enh_inference.py
  espnet2/layers/stft.py
  espnet2/main_funcs/average_nbest_models.py
  espnet2/samplers/build_batch_sampler.py
  espnet2/samplers/folded_batch_sampler.py
  espnet2/samplers/unsorted_batch_sampler.py
  espnet2/tasks/abs_task.py
  espnet2/train/iterable_dataset.py
  espnet2/train/trainer.py
Labels: CI, ESPnet2, New Features, auto-merge

#2707 Wandb integration
  doc/espnet2_training_option.md
  espnet2/tasks/abs_task.py
  espnet2/train/reporter.py
  espnet2/train/trainer.py
  setup.py
Labels: Documentation, ESPnet2, Installation, New Features, auto-merge

#2568 ESPnet2 recipe for TIMIT
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/db.sh
  egs2/timit/asr1/README.md
  egs2/timit/asr1/asr.sh
  egs2/timit/asr1/cmd.sh
  egs2/timit/asr1/conf/decode_asr.yaml
  egs2/timit/asr1/conf/dev_spk.list
  egs2/timit/asr1/conf/fbank.conf
  egs2/timit/asr1/conf/pbs.conf
  egs2/timit/asr1/conf/phones.60-48-39.map
  egs2/timit/asr1/conf/pitch.conf
  egs2/timit/asr1/conf/queue.conf
  egs2/timit/asr1/conf/slurm.conf
  egs2/timit/asr1/conf/test_spk.list
  egs2/timit/asr1/conf/train_asr.yaml
  egs2/timit/asr1/conf/train_lm_rnn.yaml
  egs2/timit/asr1/conf/train_lm_transformer.yaml
  egs2/timit/asr1/conf/tuning/decode_rnn.yaml
  egs2/timit/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/timit/asr1/conf/tuning/train_lm_rnn.yaml
  egs2/timit/asr1/conf/tuning/train_lm_transformer.yaml
  egs2/timit/asr1/db.sh
  egs2/timit/asr1/local/data.sh
  egs2/timit/asr1/local/path.sh
  egs2/timit/asr1/local/timit_data_prep.sh
  egs2/timit/asr1/local/timit_format_data.sh
  egs2/timit/asr1/local/timit_norm_trans.pl
  egs2/timit/asr1/path.sh
  egs2/timit/asr1/pyscripts
  egs2/timit/asr1/run.sh
  egs2/timit/asr1/scripts
  egs2/timit/asr1/steps
  egs2/timit/asr1/utils
Labels: ASR, ESPnet2, README, Recipe, auto-merge

#2708 Update wandb part
  espnet2/tasks/abs_task.py
  espnet2/train/reporter.py
Labels: ESPnet2, Enhancement, auto-merge

#2709 Fix wandb mode with multi gpus
  espnet2/tasks/abs_task.py
Labels: Bugfix, ESPnet2, auto-merge

#2703 Laborotv recipe
  egs2/TEMPLATE/asr1/db.sh
  egs2/laborotv/asr1/README.md
  egs2/laborotv/asr1/asr.sh
  egs2/laborotv/asr1/cmd.sh
  egs2/laborotv/asr1/conf/decode_asr.yaml
  egs2/laborotv/asr1/conf/pbs.conf
  egs2/laborotv/asr1/conf/queue.conf
  egs2/laborotv/asr1/conf/slurm.conf
  egs2/laborotv/asr1/conf/train_asr_conformer.yaml
  egs2/laborotv/asr1/conf/train_asr_rnn.yaml
  egs2/laborotv/asr1/conf/train_asr_transformer.yaml
  egs2/laborotv/asr1/conf/train_lm.yaml
  egs2/laborotv/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/laborotv/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/laborotv/asr1/conf/tuning/train_asr_rnn_scheduler.yaml
  egs2/laborotv/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/laborotv/asr1/db.sh
  egs2/laborotv/asr1/local/csj_rm_tag.py
  egs2/laborotv/asr1/local/csj_rm_tag_sp_space.sh
  egs2/laborotv/asr1/local/data.sh
  egs2/laborotv/asr1/local/filter_scp.py
  egs2/laborotv/asr1/local/laborotv_data_prep.sh
  egs2/laborotv/asr1/local/path.sh
  egs2/laborotv/asr1/local/tedx-jp/10k_data_prep.sh
  egs2/laborotv/asr1/local/tedx-jp/all_to_10k_utt_map.txt
  egs2/laborotv/asr1/local/tedx-jp/make_raw_dir.py
  egs2/laborotv/asr1/local/tedx-jp/segments.patch
  egs2/laborotv/asr1/local/tedx-jp/tedx-jp-10k.csv
  egs2/laborotv/asr1/local/tedx-jp/text.patch
  egs2/laborotv/asr1/path.sh
  egs2/laborotv/asr1/pyscripts
  egs2/laborotv/asr1/run.sh
  egs2/laborotv/asr1/scripts
  egs2/laborotv/asr1/steps
  egs2/laborotv/asr1/utils
  setup.py
Labels: ASR, ESPnet2, Installation, README, Recipe

#2718 Add AISHELL w/o LM result
  egs2/aishell/asr1/README.md
Labels: ESPnet2, README, auto-merge

#2713 Corpus README in egs2
  egs2/README.md
Labels: ESPnet2, README, Recipe

#2719 update egs2/README.md
  egs2/README.md
Labels: ESPnet2, README

#2720 JSUT conformer recipe achieving 12.0/13.9 CER(%) for dev/eval1
  egs2/jsut/asr1/README.md
  egs2/jsut/asr1/conf/tuning/train_asr_conformer8.yaml
  egs2/jsut/asr1/run.sh
Labels: ESPnet2, README, Recipe, auto-merge

#2723 Update egs2 README
  egs2/README.md
Labels: Documentation, ESPnet2, README, auto-merge

#2724 Add *_stats_dir options in asr.sh
  egs2/TEMPLATE/asr1/asr.sh
Labels: ASR, ESPnet2, Enhancement, auto-merge

#2726 Use `nkf` in CSMSC data prep
  egs/csmsc/tts1/local/data_download.sh
  egs/csmsc/tts1/local/data_prep.sh
  egs2/csmsc/tts1/local/data.sh
  egs2/csmsc/tts1/local/path.sh
Labels: Bugfix, ESPnet1, ESPnet2, TTS, auto-merge
