Repository espnet/espnet, pull requests merged in 2020-05, with the labels that each got.

#1900 modified for registration to pypi
  .github/workflows/pythonpublish.yml
  README.md
  espnet/st/__init__.py
  espnet/tts/__init__.py
  setup.py
Labels: CI, README, auto-merge

#1906 fix reverse option for cmvn
  espnet/transform/cmvn.py
Labels: Bugfix, auto-merge

#1910 docs: added fbank link to the experiment readme
  egs/ru_open_stt/asr1/RESULTS.md
Labels: Documentation

#1923 avoid sentencepiece==0.1.90
  setup.py
Labels: Bugfix, auto-merge

#1917 Use cache in actions
  .github/workflows/ci.yaml
Labels: CI

#1927 Master to dev
  .github/workflows/ci.yaml
Labels: CI

#1930 Update installation.md
  doc/installation.md
Labels: Documentation, auto-merge

#1932 Update installation.md
  doc/installation.md
Labels: Documentation, auto-merge

#1909 Docker update
  doc/docker.md
  docker/build.sh
  docker/prebuilt/devel/Dockerfile
  docker/run.sh
Labels: Docker, Documentation

#1938 Update docs
  doc/faq.md
  doc/index.rst
  doc/installation.md
Labels: Documentation, auto-merge

#1934 fix freezing modules
  espnet/tts/pytorch_backend/tts.py
Labels: Bugfix

#1897 Finetuning doc + freezing parameters option
  doc/tutorial.md
  espnet/asr/pytorch_backend/asr.py
  espnet/asr/pytorch_backend/asr_init.py
  espnet/asr/pytorch_backend/asr_mix.py
  espnet/bin/asr_train.py
  espnet/mt/pytorch_backend/mt.py
  espnet/nets/pytorch_backend/transformer/optimizer.py
  espnet/st/pytorch_backend/st.py
  espnet/tts/pytorch_backend/tts.py
Labels: Documentation, New Features, README

#1952 Fix bug of espnet2 asr_inference.py
  espnet2/bin/asr_inference.py
Labels: ASR, Bugfix, ESPnet2, auto-merge

#1955 Update docs #1954
  doc/installation.md
Labels: Documentation, auto-merge

#1957 Update installation.md
  doc/installation.md
Labels: Documentation, auto-merge

#1959 Minor fix of import place and comments
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  utils/download_from_google_drive.sh
Labels: Refactoring, auto-merge

#1960 Update installation manual
  doc/installation.md
Labels: Documentation

#1966 Update installation.md
  doc/installation.md
Labels: Documentation, auto-merge

#1970 Minor fix for pytorch=1.5
  espnet2/train/trainer.py
Labels: Bugfix, ESPnet2, auto-merge

#1950 li42 recipe: add li42 results; fix bug in adding language id "zh_TW"
  egs/li42/asr1/RESULTS.md
  egs/li42/asr1/run.sh
Labels: ASR, Recipe

#1946 Implement Ngram scorer
  README.md
  ci/install.sh
  egs/aishell/asr1/RESULTS.md
  egs/aishell/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/aishell/asr1/path.sh
  egs/aishell/asr1/run.sh
  egs/tedlium2/asr1/path.sh
  espnet/asr/pytorch_backend/recog.py
  espnet/bin/asr_recog.py
  espnet/nets/scorers/ngram.py
  test/test.arpa
  test/test_ngram.py
  tools/Makefile
  tools/install_kenlm.sh
Labels: ASR, CI, New Features, README

#1976 Add espnet2 in ci/doc.sh
  ci/doc.sh
  doc/module2rst.py
Labels: CI, Documentation

#1983 Fix freezing modules (when using multi-gpu)
  espnet/tts/pytorch_backend/tts.py
Labels: Bugfix, Multiple GPUs

#1988 fixed typo in cmvn.py
  espnet/transform/cmvn.py
Labels: Bugfix
