Repository espnet/espnet, pull requests merged in 2020-07, with the labels that each got.

#2129 Add ESPnet2 CSMSC TTS recipe
  egs2/TEMPLATE/asr1/db.sh
  egs2/csmsc/tts1/cmd.sh
  egs2/csmsc/tts1/conf/decode.yaml
  egs2/csmsc/tts1/conf/fbank.conf
  egs2/csmsc/tts1/conf/pbs.conf
  egs2/csmsc/tts1/conf/queue.conf
  egs2/csmsc/tts1/conf/slurm.conf
  egs2/csmsc/tts1/conf/train.yaml
  egs2/csmsc/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/csmsc/tts1/conf/tuning/train_tacotron2.yaml
  egs2/csmsc/tts1/db.sh
  egs2/csmsc/tts1/local/data.sh
  egs2/csmsc/tts1/local/data_download.sh
  egs2/csmsc/tts1/path.sh
  egs2/csmsc/tts1/pyscripts
  egs2/csmsc/tts1/run.sh
  egs2/csmsc/tts1/scripts
  egs2/csmsc/tts1/steps
  egs2/csmsc/tts1/tts.sh
  egs2/csmsc/tts1/utils
  espnet2/bin/tokenize_text.py
  espnet2/tasks/tts.py
  espnet2/text/phoneme_tokenizer.py
  setup.py
  test/espnet2/text/test_phoneme_tokenizer.py
Labels: ESPnet2, Recipe

#2130 added more beam search info
  espnet/nets/beam_search.py
Labels: ASR, Bugfix

#2134 Support TTS-Transformer in ESPnet2
  espnet2/bin/tts_inference.py
  espnet2/tasks/tts.py
  espnet2/tts/espnet_model.py
  espnet2/tts/tacotron2.py
  espnet2/tts/transformer.py
  test/espnet2/tts/test_tacotron2.py
  test/espnet2/tts/test_transformer.py
Labels: ESPnet2, New Features

#2109 espnet2 librispeech recipe
  egs2/TEMPLATE/asr1/asr.sh
  egs2/librispeech/asr1/README.md
  egs2/librispeech/asr1/asr.sh
  egs2/librispeech/asr1/cmd.sh
  egs2/librispeech/asr1/conf/decode_asr.yaml
  egs2/librispeech/asr1/conf/fbank.conf
  egs2/librispeech/asr1/conf/pbs.conf
  egs2/librispeech/asr1/conf/pitch.conf
  egs2/librispeech/asr1/conf/queue.conf
  egs2/librispeech/asr1/conf/slurm.conf
  egs2/librispeech/asr1/conf/train_asr_transformer.yaml
  egs2/librispeech/asr1/conf/train_lm.yaml
  egs2/librispeech/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/librispeech/asr1/db.sh
  egs2/librispeech/asr1/local/data.sh
  egs2/librispeech/asr1/local/data_prep.sh
  egs2/librispeech/asr1/local/download_and_untar.sh
  egs2/librispeech/asr1/path.sh
  egs2/librispeech/asr1/pyscripts
  egs2/librispeech/asr1/run.sh
  egs2/librispeech/asr1/scripts
  egs2/librispeech/asr1/steps
  egs2/librispeech/asr1/utils
  test_utils/fixme_integration_test_ctc_align_wav.bats
Labels: ASR, ESPnet2, Recipe

#2142 fix dev_set/eval_sets issues
  egs2/TEMPLATE/README.md
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/tts1/tts.sh
  egs2/aishell/asr1/run.sh
  egs2/ami/asr1/run.sh
  egs2/an4/asr1/run.sh
  egs2/an4/tts1/run.sh
  egs2/babel/asr1/local/data.sh
  egs2/babel/asr1/local/setup_languages.sh
  egs2/babel/asr1/run.sh
  egs2/chime4/asr1/run.sh
  egs2/commonvoice/asr1/run.sh
  egs2/csj/asr1/run.sh
  egs2/csmsc/tts1/run.sh
  egs2/dirha_wsj/asr1/run.sh
  egs2/how2/asr1/run.sh
  egs2/jsut/asr1/run.sh
  egs2/jsut/tts1/run.sh
  egs2/librispeech/asr1/run.sh
  egs2/ljspeech/tts1/run.sh
  egs2/mini_an4/asr1/run.sh
  egs2/mini_an4/tts1/run.sh
  egs2/vivos/asr1/run.sh
  egs2/voxforge/asr1/local/data.sh
  egs2/voxforge/asr1/run.sh
  egs2/wsj/asr1/run.sh
  egs2/yesno/asr1/run.sh
  utils/ctc_align_wav.sh
Labels: ASR, ESPnet2, Recipe, TTS

#2153 fix best_model_criterion: wsj/asr1/conf/tuning/train_lm.yaml
  egs2/wsj/asr1/conf/tuning/train_lm.yaml
Labels: Bugfix, ESPnet2, auto-merge

#2150 update espnet2 aishell results
  egs2/aishell/asr1/README.md
  egs2/aishell/asr1/conf/train_asr_transformer.yaml
  egs2/aishell/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/aishell/asr1/conf/tuning/train_asr_transformer_lr0.002.yaml
Labels: ASR, ESPnet2, Recipe

#2145 Fix a bug in espnet wsj recipe.
  egs/wsj/asr1/local/filtering_samples.py
Labels: ASR, Recipe

#2158 Fix bug of when espnet2/bin/tokenize_text.py --cutoff or --vocabulary_size is used
  espnet2/bin/tokenize_text.py
Labels: Bugfix, ESPnet2

#2161 Change packed file of espnet2 to zip format
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/bin/pack.py
  espnet2/main_funcs/pack_funcs.py
  test/espnet2/main_funcs/test_pack_funcs.py
Labels: ESPnet2, Enhancement, auto-merge

#2139 Support GST in ESPnet2 TTS
  egs2/TEMPLATE/asr1/pyscripts/utils/get_yaml.py
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/bin/tts_inference.py
  espnet2/tasks/tts.py
  espnet2/tts/gst/style_encoder.py
  espnet2/tts/tacotron2.py
  espnet2/tts/transformer.py
  test/espnet2/tts/test_tacotron2.py
  test/espnet2/tts/test_transformer.py
Labels: ESPnet2, New Features, TTS

#2165 Add VCTK recipe for ESPnet2 TTS
  egs2/TEMPLATE/tts1/conf/fbank.conf
  egs2/csmsc/tts1/conf/fbank.conf
  egs2/ljspeech/tts1/conf/fbank.conf
  egs2/vctk/tts1/cmd.sh
  egs2/vctk/tts1/conf/decode.yaml
  egs2/vctk/tts1/conf/pbs.conf
  egs2/vctk/tts1/conf/queue.conf
  egs2/vctk/tts1/conf/slurm.conf
  egs2/vctk/tts1/conf/train.yaml
  egs2/vctk/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/vctk/tts1/conf/tuning/train_gst_tacotron2.yaml
  egs2/vctk/tts1/db.sh
  egs2/vctk/tts1/local/data.sh
  egs2/vctk/tts1/local/data_download.sh
  egs2/vctk/tts1/local/data_prep.sh
  egs2/vctk/tts1/pyscripts
  egs2/vctk/tts1/run.sh
  egs2/vctk/tts1/scripts
  egs2/vctk/tts1/steps
  egs2/vctk/tts1/tts.sh
  egs2/vctk/tts1/utils
Labels: ESPnet2, Recipe, TTS

#2157 Implement configargparse in espnet2
  espnet2/bin/asr_inference.py
  espnet2/bin/lm_calc_perplexity.py
  espnet2/bin/tts_inference.py
  espnet2/tasks/abs_task.py
  espnet2/utils/config_argparse.py
  espnet2/utils/nested_dict_action.py
  test/espnet2/utils/test_config_argparse.py
Labels: Bugfix, ESPnet2

#2149 Support FastSpeech for ESPnet2 TTS
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/bin/tts_inference.py
  espnet2/tasks/tts.py
  espnet2/tts/duration_calculator.py
  espnet2/tts/fastspeech.py
  test/espnet2/tts/test_fastspeech.py
Labels: ESPnet2, New Features, TTS

#2167 Add missing path.sh in egs2/vctk/tts1
  egs2/vctk/tts1/path.sh
Labels: Bugfix, ESPnet2

#2170 fix integration_test_ctc_align_wav.bats with a small model
  test_utils/integration_test_ctc_align_wav.bats
  utils/ctc_align_wav.sh
Labels: Bugfix, CI

#2085 New Recipe for Yoloxóchitl-Mixtec (SLR89)
  egs/README.md
  egs/yoloxochitl_mixtec/asr1/RESULTS.md
  egs/yoloxochitl_mixtec/asr1/cmd.sh
  egs/yoloxochitl_mixtec/asr1/conf/decode.yaml
  egs/yoloxochitl_mixtec/asr1/conf/fbank.conf
  egs/yoloxochitl_mixtec/asr1/conf/gpu.conf
  egs/yoloxochitl_mixtec/asr1/conf/lm.yaml
  egs/yoloxochitl_mixtec/asr1/conf/pitch.conf
  egs/yoloxochitl_mixtec/asr1/conf/queue.conf
  egs/yoloxochitl_mixtec/asr1/conf/slurm.conf
  egs/yoloxochitl_mixtec/asr1/conf/train.yaml
  egs/yoloxochitl_mixtec/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/yoloxochitl_mixtec/asr1/conf/tuning/decode_rnn.yaml
  egs/yoloxochitl_mixtec/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/yoloxochitl_mixtec/asr1/conf/tuning/train_rnn.yaml
  egs/yoloxochitl_mixtec/asr1/local/data_prep.py
  egs/yoloxochitl_mixtec/asr1/local/download_and_untar.sh
  egs/yoloxochitl_mixtec/asr1/local/split_tr_dt_et.py
  egs/yoloxochitl_mixtec/asr1/local/split_tr_dt_et.sh
  egs/yoloxochitl_mixtec/asr1/path.sh
  egs/yoloxochitl_mixtec/asr1/run.sh
  egs/yoloxochitl_mixtec/asr1/steps
  egs/yoloxochitl_mixtec/asr1/utils
Labels: ASR, Enhancement, Recipe

#2168 Implement espnet2.bin.zenodo_upload
  ci/test_integration.sh
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/tts1/tts.sh
  egs2/aishell/asr1/run.sh
  egs2/ami/asr1/run.sh
  egs2/an4/asr1/run.sh
  egs2/an4/tts1/run.sh
  egs2/babel/asr1/run.sh
  egs2/chime4/asr1/run.sh
  egs2/commonvoice/asr1/run.sh
  egs2/csj/asr1/run.sh
  egs2/csmsc/tts1/run.sh
  egs2/dirha_wsj/asr1/run.sh
  egs2/how2/asr1/run.sh
  egs2/jsut/asr1/run.sh
  egs2/jsut/tts1/run.sh
  egs2/librispeech/asr1/run.sh
  egs2/ljspeech/tts1/run.sh
  egs2/mini_an4/asr1/run.sh
  egs2/mini_an4/tts1/run.sh
  egs2/vctk/tts1/run.sh
  egs2/vivos/asr1/run.sh
  egs2/voxforge/asr1/run.sh
  egs2/wsj/asr1/run.sh
  egs2/yesno/asr1/run.sh
  espnet2/bin/pack.py
  espnet2/bin/zenodo_upload.py
  espnet2/main_funcs/pack_funcs.py
Labels: CI, ESPnet2, New Features

#2176 Fix `tts_inference` when `feats_extract` is None
  espnet2/bin/tts_inference.py
Labels: Bugfix, ESPnet2

#2181 Freeze the matplotlib version with 3.1.0
  setup.py
Labels: Bugfix, CI

#2179 Fix ST/MT models for compatibility with ASR
  espnet/mt/pytorch_backend/mt.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_mt.py
  espnet/nets/pytorch_backend/e2e_mt_transformer.py
  espnet/nets/pytorch_backend/e2e_st.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
  espnet/st/pytorch_backend/st.py
  test/test_e2e_mt_transformer.py
  test/test_e2e_st_transformer.py
Labels: Enhancement, MT, ST

#2092 Python API for inference
  espnet/nets/beam_search.py
  espnet2/bin/asr_inference.py
  espnet2/bin/tts_inference.py
  espnet2/tasks/asr.py
  espnet2/tasks/lm.py
  espnet2/tasks/tts.py
  espnet2/tts/abs_tts.py
  espnet2/tts/espnet_model.py
  test/espnet2/bin/test_asr_inference.py
  test/espnet2/bin/test_tts_inference.py
Labels: ESPnet2, New Features

#2144 Support Conformer model.
  ci/test_integration.sh
  egs/aishell/asr1/RESULTS.md
  egs/aishell/asr1/conf/tuning/train_pytorch_conformer.yaml
  egs/mini_an4/asr1/conf/train_conformer.yaml
  espnet/nets/pytorch_backend/conformer/convolution.py
  espnet/nets/pytorch_backend/conformer/encoder.py
  espnet/nets/pytorch_backend/conformer/encoder_layer.py
  espnet/nets/pytorch_backend/conformer/subsampling.py
  espnet/nets/pytorch_backend/e2e_asr_conformer.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/transformer/attention.py
  espnet/nets/pytorch_backend/transformer/embedding.py
  test/test_e2e_asr_conformer.py
Labels: ASR, CI, New Features

#2185 Fix bug in attention plotting
  ci/test_integration.sh
  egs/mini_an4/asr1/conf/train_conformer_pure_ctc.yaml
  espnet/asr/asr_utils.py
  espnet/asr/pytorch_backend/asr.py
  espnet/nets/pytorch_backend/e2e_asr.py
  espnet/nets/pytorch_backend/e2e_asr_mulenc.py
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_mt.py
  espnet/nets/pytorch_backend/e2e_mt_transformer.py
  espnet/nets/pytorch_backend/e2e_st.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  espnet/nets/pytorch_backend/transformer/plot.py
Labels: Bug, Bugfix, CI

#2201 fix #2198: PhonemeTokenizer can't perform with multiprocessing
  espnet2/text/phoneme_tokenizer.py
Labels: Bugfix, ESPnet2, auto-merge

#2197 Enable batch joint decoding with CTC in recog API v2
  espnet/asr/pytorch_backend/recog.py
  espnet/nets/batch_beam_search.py
  espnet/nets/beam_search.py
  espnet/nets/ctc_prefix_score.py
  espnet/nets/pytorch_backend/rnn/decoders.py
  espnet/nets/scorer_interface.py
  espnet/nets/scorers/ctc.py
  espnet2/bin/asr_inference.py
  test/test_batch_beam_search.py
Labels: ASR, ESPnet2

#2203 Change the requirement of librosa
  setup.py
Labels: auto-merge

#2205 temporally disable subsample 6 and 8 tests
  test/test_e2e_asr_transformer.py
Labels: Bugfix, CI

#2202 Refactor multi-task learning in ST
  espnet/nets/pytorch_backend/e2e_st.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
Labels: Refactoring, ST

#2204 Updated model after tuning aidatatang_200zh recipe
  egs/aidatatang_200zh/asr1/RESULTS.md
  egs/aidatatang_200zh/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/aidatatang_200zh/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/aidatatang_200zh/asr1/run.sh
Labels: ASR, Recipe

#2206 Update citation
  README.md
Labels: README

#2208 Add source case information to json files in ST task
  egs/fisher_callhome_spanish/st1/run.sh
  egs/how2/st1/run.sh
  egs/libri_trans/st1/run.sh
  egs/mboshi_french/st1/run.sh
  egs/must_c/mt1/run.sh
  egs/must_c/st1/run.sh
Labels: ST

#2209 Append a missing space in cmd-line args in utils/dump_pcm.sh
  utils/dump_pcm.sh
Labels: Bugfix, auto-merge

#2215 Fix bugs in espnet2/enh and format related directory structures
  egs2/wsj0_2mix_spatialized/enh1/README.md
  egs2/wsj0_2mix_spatialized/enh1/conf/train.conf
  egs2/wsj0_2mix_spatialized/enh1/conf/tuning/train_enh_beamformer_no_wpe.yaml
  egs2/wsj0_2mix_spatialized/enh1/run.sh
  espnet2/bin/enh_inference.py
  test/espnet2/enh/layers/test_enh_layers.py
  test/espnet2/enh/nets/test_beamformer_net.py
  test/espnet2/enh/nets/test_tasnet.py
  test/espnet2/enh/nets/test_tf_mask_net.py
Labels: Bugfix, ESPnet2, SE

#2216 Fix typo in run.sh of TTS recipes
  egs/an4/tts1/run.sh
  egs/arctic/tts1/run.sh
  egs/blizzard17/tts1/run.sh
  egs/csmsc/tts1/run.sh
  egs/jnas/tts1/run.sh
  egs/jsut/tts1/run.sh
  egs/jvs/tts1/run.sh
  egs/libritts/tts1/run.sh
  egs/ljspeech/asr1/run.sh
  egs/ljspeech/tts1/run.sh
  egs/ljspeech/tts2/run.sh
  egs/m_ailabs/tts1/run.sh
  egs/mini_an4/tts1/run.sh
  egs/tweb/tts1/run.sh
  egs/vais1000/tts1/run.sh
  egs/vcc20/tts1_en_de/run.sh
  egs/vcc20/tts1_en_fi/run.sh
  egs/vcc20/tts1_en_zh/run.sh
  egs/vcc20/vc1_task1/run.sh
Labels: TTS, Typo, auto-merge

#2070 Non-autoregressive ASR with Mask CTC
  egs/wsj/asr1/conf/tuning/decode_pytorch_transformer_maskctc.yaml
  egs/wsj/asr1/conf/tuning/train_pytorch_transformer_maskctc.yaml
  egs/wsj/asr1/local/run_maskctc.sh
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_recog.py
  espnet/bin/asr_train.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/transformer/add_sos_eos.py
  test/test_e2e_asr_maskctc.py
Labels: ASR, New Features

#2214 Select torchaudio version according to torch version
  espnet2/enh/layers/dnn_beamformer.py
  espnet2/enh/layers/dnn_wpe.py
  espnet2/enh/nets/beamformer_net.py
  espnet2/enh/nets/tf_mask_net.py
  espnet2/layers/stft.py
  setup.py
  test/espnet2/enh/nets/test_beamformer_net.py
  test/espnet2/layers/test_stft.py
Labels: Bugfix, ESPnet2, auto-merge

#2212 Several update for pretrain model
  ci/test_integration.sh
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/tts1/tts.sh
  egs2/wsj0_2mix/enh1/run.sh
  espnet2/bin/pack.py
  espnet2/bin/zenodo_upload.py
  espnet2/main_funcs/pack_funcs.py
  setup.py
  test/espnet2/main_funcs/test_pack_funcs.py
Labels: CI, ESPnet2, Refactoring

#2220 fix the stage number: enh.sh
  egs2/TEMPLATE/enh1/enh.sh
Labels: Bugfix, ESPnet2, auto-merge

#2222 Fix TTS inference
  egs2/TEMPLATE/tts1/tts.sh
  egs2/csmsc/tts1/run.sh
  egs2/jsut/tts1/run.sh
  egs2/ljspeech/tts1/run.sh
  egs2/vctk/tts1/run.sh
  espnet2/bin/tts_inference.py
  espnet2/tts/espnet_model.py
  espnet2/tts/feats_extract/log_mel_fbank.py
  espnet2/tts/feats_extract/log_spectrogram.py
Labels: Bugfix, ESPnet2

#2227 avoid UnboundLocalError when lm is not loaded
  espnet2/bin/asr_inference.py
Labels: Bugfix, ESPnet2, auto-merge

#2221 CTC posterior visualization during training
  espnet/asr/asr_utils.py
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_train.py
  espnet/bin/st_train.py
  espnet/nets/asr_interface.py
  espnet/nets/pytorch_backend/ctc.py
  espnet/nets/pytorch_backend/e2e_asr.py
  espnet/nets/pytorch_backend/e2e_asr_mulenc.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_st.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
  espnet/st/pytorch_backend/st.py
  espnet/utils/training/tensorboard_logger.py
  test/test_e2e_asr.py
  test/test_e2e_asr_conformer.py
  test/test_e2e_asr_mulenc.py
  test/test_e2e_asr_transformer.py
  test/test_e2e_st.py
  test/test_e2e_st_transformer.py
Labels: ASR, New Features, ST

#2064 Voice Transformer Network
  README.md
  ci/test_shell.sh
  egs/README.md
  egs/arctic/README.md
  egs/arctic/vc1/cmd.sh
  egs/arctic/vc1/conf/bdl.f0
  egs/arctic/vc1/conf/clb.f0
  egs/arctic/vc1/conf/decode.yaml
  egs/arctic/vc1/conf/fbank.conf
  egs/arctic/vc1/conf/gpu.conf
  egs/arctic/vc1/conf/ob_eval/decode_asr.yaml
  egs/arctic/vc1/conf/pitch.conf
  egs/arctic/vc1/conf/queue.conf
  egs/arctic/vc1/conf/rms.f0
  egs/arctic/vc1/conf/slt.f0
  egs/arctic/vc1/conf/slurm.conf
  egs/arctic/vc1/conf/specaug.yaml
  egs/arctic/vc1/conf/train_pytorch_tacotron2.nopt.single.yaml
  egs/arctic/vc1/conf/train_pytorch_tacotron2.tts_pt.single.yaml
  egs/arctic/vc1/conf/train_pytorch_transformer.nopt.n80.single.yaml
  egs/arctic/vc1/conf/train_pytorch_transformer.nopt.single.yaml
  egs/arctic/vc1/conf/train_pytorch_transformer.tts_pt.n80.single.yaml
  egs/arctic/vc1/conf/train_pytorch_transformer.tts_pt.single.yaml
  egs/arctic/vc1/conf/tuning/train_pytorch_tacotron2.nopt.v1.1.single.yaml
  egs/arctic/vc1/conf/tuning/train_pytorch_tacotron2.tts_pt.v1.single.yaml
  egs/arctic/vc1/conf/tuning/train_pytorch_transformer.nopt.v1.1.n80.single.yaml
  egs/arctic/vc1/conf/tuning/train_pytorch_transformer.nopt.v1.1.single.yaml
  egs/arctic/vc1/conf/tuning/train_pytorch_transformer.tts_pt.v1.1.n80.single.yaml
  egs/arctic/vc1/conf/tuning/train_pytorch_transformer.tts_pt.v1.1.single.yaml
  egs/arctic/vc1/local/clean_text.py
  egs/arctic/vc1/local/data_download.sh
  egs/arctic/vc1/local/data_prep.sh
  egs/arctic/vc1/local/ob_eval/data_prep_for_asr.sh
  egs/arctic/vc1/local/ob_eval/evaluate.sh
  egs/arctic/vc1/local/pretrained_model_download.sh
  egs/arctic/vc1/path.sh
  egs/arctic/vc1/run.sh
  egs/arctic/vc1/steps
  egs/arctic/vc1/utils
  espnet/bin/vc_decode.py
  espnet/bin/vc_train.py
  espnet/nets/pytorch_backend/e2e_vc_tacotron2.py
  espnet/nets/pytorch_backend/e2e_vc_transformer.py
  espnet/nets/pytorch_backend/tacotron2/encoder.py
  espnet/nets/pytorch_backend/transformer/encoder.py
  espnet/nets/pytorch_backend/transformer/subsampling.py
  espnet/utils/io_utils.py
  espnet/vc/pytorch_backend/vc.py
  setup.py
  test/test_e2e_vc_tacotron2.py
  test/test_e2e_vc_transformer.py
  test_utils/test_make_pair_json_py.bats
  test_utils/test_mcd_calculate_py.bats
  utils/make_pair_json.py
  utils/mcd_calculate.py
Labels: CI, New Features, README, VC

#2230 Update Makefile to disable cupy for cuda=10.2 or later
  tools/Makefile
  tools/check_install.py
Labels: Bugfix, auto-merge

#2231 Follow up #2225
  egs/arctic/vc1/path.sh
Labels: auto-merge

#2233 Update installation.md
  doc/installation.md
Labels: Documentation, auto-merge

#2237 Support pytorch1.6.0 (followup #2235)
  tools/Makefile
  tools/check_install.py
Labels: auto-merge

#2239 fix: decode_config -> inference_config
  egs2/aishell/asr1/run.sh
  egs2/ami/asr1/run.sh
  egs2/babel/asr1/run.sh
  egs2/chime4/asr1/run.sh
  egs2/commonvoice/asr1/run.sh
  egs2/csj/asr1/run.sh
  egs2/dirha_wsj/asr1/run.sh
  egs2/how2/asr1/run.sh
  egs2/jsut/asr1/run.sh
  egs2/librispeech/asr1/run.sh
  egs2/vivos/asr1/run.sh
  egs2/voxforge/asr1/run.sh
  egs2/yesno/asr1/run.sh
Labels: Bugfix, ESPnet2, auto-merge

#2243 Update README.md
  README.md
Labels: README, auto-merge

#2244 Support averaging model for Conformer.
  egs/aidatatang_200zh/asr1/run.sh
  egs/aishell/asr1/run.sh
  egs/aishell2/asr1/run.sh
  egs/aurora4/asr1/run.sh
  egs/chime4/asr1/run.sh
  egs/chime5/asr1/run.sh
  egs/commonvoice/asr1/run.sh
  egs/csj/asr1/run.sh
  egs/dipco/asr1/run.sh
  egs/dirha_wsj/asr1/run.sh
  egs/fisher_callhome_spanish/asr1b/run.sh
  egs/hkust/asr1/run.sh
  egs/how2/asr1/run.sh
  egs/iwslt18/asr1/run.sh
  egs/iwslt19/asr1/run.sh
  egs/li10/asr1/run.sh
  egs/li42/asr1/run.sh
  egs/libri_trans/asr1/run.sh
  egs/librispeech/asr1/run.sh
  egs/mini_an4/asr_mix1/run.sh
  egs/must_c/asr1/run.sh
  egs/polyphone_swiss_french/asr1/run.sh
  egs/ru_open_stt/asr1/run.sh
  egs/swbd/asr1/run.sh
  egs/tedlium2/asr1/run.sh
  egs/tedlium3/asr1/run.sh
  egs/timit_ssc/ssr1/run.sh
  egs/vivos/asr1/run.sh
  egs/voxforge/asr1/run.sh
  egs/wsj/asr1/run.sh
  egs/wsj_mix/asr1/run.sh
  egs/yoloxochitl_mixtec/asr1/run.sh
Labels: ASR, Recipe

#2171 CHiME-6 recipe
  egs/chime6/asr1/RESULTS.md
  egs/chime6/asr1/cmd.sh
  egs/chime6/asr1/conf/beamformit.cfg
  egs/chime6/asr1/conf/decode.yaml
  egs/chime6/asr1/conf/fbank.conf
  egs/chime6/asr1/conf/gpu.conf
  egs/chime6/asr1/conf/mfcc.conf
  egs/chime6/asr1/conf/pitch.conf
  egs/chime6/asr1/conf/queue.conf
  egs/chime6/asr1/conf/slurm.conf
  egs/chime6/asr1/conf/specaug.yaml
  egs/chime6/asr1/conf/train.yaml
  egs/chime6/asr1/conf/tuning/train_transducer.yaml
  egs/chime6/asr1/conf/tuning/train_transformer-rnn_transducer.yaml
  egs/chime6/asr1/local/check_tools.sh
  egs/chime6/asr1/local/distant_audio_list
  egs/chime6/asr1/local/extract_noises.py
  egs/chime6/asr1/local/generate_chime6_data.sh
  egs/chime6/asr1/local/install_pb_chime5.sh
  egs/chime6/asr1/local/json2text.py
  egs/chime6/asr1/local/make_noise_list.py
  egs/chime6/asr1/local/prepare_baseline_chime6_data.sh
  egs/chime6/asr1/local/prepare_data.sh
  egs/chime6/asr1/local/prepare_dict.sh
  egs/chime6/asr1/local/run_gss.sh
  egs/chime6/asr1/local/train_lms_srilm.sh
  egs/chime6/asr1/local/wer_output_filter
  egs/chime6/asr1/path.sh
  egs/chime6/asr1/run.sh
  egs/chime6/asr1/steps
  egs/chime6/asr1/utils
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_train.py
Labels: ASR, Recipe

#2250 Add chime6 info
  egs/README.md
Labels: ASR, Recipe
