Repository espnet/espnet, pull requests merged in 2020-04, with the labels that each got.

#1755 Fix gpu mode for tts_inference.py
  espnet2/bin/tts_inference.py
Labels: Bugfix, ESPnet2, TTS

#1746 Implement SpecAug for ESPnet2
  espnet2/asr/espnet_model.py
  espnet2/asr/specaug/abs_specaug.py
  espnet2/asr/specaug/specaug.py
  espnet2/layers/global_mvn.py
  espnet2/layers/mask_along_axis.py
  espnet2/layers/time_warp.py
  espnet2/layers/utterance_mvn.py
  espnet2/tasks/asr.py
  test/espnet2/asr/specaug/test_specaug.py
  test/espnet2/layers/test_mask_along_axis.py
  test/espnet2/layers/test_time_warp.py
Labels: ESPnet2, New Features

#1748 Fix SubReporter
  espnet2/train/reporter.py
  espnet2/train/trainer.py
  test/espnet2/train/test_reporter.py
Labels: Bugfix, ESPnet2, New Features

#1761 Fix an attention plot bug in TTS
  espnet/tts/pytorch_backend/tts.py
Labels: Bugfix

#1742 Implement BatchBinSampler
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/tts1/tts.sh
  egs2/aishell/asr1/conf/train_asr_rnn.yaml
  egs2/aishell/asr1/conf/train_asr_transformer.yaml
  egs2/aishell/asr1/conf/train_lm.yaml
  egs2/ami/asr1/conf/train_lm.yaml
  egs2/ami/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/an4/asr1/conf/train_asr_rnn.yaml
  egs2/an4/asr1/conf/train_asr_transformer.yaml
  egs2/an4/asr1/conf/train_lm.yaml
  egs2/an4/tts1/conf/train_tacotron2.v3.yaml
  egs2/babel/asr1/conf/train_asr.yaml
  egs2/babel/asr1/conf/train_lm.yaml
  egs2/chime4/asr1/conf/train_asr_transformer.yaml
  egs2/chime4/asr1/conf/train_lm.yaml
  egs2/chime4/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/commonvoice/asr1/conf/train_lm.yaml
  egs2/commonvoice/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/csj/asr1/conf/train_lm.yaml
  egs2/csj/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/csj/asr1/conf/tuning/train_asr_rnn_scheduler.yaml
  egs2/csj/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/dirha_wsj/asr1/conf/train_asr.yaml
  egs2/dirha_wsj/asr1/conf/train_lm.yaml
  egs2/how2/asr1/conf/train_asr_rnn.yaml
  egs2/how2/asr1/conf/train_asr_transformer.yaml
  egs2/how2/asr1/conf/train_lm_char.yaml
  egs2/jsut/asr1/conf/train_lm.yaml
  egs2/jsut/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/jsut/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/vivos/asr1/conf/train_asr.yaml
  egs2/vivos/asr1/conf/train_lm_char.yaml
  egs2/vivos/asr1/conf/train_lm_word.yaml
  egs2/voxforge/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/voxforge/asr1/conf/tuning/train_asr_rnn_2.yaml
  egs2/voxforge/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/voxforge/asr1/conf/tuning/train_asr_transformer_2.yaml
  egs2/wsj/asr1/conf/train_asr_transformer.yaml
  egs2/wsj/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/wsj/asr1/conf/tuning/train_asr_transformer2.yaml
  egs2/wsj/asr1/conf/tuning/train_lm.yaml
  egs2/yesno/asr1/conf/train_asr.yaml
  espnet2/samplers/__init__.py
  espnet2/samplers/abs_sampler.py
  espnet2/samplers/build_batch_sampler.py
  espnet2/samplers/folded_batch_sampler.py
  espnet2/samplers/length_batch_sampler.py
  espnet2/samplers/num_elements_batch_sampler.py
  espnet2/samplers/sorted_batch_sampler.py
  espnet2/samplers/unsorted_batch_sampler.py
  espnet2/tasks/abs_task.py
  espnet2/train/batch_sampler.py
  espnet2/train/collate_fn.py
  test/espnet2/samplers/__init__.py
  test/espnet2/samplers/test_build_batch_sampler.py
  test/espnet2/samplers/test_folded_batch_sampler.py
  test/espnet2/samplers/test_length_elements_batch_sampler.py
  test/espnet2/samplers/test_num_elements_batch_sampler.py
  test/espnet2/samplers/test_sorted_batch_sampler.py
  test/espnet2/samplers/test_unsorted_batch_sampler.py
Labels: ESPnet2, New Features

#1747 Fix calculate_all_attentions for espnet2
  espnet2/layers/abs_attention.py
  espnet2/main_funcs/calculate_all_attentions.py
  espnet2/torch_utils/calculate_all_attentions.py
  espnet2/train/trainer.py
  test/espnet2/main_funcs/test_calculate_all_attentions.py
  test/espnet2/torch_utils/test_calculate_all_attentions.py
Labels: Bugfix, ESPnet2

#1758 Refactoring for ESPnetDataset
  espnet2/tasks/abs_task.py
  espnet2/train/dataset.py
  test/espnet2/train/test_dataset.py
Labels: ESPnet2, New Features, Refactoring

#1766 Remove "E2E" from all comments
  egs2/an4/tts1/conf/train_tacotron2.v3.yaml
  espnet2/bin/tts_inference.py
  espnet2/tasks/asr.py
  espnet2/tasks/lm.py
  espnet2/tasks/tts.py
  espnet2/tts/tacotron2.py
Labels: ESPnet2, Refactoring

#1767 % -> percent: espnet2/tasks/abs_task.py
  espnet2/tasks/abs_task.py
Labels: Bugfix, ESPnet2

#1769 keep the latest model
  espnet2/train/trainer.py
Labels: ESPnet2, Enhancement

#1772 Skip compatibility test
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
  test/test_e2e_compatibility.py
  utils/spm_encode
Labels: CI

#1777 Fix torch.ctc not implemented in float16 by casting float32
  espnet/nets/pytorch_backend/ctc.py
  test/test_train_dtype.py
  test/test_transformer_decode.py
Labels: Bugfix

#1778 Fix v.0.3.0 pretrained Transformer model compatibility
  espnet/nets/pytorch_backend/nets_utils.py
  espnet/nets/pytorch_backend/transformer/decoder.py
  espnet/nets/pytorch_backend/transformer/encoder.py
  test/test_e2e_asr_transformer.py
Labels: Bugfix

#1779 fix #1751
  espnet/asr/pytorch_backend/asr.py
Labels: Bugfix

#1710 Create documentation for espnet2
  doc/espnet2_distributed.md
  doc/espnet2_task.md
  doc/espnet2_training_option.md
  doc/espnet2_tutorial.md
  doc/index.rst
  doc/parallelization.md
  doc/tutorial.md
Labels: Documentation, ESPnet2

#1785 Add note in synth_wav.sh
  utils/synth_wav.sh
Labels: Documentation

#1782 missing argument for local/data_prep.sh added
  egs/ljspeech/tts2/run.sh
Labels: Bugfix, Recipe, TTS

#1788 Support multiple sentences in synth_wav.sh
  README.md
  utils/synth_wav.sh
Labels: Enhancement

#1783 bugfix in ljspeech/tts2
  egs/ljspeech/tts2/run.sh
Labels: Bugfix, Recipe, TTS

#1789 Optionize trans_type in egs/ljspeech/tts2
  egs/ljspeech/tts2/run.sh
Labels: Bugfix

#1793 typo fixed for attention type
  egs/ljspeech/tts2/conf/train_pytorch_tacotron2+cbhg.yaml
Labels: Bugfix, TTS

#1794 Use espnet_tts_frontend
  egs/arctic/tts1/local/clean_text.py
  egs/arctic/tts1/local/text
  egs/ljspeech/tts1/local/clean_text.py
  egs/ljspeech/tts1/local/text/LICENSE
  egs/ljspeech/tts1/local/text/__init__.py
  egs/ljspeech/tts1/local/text/cleaners.py
  egs/ljspeech/tts1/local/text/cmudict.py
  egs/ljspeech/tts1/local/text/numbers.py
  egs/ljspeech/tts1/local/text/symbols.py
  egs/tweb/tts1/local/clean_text.py
  egs/tweb/tts1/local/text
  egs/vais1000/tts1/local/clean_text.py
  egs/vais1000/tts1/local/text/regex_tokenize.py
  egs/vais1000/tts1/local/text/vietnameseNormUniStd.py
  egs/vais1000/tts1/local/text/vietnamese_cleaners.py
  egs/vcc20/tts1_en_de/local/text
  egs/vcc20/tts1_en_fi/local/clean_text_css10.py
  egs/vcc20/tts1_en_fi/local/text
  egs/vcc20/tts1_en_zh/local/clean_text_mailabs.py
  egs/vcc20/tts1_en_zh/local/text
  egs/vcc20/vc1_task1/local/clean_text_asr_result.py
  egs/vcc20/vc1_task2/local/clean_text_finnish.py
  egs/vcc20/vc1_task2/local/clean_text_german.py
  egs/vcc20/vc1_task2/local/clean_text_mandarin.py
  setup.py
Labels: Recipe, Refactoring, TTS

#1784 fix https://github.com/espnet/espnet/issues/1780
  espnet/nets/pytorch_backend/rnn/encoders.py
Labels: Bugfix

#1711 [WIP] add recipe for French Polyphone: ELRA-S0030_02
  egs/polyphone_swiss_french/asr1/RESULTS.md
  egs/polyphone_swiss_french/asr1/cmd.sh
  egs/polyphone_swiss_french/asr1/conf/dataprep.yaml
  egs/polyphone_swiss_french/asr1/conf/decode.yaml
  egs/polyphone_swiss_french/asr1/conf/fbank.conf
  egs/polyphone_swiss_french/asr1/conf/gpu.conf
  egs/polyphone_swiss_french/asr1/conf/lm.yaml
  egs/polyphone_swiss_french/asr1/conf/pitch.conf
  egs/polyphone_swiss_french/asr1/conf/queue.conf
  egs/polyphone_swiss_french/asr1/conf/slurm.conf
  egs/polyphone_swiss_french/asr1/conf/specaug.yaml
  egs/polyphone_swiss_french/asr1/conf/train.yaml
  egs/polyphone_swiss_french/asr1/conf/tuning/decode_pytorch_transformer_large.yaml
  egs/polyphone_swiss_french/asr1/conf/tuning/train_pytorch_transformer_large_ngpu4.yaml
  egs/polyphone_swiss_french/asr1/local/data_prep
  egs/polyphone_swiss_french/asr1/local/dev.lst
  egs/polyphone_swiss_french/asr1/local/test.lst
  egs/polyphone_swiss_french/asr1/local/train.lst
  egs/polyphone_swiss_french/asr1/path.sh
  egs/polyphone_swiss_french/asr1/run.sh
  egs/polyphone_swiss_french/asr1/steps
  egs/polyphone_swiss_french/asr1/utils
Labels: ASR, Recipe

#1797 commonvoice: RESULTS.md -> README.md
  egs2/commonvoice/asr1/README.md
Labels: ESPnet2, Recipe

#1803 Change to configargparse>=1.2.1
  setup.py
Labels: Bugfix

#1804 Change to scipy>=1.4.1
  setup.py
Labels: Bugfix

#1805 Update README.md
  README.md
Labels: README

#1807 Refactoring espnet2/utils/fileio.py -> espnet2/fileio
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
  espnet2/bin/asr_inference.py
  espnet2/bin/lm_calc_perplexity.py
  espnet2/fileio/__init__.py
  espnet2/fileio/datadir_writer.py
  espnet2/fileio/npy_scp.py
  espnet2/fileio/rand_gen_dataset.py
  espnet2/fileio/read_text.py
  espnet2/fileio/sound_scp.py
  espnet2/main_funcs/collect_stats.py
  espnet2/samplers/folded_batch_sampler.py
  espnet2/samplers/length_batch_sampler.py
  espnet2/samplers/num_elements_batch_sampler.py
  espnet2/samplers/sorted_batch_sampler.py
  espnet2/samplers/unsorted_batch_sampler.py
  espnet2/train/dataset.py
  espnet2/utils/fileio.py
  test/espnet2/fileio/__init__.py
  test/espnet2/fileio/test_datadir_writer.py
  test/espnet2/fileio/test_npy_scp.py
  test/espnet2/fileio/test_read_text.py
  test/espnet2/fileio/test_sound_scp.py
  test/espnet2/train/test_dataset.py
  test/espnet2/utils/test_fileio.py
Labels: ESPnet2, Refactoring

#1810 Fix #1808: change the argument order of --batch_type for collect stat…
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/tts1/tts.sh
Labels: Bugfix, ESPnet2

#1813 Create .mergify.yml
  .mergify.yml
Labels: mergify

#1814 Update .mergify.yml
  .mergify.yml
Labels: auto-merge

#1815 add badge
  README.md
Labels: README, auto-merge

#1822 Update .mergify.yml
  .mergify.yml
Labels: auto-merge, mergify

#1825 Change backport to copy
  .mergify.yml
Labels: auto-merge, mergify

#1828 Update espnet2_training_option.md
  doc/espnet2_training_option.md
Labels: Documentation, auto-merge

#1835 Update .mergify.yml
  .mergify.yml
Labels: mergify

#1760 fix+update transducer
  README.md
  doc/tutorial.md
  egs/vivos/asr1/RESULTS.md
  egs/vivos/asr1/run.sh
  egs/voxforge/asr1/local/prep_transducer_finetuning.sh
  egs/voxforge/asr1/run_rnnt.sh
  espnet/asr/pytorch_backend/asr_init.py
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
  espnet/nets/pytorch_backend/transducer/initializer.py
  utils/average_checkpoints.py
Labels: ASR, Bugfix, Documentation, Enhancement, README

#1842 Revert deletion of init files
  ci/test_flake8.sh
  espnet/__init__.py
  espnet/asr/__init__.py
  espnet/asr/chainer_backend/__init__.py
  espnet/asr/pytorch_backend/__init__.py
  espnet/bin/__init__.py
  espnet/lm/__init__.py
  espnet/lm/chainer_backend/__init__.py
  espnet/lm/pytorch_backend/__init__.py
  espnet/mt/__init__.py
  espnet/mt/pytorch_backend/__init__.py
  espnet/nets/__init__.py
  espnet/nets/chainer_backend/__init__.py
  espnet/nets/chainer_backend/rnn/__init__.py
  espnet/nets/chainer_backend/transformer/__init__.py
  espnet/nets/pytorch_backend/__init__.py
  espnet/nets/pytorch_backend/fastspeech/__init__.py
  espnet/nets/pytorch_backend/frontends/__init__.py
  espnet/nets/pytorch_backend/lm/__init__.py
  espnet/nets/pytorch_backend/rnn/__init__.py
  espnet/nets/pytorch_backend/streaming/__init__.py
  espnet/nets/pytorch_backend/tacotron2/__init__.py
  espnet/nets/pytorch_backend/transducer/__init__.py
  espnet/nets/pytorch_backend/transformer/__init__.py
  espnet/nets/scorers/__init__.py
  espnet/optimizer/__init__.py
  espnet/scheduler/__init__.py
  espnet/st/pytorch_backend/__init__.py
  espnet/transform/__init__.py
  espnet/tts/pytorch_backend/__init__.py
  espnet/utils/__init__.py
  espnet/utils/training/__init__.py
Labels: Bugfix, CI

#1841 fix the missing link of tedlium3
  egs/tedlium3/asr1/RESULTS.md
Labels: Bugfix

#1819 Added some TIMIT results
  egs/timit/asr1/RESULTS.md
  egs/timit/asr1/conf/train.yaml
  egs/timit/asr1/conf/tuning/train.yaml
  egs/timit/asr1/conf/tuning/train2.yaml
Labels: ASR, Recipe

#1840 Add test for torch>1.1
  .circleci/config.yml
  .github/workflows/ci.yaml
  .mergify.yml
  .travis.yml
  README.md
  ci/install.sh
  espnet/nets/pytorch_backend/frontends/dnn_beamformer.py
  espnet/nets/pytorch_backend/frontends/mask_estimator.py
  espnet/nets/pytorch_backend/transformer/mask.py
  espnet2/torch_utils/recursive_op.py
  espnet2/train/trainer.py
  espnet2/utils/fileio.py
  test/espnet2/utils/test_sized_dict.py
  test/test_recog.py
  test_utils/test_addjson_py.bats
  test_utils/test_apply-cmvn_py.bats
  test_utils/test_average_checkpoints_py.bats
  test_utils/test_compute-cmvn-stats_py.bats
  test_utils/test_concatjson_py.bats
  test_utils/test_copy-feats_py.bats
  test_utils/test_data2json_sh.bats
  test_utils/test_dump-pcm_py.bats
  test_utils/test_eval_perm_free_error_py.bats
  test_utils/test_feat-to-shape.bats
  test_utils/test_get_yaml.bats
  test_utils/test_json2trn.py.bats
  test_utils/test_merge_scp2json_py.bats
  test_utils/test_mergejson_py.bats
  test_utils/test_mix-mono-wav-scp_py.bats
  test_utils/test_scp2json_py.bats
  test_utils/test_splitjson_py.bats
  test_utils/test_spm.bats
  test_utils/test_text2token_py.bats
  test_utils/test_text2vocabulary_py.bats
  test_utils/test_update_json_sh.bats
Labels: Bugfix, CI, README

#1849 Master to develop
  .circleci/config.yml
  .github/workflows/ci.yaml
  .mergify.yml
  .travis.yml
  README.md
  ci/install.sh
  doc/tutorial.md
  egs/vivos/asr1/RESULTS.md
  egs/vivos/asr1/run.sh
  egs/voxforge/asr1/local/prep_transducer_finetuning.sh
  egs/voxforge/asr1/run_rnnt.sh
  espnet/asr/pytorch_backend/asr_init.py
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
  espnet/nets/pytorch_backend/frontends/dnn_beamformer.py
  espnet/nets/pytorch_backend/frontends/mask_estimator.py
  espnet/nets/pytorch_backend/transducer/initializer.py
  espnet/nets/pytorch_backend/transformer/mask.py
  espnet2/torch_utils/recursive_op.py
  espnet2/train/trainer.py
  test/espnet2/utils/test_sized_dict.py
  test/test_recog.py
  test_utils/test_addjson_py.bats
  test_utils/test_apply-cmvn_py.bats
  test_utils/test_average_checkpoints_py.bats
  test_utils/test_compute-cmvn-stats_py.bats
  test_utils/test_concatjson_py.bats
  test_utils/test_copy-feats_py.bats
  test_utils/test_data2json_sh.bats
  test_utils/test_dump-pcm_py.bats
  test_utils/test_eval_perm_free_error_py.bats
  test_utils/test_feat-to-shape.bats
  test_utils/test_get_yaml.bats
  test_utils/test_json2trn.py.bats
  test_utils/test_merge_scp2json_py.bats
  test_utils/test_mergejson_py.bats
  test_utils/test_mix-mono-wav-scp_py.bats
  test_utils/test_scp2json_py.bats
  test_utils/test_splitjson_py.bats
  test_utils/test_spm.bats
  test_utils/test_text2token_py.bats
  test_utils/test_text2vocabulary_py.bats
  test_utils/test_update_json_sh.bats
  utils/average_checkpoints.py
Labels: CI, Documentation, ESPnet2, README, auto-merge, mergify

#1857 remove files to reduce disk usage in integrated test
  ci/test_integration.sh
Labels: CI, auto-merge

#1865 Fix param freeze (#1863)
  espnet/tts/pytorch_backend/tts.py
Labels: Bugfix, auto-merge

#1869 followup #1867
  espnet2/train/abs_espnet_model.py
Labels: ESPnet2, auto-merge

#1872 Add collapsed section in README.md
  README.md
Labels: README, auto-merge

#1875 Error handling for Transformer with CTC-based VAD
  egs/tedlium2/asr1/local/recog_wav.sh
  espnet/asr/pytorch_backend/asr.py
  utils/recog_wav.sh
Labels: Bugfix

#1880 Master to develop
  egs/tedlium2/asr1/local/recog_wav.sh
  espnet/asr/pytorch_backend/asr.py
  utils/recog_wav.sh
Labels: README, auto-merge

#1885 Added ESPnet-ST bib
  README.md
Labels: README

#1881 Add test for pytorch1.5
  .circleci/config.yml
  .github/workflows/ci.yaml
  .mergify.yml
  .travis.yml
  README.md
  ci/doc.sh
  ci/install.sh
  ci/test_flake8.sh
  ci/test_python.sh
  ci/test_shell.sh
  tools/Makefile
  tools/check_install.py
  tools/install_anaconda.sh
  tools/install_chainer_ctc.sh
  tools/install_mwerSegmenter.sh
  tools/install_nkf.sh
  tools/install_pesq.sh
  tools/install_pyopenjtalk.sh
  tools/install_warp-ctc.sh
  tools/install_warp-transducer.sh
Labels: CI, README, mergify

#1894 Support the speed control in FastSpeech decoding
  ci/install.sh
  egs/ljspeech/tts1/conf/tuning/decode_fastspeech.yaml
  espnet/bin/tts_decode.py
  espnet/nets/pytorch_backend/e2e_tts_fastspeech.py
  espnet/nets/pytorch_backend/fastspeech/length_regulator.py
  test/test_e2e_tts_fastspeech.py
Labels: CI, Enhancement
