Repository espnet/espnet, pull requests merged in 2020-06, with the labels that each got.

#1991 Update `check_install.py`
  docker/prebuilt/devel/Dockerfile
  docker/prebuilt/local/Dockerfile
  tools/Makefile
  tools/check_install.py
Labels: Docker, Refactoring

#1992 Ngram scorer update
  README.md
  egs/aishell/asr1/RESULTS.md
  egs/aishell/asr1/conf/tuning/decode_pytorch_transformer.yaml
  espnet/asr/pytorch_backend/recog.py
  espnet/bin/asr_recog.py
  espnet/nets/scorers/ngram.py
Labels: Enhancement, README

#1961 Support CI skip in gihub action
  .github/workflows/ci.yaml
Labels: CI

#2009 Fix BLEU/PPL calculation during training
  espnet/mt/pytorch_backend/mt.py
  espnet/nets/e2e_asr_common.py
  espnet/nets/e2e_mt_common.py
  espnet/nets/pytorch_backend/e2e_mt.py
  espnet/nets/pytorch_backend/e2e_mt_transformer.py
  espnet/nets/pytorch_backend/e2e_st.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
  espnet/st/pytorch_backend/st.py
Labels: Bug, MT, Refactoring, ST

#2013 Turn off BLEU calculation during training
  espnet/nets/pytorch_backend/e2e_mt_transformer.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
Labels: Enhancement, MT, ST

#2026 Pin numba=0.49
  setup.py
Labels: Bugfix

#2028 fix calculate_all_attentions for multihead attention
  espnet2/main_funcs/calculate_all_attentions.py
  test/espnet2/main_funcs/test_calculate_all_attentions.py
Labels: Bugfix, ESPnet2

#2030 fix a typo for the decoder add_argument_group
  espnet/nets/pytorch_backend/e2e_asr.py
  espnet/nets/pytorch_backend/e2e_mt.py
  espnet/nets/pytorch_backend/e2e_st.py
Labels: Documentation

#2032 fix tedlium2/3 model link
  README.md
  utils/recog_wav.sh
Labels: ASR, Bugfix, Documentation

#2035 resampling in utils/compute-fbank-feats.py and utils/compute-stft-feats.py
  utils/compute-fbank-feats.py
  utils/compute-stft-feats.py
  utils/make_fbank.sh
  utils/make_stft.sh
Labels: New Features

#2038 follow up #1972
  egs2/TEMPLATE/tts1/tts.sh
Labels: ESPnet2

#2040 Fix memory issue when resuming
  espnet2/tasks/abs_task.py
Labels: Bugfix, ESPnet2

#2042 Fix download file extension
  utils/recog_wav.sh
  utils/synth_wav.sh
Labels: ASR, Bugfix

#2046 Update README.md
  README.md
Labels: README, auto-merge

#2051 fix #2050
  egs2/wsj/asr1/local/data.sh
Labels: ESPnet2

#1996 created a recipe to run asr on ljspeech
  egs/ljspeech/asr1/RESULTS.md
  egs/ljspeech/asr1/cmd.sh
  egs/ljspeech/asr1/conf/decode_ctcweight0.5.yaml
  egs/ljspeech/asr1/conf/decode_ctcweight1.0.yaml
  egs/ljspeech/asr1/conf/fbank.conf
  egs/ljspeech/asr1/conf/gpu.conf
  egs/ljspeech/asr1/conf/lm.yaml
  egs/ljspeech/asr1/conf/pitch.conf
  egs/ljspeech/asr1/conf/queue.conf
  egs/ljspeech/asr1/conf/slurm.conf
  egs/ljspeech/asr1/conf/specaug.yaml
  egs/ljspeech/asr1/conf/train_mtlalpha0.5.yaml
  egs/ljspeech/asr1/conf/train_mtlalpha1.0.yaml
  egs/ljspeech/asr1/local
  egs/ljspeech/asr1/path.sh
  egs/ljspeech/asr1/run.sh
  egs/ljspeech/asr1/steps
  egs/ljspeech/asr1/utils
Labels: ASR, Recipe

#2055 Fix minor bug of Makefile
  tools/Makefile
Labels: Bugfix, auto-merge

#2056 fix bug of lm.py
  espnet2/tasks/lm.py
Labels: Bugfix, ESPnet2, auto-merge

#2058 fix path of PESQ
  egs/chime4/asr1_multich/path.sh
Labels: Bugfix, auto-merge

#2063 Fix old model compatibility #2048 #2060
  espnet/nets/pytorch_backend/e2e_asr.py
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
Labels: Bugfix

#2067 Update README.md
  README.md
Labels: README, auto-merge

#2069 Fix pretrained model #2053
  README.md
  egs/tedlium2/asr1/RESULTS.md
  egs/tedlium3/asr1/RESULTS.md
  utils/recog_wav.sh
Labels: Bugfix, README, auto-merge

#2068 Change torch=1.5.0 -> torch=1.5.1 in ci
  .circleci/config.yml
  .github/workflows/ci.yaml
  .mergify.yml
  .travis.yml
  README.md
  tools/Makefile
  tools/check_install.py
Labels: CI, README, auto-merge

#2076 scorerinterface warning English correction
  espnet/nets/scorer_interface.py
Labels: Typo, auto-merge

#2077 RESULTS.md -> README.md
  egs2/ami/asr1/README.md
  egs2/chime4/asr1/README.md
Labels: ESPnet2, auto-merge

#2079 Update README about TTS
  README.md
Labels: README, auto-merge

#2075 Remove long wave in template recipe
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/scripts/utils/remove_longshortdata.sh
  egs2/TEMPLATE/tts1/tts.sh
  egs2/voxforge/asr1/local/data.sh
Labels: ESPnet2

#2080 Fix log: benchmark -> deterministic
  espnet2/torch_utils/pytorch_version.py
Labels: Bugfix, ESPnet2, auto-merge

#2081 Fix bug of iterable dataset when num_workers>=1
  espnet2/bin/aggregate_stats_dirs.py
  espnet2/train/iterable_dataset.py
  test/espnet2/train/test_iterable_dataset.py
Labels: Bugfix, ESPnet2, auto-merge

#2086 [refactoring] move modules
  espnet2/bin/pack.py
  espnet2/main_funcs/pack_funcs.py
  espnet2/tasks/abs_task.py
  espnet2/torch_utils/model_summary.py
  test/espnet2/main_funcs/__init__.py
  test/espnet2/main_funcs/test_pack_funcs.py
  test/espnet2/torch_utils/test_model_summary.py
Labels: ESPnet2, Refactoring, auto-merge

#2091 Add cupy.done in make python
  tools/Makefile
Labels: Bugfix, auto-merge

#2087 Fix bug for feats_type=extracted
  egs2/TEMPLATE/asr1/asr.sh
Labels: Bugfix, ESPnet2, auto-merge

#2090 Fix URL in README
  README.md
Labels: README, auto-merge

#2097 Fix Makefile
  tools/Makefile
Labels: Bugfix, Installation Issue, auto-merge

#2098 Update egs2/TEMPLATE/README.md
  egs2/TEMPLATE/README.md
Labels: ESPnet2

#2101 updatemodel link (add pre-trained bpe model and lm model)
  egs/commonvoice/asr1/RESULTS.md
Labels: ASR, Recipe

#2102 Fix feature extractor of TTS for compatibility
  espnet2/asr/frontend/default.py
  espnet2/layers/log_mel.py
  espnet2/layers/stft.py
  espnet2/tts/feats_extract/log_mel_fbank.py
  espnet2/tts/feats_extract/log_spectrogram.py
  test/espnet2/asr/frontend/test_frontend.py
  test/espnet2/tts/feats_extract/test_log_mel_fbank.py
  test/espnet2/tts/feats_extract/test_log_spectrogram.py
Labels: Bugfix, ESPnet2, TTS

#2108 Fix pyopenjtalk installation
  tools/install_pyopenjtalk.sh
Labels: Bugfix

#2111 Change stats_dir naming not to overwrite
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/tts1/tts.sh
Labels: ESPnet2, Refactoring, auto-merge

#2112 Not removing short/long utterances for eval_sets
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/fileio/read_text.py
  espnet2/train/collate_fn.py
  test/espnet2/fileio/test_read_text.py
Labels: Bugfix, ESPnet2, Recipe, auto-merge

#2110 Update ESPnet2 JSUT TTS recipe and TTS template
  egs/jsut/asr1/local/download.sh
  egs2/TEMPLATE/tts1/tts.sh
  egs2/jsut/tts1/conf/decode.yaml
  egs2/jsut/tts1/conf/train.yaml
  egs2/jsut/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/jsut/tts1/conf/tuning/train_tacotron2.yaml
  egs2/jsut/tts1/run.sh
  espnet2/bin/tts_inference.py
  espnet2/tts/tacotron2.py
Labels: ESPnet2, Enhancement

#2074 Fix error when downloading large files using `download_from_google_drive.sh`
  setup.py
  utils/download_from_google_drive.sh
  utils/gdown.pl
Labels: Enhancement

#2095 CTC forced alignment in E2E ASR Transformer model
  README.md
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_ctc_align.py
  espnet/nets/pytorch_backend/ctc.py
  test_utils/ctc_align_test.wav
  test_utils/integration_test_ctc_align_wav.bats
  utils/ctc_align_wav.sh
Labels: ASR, New Features, README

#2122 Add aidatatang_200zh recipe
  egs/README.md
  egs/aidatatang_200zh/asr1/RESULTS.md
  egs/aidatatang_200zh/asr1/cmd.sh
  egs/aidatatang_200zh/asr1/conf/decode.yaml
  egs/aidatatang_200zh/asr1/conf/fbank.conf
  egs/aidatatang_200zh/asr1/conf/gpu.conf
  egs/aidatatang_200zh/asr1/conf/lm.yaml
  egs/aidatatang_200zh/asr1/conf/pitch.conf
  egs/aidatatang_200zh/asr1/conf/queue.conf
  egs/aidatatang_200zh/asr1/conf/slurm.conf
  egs/aidatatang_200zh/asr1/conf/train.yaml
  egs/aidatatang_200zh/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/aidatatang_200zh/asr1/conf/tuning/decode_rnn.yaml
  egs/aidatatang_200zh/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/aidatatang_200zh/asr1/conf/tuning/train_rnn.yaml
  egs/aidatatang_200zh/asr1/local/data_prep.sh
  egs/aidatatang_200zh/asr1/local/download_and_untar.sh
  egs/aidatatang_200zh/asr1/path.sh
  egs/aidatatang_200zh/asr1/run.sh
  egs/aidatatang_200zh/asr1/steps
  egs/aidatatang_200zh/asr1/utils
Labels: ASR, Recipe

#2114 Make read_text faster
  espnet2/fileio/read_text.py
  espnet2/train/dataset.py
Labels: ESPnet2, Enhancement
