Repository espnet/espnet, pull requests merged in 2020-02, with the labels that each got.

#1531 [ESPnet2] Remove short data
  ci/test_integration.sh
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/bin/tokenize_text.py
Labels: Recipe

#1539 [ESPnet2] Fix transformer
  egs2/voxforge/asr1/README.md
  espnet2/asr/decoder/transformer_decoder.py
Labels: Bugfix

#1530 Add utils/translate_wav.sh
  ci/test_integration.sh
  ci/test_shell.sh
  test_utils/integration_test_translate_wav.bats
  test_utils/st_test.wav
  utils/translate_wav.sh
Labels: New Features, ST

#1546 [ESPnet2] Change CTC default to builtin
  espnet2/asr/ctc.py
Labels: ASR

#1547 [ESPnet2] Disable wer/cer calculation when training
  espnet2/asr/e2e.py
Labels: ASR

#1550 [ESPnet2] Fix nj of scripts/audio/format_wav_scp.sh
  egs2/TEMPLATE/asr1/scripts/audio/format_wav_scp.sh
Labels: Bugfix, Recipe

#1246 Improving LM training (custom optimizer, custom scheduler, Transformer LM, etc)
  README.md
  ci/test_integration.sh
  egs/librispeech/asr1/RESULTS.md
  egs/librispeech/asr1/conf/lm.yaml
  egs/librispeech/asr1/conf/tuning/lm_transformer.yaml
  egs/librispeech/asr1/run.sh
  egs/mini_an4/asr1/conf/lm.yaml
  egs/mini_an4/asr1/conf/lm_transformer.yaml
  espnet/bin/lm_train.py
  espnet/lm/chainer_backend/lm.py
  espnet/lm/pytorch_backend/lm.py
  espnet/nets/lm_interface.py
  espnet/nets/pytorch_backend/lm/transformer.py
  espnet/nets/pytorch_backend/transformer/encoder.py
  espnet/nets/pytorch_backend/transformer/encoder_layer.py
  espnet/optimizer/chainer.py
  espnet/optimizer/factory.py
  espnet/optimizer/parser.py
  espnet/optimizer/pytorch.py
  espnet/scheduler/chainer.py
  espnet/scheduler/pytorch.py
  espnet/scheduler/scheduler.py
  test/test_lm.py
  test/test_optimizer.py
  test/test_scheduler.py
  test/test_transformer_decode.py
  utils/recog_wav.sh
Labels: ASR, New Features

#1564 [ESPnet2] Fix bug when "segments" existing
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/tts1/tts.sh
  egs2/mini_an4/asr1/local/data.sh
  egs2/mini_an4/asr1/run.sh
  egs2/mini_an4/tts1/run.sh
Labels: Bug, CI

#1567 update readme to include Linux installation guides from CI
  README.md
Labels: Documentation, Installation Issue

#1402 Batch beam search V2 for Transformer (no CTC)
  espnet/asr/pytorch_backend/recog.py
  espnet/nets/batch_beam_search.py
  espnet/nets/beam_search.py
  espnet/nets/pytorch_backend/lm/default.py
  espnet/nets/pytorch_backend/lm/transformer.py
  espnet/nets/pytorch_backend/transformer/decoder.py
  espnet/nets/scorer_interface.py
  espnet/nets/scorers/length_bonus.py
  test/test_batch_beam_search.py
  test/test_beam_search.py
  test/test_transformer_decode.py
Labels: New Features

#1422 Transducer v3 (w/ transformer support for encoder/decoder)
  README.md
  ci/test_integration.sh
  egs/mini_an4/asr1/conf/decode_transducer.yaml
  egs/mini_an4/asr1/conf/train_transducer.yaml
  egs/mini_an4/asr1/conf/train_transformer_transducer.yaml
  egs/vivos/asr1/RESULT
  egs/vivos/asr1/RESULTS.md
  egs/vivos/asr1/conf/tuning/transducer/decode_transducer.yaml
  egs/vivos/asr1/conf/tuning/transducer/train_transducer.yaml
  egs/vivos/asr1/conf/tuning/transducer/train_transformer-rnn_transducer.yaml
  egs/vivos/asr1/conf/tuning/transducer/train_transformer_transducer.yaml
  egs/vivos/asr1/run.sh
  espnet/nets/e2e_asr_common.py
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
  espnet/nets/pytorch_backend/transducer/initializer.py
  espnet/nets/pytorch_backend/transducer/loss.py
  espnet/nets/pytorch_backend/transducer/rnn_decoders.py
  espnet/nets/pytorch_backend/transducer/transformer_decoder.py
  espnet/nets/pytorch_backend/transducer/transformer_decoder_layer.py
  espnet/nets/pytorch_backend/transducer/utils.py
  espnet/nets/pytorch_backend/transducer/vgg.py
  espnet/nets/pytorch_backend/transformer/encoder.py
  test/test_e2e_asr_sa_transducer.py
  test/test_e2e_asr_transducer.py
Labels: New Features

#1575 [ESPnet2] Change defalt of win_length to None
  espnet2/asr/frontend/default.py
Labels: Bugfix

#1574 [ESPnet2] Bug fix of stft.py
  espnet2/layers/stft.py
Labels: Bugfix

#1572 [ESPnet2] Fix ci for local/data.sh
  ci/test_shell.sh
Labels: Bugfix, CI

#1576 Add MT result
  README.md
Labels: Documentation

#1577 fix snapshot/model test condition
  espnet/asr/asr_utils.py
Labels: Bugfix

#1565 [ESPnet2] Lower python requirements to 3.6
  espnet2/bin/aggregate_stats_dirs.py
  espnet2/bin/launch.py
  espnet2/bin/lm_calc_perplexity.py
  espnet2/bin/tokenize_text.py
  espnet2/main_funcs/collect_stats.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/asr.py
  espnet2/tasks/lm.py
  espnet2/tasks/tts.py
  espnet2/text/char_tokenizer.py
  espnet2/text/token_id_converter.py
  espnet2/train/batch_sampler.py
  espnet2/train/reporter.py
  espnet2/utils/fileio.py
  espnet2/utils/pack_funcs.py
  setup.py
Labels: Enhancement

#1584 fix a link within README.md
  README.md
Labels: Documentation

#1588 [ESPnet2] Fix launch.py for slurm
  espnet2/bin/launch.py
Labels: Bugfix

#1589 ru_open_stt recipe bug fix
  egs/ru_open_stt/asr1/run.sh
Labels: Bugfix

#1580 Fix pure CTC decoding
  espnet/nets/ctc_prefix_score.py
  espnet/nets/pytorch_backend/rnn/decoders.py
  test/test_recog.py
Labels: Bugfix

#1592 [ESPnet2] vivos recipe: --audio_format wav
  egs2/vivos/asr1/run.sh
Labels: Refactoring

#1586 [ESPnet2] Add test and --dry_run option
  ci/test_integration.sh
  espnet2/tasks/abs_task.py
  espnet2/torch_utils/forward_adaptor.py
  espnet2/train/dataset.py
  espnet2/utils/build_dataclass.py
  espnet2/utils/rand_gen_dataset.py
  setup.cfg
  test/espnet2/bin/test_pack.py
  test/espnet2/text/test_token_id_converter.py
  test/espnet2/torch_utils/test_forward_adaptor.py
  test/espnet2/torch_utils/test_pytorch_version.py
  test/espnet2/torch_utils/test_set_all_random_seed.py
  test/espnet2/train/test_dataset.py
  test/espnet2/train/test_epoch_iter_factory.py
  test/espnet2/tts/feats_extract/__init__.py
  test/espnet2/tts/feats_extract/test_log_mel_fbank.py
  test/espnet2/tts/feats_extract/test_log_spectrogram.py
  test/espnet2/utils/test_build_dataclass.py
Labels: CI, Enhancement

#1596 [ESPnet2] Fix setup.sh
  ci/test_integration.sh
  ci/test_shell.sh
  egs2/TEMPLATE/asr1/setup.sh
  egs2/TEMPLATE/tts1/setup.sh
Labels: Bugfix, CI

#1595 Fix a typo in AMI script?
  egs/ami/asr1/run.sh
Labels: Bugfix

#1598 [ESPnet2] Change "" to none
  egs2/TEMPLATE/asr1/asr.sh
Labels: Refactoring

#1601 [ESPnet2]Update voxforge RESULTS
  egs2/voxforge/asr1/README.md
  egs2/voxforge/asr1/conf/train_asr_rnn.yaml
  egs2/voxforge/asr1/conf/train_asr_transformer.yaml
  egs2/voxforge/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/voxforge/asr1/conf/tuning/train_asr_rnn_2.yaml
  egs2/voxforge/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/voxforge/asr1/conf/tuning/train_asr_transformer_2.yaml
Labels: Enhancement

#1602 Update run_rnnt.sh
  egs/voxforge/asr1/run_rnnt.sh
Labels: Recipe

#1605 update docs & README.md
  README.md
  doc/docker.md
  doc/index.rst
  doc/installation.md
  doc/tutorial.md
  docker/README.md
Labels: Documentation

#1614 [ESPnet2]Remove nlsyms when word scoring
  egs2/TEMPLATE/asr1/asr.sh
  egs2/wsj/asr1/local/data.sh
  egs2/wsj/asr1/run.sh
  espnet2/text/build_tokenizer.py
  espnet2/text/char_tokenizer.py
  espnet2/text/word_tokenizer.py
Labels: Bugfix, Recipe

#1608 [ESPnet2] Implement chunk iterator
  espnet2/iterators/__init__.py
  espnet2/iterators/abs_iter_factory.py
  espnet2/iterators/chunk_iter_factory.py
  espnet2/iterators/sequence_iter_factory.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/asr.py
  espnet2/tasks/lm.py
  espnet2/tasks/tts.py
  espnet2/train/trainer.py
  test/espnet2/iterators/__init__.py
  test/espnet2/iterators/test_chunk_iter_factory.py
  test/espnet2/iterators/test_sequence_iter_factory.py
Labels: Enhancement

#1618 Fix a bug in csmsc recipe
  egs/csmsc/tts1/local/data_download.sh
  egs/csmsc/tts1/run.sh
Labels: Bugfix

#1617 [ESPnet2] Fix recipes
  egs2/TEMPLATE/asr1/db.sh
  egs2/aishell/asr1/conf/train_lm.yaml
  egs2/aishell/asr1/local/data.sh
  egs2/aishell/asr1/run.sh
  egs2/csj/asr1/conf/decode_asr.sh
  egs2/csj/asr1/conf/train_asr_rnn.yaml
  egs2/csj/asr1/conf/train_asr_transformer.yaml
  egs2/csj/asr1/conf/train_lm.yaml
  egs2/csj/asr1/conf/tuning/decode_transformer.yaml
  egs2/csj/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/csj/asr1/conf/tuning/train_asr_rnn_scheduler.yaml
  egs2/csj/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/csj/asr1/local/data.sh
  egs2/csj/asr1/run.sh
  egs2/jsut/asr1/conf/decode_rnn.yaml
  egs2/jsut/asr1/conf/decode_transformer.yaml
  egs2/jsut/asr1/conf/train_asr_rnn.yaml
  egs2/jsut/asr1/conf/train_asr_transformer.yaml
  egs2/jsut/asr1/conf/train_lm.yaml
  egs2/jsut/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/jsut/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/jsut/asr1/run.sh
  egs2/vivos/asr1/conf/train_asr.yaml
  egs2/vivos/asr1/conf/train_lm_char.yaml
  egs2/vivos/asr1/conf/train_lm_word.yaml
  egs2/vivos/asr1/run.sh
  egs2/wsj/asr1/conf/fbank.conf
  egs2/wsj/asr1/conf/pitch.conf
  egs2/wsj/asr1/conf/train_asr_rnn.yaml
  egs2/wsj/asr1/conf/train_asr_transformer.yaml
  egs2/wsj/asr1/conf/train_lm.yaml
  egs2/wsj/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/wsj/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/yesno/asr1/conf/train_asr.yaml
  egs2/yesno/asr1/run.sh
Labels: Recipe

#1620 [ESPnet2] Fix how2 recipe
  egs2/TEMPLATE/asr1/asr.sh
  egs2/how2/asr1/cmd.sh
  egs2/how2/asr1/conf/pbs.conf
  egs2/how2/asr1/conf/queue.conf
  egs2/how2/asr1/conf/slurm.conf
  egs2/how2/asr1/conf/train_asr_rnn.yaml
  egs2/how2/asr1/conf/train_asr_transformer.yaml
  egs2/how2/asr1/conf/train_lm_char.yaml
  egs2/how2/asr1/run.sh
Labels: Recipe

#1626 fix #1604
  .gitignore
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_mt_transformer.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
  espnet/nets/pytorch_backend/rnn/decoders.py
Labels: Bugfix

#1627 [ESPNet2] Minor change for speed perturbation
  egs2/TEMPLATE/asr1/asr.sh
Labels: Recipe

#1628 [ESPnet2] chmod +x: run.sh for JSUT
  egs2/jsut/asr1/run.sh
Labels: Bugfix

#1556 dirha_wsj recipe for espnet2
  egs2/dirha_wsj/asr1/README.md
  egs2/dirha_wsj/asr1/asr.sh
  egs2/dirha_wsj/asr1/cmd.sh
  egs2/dirha_wsj/asr1/conf/decode.yaml
  egs2/dirha_wsj/asr1/conf/fbank.conf
  egs2/dirha_wsj/asr1/conf/pbs.conf
  egs2/dirha_wsj/asr1/conf/pitch.conf
  egs2/dirha_wsj/asr1/conf/queue.conf
  egs2/dirha_wsj/asr1/conf/slurm.conf
  egs2/dirha_wsj/asr1/conf/train.yaml
  egs2/dirha_wsj/asr1/conf/train_lm.yaml
  egs2/dirha_wsj/asr1/db.sh
  egs2/dirha_wsj/asr1/local/cstr_ndx2flist.pl
  egs2/dirha_wsj/asr1/local/data.sh
  egs2/dirha_wsj/asr1/local/dirha_data_prep.sh
  egs2/dirha_wsj/asr1/local/find_transcripts.pl
  egs2/dirha_wsj/asr1/local/flist2scp.pl
  egs2/dirha_wsj/asr1/local/format_data.sh
  egs2/dirha_wsj/asr1/local/ndx2flist.pl
  egs2/dirha_wsj/asr1/local/normalize_transcript.pl
  egs2/dirha_wsj/asr1/local/tools
  egs2/dirha_wsj/asr1/local/wsj_data_prep.sh
  egs2/dirha_wsj/asr1/local/wsj_format_data.sh
  egs2/dirha_wsj/asr1/path.sh
  egs2/dirha_wsj/asr1/pyscripts
  egs2/dirha_wsj/asr1/run.sh
  egs2/dirha_wsj/asr1/scripts
  egs2/dirha_wsj/asr1/steps
  egs2/dirha_wsj/asr1/utils
Labels: Recipe

#1615 Add the Aishell2 recipe for the master branch.
  egs/README.md
  egs/aishell2/asr1/RESULTS.md
  egs/aishell2/asr1/cmd.sh
  egs/aishell2/asr1/conf/decode.yaml
  egs/aishell2/asr1/conf/fbank.conf
  egs/aishell2/asr1/conf/gpu.conf
  egs/aishell2/asr1/conf/lm.yaml
  egs/aishell2/asr1/conf/pitch.conf
  egs/aishell2/asr1/conf/queue.conf
  egs/aishell2/asr1/conf/slurm.conf
  egs/aishell2/asr1/conf/train.yaml
  egs/aishell2/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/aishell2/asr1/conf/tuning/decode_rnn.yaml
  egs/aishell2/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/aishell2/asr1/conf/tuning/train_rnn.yaml
  egs/aishell2/asr1/local/prepare_data.sh
  egs/aishell2/asr1/path.sh
  egs/aishell2/asr1/run.sh
  egs/aishell2/asr1/steps
  egs/aishell2/asr1/utils
Labels: Recipe

#1623 Embed defaultlm
  espnet/asr/pytorch_backend/asr.py
  espnet/asr/pytorch_backend/asr_mix.py
  espnet/mt/pytorch_backend/mt.py
  espnet/nets/pytorch_backend/lm/default.py
  espnet/st/pytorch_backend/st.py
  test/test_beam_search.py
Labels: New Features
