Repository espnet/espnet, pull requests merged in 2021-03, with the labels that each got.

#3029 Fix a bug when use_amp=True without fairscale
  espnet2/train/trainer.py
Labels: Bugfix, ESPnet2, auto-merge

#3030 Minor fix for NSC
  espnet/nets/beam_search_transducer.py
Labels: ESPnet1, RNNT, auto-merge

#3032 fix a bug in #3014
  espnet2/train/trainer.py
Labels: Bugfix, ESPnet2, auto-merge

#3035 add --detect_anomaly option
  espnet2/tasks/abs_task.py
Labels: ESPnet2, New Features, auto-merge

#3023 IWSLT21-low-resource recipe
  egs/iwslt21_low_resource/asr1/cmd.sh
  egs/iwslt21_low_resource/asr1/conf/decode.yaml
  egs/iwslt21_low_resource/asr1/conf/fbank.conf
  egs/iwslt21_low_resource/asr1/conf/gpu.conf
  egs/iwslt21_low_resource/asr1/conf/lm.yaml
  egs/iwslt21_low_resource/asr1/conf/pitch.conf
  egs/iwslt21_low_resource/asr1/conf/queue.conf
  egs/iwslt21_low_resource/asr1/conf/slurm.conf
  egs/iwslt21_low_resource/asr1/conf/specaug.yaml
  egs/iwslt21_low_resource/asr1/conf/train.yaml
  egs/iwslt21_low_resource/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/iwslt21_low_resource/asr1/conf/tuning/decode_rnn.yaml
  egs/iwslt21_low_resource/asr1/conf/tuning/lm.yaml
  egs/iwslt21_low_resource/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/iwslt21_low_resource/asr1/conf/tuning/train_rnn.yaml
  egs/iwslt21_low_resource/asr1/local/data_prep.py
  egs/iwslt21_low_resource/asr1/local/data_prep.sh
  egs/iwslt21_low_resource/asr1/local/divide_lang.sh
  egs/iwslt21_low_resource/asr1/path.sh
  egs/iwslt21_low_resource/asr1/run.sh
  egs/iwslt21_low_resource/asr1/steps
  egs/iwslt21_low_resource/asr1/utils
  egs/iwslt21_low_resource/st1/cmd.sh
  egs/iwslt21_low_resource/st1/conf/decode.yaml
  egs/iwslt21_low_resource/st1/conf/fbank.conf
  egs/iwslt21_low_resource/st1/conf/gpu.conf
  egs/iwslt21_low_resource/st1/conf/lm.yaml
  egs/iwslt21_low_resource/st1/conf/pitch.conf
  egs/iwslt21_low_resource/st1/conf/queue.conf
  egs/iwslt21_low_resource/st1/conf/slurm.conf
  egs/iwslt21_low_resource/st1/conf/specaug.yaml
  egs/iwslt21_low_resource/st1/conf/train.yaml
  egs/iwslt21_low_resource/st1/conf/tuning/decode_pytorch_transformer.en-de.yaml
  egs/iwslt21_low_resource/st1/conf/tuning/train_pytorch_transformer_ctcasr0.3.yaml
  egs/iwslt21_low_resource/st1/conf/tuning/train_pytorch_transformer_short.yaml
  egs/iwslt21_low_resource/st1/local/data_prep.py
  egs/iwslt21_low_resource/st1/local/data_prep.sh
  egs/iwslt21_low_resource/st1/local/divide_lang.sh
  egs/iwslt21_low_resource/st1/path.sh
  egs/iwslt21_low_resource/st1/run.sh
  egs/iwslt21_low_resource/st1/steps
  egs/iwslt21_low_resource/st1/utils
Labels: ESPnet1, Recipe, ST

#3034 Nahuatl Speech Translation
  egs/puebla_nahuatl/st1/cmd.sh
  egs/puebla_nahuatl/st1/conf/decode.yaml
  egs/puebla_nahuatl/st1/conf/fbank.conf
  egs/puebla_nahuatl/st1/conf/gpu.conf
  egs/puebla_nahuatl/st1/conf/pitch.conf
  egs/puebla_nahuatl/st1/conf/queue.conf
  egs/puebla_nahuatl/st1/conf/slurm.conf
  egs/puebla_nahuatl/st1/conf/specaug.yaml
  egs/puebla_nahuatl/st1/conf/train.yaml
  egs/puebla_nahuatl/st1/conf/tuning/decode_pytorch_transformer.yaml
  egs/puebla_nahuatl/st1/conf/tuning/decode_rnn.yaml
  egs/puebla_nahuatl/st1/conf/tuning/train_pytorch_transformer.yaml
  egs/puebla_nahuatl/st1/conf/tuning/train_pytorch_transformer_short.yaml
  egs/puebla_nahuatl/st1/conf/tuning/train_pytorch_transformer_short_long.yaml
  egs/puebla_nahuatl/st1/conf/tuning/train_rnn.yaml
  egs/puebla_nahuatl/st1/local/data_prep.py
  egs/puebla_nahuatl/st1/local/divide_lang.sh
  egs/puebla_nahuatl/st1/local/get_duration.sh
  egs/puebla_nahuatl/st1/path.sh
  egs/puebla_nahuatl/st1/run.sh
  egs/puebla_nahuatl/st1/steps
  egs/puebla_nahuatl/st1/utils
Labels: ESPnet1, Recipe, ST

#3039 fix download for puebla-nahuatl
  egs/puebla_nahuatl/asr1/local/data_prep.py
  egs/puebla_nahuatl/asr1/local/download_and_untar.sh
  egs/puebla_nahuatl/asr1/run.sh
  egs/puebla_nahuatl/st1/local/download_and_untar.sh
  egs/puebla_nahuatl/st1/run.sh
Labels: ASR, ESPnet1, Recipe, ST

#3036 modification of freezing option for Wav2Vec encoder, add documents
  README.md
  doc/tutorial.md
  egs2/librispeech/asr1/conf/tuning/train_asr_transformer3_w2v_large_lv60_960h_finetuning_last_1layer.yaml
  espnet2/asr/encoder/extract_features.py
  espnet2/asr/encoder/wav2vec2_encoder.py
  tools/installers/install_fairseq.sh
Labels: Documentation, ESPnet2, Installation, README

#3045 Fix related to custom encoder and aux task
  espnet/nets/pytorch_backend/transducer/custom_encoder.py
Labels: ESPnet1, RNNT, auto-merge

#3044 Typo fixed for nahuatl recipe
  egs/puebla_nahuatl/asr1/run.sh
  egs/puebla_nahuatl/st1/run.sh
Labels: Bug, ESPnet1, Recipe

#3046 Adding pytorch=1.8.0 to the ci
  .github/workflows/centos7.yml
  .github/workflows/ci.yaml
  .github/workflows/debian9.yml
  .mergify.yml
  .travis.yml
  README.md
  setup.py
  tools/Makefile
  tools/check_pytorch_cuda_compatibility.py
Labels: CI, Installation, README, auto-merge

#3048 Fix+update RNN encoder
  espnet/nets/pytorch_backend/transducer/rnn_encoder.py
Labels: Bugfix, ESPnet1, RNNT

#2986 Added spgispeech recipe in espnet2
  egs2/README.md
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/db.sh
  egs2/spgispeech/asr1/README.md
  egs2/spgispeech/asr1/asr.sh
  egs2/spgispeech/asr1/cmd.sh
  egs2/spgispeech/asr1/conf/decode_asr.yaml
  egs2/spgispeech/asr1/conf/fbank.conf
  egs2/spgispeech/asr1/conf/pbs.conf
  egs2/spgispeech/asr1/conf/pitch.conf
  egs2/spgispeech/asr1/conf/queue.conf
  egs2/spgispeech/asr1/conf/slurm.conf
  egs2/spgispeech/asr1/conf/train_asr_conformer.yaml
  egs2/spgispeech/asr1/conf/train_lm.yaml
  egs2/spgispeech/asr1/conf/tuning/train_asr_conformer6_n_fft512_hop_length256.yaml
  egs2/spgispeech/asr1/db.sh
  egs2/spgispeech/asr1/local/data.sh
  egs2/spgispeech/asr1/local/data_prep.sh
  egs2/spgispeech/asr1/local/path.sh
  egs2/spgispeech/asr1/path.sh
  egs2/spgispeech/asr1/pyscripts
  egs2/spgispeech/asr1/run.sh
  egs2/spgispeech/asr1/scripts
  egs2/spgispeech/asr1/steps
  egs2/spgispeech/asr1/utils
Labels: ASR, ESPnet2, README, Recipe

#3049 Bugfix for download_and_untar for nahuatl
  egs/puebla_nahuatl/asr1/local/download_and_untar.sh
Labels: ASR, Bug, ESPnet1, Recipe

#3050 fix the condition to install fairscale
  setup.py
Labels: Bugfix, Installation, auto-merge

#3054 Remix Script needs to be run
  egs/puebla_nahuatl/st1/run.sh
Labels: ESPnet1

#3055 [docs] [minor] fix a broken link
  doc/installation.md
Labels: Documentation

#3056 Fix logging for pytorch>=1.8
  espnet2/tasks/abs_task.py
  espnet2/train/distributed_utils.py
  test/espnet2/train/test_distributed_utils.py
Labels: Bugfix, ESPnet2, auto-merge

#3057 Adding gpu_max_cached_mem_GB in reporter's stats
  espnet2/train/reporter.py
Labels: ESPnet2, auto-merge

#3058 Fix a bug of uninstalling typing
  tools/Makefile
Labels: Bugfix, Installation, auto-merge

#3024 Refactor layer selection in Transformer
  espnet/nets/pytorch_backend/transformer/decoder.py
  espnet/nets/pytorch_backend/transformer/encoder.py
Labels: ESPnet1, Refactoring

#3062 Fix utils/speed_perturb.sh
  utils/speed_perturb.sh
Labels: Bug, auto-merge

#3063 added results and uploaded models
  egs/iwslt21/asr1/RESULTS.md
  egs/iwslt21/asr1/conf/train.yaml
  egs/iwslt21/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/iwslt21/asr1/conf/tuning/train_pytorch_conformer_large_librispeech_like.yaml
  egs/iwslt21/asr1/conf/tuning/train_pytorch_conformer_large_mustc_like.yaml
  egs/iwslt21/asr1/run.sh
Labels: ASR, ESPnet1, Recipe, auto-merge

#3066 Unify divide_lang.sh
  egs/how2/asr1/run.sh
  egs/how2/mt1/run.sh
  egs/how2/st1/local/divide_lang.sh
  egs/how2/st1/run.sh
  egs/iwslt21_low_resource/asr1/run.sh
  egs/iwslt21_low_resource/st1/local/divide_lang.sh
  egs/iwslt21_low_resource/st1/run.sh
  egs/libri_trans/asr1/run.sh
  egs/libri_trans/mt1/run.sh
  egs/libri_trans/st1/local/divide_lang.sh
  egs/libri_trans/st1/run.sh
  egs/mboshi_french/st1/local/divide_lang.sh
  egs/mboshi_french/st1/run.sh
  egs/must_c/asr1/run.sh
  egs/must_c/mt1/run.sh
  egs/must_c/st1/local/divide_lang.sh
  egs/must_c/st1/run.sh
  egs/must_c_v2/asr1/run.sh
  egs/must_c_v2/mt1/run.sh
  egs/must_c_v2/st1/run.sh
  utils/divide_lang.sh
Labels: ESPnet1, MT, Refactoring, ST

#3071 Update IWSLT18 MT recipe
  egs/iwslt18/asr1/run.sh
  egs/iwslt18/mt1/run.sh
  egs/iwslt18/st1/local/data_prep_eval.sh
  egs/iwslt18/st1/local/download_and_untar.sh
  egs/iwslt18/st1/local/parse_xml.py
  egs/iwslt18/st1/local/remove_punctuation.pl
  egs/iwslt18/st1/run.sh
Labels: ESPnet1, MT, Recipe

#3073 Fix #3072
  espnet2/iterators/chunk_iter_factory.py
Labels: Bugfix, ESPnet2, auto-merge

#3074 Fix setup.py to install filelock
  setup.py
Labels: Bugfix, Installation, auto-merge

#3068 Fixed backward compatibility issue of new conformer definition
  espnet2/asr/encoder/conformer_encoder.py
  test/espnet2/asr/encoder/test_conformer_encoder.py
Labels: Bugfix, ESPnet2

#3083 Update README.md
  README.md
Labels: README, auto-merge

#3085 fix url
  egs2/librispeech/asr1/README.md
Labels: ESPnet2, README, auto-merge

#3089 Fix a typo in the aishell config
  egs/aishell/asr1/conf/tuning/train_pytorch_conformer_kernel15.yaml
Labels: Bugfix, ESPnet1

#3091 Updated ami ihm result
  egs2/ami/asr1/README.md
  egs2/ami/asr1/conf/tuning/decode_transformer2.yaml
  egs2/ami/asr1/conf/tuning/train_asr_transformer2.yaml
  egs2/ami/asr1/conf/tuning/train_asr_transformer3.yaml
  egs2/ami/asr1/conf/tuning/train_asr_transformer4.yaml
  egs2/ami/asr1/conf/tuning/train_lm_transformer.yaml
  egs2/ami/asr1/conf/tuning/train_lm_transformer2.yaml
  egs2/ami/asr1/local/data.sh
  egs2/ami/asr1/run.sh
Labels: ASR, ESPnet2, README, auto-merge

#3101 quick fix for pyopenjtalk installation
  tools/installers/install_pyopenjtalk.sh
Labels: Bugfix, Installation

#3077 gigaspeech
  egs2/TEMPLATE/asr1/db.sh
  egs2/gigaspeech/asr1/README.md
  egs2/gigaspeech/asr1/asr.sh
  egs2/gigaspeech/asr1/cmd.sh
  egs2/gigaspeech/asr1/conf/decode_asr.yaml
  egs2/gigaspeech/asr1/conf/fbank.conf
  egs2/gigaspeech/asr1/conf/pbs.conf
  egs2/gigaspeech/asr1/conf/pitch.conf
  egs2/gigaspeech/asr1/conf/queue.conf
  egs2/gigaspeech/asr1/conf/slurm.conf
  egs2/gigaspeech/asr1/conf/train_asr.yaml
  egs2/gigaspeech/asr1/conf/train_lm.yaml
  egs2/gigaspeech/asr1/conf/tuning/train_asr_conformer6_n_fft512_hop_length256.yaml
  egs2/gigaspeech/asr1/db.sh
  egs2/gigaspeech/asr1/local/data.sh
  egs2/gigaspeech/asr1/local/path.sh
  egs2/gigaspeech/asr1/path.sh
  egs2/gigaspeech/asr1/pyscripts
  egs2/gigaspeech/asr1/run.sh
  egs2/gigaspeech/asr1/scripts
  egs2/gigaspeech/asr1/steps
  egs2/gigaspeech/asr1/utils
Labels: ASR, ESPnet2, README, Recipe, auto-merge

#3106 Make batch bins sampler faster
  espnet2/samplers/length_batch_sampler.py
  espnet2/samplers/num_elements_batch_sampler.py
Labels: ESPnet2, auto-merge

#3107 Use new pyopenjtalk version
  tools/installers/install_pyopenjtalk.sh
Labels: Installation

#3109 Fix CSMSC download script
  egs/csmsc/tts1/local/data_download.sh
  egs2/csmsc/tts1/local/data.sh
Labels: Bugfix, ESPnet1, ESPnet2, Recipe, TTS, auto-merge

#3108 Fix ESPnet2-TTS conformer backward compatibility
  espnet2/tts/fastspeech.py
  espnet2/tts/fastspeech2.py
Labels: Bugfix, ESPnet2

#3114 typo fix in vcc20 README
  egs/vcc20/README.md
Labels: ESPnet1, README

#3110 Update loss report
  espnet/asr/pytorch_backend/asr.py
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
  espnet/nets/pytorch_backend/transducer/auxiliary_task.py
Labels: ASR, ESPnet1, RNNT

#3122 Using torch=1.8.1 in ci tests
  .github/workflows/centos7.yml
  .github/workflows/ci.yaml
  .github/workflows/debian9.yml
  .mergify.yml
  .travis.yml
  README.md
  setup.py
  tools/Makefile
  tools/check_pytorch_cuda_compatibility.py
Labels: CI, Installation, README

#3123 fixed typo #3121
  egs2/jvs/tts1/README.md
Labels: ESPnet2, README, Recipe, TTS, Typo, auto-merge
