Repository espnet/espnet, pull requests merged in 2021-08, with the labels that each got.

#3391 Update HUI-audio-corpus-german recipe results of ESPnet2-TTS
  egs2/hui_acg/tts1/README.md
  egs2/hui_acg/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/ruslan/tts1/README.md
Labels: ESPnet2, README, Recipe, TTS, auto-merge

#3392 Fixed label modification in Taco2 or Transformer-TTS with R > 1
  espnet/nets/pytorch_backend/e2e_tts_tacotron2.py
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  espnet/nets/pytorch_backend/e2e_vc_tacotron2.py
  espnet/nets/pytorch_backend/e2e_vc_transformer.py
  espnet2/tts/tacotron2.py
  espnet2/tts/transformer.py
  test/espnet2/tts/test_tacotron2.py
  test/espnet2/tts/test_transformer.py
Labels: Bugfix, ESPnet1, ESPnet2, TTS

#3397 Fix the iconv error in hkust data prep
  egs/hkust/asr1/local/hkust_data_prep.sh
Labels: ASR, ESPnet1, Recipe

#3400 Update KSS dataset recipe results of ESPnet2-TTS
  egs2/kss/tts1/README.md
Labels: ESPnet2, README, Recipe, TTS, auto-merge

#3387 ESPnet2 Recipe for Ksponspeech
  egs2/README.md
  egs2/ksponspeech/asr1/RESULTS.md
  egs2/ksponspeech/asr1/asr.sh
  egs2/ksponspeech/asr1/cmd.sh
  egs2/ksponspeech/asr1/conf/decode_asr.yaml
  egs2/ksponspeech/asr1/conf/fbank.conf
  egs2/ksponspeech/asr1/conf/pbs.conf
  egs2/ksponspeech/asr1/conf/pitch.conf
  egs2/ksponspeech/asr1/conf/queue.conf
  egs2/ksponspeech/asr1/conf/slurm.conf
  egs2/ksponspeech/asr1/conf/train_asr_conformer.yaml
  egs2/ksponspeech/asr1/conf/train_lm_transformer.yaml
  egs2/ksponspeech/asr1/conf/tuning/train_asr_conformer8_n_fft512_hop_length256.yaml
  egs2/ksponspeech/asr1/conf/tuning/train_lm_transformer3.yaml
  egs2/ksponspeech/asr1/db.sh
  egs2/ksponspeech/asr1/local/data.sh
  egs2/ksponspeech/asr1/local/data_prep.sh
  egs2/ksponspeech/asr1/local/get_space_normalized_hyps.py
  egs2/ksponspeech/asr1/local/get_transcriptions.py
  egs2/ksponspeech/asr1/local/lowercase.perl
  egs2/ksponspeech/asr1/local/path.sh
  egs2/ksponspeech/asr1/local/remove_punctuation.pl
  egs2/ksponspeech/asr1/local/score_sclite.sh
  egs2/ksponspeech/asr1/local/trans_prep.sh
  egs2/ksponspeech/asr1/path.sh
  egs2/ksponspeech/asr1/pyscripts
  egs2/ksponspeech/asr1/run.sh
  egs2/ksponspeech/asr1/scripts
  egs2/ksponspeech/asr1/steps
  egs2/ksponspeech/asr1/utils
Labels: ASR, ESPnet2, README, Recipe

#3395 Add initial Switchboard Dialogue Act classification recipe
  egs2/README.md
  egs2/swbd_da/asr1/README.md
  egs2/swbd_da/asr1/asr.sh
  egs2/swbd_da/asr1/cmd.sh
  egs2/swbd_da/asr1/conf/decode_asr.yaml
  egs2/swbd_da/asr1/conf/fbank.conf
  egs2/swbd_da/asr1/conf/pbs.conf
  egs2/swbd_da/asr1/conf/pitch.conf
  egs2/swbd_da/asr1/conf/queue.conf
  egs2/swbd_da/asr1/conf/slurm.conf
  egs2/swbd_da/asr1/conf/train_asr.yaml
  egs2/swbd_da/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/swbd_da/asr1/db.sh
  egs2/swbd_da/asr1/local/data.sh
  egs2/swbd_da/asr1/local/data_prep.py
  egs2/swbd_da/asr1/local/path.sh
  egs2/swbd_da/asr1/local/test.lst
  egs2/swbd_da/asr1/local/train.lst
  egs2/swbd_da/asr1/local/valid.lst
  egs2/swbd_da/asr1/path.sh
  egs2/swbd_da/asr1/pyscripts
  egs2/swbd_da/asr1/run.sh
  egs2/swbd_da/asr1/scripts
  egs2/swbd_da/asr1/steps
  egs2/swbd_da/asr1/utils
Labels: ESPnet2, README, SLU

#3405 Modify README.md in ESPnet2 Ksponspeech Recipe
  egs2/ksponspeech/asr1/README.md
Labels: ESPnet2, README

#3362 mucs subtask2 baseline recipes (e2e and kaldi)
  egs/README.md
  egs/mucs21_subtask2/asr1/RESULTS.md
  egs/mucs21_subtask2/asr1/cmd.sh
  egs/mucs21_subtask2/asr1/conf/decode.yaml
  egs/mucs21_subtask2/asr1/conf/fbank.conf
  egs/mucs21_subtask2/asr1/conf/gpu.conf
  egs/mucs21_subtask2/asr1/conf/lm.yaml
  egs/mucs21_subtask2/asr1/conf/pitch.conf
  egs/mucs21_subtask2/asr1/conf/queue.conf
  egs/mucs21_subtask2/asr1/conf/slurm.conf
  egs/mucs21_subtask2/asr1/conf/specaug.yaml
  egs/mucs21_subtask2/asr1/conf/train.yaml
  egs/mucs21_subtask2/asr1/local/download_data.sh
  egs/mucs21_subtask2/asr1/local/gen_wavscp.sh
  egs/mucs21_subtask2/asr1/local/prepare_data.sh
  egs/mucs21_subtask2/asr1/path.sh
  egs/mucs21_subtask2/asr1/run.sh
  egs/mucs21_subtask2/asr1/steps
  egs/mucs21_subtask2/asr1/utils
Labels: ASR, ESPnet1, README, Recipe

#3406 JTubeSpeech recipe and hkust espnet1
  egs/hkust/asr1/RESULTS.md
  egs/hkust/asr1/conf/train.yaml
  egs/hkust/asr1/conf/tuning/train_pytorch_conformer_kernel15.yaml
  egs2/README.md
  egs2/jtubespeech/asr1/README.md
  egs2/jtubespeech/asr1/asr.sh
  egs2/jtubespeech/asr1/cmd.sh
  egs2/jtubespeech/asr1/conf/decode_asr.yaml
  egs2/jtubespeech/asr1/conf/fbank.conf
  egs2/jtubespeech/asr1/conf/pbs.conf
  egs2/jtubespeech/asr1/conf/pitch.conf
  egs2/jtubespeech/asr1/conf/queue.conf
  egs2/jtubespeech/asr1/conf/slurm.conf
  egs2/jtubespeech/asr1/conf/train_asr_conformer.yaml
  egs2/jtubespeech/asr1/db.sh
  egs2/jtubespeech/asr1/local/data.sh
  egs2/jtubespeech/asr1/local/dev_easy_jun21.list
  egs2/jtubespeech/asr1/local/dev_normal_jun21.list
  egs2/jtubespeech/asr1/local/dev_speaker_list
  egs2/jtubespeech/asr1/local/eval_easy_jun21.list
  egs2/jtubespeech/asr1/local/eval_normal_jun21.list
  egs2/jtubespeech/asr1/local/eval_speaker_list
  egs2/jtubespeech/asr1/local/path.sh
  egs2/jtubespeech/asr1/local/test_normal_jun21.list
  egs2/jtubespeech/asr1/local/test_speaker_list
  egs2/jtubespeech/asr1/path.sh
  egs2/jtubespeech/asr1/pyscripts
  egs2/jtubespeech/asr1/run.sh
  egs2/jtubespeech/asr1/scripts
  egs2/jtubespeech/asr1/steps
  egs2/jtubespeech/asr1/utils
Labels: ASR, ESPnet1, ESPnet2, README, Recipe

#3403 s3prl_frontend: add wsj recipe / results and librispeech configs
  README.md
  ci/test_integration.sh
  egs2/TEMPLATE/asr1/asr.sh
  egs2/librispeech/asr1/conf/tuning/train_asr_conformer7_hubert_960hr_large.yaml
  egs2/librispeech/asr1/conf/tuning/train_asr_conformer7_wav2vec2_960hr_large.yaml
  egs2/wsj/asr1/README.md
  egs2/wsj/asr1/conf/tuning/train_asr_conformer_s3prlfrontend_hubert.yaml
  egs2/wsj/asr1/conf/tuning/train_asr_conformer_s3prlfrontend_wav2vec2.yaml
  espnet2/asr/espnet_model.py
Labels: CI, ESPnet2, README

#3401 indic tts without pretrained model
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/cmu_indic/tts1/README.md
  egs2/cmu_indic/tts1/cmd.sh
  egs2/cmu_indic/tts1/conf/decode.yaml
  egs2/cmu_indic/tts1/conf/mfcc.conf
  egs2/cmu_indic/tts1/conf/pbs.conf
  egs2/cmu_indic/tts1/conf/queue.conf
  egs2/cmu_indic/tts1/conf/slurm.conf
  egs2/cmu_indic/tts1/conf/train.yaml
  egs2/cmu_indic/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/cmu_indic/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/cmu_indic/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/cmu_indic/tts1/conf/tuning/train_tacotron2.yaml
  egs2/cmu_indic/tts1/conf/tuning/train_transformer.yaml
  egs2/cmu_indic/tts1/conf/vad.conf
  egs2/cmu_indic/tts1/db.sh
  egs2/cmu_indic/tts1/local/data.sh
  egs2/cmu_indic/tts1/local/data_download.sh
  egs2/cmu_indic/tts1/local/data_prep.sh
  egs2/cmu_indic/tts1/local/path.sh
  egs2/cmu_indic/tts1/path.sh
  egs2/cmu_indic/tts1/pyscripts
  egs2/cmu_indic/tts1/run.sh
  egs2/cmu_indic/tts1/scripts
  egs2/cmu_indic/tts1/steps
  egs2/cmu_indic/tts1/tts.sh
  egs2/cmu_indic/tts1/utils
Labels: Recipe, TTS, ESPnet2, README

#3411 s3prl_frontend: add librispeech results
  README.md
  egs2/librispeech/asr1/README.md
Labels: ESPnet2, README

#3431 Update version to 0.10.1 🎉
  espnet/version.txt
Labels: ESPnet1

#3432 Update version to 0.10.2a1
  espnet/version.txt
Labels: ESPnet1

#3433 [WIP] batch decode with k2 ctc
  egs2/TEMPLATE/asr1/asr.sh
  espnet2/bin/k2_asr_inference.py
  test/espnet2/bin/test_k2_asr_inference.py
Labels: New Features, ASR, ESPnet2

#3422 Update Sentencepiece and add python 3.9 to CI
  .github/workflows/ci.yaml
  setup.py
  test_utils/test_spm.bats
Labels: Installation, CI

#3393 Docker Updates
  .gitignore
  docker/.default_args
  docker/.gitignore
  docker/build.sh
  docker/prebuilt/Dockerfile
  docker/prebuilt/devel/Dockerfile
  docker/prebuilt/devel/gpu/10.0/Dockerfile
  docker/prebuilt/devel/gpu/10.1/Dockerfile
  docker/prebuilt/devel/gpu/10.2/Dockerfile
  docker/prebuilt/devel/gpu/11.1/Dockerfile
  docker/prebuilt/devel/gpu/8.0/Dockerfile
  docker/prebuilt/devel/gpu/9.0/Dockerfile
  docker/prebuilt/devel/gpu/9.1/Dockerfile
  docker/prebuilt/devel/gpu/9.2/Dockerfile
  docker/prebuilt/runtime/Dockerfile
  docker/run.sh
Labels: Docker

#3440 Added a link and a classifier for Python 3.9
  README.md
  setup.py
Labels: Installation, README

#3441 Fix typos in "doc"
  doc/conf.py
  doc/docker.md
  doc/espnet2_task.md
  doc/espnet2_training_option.md
  doc/installation.md
  doc/tutorial.md
Labels: Documentation

#3443 Fix typos in "espnet2"
  espnet2/asr/encoder/conformer_encoder.py
  espnet2/bin/asr_align.py
  espnet2/bin/asr_inference.py
  espnet2/bin/diar_inference.py
  espnet2/bin/enh_inference.py
  espnet2/bin/launch.py
  espnet2/enh/espnet_model.py
  espnet2/enh/layers/beamformer.py
  espnet2/enh/separator/asteroid_models.py
  espnet2/enh/separator/conformer_separator.py
  espnet2/enh/separator/transformer_separator.py
  espnet2/iterators/chunk_iter_factory.py
  espnet2/layers/mask_along_axis.py
  espnet2/samplers/build_batch_sampler.py
  espnet2/tasks/diar.py
  espnet2/train/dataset.py
  espnet2/tts/feats_extract/dio.py
  espnet2/tts/gst/style_encoder.py
  espnet2/tts/transformer.py
Labels: Documentation, ESPnet2

#3450 Support cleaner option in phn converter util
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_text_to_phn.py
Labels: Enhancement, TTS, ESPnet2, auto-merge

#3444 Fix typos in "espnet"
  espnet/bin/asr_align.py
  espnet/mt/mt_utils.py
  espnet/nets/asr_interface.py
  espnet/nets/chainer_backend/ctc.py
  espnet/nets/chainer_backend/e2e_asr.py
  espnet/nets/chainer_backend/e2e_asr_transformer.py
  espnet/nets/chainer_backend/rnn/decoders.py
  espnet/nets/chainer_backend/rnn/encoders.py
  espnet/nets/chainer_backend/transformer/ctc.py
  espnet/nets/chainer_backend/transformer/decoder.py
  espnet/nets/chainer_backend/transformer/encoder.py
  espnet/nets/ctc_prefix_score.py
  espnet/nets/mt_interface.py
  espnet/nets/pytorch_backend/conformer/encoder.py
  espnet/nets/pytorch_backend/e2e_asr_mix_transformer.py
  espnet/nets/pytorch_backend/e2e_asr_mulenc.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_mt.py
  espnet/nets/pytorch_backend/e2e_mt_transformer.py
  espnet/nets/pytorch_backend/e2e_st.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
  espnet/nets/pytorch_backend/e2e_tts_tacotron2.py
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  espnet/nets/pytorch_backend/e2e_vc_tacotron2.py
  espnet/nets/pytorch_backend/e2e_vc_transformer.py
  espnet/nets/pytorch_backend/fastspeech/length_regulator.py
  espnet/nets/pytorch_backend/rnn/attentions.py
  espnet/nets/pytorch_backend/tacotron2/decoder.py
  espnet/nets/pytorch_backend/transformer/add_sos_eos.py
  espnet/nets/pytorch_backend/transformer/decoder.py
  espnet/nets/pytorch_backend/transformer/dynamic_conv.py
  espnet/nets/pytorch_backend/transformer/dynamic_conv2d.py
  espnet/nets/pytorch_backend/transformer/encoder.py
  espnet/nets/pytorch_backend/transformer/encoder_mix.py
  espnet/nets/pytorch_backend/transformer/lightconv.py
  espnet/nets/pytorch_backend/transformer/lightconv2d.py
  espnet/nets/pytorch_backend/transformer/positionwise_feed_forward.py
  espnet/nets/scorer_interface.py
  espnet/nets/scorers/ctc.py
  espnet/nets/scorers/ngram.py
  espnet/utils/dataset.py
  espnet/utils/io_utils.py
Labels: MT, ESPnet1

#3437 Change Text2Speech class output format
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/bin/tts_inference.py
  espnet2/tts/abs_tts.py
  espnet2/tts/espnet_model.py
  espnet2/tts/fastspeech.py
  espnet2/tts/fastspeech2.py
  espnet2/tts/tacotron2.py
  espnet2/tts/transformer.py
Labels: Enhancement, TTS, ESPnet2

#3452 Support speaker id input for TTS models
  egs2/TEMPLATE/asr1/pyscripts/utils/utt2spk_to_utt2sid.py
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/bin/tts_inference.py
  espnet2/tasks/tts.py
  espnet2/tts/espnet_model.py
Labels: New Features, TTS, ESPnet2

#3453 Follow up of the support speaker id input
  egs2/TEMPLATE/tts1/tts.sh
Labels: Enhancement, TTS, ESPnet2

#3455 Add missing configs for LibriTTS recipe
  egs2/libritts/tts1/conf/tuning/train_gst+xvector_conformer_fastspeech2.yaml
  egs2/libritts/tts1/conf/tuning/train_xvector_conformer_fastspeech2.yaml
Labels: Recipe, TTS, ESPnet2

#3439 Add vocoder modules related to VITS
  espnet2/gan_tts/__init__.py
  espnet2/gan_tts/vits/__init__.py
  espnet2/gan_tts/vits/hifigan.py
  espnet2/gan_tts/vits/loss.py
  espnet2/gan_tts/vits/residual_block.py
  espnet2/gan_tts/vits/wavenet.py
  test/espnet2/gan_tts/vits/test_hifigan.py
  test/espnet2/gan_tts/vits/test_wavenet.py
Labels: Enhancement, TTS, ESPnet2

#3425 Update SWBD DA configuration
  egs2/swbd_da/asr1/README.md
  egs2/swbd_da/asr1/conf/decode_asr.yaml
  egs2/swbd_da/asr1/conf/train_asr.yaml
  egs2/swbd_da/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/swbd_da/asr1/run.sh
  espnet/bin/asr_recog.py
  espnet/nets/beam_search.py
  espnet2/bin/asr_inference.py
  test/espnet2/asr/decoder/test_transformer_decoder.py
Labels: ESPnet2, README, SLU

#3457 Fix minor bugs in ESPnet2 diarization recipe
  egs2/TEMPLATE/diar1/diar.sh
  egs2/mini_librispeech/diar1/local/data.sh
Labels: ESPnet2

#3463 Support new g2p functions for various languages
  egs2/TEMPLATE/tts1/README.md
  espnet2/bin/tokenize_text.py
  espnet2/tasks/asr.py
  espnet2/tasks/enh_asr.py
  espnet2/tasks/lm.py
  espnet2/tasks/tts.py
  espnet2/text/phoneme_tokenizer.py
  test/espnet2/text/test_phoneme_tokenizer.py
Labels: Enhancement, TTS, ESPnet2, README

#3460 Add SIWIS recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/ruslan/tts1/local/data_prep.sh
  egs2/siwis/tts1/README.md
  egs2/siwis/tts1/cmd.sh
  egs2/siwis/tts1/conf/decode.yaml
  egs2/siwis/tts1/conf/pbs.conf
  egs2/siwis/tts1/conf/queue.conf
  egs2/siwis/tts1/conf/slurm.conf
  egs2/siwis/tts1/conf/train.yaml
  egs2/siwis/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/siwis/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/siwis/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/siwis/tts1/conf/tuning/train_tacotron2.yaml
  egs2/siwis/tts1/conf/tuning/train_transformer.yaml
  egs2/siwis/tts1/db.sh
  egs2/siwis/tts1/local/data.sh
  egs2/siwis/tts1/local/data_download.sh
  egs2/siwis/tts1/local/data_prep.sh
  egs2/siwis/tts1/local/path.sh
  egs2/siwis/tts1/path.sh
  egs2/siwis/tts1/pyscripts
  egs2/siwis/tts1/run.sh
  egs2/siwis/tts1/scripts
  egs2/siwis/tts1/steps
  egs2/siwis/tts1/tts.sh
  egs2/siwis/tts1/utils
Labels: Recipe, TTS, ESPnet2, README

#3462 Upgrade python 3.6 to 3.7
  .github/workflows/centos7.yml
  .github/workflows/debian9.yml
  README.md
  setup.py
Labels: Installation, CI, README

#3420 Dynamic import for the ngram function
  espnet2/bin/asr_inference.py
Labels: Bugfix, ESPnet2

#3467 Add missing symlink to trim_silence.py for ESPnet2
  egs2/TEMPLATE/asr1/pyscripts/audio/trim_silence.py
Labels: Bugfix, TTS, ESPnet2

#3415 Espnet2 mucs_subtask2
  egs/mucs21_subtask2/asr1/RESULTS.md
  egs/mucs21_subtask2/asr1/conf/train.yaml
  egs/mucs21_subtask2/asr1/local/download_data.sh
  egs/mucs21_subtask2/asr1/local/prepare_data.sh
  egs2/TEMPLATE/asr1/db.sh
  egs2/mucs21_subtask2/asr1/README.md
  egs2/mucs21_subtask2/asr1/asr.sh
  egs2/mucs21_subtask2/asr1/cmd.sh
  egs2/mucs21_subtask2/asr1/conf/decode.yaml
  egs2/mucs21_subtask2/asr1/conf/fbank.conf
  egs2/mucs21_subtask2/asr1/conf/gpu.conf
  egs2/mucs21_subtask2/asr1/conf/lm.yaml
  egs2/mucs21_subtask2/asr1/conf/pitch.conf
  egs2/mucs21_subtask2/asr1/conf/queue.conf
  egs2/mucs21_subtask2/asr1/conf/slurm.conf
  egs2/mucs21_subtask2/asr1/conf/train.yaml
  egs2/mucs21_subtask2/asr1/conf/tuning/train_conformer.yaml
  egs2/mucs21_subtask2/asr1/conf/tuning/train_transformer.yaml
  egs2/mucs21_subtask2/asr1/db.sh
  egs2/mucs21_subtask2/asr1/local/data.sh
  egs2/mucs21_subtask2/asr1/local/download_data.sh
  egs2/mucs21_subtask2/asr1/local/path.sh
  egs2/mucs21_subtask2/asr1/local/prepare_data.sh
  egs2/mucs21_subtask2/asr1/path.sh
  egs2/mucs21_subtask2/asr1/pyscripts
  egs2/mucs21_subtask2/asr1/run.sh
  egs2/mucs21_subtask2/asr1/scripts
  egs2/mucs21_subtask2/asr1/steps
  egs2/mucs21_subtask2/asr1/utils
Labels: Recipe, ASR, ESPnet2, README, ESPnet1

#3469 Add duration and focus_rate in output dict
  espnet2/bin/tts_inference.py
Labels: Bugfix, TTS, ESPnet2, auto-merge

#3468 TTS recipe for J-KAC corpus
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/jkac/tts1/README.md
  egs2/jkac/tts1/cmd.sh
  egs2/jkac/tts1/conf/decode.yaml
  egs2/jkac/tts1/conf/pbs.conf
  egs2/jkac/tts1/conf/queue.conf
  egs2/jkac/tts1/conf/slurm.conf
  egs2/jkac/tts1/conf/train.yaml
  egs2/jkac/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/jkac/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/jkac/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/jkac/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/jkac/tts1/conf/tuning/train_fastspeech.yaml
  egs2/jkac/tts1/conf/tuning/train_fastspeech2.yaml
  egs2/jkac/tts1/conf/tuning/train_tacotron2.yaml
  egs2/jkac/tts1/conf/tuning/train_transformer.yaml
  egs2/jkac/tts1/db.sh
  egs2/jkac/tts1/local/data.sh
  egs2/jkac/tts1/local/data_prep.sh
  egs2/jkac/tts1/local/path.sh
  egs2/jkac/tts1/local/prep_segments.py
  egs2/jkac/tts1/path.sh
  egs2/jkac/tts1/pyscripts
  egs2/jkac/tts1/run.sh
  egs2/jkac/tts1/scripts
  egs2/jkac/tts1/steps
  egs2/jkac/tts1/tts.sh
  egs2/jkac/tts1/utils
Labels: Recipe, TTS, ESPnet2, README, auto-merge

#3410 Add NLU post-encoder using Hugging Face Transformers
  egs2/TEMPLATE/asr1/db.sh
  egs2/swbd_da/asr1/README.md
  egs2/swbd_da/asr1/conf/tuning/train_asr_transformer_postencoder.yaml
  egs2/swbd_da/asr1/local/data.sh
  espnet2/asr/espnet_model.py
  espnet2/asr/postencoder/__init__.py
  espnet2/asr/postencoder/abs_postencoder.py
  espnet2/asr/postencoder/hugging_face_transformers_postencoder.py
  espnet2/tasks/asr.py
  espnet2/torch_utils/initialize.py
  setup.py
  test/espnet2/asr/postencoder/test_hugging_face_transformers_postencoder.py
Labels: Installation, ESPnet2, README, SLU

#3274 Intermediate CTC + Stochastic depth
  egs/wsj/asr1/conf/tuning/train_pytorch_transformer_interctc.yaml
  espnet/nets/pytorch_backend/conformer/encoder.py
  espnet/nets/pytorch_backend/conformer/encoder_layer.py
  espnet/nets/pytorch_backend/e2e_asr_conformer.py
  espnet/nets/pytorch_backend/e2e_asr_maskctc.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/transformer/argument.py
  espnet/nets/pytorch_backend/transformer/encoder.py
  espnet/nets/pytorch_backend/transformer/encoder_layer.py
  test/test_e2e_asr_conformer.py
  test/test_e2e_asr_maskctc.py
  test/test_e2e_asr_transformer.py
Labels: New Features, ESPnet1

#3470 TTS recipes for thchs30 and aishell3
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/aishell3/tts1/cmd.sh
  egs2/aishell3/tts1/conf/decode.yaml
  egs2/aishell3/tts1/conf/mfcc.conf
  egs2/aishell3/tts1/conf/pbs.conf
  egs2/aishell3/tts1/conf/queue.conf
  egs2/aishell3/tts1/conf/slurm.conf
  egs2/aishell3/tts1/conf/train.yaml
  egs2/aishell3/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/aishell3/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/aishell3/tts1/conf/tuning/train_gst+xvector_conformer_fastspeech2.yaml
  egs2/aishell3/tts1/conf/tuning/train_gst+xvector_tacotron2.yaml
  egs2/aishell3/tts1/conf/tuning/train_gst+xvector_transformer.yaml
  egs2/aishell3/tts1/conf/vad.conf
  egs2/aishell3/tts1/db.sh
  egs2/aishell3/tts1/local/data.sh
  egs2/aishell3/tts1/local/data_prep.py
  egs2/aishell3/tts1/local/download_and_untar.sh
  egs2/aishell3/tts1/local/path.sh
  egs2/aishell3/tts1/path.sh
  egs2/aishell3/tts1/pyscripts
  egs2/aishell3/tts1/run.sh
  egs2/aishell3/tts1/scripts
  egs2/aishell3/tts1/sid
  egs2/aishell3/tts1/steps
  egs2/aishell3/tts1/tts.sh
  egs2/aishell3/tts1/utils
  egs2/thchs30/tts1/cmd.sh
  egs2/thchs30/tts1/conf/decode.yaml
  egs2/thchs30/tts1/conf/mfcc.conf
  egs2/thchs30/tts1/conf/pbs.conf
  egs2/thchs30/tts1/conf/queue.conf
  egs2/thchs30/tts1/conf/slurm.conf
  egs2/thchs30/tts1/conf/train.yaml
  egs2/thchs30/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/thchs30/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/thchs30/tts1/conf/tuning/train_gst+xvector_conformer_fastspeech2.yaml
  egs2/thchs30/tts1/conf/tuning/train_gst+xvector_tacotron2.yaml
  egs2/thchs30/tts1/conf/tuning/train_gst+xvector_transformer.yaml
  egs2/thchs30/tts1/conf/vad.conf
  egs2/thchs30/tts1/db.sh
  egs2/thchs30/tts1/local/data.sh
  egs2/thchs30/tts1/local/download_and_untar.sh
  egs2/thchs30/tts1/local/path.sh
  egs2/thchs30/tts1/local/thchs-30_data_prep.sh
  egs2/thchs30/tts1/path.sh
  egs2/thchs30/tts1/pyscripts
  egs2/thchs30/tts1/run.sh
  egs2/thchs30/tts1/scripts
  egs2/thchs30/tts1/sid
  egs2/thchs30/tts1/steps
  egs2/thchs30/tts1/tts.sh
  egs2/thchs30/tts1/utils
Labels: Recipe, TTS, ESPnet2, README, conflicts

#3473 TTS recipes for thchs30 and aishell3
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/tts1/tts.sh
  egs2/aishell3/tts1/cmd.sh
  egs2/aishell3/tts1/conf/decode.yaml
  egs2/aishell3/tts1/conf/mfcc.conf
  egs2/aishell3/tts1/conf/pbs.conf
  egs2/aishell3/tts1/conf/queue.conf
  egs2/aishell3/tts1/conf/slurm.conf
  egs2/aishell3/tts1/conf/train.yaml
  egs2/aishell3/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/aishell3/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/aishell3/tts1/conf/tuning/train_gst+xvector_conformer_fastspeech2.yaml
  egs2/aishell3/tts1/conf/tuning/train_gst+xvector_tacotron2.yaml
  egs2/aishell3/tts1/conf/tuning/train_gst+xvector_transformer.yaml
  egs2/aishell3/tts1/conf/vad.conf
  egs2/aishell3/tts1/db.sh
  egs2/aishell3/tts1/local/data.sh
  egs2/aishell3/tts1/local/data_prep.py
  egs2/aishell3/tts1/local/download_and_untar.sh
  egs2/aishell3/tts1/local/path.sh
  egs2/aishell3/tts1/path.sh
  egs2/aishell3/tts1/pyscripts
  egs2/aishell3/tts1/run.sh
  egs2/aishell3/tts1/scripts
  egs2/aishell3/tts1/sid
  egs2/aishell3/tts1/steps
  egs2/aishell3/tts1/tts.sh
  egs2/aishell3/tts1/utils
  egs2/thchs30/tts1/README.md
  egs2/thchs30/tts1/cmd.sh
  egs2/thchs30/tts1/conf/decode.yaml
  egs2/thchs30/tts1/conf/mfcc.conf
  egs2/thchs30/tts1/conf/pbs.conf
  egs2/thchs30/tts1/conf/queue.conf
  egs2/thchs30/tts1/conf/slurm.conf
  egs2/thchs30/tts1/conf/train.yaml
  egs2/thchs30/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/thchs30/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/thchs30/tts1/conf/tuning/train_gst+xvector_conformer_fastspeech2.yaml
  egs2/thchs30/tts1/conf/tuning/train_gst+xvector_tacotron2.yaml
  egs2/thchs30/tts1/conf/tuning/train_gst+xvector_transformer.yaml
  egs2/thchs30/tts1/conf/vad.conf
  egs2/thchs30/tts1/db.sh
  egs2/thchs30/tts1/local/data.sh
  egs2/thchs30/tts1/local/download_and_untar.sh
  egs2/thchs30/tts1/local/path.sh
  egs2/thchs30/tts1/local/thchs-30_data_prep.sh
  egs2/thchs30/tts1/path.sh
  egs2/thchs30/tts1/pyscripts
  egs2/thchs30/tts1/run.sh
  egs2/thchs30/tts1/scripts
  egs2/thchs30/tts1/sid
  egs2/thchs30/tts1/steps
  egs2/thchs30/tts1/tts.sh
  egs2/thchs30/tts1/utils
Labels: Recipe, TTS, ESPnet2, README

#3474 Fix typos in commonvoice
  egs/commonvoice/asr1/local/download_and_untar.sh
Labels: Bugfix, Recipe, ESPnet1

#3464 Add CSS10 recipe for ESPnet2-TTS
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/css10/tts1/README.md
  egs2/css10/tts1/cmd.sh
  egs2/css10/tts1/conf/decode.yaml
  egs2/css10/tts1/conf/mfcc.conf
  egs2/css10/tts1/conf/pbs.conf
  egs2/css10/tts1/conf/queue.conf
  egs2/css10/tts1/conf/slurm.conf
  egs2/css10/tts1/conf/train.yaml
  egs2/css10/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/css10/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/css10/tts1/conf/tuning/train_gst+xvector_conformer_fastspeech2.yaml
  egs2/css10/tts1/conf/tuning/train_gst+xvector_tacotron2.yaml
  egs2/css10/tts1/conf/tuning/train_gst+xvector_transformer.yaml
  egs2/css10/tts1/conf/vad.conf
  egs2/css10/tts1/db.sh
  egs2/css10/tts1/local/data.sh
  egs2/css10/tts1/local/data_prep.sh
  egs2/css10/tts1/local/path.sh
  egs2/css10/tts1/path.sh
  egs2/css10/tts1/pyscripts
  egs2/css10/tts1/run.sh
  egs2/css10/tts1/scripts
  egs2/css10/tts1/sid
  egs2/css10/tts1/steps
  egs2/css10/tts1/tts.sh
  egs2/css10/tts1/utils
Labels: Recipe, TTS, ESPnet2, README

#3479 THCHS30 ASR recipe
  egs2/thchs30/asr1/asr.sh
  egs2/thchs30/asr1/cmd.sh
  egs2/thchs30/asr1/conf/decode_asr.yaml
  egs2/thchs30/asr1/conf/fbank.conf
  egs2/thchs30/asr1/conf/pbs.conf
  egs2/thchs30/asr1/conf/pitch.conf
  egs2/thchs30/asr1/conf/queue.conf
  egs2/thchs30/asr1/conf/slurm.conf
  egs2/thchs30/asr1/conf/train_asr.yaml
  egs2/thchs30/asr1/conf/train_lm.yaml
  egs2/thchs30/asr1/conf/tuning/decode_rnn.yaml
  egs2/thchs30/asr1/conf/tuning/decode_transformer.yaml
  egs2/thchs30/asr1/conf/tuning/train_asr_conformer5.yaml
  egs2/thchs30/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/thchs30/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/thchs30/asr1/db.sh
  egs2/thchs30/asr1/local/data.sh
  egs2/thchs30/asr1/local/download_and_untar.sh
  egs2/thchs30/asr1/local/path.sh
  egs2/thchs30/asr1/local/thchs-30_data_prep.sh
  egs2/thchs30/asr1/path.sh
  egs2/thchs30/asr1/pyscripts
  egs2/thchs30/asr1/run.sh
  egs2/thchs30/asr1/scripts
  egs2/thchs30/asr1/steps
  egs2/thchs30/asr1/utils
Labels: Recipe, ASR, ESPnet2

#3448 Add VITS-related modules
  espnet2/gan_tts/vits/duration_predictor.py
  espnet2/gan_tts/vits/flow.py
  espnet2/gan_tts/vits/generator.py
  espnet2/gan_tts/vits/loss.py
  espnet2/gan_tts/vits/monotonic_align/__init__.py
  espnet2/gan_tts/vits/posterior_encoder.py
  espnet2/gan_tts/vits/residual_coupling.py
  espnet2/gan_tts/vits/text_encoder.py
  espnet2/gan_tts/vits/transform.py
  test/espnet2/gan_tts/vits/test_generator.py
Labels: Enhancement, TTS, ESPnet2

#3483 Add cython code for VITS
  espnet2/gan_tts/vits/monotonic_align/__init__.py
  espnet2/gan_tts/vits/monotonic_align/core.pyx
  espnet2/gan_tts/vits/monotonic_align/setup.py
Labels: Enhancement, TTS, ESPnet2

#3489 Support language ID input for espnet2 TTS
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/tasks/tts.py
  espnet2/tts/espnet_model.py
Labels: New Features, TTS, ESPnet2

#3436 Add new trainer for GAN-based training
  espnet2/train/abs_gan_espnet_model.py
  espnet2/train/gan_trainer.py
Labels: New Features, ESPnet2

#3490 Support SID and LID inputs for TTS models
  espnet2/bin/tts_inference.py
  espnet2/tts/fastspeech/__init__.py
  espnet2/tts/fastspeech/fastspeech.py
  espnet2/tts/fastspeech2/__init__.py
  espnet2/tts/fastspeech2/fastspeech2.py
  espnet2/tts/fastspeech2/variance_predictor.py
  espnet2/tts/tacotron2/__init__.py
  espnet2/tts/tacotron2/tacotron2.py
  espnet2/tts/transformer/__init__.py
  espnet2/tts/transformer/transformer.py
  espnet2/tts/utils/__init__.py
  espnet2/tts/utils/duration_calculator.py
  test/espnet2/tts/test_fastspeech.py
  test/espnet2/tts/test_fastspeech2.py
  test/espnet2/tts/test_tacotron2.py
  test/espnet2/tts/test_transformer.py
Labels: New Features, TTS, ESPnet2

#3493 Fix k2 version in CI using conda
  .github/workflows/centos7.yml
  .github/workflows/debian9.yml
  ci/install.sh
Labels: Bugfix, CI

#3497 Refactor TTS modules in ESPnet2
  espnet2/bin/tts_inference.py
  espnet2/tts/abs_tts.py
  espnet2/tts/espnet_model.py
  espnet2/tts/fastspeech/fastspeech.py
  espnet2/tts/fastspeech2/fastspeech2.py
  espnet2/tts/fastspeech2/loss.py
  espnet2/tts/fastspeech2/variance_predictor.py
  espnet2/tts/tacotron2/tacotron2.py
  espnet2/tts/transformer/transformer.py
  espnet2/tts/utils/duration_calculator.py
  test/espnet2/tts/test_fastspeech.py
  test/espnet2/tts/test_fastspeech2.py
  test/espnet2/tts/test_tacotron2.py
  test/espnet2/tts/test_transformer.py
Labels: Refactoring, TTS, ESPnet2

#3476 Add return_complex=False for stft
  .gitignore
  espnet2/layers/stft.py
Labels: Bugfix, ESPnet2

#3485 Add Swahili ASR recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/swahili/asr1/README.md
  egs2/swahili/asr1/asr.sh
  egs2/swahili/asr1/cmd.sh
  egs2/swahili/asr1/conf/decode_asr.yaml
  egs2/swahili/asr1/conf/fbank.conf
  egs2/swahili/asr1/conf/pbs.conf
  egs2/swahili/asr1/conf/pitch.conf
  egs2/swahili/asr1/conf/queue.conf
  egs2/swahili/asr1/conf/slurm.conf
  egs2/swahili/asr1/conf/train_asr_conformer.yaml
  egs2/swahili/asr1/conf/train_lm_transformer.yaml
  egs2/swahili/asr1/db.sh
  egs2/swahili/asr1/local/data.sh
  egs2/swahili/asr1/local/nlsyms.txt
  egs2/swahili/asr1/local/path.sh
  egs2/swahili/asr1/local/prepare_alffa_data.py
  egs2/swahili/asr1/local/prepare_babel_data.py
  egs2/swahili/asr1/local/prepare_gamayun_data.py
  egs2/swahili/asr1/local/prepare_iwslt_data.py
  egs2/swahili/asr1/path.sh
  egs2/swahili/asr1/pyscripts
  egs2/swahili/asr1/run.sh
  egs2/swahili/asr1/scripts
  egs2/swahili/asr1/steps
  egs2/swahili/asr1/utils
  espnet2/tasks/abs_task.py
Labels: Recipe, ASR, ESPnet2, README

#3498 Update the TTS inference
  egs2/ljspeech/tts1/conf/tuning/decode_vits.yaml
  egs2/vctk/tts1/conf/tuning/decode_vits.yaml
  espnet2/bin/tts_inference.py
  espnet2/gan_tts/vits/generator.py
  espnet2/gan_tts/vits/vits.py
  test/espnet2/gan_tts/vits/test_generator.py
  test/espnet2/gan_tts/vits/test_vits.py
Labels: Enhancement, TTS, ESPnet2

#3499 Support language id in VITS
  espnet2/gan_tts/vits/generator.py
  espnet2/gan_tts/vits/vits.py
  test/espnet2/gan_tts/vits/test_generator.py
  test/espnet2/gan_tts/vits/test_vits.py
Labels: Enhancement, TTS, ESPnet2

#3503 Revert wrongly removed lines in `tts.sh`
  egs2/TEMPLATE/tts1/tts.sh
Labels: Bugfix, TTS, ESPnet2

#3504 Fix typo in hifigan
  egs2/csmsc/tts1/conf/tuning/train_full_band_vits.yaml
  egs2/csmsc/tts1/conf/tuning/train_vits.yaml
  egs2/jsut/tts1/conf/tuning/train_full_band_vits.yaml
  egs2/jsut/tts1/conf/tuning/train_vits.yaml
  egs2/libritts/tts1/conf/tuning/train_xvector_vits.yaml
  egs2/ljspeech/tts1/conf/tuning/train_vits.yaml
  egs2/vctk/tts1/conf/tuning/train_multi_spk_vits.yaml
  espnet2/gan_tts/hifigan/hifigan.py
  espnet2/gan_tts/hifigan/residual_block.py
  espnet2/gan_tts/vits/generator.py
  espnet2/tts/fastspeech/fastspeech.py
  espnet2/tts/fastspeech2/fastspeech2.py
  espnet2/tts/gst/style_encoder.py
  espnet2/tts/tacotron2/tacotron2.py
  espnet2/tts/transformer/transformer.py
  test/espnet2/gan_tts/hifigan/test_hifigan.py
Labels: Bugfix, Typo, TTS, ESPnet2

#3505 aishell3 dataset preparation
  egs2/aishell3/tts1/local/data.sh
  egs2/aishell3/tts1/local/download_and_untar.sh
Labels: Recipe, TTS, ESPnet2

#3508 Add joint training config example
  egs2/ljspeech/tts1/conf/tuning/train_joint_conformer_fastspeech2_hifigan.yaml
  espnet2/tasks/tts.py
Labels: Enhancement, TTS, ESPnet2

#3509 Update SIWIS README
  README.md
  egs2/README.md
  egs2/siwis/tts1/README.md
Labels: Recipe, TTS, ESPnet2, README

#3486 Add Voicebank (vctk_noisy) script
  egs2/vctk_noisy/enh1/cmd.sh
  egs2/vctk_noisy/enh1/conf/pbs.conf
  egs2/vctk_noisy/enh1/conf/queue.conf
  egs2/vctk_noisy/enh1/conf/slurm.conf
  egs2/vctk_noisy/enh1/conf/train.yaml
  egs2/vctk_noisy/enh1/conf/tuning/train_enh_conv_tasnet.yaml
  egs2/vctk_noisy/enh1/db.sh
  egs2/vctk_noisy/enh1/enh.sh
  egs2/vctk_noisy/enh1/local/data.sh
  egs2/vctk_noisy/enh1/local/path.sh
  egs2/vctk_noisy/enh1/local/vctk_data_prep.sh
  egs2/vctk_noisy/enh1/path.sh
  egs2/vctk_noisy/enh1/pyscripts
  egs2/vctk_noisy/enh1/run.sh
  egs2/vctk_noisy/enh1/scripts
  egs2/vctk_noisy/enh1/steps
  egs2/vctk_noisy/enh1/utils
Labels: Recipe, ESPnet2, SE

#3519 Add the GigaSpeech normalization and fix the WER
  egs2/gigaspeech/asr1/README.md
  egs2/gigaspeech/asr1/local/score.sh
  egs2/gigaspeech/asr1/run.sh
Labels: Bugfix, Recipe, ESPnet2, README

#3500 Fix CTC Segmentation
  README.md
  utils/asr_align_wav.sh
Labels: Enhancement, README, CTC segmentation

#3513 Support `parallel_wavegan` vocoders in `tts_inference.py`
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/bin/tts_inference.py
  espnet2/tasks/tts.py
  espnet2/tts/utils/__init__.py
  espnet2/tts/utils/parallel_wavegan_pretrained_vocoder.py
  espnet2/utils/griffin_lim.py
Labels: New Features, TTS, ESPnet2

#3522 Rename `swahili` recipe to `iwslt21_low_resource`
  egs2/README.md
  egs2/iwslt21_low_resource/asr1/README.md
  egs2/iwslt21_low_resource/asr1/asr.sh
  egs2/iwslt21_low_resource/asr1/cmd.sh
  egs2/iwslt21_low_resource/asr1/conf/decode_asr.yaml
  egs2/iwslt21_low_resource/asr1/conf/fbank.conf
  egs2/iwslt21_low_resource/asr1/conf/pbs.conf
  egs2/iwslt21_low_resource/asr1/conf/pitch.conf
  egs2/iwslt21_low_resource/asr1/conf/queue.conf
  egs2/iwslt21_low_resource/asr1/conf/slurm.conf
  egs2/iwslt21_low_resource/asr1/conf/train_asr_conformer.yaml
  egs2/iwslt21_low_resource/asr1/conf/train_lm_transformer.yaml
  egs2/iwslt21_low_resource/asr1/db.sh
  egs2/iwslt21_low_resource/asr1/local/data.sh
  egs2/iwslt21_low_resource/asr1/local/nlsyms.txt
  egs2/iwslt21_low_resource/asr1/local/path.sh
  egs2/iwslt21_low_resource/asr1/local/prepare_alffa_data.py
  egs2/iwslt21_low_resource/asr1/local/prepare_babel_data.py
  egs2/iwslt21_low_resource/asr1/local/prepare_gamayun_data.py
  egs2/iwslt21_low_resource/asr1/local/prepare_iwslt_data.py
  egs2/iwslt21_low_resource/asr1/path.sh
  egs2/iwslt21_low_resource/asr1/pyscripts
  egs2/iwslt21_low_resource/asr1/run.sh
  egs2/iwslt21_low_resource/asr1/scripts
  egs2/iwslt21_low_resource/asr1/steps
  egs2/iwslt21_low_resource/asr1/utils
Labels: ESPnet2, README

#3514 Remove the support of feats_type=fbank/stft in ESPnet2-TTS
  ci/test_integration.sh
  egs2/TEMPLATE/tts1/README.md
  egs2/TEMPLATE/tts1/tts.sh
  egs2/an4/tts1/conf/fbank.conf
  egs2/an4/tts1/conf/pitch.conf
  egs2/mini_an4/tts1/conf/fbank.conf
  egs2/mini_an4/tts1/conf/pitch.conf
  espnet2/bin/tts_inference.py
  espnet2/gan_tts/espnet_model.py
  espnet2/tasks/gan_tts.py
  espnet2/tasks/tts.py
  espnet2/tts/espnet_model.py
Labels: Refactoring, CI, TTS, ESPnet2, README

#3523 Update the tutorial about maxlenratio usage
  doc/tutorial.md
Labels: Documentation

#3525 Fix wrong arguments in pretrained vococder wrapper
  espnet2/tts/utils/parallel_wavegan_pretrained_vocoder.py
Labels: Bugfix, TTS, ESPnet2

#3515 Add parallel wavegan module for joint training
  espnet2/gan_tts/joint/joint_text2wav.py
  espnet2/gan_tts/parallel_wavegan/__init__.py
  espnet2/gan_tts/parallel_wavegan/parallel_wavegan.py
  espnet2/gan_tts/parallel_wavegan/upsample.py
  test/espnet2/gan_tts/hifigan/test_hifigan.py
  test/espnet2/gan_tts/joint/test_joint_text2wav.py
  test/espnet2/gan_tts/parallel_wavegan/test_parallel_wavegan.py
Labels: Enhancement, TTS, ESPnet2

#3516 Add melgan module for joint training
  espnet2/gan_tts/hifigan/hifigan.py
  espnet2/gan_tts/joint/joint_text2wav.py
  espnet2/gan_tts/melgan/__init__.py
  espnet2/gan_tts/melgan/melgan.py
  espnet2/gan_tts/melgan/pqmf.py
  espnet2/gan_tts/melgan/residual_stack.py
  test/espnet2/gan_tts/joint/test_joint_text2wav.py
  test/espnet2/gan_tts/melgan/test_melgan.py
Labels: Enhancement, TTS, ESPnet2

#3527 Fix test condition
  test/espnet2/gan_tts/melgan/test_melgan.py
Labels: Bugfix, CI

#3532 Support `from_pretrained` function
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/bin/tts_inference.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/tts.py
Labels: New Features, ESPnet2

#3482 Add support for intent classification on SLURP dataset
  egs2/TEMPLATE/asr1/db.sh
  egs2/slurp/asr1/README.md
  egs2/slurp/asr1/asr.sh
  egs2/slurp/asr1/cmd.sh
  egs2/slurp/asr1/conf/decode_asr.yaml
  egs2/slurp/asr1/conf/fbank.conf
  egs2/slurp/asr1/conf/pbs.conf
  egs2/slurp/asr1/conf/pitch.conf
  egs2/slurp/asr1/conf/queue.conf
  egs2/slurp/asr1/conf/slurm.conf
  egs2/slurp/asr1/conf/train_asr.yaml
  egs2/slurp/asr1/conf/tuning/train_asr_transformer_adam_specaug_fast.yaml
  egs2/slurp/asr1/db.sh
  egs2/slurp/asr1/local/data.sh
  egs2/slurp/asr1/local/path.sh
  egs2/slurp/asr1/local/prepare_slurp_data.py
  egs2/slurp/asr1/local/score.py
  egs2/slurp/asr1/local/score.sh
  egs2/slurp/asr1/path.sh
  egs2/slurp/asr1/pyscripts
  egs2/slurp/asr1/run.sh
  egs2/slurp/asr1/scripts
  egs2/slurp/asr1/steps
  egs2/slurp/asr1/utils
Labels: ESPnet2, README

#3535 Support `from_pretrained` for ASR and ENH
  espnet2/bin/asr_inference.py
  espnet2/bin/enh_inference.py
  espnet2/bin/k2_asr_inference.py
  espnet2/bin/tts_inference.py
Labels: New Features, ASR, ESPnet2, SE

#3537 Support `from_pretrain` for DIAR
  espnet2/bin/diar_inference.py
Labels: New Features, ESPnet2

#3542 Fix for default inference model
  egs2/TEMPLATE/asr1/asr.sh
Labels: ESPnet2

#3538 Remove prefix `enh_` and `diar_`
  egs2/TEMPLATE/diar1/diar.sh
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/enh1/scripts/utils/enhance_dataset.sh
  espnet2/bin/diar_inference.py
  espnet2/bin/enh_inference.py
  test/espnet2/bin/test_enh_inference.py
Labels: Refactoring, ESPnet2
