Repository espnet/espnet, pull requests merged in 2021-05, with the labels that each got.

#3190 fix a bug in the CTC mode
  espnet2/asr/espnet_model.py
Labels: Bugfix, ESPnet2

#3193 update layer norm to reflect the dimension variable
  espnet/nets/pytorch_backend/transformer/layer_norm.py
Labels: Enhancement

#3192 update asr demo
  README.md
Labels: README

#3199 [WIP] GTN CTC bug fix, unit test, and installer
  espnet/nets/pytorch_backend/ctc.py
  espnet/nets/pytorch_backend/gtn_ctc.py
  test/test_loss.py
  tools/check_install.py
  tools/installers/install_gtn.sh
Labels: ASR, ESPnet1, Installation

#3220 Fix a bug of adding noise to the training data.
  espnet2/train/preprocessor.py
Labels: ASR, Bugfix, ESPnet2, auto-merge

#3096 fix typo for AdapterForSoundScpReader
  espnet2/train/dataset.py
Labels: Bugfix, ESPnet2, auto-merge

#3087 CTC Segmentation for ESPnet 2
  README.md
  espnet/bin/asr_align.py
  espnet2/bin/asr_align.py
  setup.py
  test/espnet2/bin/test_asr_align.py
  test/test_ctc_segmentation.py
Labels: ESPnet1, ESPnet2, Installation, README, auto-merge

#3223 Fix .mergify.yml
  .mergify.yml
Labels: mergify

#3215 Normalization for Open_li52
  egs2/open_li52/asr1/local/data.sh
Labels: ASR, ESPnet2, Recipe

#3227 Fix misspelling in ./egs/jsut/tts1/local/download.sh
  egs/jsut/tts1/local/download.sh
Labels: ESPnet1, Recipe, TTS

#3225 Update the readme file for the SE demo page.
  README.md
  espnet2/enh/decoder/__init__.py
  espnet2/enh/encoder/__init__.py
  espnet2/enh/separator/__init__.py
Labels: ESPnet2, README

#3234 Fix missing nlsyms.txt for pretrained models
  espnet2/text/char_tokenizer.py
Labels: Bugfix, ESPnet2, auto-merge

#3235 Workaround for missing nlsyms.txt
  espnet2/text/char_tokenizer.py
  espnet2/text/phoneme_tokenizer.py
  espnet2/text/word_tokenizer.py
Labels: ASR, Bugfix, ESPnet2, auto-merge

#3238 fix add_to_datadir.py in mgb2 recipe
  egs/mgb2/asr1/local/add_to_datadir.py
Labels: ASR, ESPnet1, Recipe

#3240 Transducer configs & results for AISHELL-1
  egs/aishell/asr1/RESULTS.md
  egs/aishell/asr1/conf/tuning/transducer/decode_default.yaml
  egs/aishell/asr1/conf/tuning/transducer/train_conformer-rnn_transducer.yaml
  egs/aishell/asr1/conf/tuning/transducer/train_conformer-rnn_transducer_aux_ngpu4.yaml
  egs/aishell/asr1/conf/tuning/transducer/train_transducer.yaml
  egs/aishell/asr1/conf/tuning/transducer/train_transducer_aux.yaml
  egs/aishell/asr1/run.sh
Labels: ASR, ESPnet1, RNNT, Recipe

#3243 ESPnet-SE Recipe for noisy reverberant dataset
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/vctk_noisyreverb/enh1/cmd.sh
  egs2/vctk_noisyreverb/enh1/conf/pbs.conf
  egs2/vctk_noisyreverb/enh1/conf/queue.conf
  egs2/vctk_noisyreverb/enh1/conf/slurm.conf
  egs2/vctk_noisyreverb/enh1/conf/tuning/train_enh_conv_tasnet.yaml
  egs2/vctk_noisyreverb/enh1/db.sh
  egs2/vctk_noisyreverb/enh1/enh.sh
  egs2/vctk_noisyreverb/enh1/local/data.sh
  egs2/vctk_noisyreverb/enh1/local/path.sh
  egs2/vctk_noisyreverb/enh1/local/train_spk
  egs2/vctk_noisyreverb/enh1/local/valid_spk
  egs2/vctk_noisyreverb/enh1/path.sh
  egs2/vctk_noisyreverb/enh1/pyscripts
  egs2/vctk_noisyreverb/enh1/run.sh
  egs2/vctk_noisyreverb/enh1/scripts
  egs2/vctk_noisyreverb/enh1/steps
  egs2/vctk_noisyreverb/enh1/utils
  espnet2/enh/espnet_model.py
  setup.py
  test/espnet2/enh/test_espnet_model.py
Labels: ESPnet2, Installation, README, Recipe, SE

#3248 Update version to v.0.9.10 🎉
  espnet/version.txt
Labels: ESPnet1, auto-merge

#3249 fix the required number of arguments
  egs/mgb2/asr1/local/mgb_data_prep.sh
Labels: Bugfix, ESPnet1, Recipe

#3251 Fix a bug in the TTS transformer initialization
  espnet2/tts/transformer.py
Labels: Bugfix, ESPnet2, TTS

#3252 Fix some bugs in xml2stm.py
  egs/mgb2/asr1/local/xml2stm.py
Labels: Bugfix, ESPnet1

#3257 Fix #3255
  espnet2/train/trainer.py
Labels: Bugfix, ESPnet2

#3258 Add a comment for disabling the attention plot
  espnet2/tasks/abs_task.py
Labels: Documentation, ESPnet2
