Repository espnet/espnet, pull requests merged in 2021-06, with the labels that each got.

#3262 Fix bug when "--field -5" is passed to espnet2.bin.tokenize_text
  espnet2/bin/tokenize_text.py
Labels: Bugfix, ESPnet2

#3264 Fix typo in asr.sh (espnet2) that might cause bug
  egs2/TEMPLATE/asr1/asr.sh
Labels: Bugfix, ESPnet2, auto-merge

#3259 Add scripts for DNS Interspeech 2020 in ESPNet-se
  egs2/TEMPLATE/asr1/db.sh
  egs2/dns_ins20/enh1/cmd.sh
  egs2/dns_ins20/enh1/conf/pbs.conf
  egs2/dns_ins20/enh1/conf/queue.conf
  egs2/dns_ins20/enh1/conf/slurm.conf
  egs2/dns_ins20/enh1/conf/train.yaml
  egs2/dns_ins20/enh1/conf/tuning/train_enh_blstm_tf.yaml
  egs2/dns_ins20/enh1/db.sh
  egs2/dns_ins20/enh1/enh.sh
  egs2/dns_ins20/enh1/local/convert2wav.sh
  egs2/dns_ins20/enh1/local/data.sh
  egs2/dns_ins20/enh1/local/dns_create_mixture.sh
  egs2/dns_ins20/enh1/local/dns_data_prep.sh
  egs2/dns_ins20/enh1/local/path.sh
  egs2/dns_ins20/enh1/path.sh
  egs2/dns_ins20/enh1/pyscripts
  egs2/dns_ins20/enh1/run.sh
  egs2/dns_ins20/enh1/scripts
  egs2/dns_ins20/enh1/steps
  egs2/dns_ins20/enh1/utils
Labels: ESPnet2, Recipe, SE

#3273 Pretrained model for vctk noisy reverberant recipe
  egs2/vctk_noisyreverb/enh1/README.md
  egs2/vctk_noisyreverb/enh1/conf/tuning/train_enh_conv_tasnet.yaml
  egs2/vctk_noisyreverb/enh1/run.sh
  espnet2/enh/espnet_model.py
Labels: ESPnet2, README

#3280 Add quantize args
  espnet/bin/asr_recog.py
Labels: ESPnet1

#3278 Update W&B integration
  README.md
  espnet2/tasks/abs_task.py
  espnet2/train/reporter.py
  espnet2/train/trainer.py
Labels: ESPnet2, Enhancement, README, auto-merge

#3283 Bug fix of accum_grad when grad-nan
  espnet2/train/trainer.py
Labels: Bugfix, ESPnet2, auto-merge

#3287 Change the default value of use_wandb to False
  README.md
  espnet2/tasks/abs_task.py
Labels: ESPnet2, README, auto-merge

#3281 dns_ins20: Add README.md and real_recording testing data.
  egs2/dns_ins20/enh1/README.md
  egs2/dns_ins20/enh1/conf/tuning/train_enh_blstm_tf.yaml
  egs2/dns_ins20/enh1/local/data.sh
  egs2/dns_ins20/enh1/local/dns_data_prep.sh
  egs2/dns_ins20/enh1/run.sh
Labels: ESPnet2, README

#3210 Dynamic quantization for decoding
  .github/workflows/ci.yaml
  ci/test_integration.sh
  espnet/asr/pytorch_backend/asr.py
  espnet/asr/pytorch_backend/recog.py
  espnet/bin/asr_recog.py
  test/test_asr_quantize.py
Labels: ASR, CI, ESPnet1, New Features

#3292 Update ctc.py
  espnet2/asr/ctc.py
Labels: ESPnet2

#3294 Remove travis and add .github/workflows/doc.yml to deploy doc
  .github/workflows/ci.yaml
  .github/workflows/doc.yml
  .travis.yml
  README.md
  ci/doc.sh
  doc/README.md
  setup.py
  test/test_asr_quantize.py
Labels: CI, Documentation, Installation, README

#3298 Warn ignore_nan_grad with warpctc instead of error.
  espnet2/asr/ctc.py
Labels: Bugfix, ESPnet2

#3299 Add pytorch 1.9.0 support and remove 1.0.1, 1.1.0, and 1.2.0
  .github/workflows/centos7.yml
  .github/workflows/ci.yaml
  .github/workflows/debian9.yml
  .github/workflows/doc.yml
  README.md
  tools/Makefile
Labels: CI, Installation, README

#3303 Delete codes for old pytorch in espnet2.
  espnet2/asr/specaug/specaug.py
  espnet2/enh/espnet_model.py
  espnet2/enh/layers/beamformer.py
  espnet2/enh/layers/dnn_beamformer.py
  espnet2/layers/time_warp.py
  espnet2/schedulers/abs_scheduler.py
  espnet2/schedulers/noam_lr.py
  espnet2/schedulers/warmup_lr.py
  espnet2/tasks/abs_task.py
  espnet2/torch_utils/recursive_op.py
  espnet2/train/iterable_dataset.py
  espnet2/train/reporter.py
  espnet2/train/trainer.py
  test/espnet2/bin/test_enh_inference.py
  test/espnet2/enh/decoder/test_stft_decoder.py
  test/espnet2/enh/encoder/test_stft_encoder.py
  test/espnet2/enh/separator/test_beamformer.py
  test/espnet2/layers/test_stft.py
  test/espnet2/schedulers/test_noam_lr.py
  test/espnet2/schedulers/test_warmup_lr.py
  test/espnet2/train/test_iterable_dataset.py
  test/espnet2/train/test_reporter.py
Labels: ESPnet2

#3301 Delete old pytorch dispatch in espnet1
  README.md
  ci/test_integration.sh
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_train.py
  espnet/bin/mt_train.py
  espnet/bin/st_train.py
  espnet/bin/tts_decode.py
  espnet/bin/vc_decode.py
  espnet/mt/pytorch_backend/mt.py
  espnet/nets/pytorch_backend/ctc.py
  espnet/nets/pytorch_backend/fastspeech/length_regulator.py
  espnet/nets/pytorch_backend/frontends/dnn_beamformer.py
  espnet/nets/pytorch_backend/rnn/decoders.py
  espnet/nets/pytorch_backend/transformer/mask.py
  espnet/st/pytorch_backend/st.py
  espnet/transform/transformation.py
  test/test_asr_quantize.py
  test/test_e2e_tts_fastspeech.py
  test/test_initialization.py
  test/test_loss.py
  test/test_recog.py
  test/test_torch.py
Labels: ASR, CI, ESPnet1, MT, README, Refactoring

#3269 ESPnet2 Receipe for swbd
  egs2/TEMPLATE/asr1/db.sh
  egs2/swbd/asr1/RESULTS.md
  egs2/swbd/asr1/asr.sh
  egs2/swbd/asr1/cmd.sh
  egs2/swbd/asr1/conf/decode_asr.yaml
  egs2/swbd/asr1/conf/fbank.conf
  egs2/swbd/asr1/conf/pbs.conf
  egs2/swbd/asr1/conf/pitch.conf
  egs2/swbd/asr1/conf/queue.conf
  egs2/swbd/asr1/conf/slurm.conf
  egs2/swbd/asr1/conf/train_asr.yaml
  egs2/swbd/asr1/conf/train_lm.yaml
  egs2/swbd/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/swbd/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/swbd/asr1/conf/tuning/train_lm_transformer.yaml
  egs2/swbd/asr1/db.sh
  egs2/swbd/asr1/local/MSU_single_letter.txt
  egs2/swbd/asr1/local/data.sh
  egs2/swbd/asr1/local/dict.patch
  egs2/swbd/asr1/local/eval2000_data_prep.sh
  egs2/swbd/asr1/local/extend_segments.pl
  egs2/swbd/asr1/local/fisher_data_prep.sh
  egs2/swbd/asr1/local/format_acronyms_dict.py
  egs2/swbd/asr1/local/map_acronyms_transcripts.py
  egs2/swbd/asr1/local/path.sh
  egs2/swbd/asr1/local/rt03_data_prep.sh
  egs2/swbd/asr1/local/score.sh
  egs2/swbd/asr1/local/swbd1_data_download.sh
  egs2/swbd/asr1/local/swbd1_data_prep.sh
  egs2/swbd/asr1/local/swbd1_fix_speakerid.pl
  egs2/swbd/asr1/local/swbd1_map_words.pl
  egs2/swbd/asr1/local/swbd1_prepare_dict.sh
  egs2/swbd/asr1/path.sh
  egs2/swbd/asr1/pyscripts
  egs2/swbd/asr1/run.sh
  egs2/swbd/asr1/scripts
  egs2/swbd/asr1/steps
  egs2/swbd/asr1/utils
Labels: ASR, ESPnet2, Recipe

#3305 Minor fix of Fisher-Callhome recipe
  egs/fisher_callhome_spanish/asr1b/RESULTS.md
  egs/fisher_callhome_spanish/asr1b/conf/decode.yaml
  egs/fisher_callhome_spanish/asr1b/conf/lm.yaml
  egs/fisher_callhome_spanish/asr1b/conf/train.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/decode_pytorch_transformer.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/decode_pytorch_transformer_char.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/decode_pytorch_transformer_nolm.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/decode_rnn.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/lm.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/train_pytorch_conformer.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/train_pytorch_conformer_kernel15_bpe.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/train_pytorch_transformer.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/train_pytorch_transformer_char.yaml
  egs/fisher_callhome_spanish/asr1b/conf/tuning/train_rnn.yaml
  egs/fisher_callhome_spanish/asr1b/run.sh
  egs/fisher_callhome_spanish/mt1/RESULTS.md
  egs/fisher_callhome_spanish/mt1/conf/tuning/decode_pytorch_transformer.2en.yaml
  egs/fisher_callhome_spanish/mt1/conf/tuning/decode_pytorch_transformer.yaml
  egs/fisher_callhome_spanish/mt1/conf/tuning/decode_rnn.yaml
  egs/fisher_callhome_spanish/mt1/conf/tuning/train_pytorch_transformer.yaml
  egs/fisher_callhome_spanish/mt1/run.sh
  egs/fisher_callhome_spanish/st1/RESULTS.md
  egs/fisher_callhome_spanish/st1/conf/decode.yaml
  egs/fisher_callhome_spanish/st1/conf/train.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/decode_pytorch_transformer.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/decode_pytorch_transformer_bpe_pretrain.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/decode_pytorch_transformer_char_pretrain.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/decode_pytorch_transformer_pretrain.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/decode_rnn.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/train_pytorch_conformer.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/train_pytorch_conformer_kernel15_bpe_ctc_asr0.3.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/train_pytorch_conformer_kernel15_bpe_short.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/train_pytorch_transformer.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/train_pytorch_transformer_bpe_short.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/train_pytorch_transformer_char_short.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/train_pytorch_transformer_ctcasr0.2_mt0.2.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/train_pytorch_transformer_ctcasr0.3.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/train_rnn.yaml
  egs/fisher_callhome_spanish/st1/local/normalize_trans.sh
  egs/fisher_callhome_spanish/st1/local/score_bleu.sh
  egs/fisher_callhome_spanish/st1/run.sh
Labels: ESPnet1, Recipe, ST

#3308 SWBD Result Update
  egs2/README.md
  egs2/TEMPLATE/asr1/scripts/utils/show_asr_result.sh
  egs2/swbd/asr1/RESULTS.md
  egs2/swbd/asr1/conf/train_asr.yaml
  egs2/swbd/asr1/conf/train_lm.yaml
  egs2/swbd/asr1/conf/tuning/train_asr_conformer2.yaml
  egs2/swbd/asr1/conf/tuning/train_lm_transformer2.yaml
  egs2/swbd/asr1/local/score.sh
  egs2/swbd/asr1/run.sh
  utils/json2sctm.py
  utils/trn2ctm.py
  utils/trn2stm.py
Labels: ASR, ESPnet2, README, Recipe, auto-merge

#3306 Update version to 0.10.0
  espnet/version.txt
Labels: ESPnet1

#3310 Follow up for #3299, about pytorch1.9.0 in ci
  .mergify.yml
  espnet2/train/iterable_dataset.py
  setup.py
Labels: ESPnet2, Installation, mergify

#3317 Fix gigaspeech pre-trained model link
  egs2/gigaspeech/asr1/README.md
Labels: Documentation, ESPnet2, README

#3316 Allow override default 'speed_control_alpha' parameter
  espnet2/bin/tts_inference.py
Labels: ESPnet2

#3319 fix a bug in OneCycleLR and CyclicLR
  espnet2/schedulers/abs_scheduler.py
Labels: Bugfix, ESPnet2

#3329 Add cuda compatibility checking for pytorch1.9
  tools/check_pytorch_cuda_compatibility.py
Labels: Installation, auto-merge
