Repository espnet/espnet, pull requests merged in 2021-07, with the labels that each got.

#3324 Fix a type error of swbd data preparation.
  egs/swbd/asr1/local/eval2000_data_prep.sh
  egs/swbd/asr1/local/fisher_data_prep.sh
  egs/swbd/asr1/local/rt03_data_prep.sh
  egs/swbd/asr1/local/swbd1_data_prep.sh
  egs2/swbd/asr1/local/data.sh
Labels: ESPnet1, ESPnet2

#3312 Update wav2vec2_encoder.py
  espnet2/asr/encoder/wav2vec2_encoder.py
Labels: ESPnet2

#3348 Update EGS2 readme
  egs2/README.md
Labels: ESPnet2, README

#3344 OpenSLR Sundanese ASR
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/su_openslr36/asr1/README.md
  egs2/su_openslr36/asr1/asr.sh
  egs2/su_openslr36/asr1/cmd.sh
  egs2/su_openslr36/asr1/conf/decode_asr.yaml
  egs2/su_openslr36/asr1/conf/fbank.conf
  egs2/su_openslr36/asr1/conf/pbs.conf
  egs2/su_openslr36/asr1/conf/pitch.conf
  egs2/su_openslr36/asr1/conf/queue.conf
  egs2/su_openslr36/asr1/conf/slurm.conf
  egs2/su_openslr36/asr1/conf/train_asr.yaml
  egs2/su_openslr36/asr1/conf/train_lm.yaml
  egs2/su_openslr36/asr1/conf/tuning/decode_rnn.yaml
  egs2/su_openslr36/asr1/conf/tuning/decode_transformer.yaml
  egs2/su_openslr36/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/su_openslr36/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/su_openslr36/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/su_openslr36/asr1/db.sh
  egs2/su_openslr36/asr1/local/data.sh
  egs2/su_openslr36/asr1/local/path.sh
  egs2/su_openslr36/asr1/local/sunda_data_prep.py
  egs2/su_openslr36/asr1/path.sh
  egs2/su_openslr36/asr1/pyscripts
  egs2/su_openslr36/asr1/run.sh
  egs2/su_openslr36/asr1/scripts
  egs2/su_openslr36/asr1/steps
  egs2/su_openslr36/asr1/utils
Labels: ASR, ESPnet2, README, Recipe

#2960 OpenSLR Javanese ASR
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/jv_openslr35/asr1/asr.sh
  egs2/jv_openslr35/asr1/cmd.sh
  egs2/jv_openslr35/asr1/conf/decode_asr.yaml
  egs2/jv_openslr35/asr1/conf/fbank.conf
  egs2/jv_openslr35/asr1/conf/pbs.conf
  egs2/jv_openslr35/asr1/conf/pitch.conf
  egs2/jv_openslr35/asr1/conf/queue.conf
  egs2/jv_openslr35/asr1/conf/slurm.conf
  egs2/jv_openslr35/asr1/conf/train_asr.yaml
  egs2/jv_openslr35/asr1/conf/train_lm.yaml
  egs2/jv_openslr35/asr1/conf/tuning/decode_rnn.yaml
  egs2/jv_openslr35/asr1/conf/tuning/decode_transformer.yaml
  egs2/jv_openslr35/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/jv_openslr35/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/jv_openslr35/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/jv_openslr35/asr1/db.sh
  egs2/jv_openslr35/asr1/local/data.sh
  egs2/jv_openslr35/asr1/local/data_prep.py
  egs2/jv_openslr35/asr1/local/path.sh
  egs2/jv_openslr35/asr1/path.sh
  egs2/jv_openslr35/asr1/pyscripts
  egs2/jv_openslr35/asr1/run.sh
  egs2/jv_openslr35/asr1/scripts
  egs2/jv_openslr35/asr1/setup.sh
  egs2/jv_openslr35/asr1/steps
  egs2/jv_openslr35/asr1/utils
  tools/activate_python.sh
Labels: ESPnet2, Installation, README

#3349 fix path error in local/score.sh in swbd
  egs2/swbd/asr1/local/score.sh
Labels: ASR, ESPnet2, Recipe

#3346 LRS2 lipreading recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/db.sh
  egs2/lrs2/lipreading1/asr.sh
  egs2/lrs2/lipreading1/cmd.sh
  egs2/lrs2/lipreading1/conf/fbank.conf
  egs2/lrs2/lipreading1/conf/pbs.conf
  egs2/lrs2/lipreading1/conf/pitch.conf
  egs2/lrs2/lipreading1/conf/queue.conf
  egs2/lrs2/lipreading1/conf/slurm.conf
  egs2/lrs2/lipreading1/conf/train_asr_transformer.yaml
  egs2/lrs2/lipreading1/conf/train_lm.yaml
  egs2/lrs2/lipreading1/conf/tuning/train_asr_transformer.yaml
  egs2/lrs2/lipreading1/db.sh
  egs2/lrs2/lipreading1/local/data.sh
  egs2/lrs2/lipreading1/local/feature_extract/cvtransforms.py
  egs2/lrs2/lipreading1/local/feature_extract/extract_visual_feature.py
  egs2/lrs2/lipreading1/local/feature_extract/models/__init__.py
  egs2/lrs2/lipreading1/local/feature_extract/models/pretrained.py
  egs2/lrs2/lipreading1/local/feature_extract/video_processing.py
  egs2/lrs2/lipreading1/local/path.sh
  egs2/lrs2/lipreading1/path.sh
  egs2/lrs2/lipreading1/pyscripts
  egs2/lrs2/lipreading1/run.sh
  egs2/lrs2/lipreading1/scripts
  egs2/lrs2/lipreading1/steps
  egs2/lrs2/lipreading1/utils
Labels: ESPnet2, README, Recipe

#3354 Update contextual_block_transformer_encoder.py
  espnet2/asr/encoder/contextual_block_transformer_encoder.py
Labels: ESPnet2

#3345 espnet2 ngram
  ci/test_integration.sh
  egs2/TEMPLATE/asr1/asr.sh
  egs2/aishell/asr1/conf/decode_asr_transformer_ngram.yaml
  egs2/aishell/asr1/local/path.sh
  espnet2/bin/asr_inference.py
Labels: ASR, CI, ESPnet2, LM

#3364 Fixed typo in model name
  egs2/libritts/tts1/README.md
  egs2/vctk/tts1/README.md
Labels: ESPnet2, README, Typo, auto-merge

#3321 Porting existing pre-trained models to hugging face
  CONTRIBUTING.md
  egs2/TEMPLATE/asr1/scripts/utils/TEMPLATE_Readme.md
  egs2/TEMPLATE/asr1/scripts/utils/create_README_file.py
  egs2/TEMPLATE/asr1/scripts/utils/get_model_names.py
  egs2/TEMPLATE/asr1/scripts/utils/upload_models_to_hub.sh
  egs2/TEMPLATE/diar1/scripts/utils/TEMPLATE_Readme.md
  egs2/TEMPLATE/diar1/scripts/utils/create_README_file.py
  egs2/TEMPLATE/diar1/scripts/utils/get_model_names.py
  egs2/TEMPLATE/diar1/scripts/utils/upload_models_to_hub.sh
  egs2/TEMPLATE/enh1/scripts/utils/TEMPLATE_Readme.md
  egs2/TEMPLATE/enh1/scripts/utils/create_README_file.py
  egs2/TEMPLATE/enh1/scripts/utils/get_model_names.py
  egs2/TEMPLATE/enh1/scripts/utils/upload_models_to_hub.sh
Labels: ESPnet2, New Features

#3352 FSC Espnet2 data preparation
  egs2/TEMPLATE/asr1/db.sh
  egs2/fsc/asr1/asr.sh
  egs2/fsc/asr1/cmd.sh
  egs2/fsc/asr1/conf/fbank.conf
  egs2/fsc/asr1/conf/pbs.conf
  egs2/fsc/asr1/conf/pitch.conf
  egs2/fsc/asr1/conf/queue.conf
  egs2/fsc/asr1/conf/slurm.conf
  egs2/fsc/asr1/conf/train_asr.yaml
  egs2/fsc/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/fsc/asr1/conf/tuning/train_asr_transformer_adam.yaml
  egs2/fsc/asr1/db.sh
  egs2/fsc/asr1/local/data.sh
  egs2/fsc/asr1/local/data_prep.py
  egs2/fsc/asr1/local/path.sh
  egs2/fsc/asr1/path.sh
  egs2/fsc/asr1/pyscripts
  egs2/fsc/asr1/run.sh
  egs2/fsc/asr1/scripts
  egs2/fsc/asr1/steps
  egs2/fsc/asr1/utils
Labels: ESPnet2, Recipe, SLU

#3367 Update batch_beam_search_online_sim.py
  espnet/nets/batch_beam_search_online_sim.py
Labels: Documentation, ESPnet1

#3347 CMU INDIC TTS
  egs/cmu_indic/tts1/cmd.sh
  egs/cmu_indic/tts1/conf/decode.yaml
  egs/cmu_indic/tts1/conf/gpu.conf
  egs/cmu_indic/tts1/conf/queue.conf
  egs/cmu_indic/tts1/conf/slurm.conf
  egs/cmu_indic/tts1/conf/train_pytorch_tacotron2.v3.finetune.yaml
  egs/cmu_indic/tts1/conf/train_pytorch_transformer.v1.single.finetune.mailabs.en_UK.elizabeth.transformer.v1.single.yaml
  egs/cmu_indic/tts1/conf/train_pytorch_transformer.v1.single.finetune.yaml
  egs/cmu_indic/tts1/local/clean_text.py
  egs/cmu_indic/tts1/local/data_download.sh
  egs/cmu_indic/tts1/local/data_prep.sh
  egs/cmu_indic/tts1/local/pretrained_model_download.sh
  egs/cmu_indic/tts1/path.sh
  egs/cmu_indic/tts1/run.sh
  egs/cmu_indic/tts1/steps
  egs/cmu_indic/tts1/utils
Labels: ESPnet1, Recipe, TTS

#3371 Support German G2P
  espnet2/bin/tokenize_text.py
  espnet2/tasks/asr.py
  espnet2/tasks/enh_asr.py
  espnet2/tasks/lm.py
  espnet2/tasks/tts.py
  espnet2/text/phoneme_tokenizer.py
  test/espnet2/text/test_phoneme_tokenizer.py
Labels: ESPnet2, Enhancement, TTS

#3372 Support french G2P
  espnet2/bin/tokenize_text.py
  espnet2/tasks/asr.py
  espnet2/tasks/enh_asr.py
  espnet2/tasks/lm.py
  espnet2/tasks/tts.py
  espnet2/text/phoneme_tokenizer.py
  test/espnet2/text/test_phoneme_tokenizer.py
Labels: ESPnet2, Enhancement, TTS, auto-merge

#3373 Support Spanish G2P
  espnet2/bin/tokenize_text.py
  espnet2/tasks/asr.py
  espnet2/tasks/enh_asr.py
  espnet2/tasks/lm.py
  espnet2/tasks/tts.py
  espnet2/text/phoneme_tokenizer.py
  test/espnet2/text/test_phoneme_tokenizer.py
Labels: ESPnet2, Enhancement, TTS, auto-merge

#3374 Update README about G2P
  egs2/TEMPLATE/tts1/README.md
  test/espnet2/text/test_phoneme_tokenizer.py
Labels: Documentation, ESPnet2, README, TTS, auto-merge

#3369 updated javanese and sundanese readmes
  egs2/jv_openslr35/asr1/README.md
  egs2/su_openslr36/asr1/README.md
Labels: ESPnet2, README

#3375 Add HUI-audio-corpus-german recipe for ESPnet2-TTS
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_text_to_phn.py
  egs2/hui_acg/tts1/README.md
  egs2/hui_acg/tts1/cmd.sh
  egs2/hui_acg/tts1/conf/decode.yaml
  egs2/hui_acg/tts1/conf/mfcc.conf
  egs2/hui_acg/tts1/conf/pbs.conf
  egs2/hui_acg/tts1/conf/queue.conf
  egs2/hui_acg/tts1/conf/slurm.conf
  egs2/hui_acg/tts1/conf/train.yaml
  egs2/hui_acg/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/hui_acg/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/hui_acg/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/hui_acg/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/hui_acg/tts1/conf/tuning/train_tacotron2.yaml
  egs2/hui_acg/tts1/conf/tuning/train_transformer.yaml
  egs2/hui_acg/tts1/conf/vad.conf
  egs2/hui_acg/tts1/db.sh
  egs2/hui_acg/tts1/local/data.sh
  egs2/hui_acg/tts1/local/data_download.sh
  egs2/hui_acg/tts1/local/data_prep.sh
  egs2/hui_acg/tts1/local/path.sh
  egs2/hui_acg/tts1/path.sh
  egs2/hui_acg/tts1/pyscripts
  egs2/hui_acg/tts1/run.sh
  egs2/hui_acg/tts1/scripts
  egs2/hui_acg/tts1/sid
  egs2/hui_acg/tts1/steps
  egs2/hui_acg/tts1/tts.sh
  egs2/hui_acg/tts1/utils
Labels: ESPnet2, README, Recipe, TTS

#3377 Support Russian G2P
  egs2/TEMPLATE/tts1/README.md
  espnet2/bin/tokenize_text.py
  espnet2/tasks/asr.py
  espnet2/tasks/enh_asr.py
  espnet2/tasks/lm.py
  espnet2/tasks/tts.py
  espnet2/text/phoneme_tokenizer.py
  test/espnet2/text/test_phoneme_tokenizer.py
Labels: ESPnet2, Enhancement, README, TTS, auto-merge

#3358 k2_and_espnet2
  .github/workflows/centos7.yml
  .github/workflows/ci.yaml
  .github/workflows/debian9.yml
  .github/workflows/doc.yml
  ci/install.sh
  egs2/TEMPLATE/asr1/asr.sh
  espnet2/bin/k2_asr_inference.py
  test/espnet2/bin/test_k2_asr_inference.py
  tools/Makefile
  tools/installers/install_k2.sh
Labels: CI, ESPnet2, Installation

#3380 Add trim_silence for ESPnet2-TTS
  egs2/TEMPLATE/asr1/scripts/audio/trim_silence.sh
  utils/trim_silence.py
  utils/trim_silence.sh
Labels: ESPnet2, Enhancement, TTS

#3381 Update HUI audio corpus german recipe
  egs2/hui_acg/tts1/local/data.sh
Labels: ESPnet2, Recipe, TTS

#3382 Support Korean G2P
  egs2/TEMPLATE/tts1/README.md
  espnet2/bin/tokenize_text.py
  espnet2/tasks/asr.py
  espnet2/tasks/enh_asr.py
  espnet2/tasks/lm.py
  espnet2/tasks/tts.py
  espnet2/text/phoneme_tokenizer.py
  test/espnet2/text/test_phoneme_tokenizer.py
Labels: ESPnet2, Enhancement, README, TTS

#3383 Support KSS dataset recipe for ESPnet2-TTS
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/kss/tts1/README.md
  egs2/kss/tts1/cmd.sh
  egs2/kss/tts1/conf/decode.yaml
  egs2/kss/tts1/conf/mfcc.conf
  egs2/kss/tts1/conf/pbs.conf
  egs2/kss/tts1/conf/queue.conf
  egs2/kss/tts1/conf/slurm.conf
  egs2/kss/tts1/conf/train.yaml
  egs2/kss/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/kss/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/kss/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/kss/tts1/conf/tuning/train_tacotron2.yaml
  egs2/kss/tts1/conf/tuning/train_transformer.yaml
  egs2/kss/tts1/conf/vad.conf
  egs2/kss/tts1/db.sh
  egs2/kss/tts1/local/data.sh
  egs2/kss/tts1/local/data_prep.sh
  egs2/kss/tts1/local/path.sh
  egs2/kss/tts1/path.sh
  egs2/kss/tts1/pyscripts
  egs2/kss/tts1/run.sh
  egs2/kss/tts1/scripts
  egs2/kss/tts1/sid
  egs2/kss/tts1/steps
  egs2/kss/tts1/tts.sh
  egs2/kss/tts1/utils
Labels: ESPnet2, README, Recipe, TTS

#3390 Update RUSLAN recipe results of ESPnet2-TTS
  egs2/ruslan/tts1/README.md
  egs2/ruslan/tts1/conf/tuning/train_conformer_fastspeech.yaml
Labels: ESPnet2, README, Recipe, TTS, auto-merge
