Repository espnet/espnet, pull requests merged in 2021-10, with the labels that each got.

#3636 Change setup.py for pytorch1.9.1
  setup.py
Labels: Installation, CI, README, mergify

#3722 installers/install_torch.sh
  tools/Makefile
  tools/check_pytorch_cuda_compatibility.py
  tools/installers/install_torch.sh
  tools/installers/install_torchaudio.sh
Labels: Installation, auto-merge

#3720 Add CoVoST2 recipe
  egs/covost2/asr1/cmd.sh
  egs/covost2/asr1/conf/decode.yaml
  egs/covost2/asr1/conf/fbank.conf
  egs/covost2/asr1/conf/gpu.conf
  egs/covost2/asr1/conf/lm.yaml
  egs/covost2/asr1/conf/pitch.conf
  egs/covost2/asr1/conf/queue.conf
  egs/covost2/asr1/conf/slurm.conf
  egs/covost2/asr1/conf/specaug.yaml
  egs/covost2/asr1/conf/train.yaml
  egs/covost2/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/covost2/asr1/conf/tuning/decode_pytorch_transformer_nolm.yaml
  egs/covost2/asr1/conf/tuning/lm.yaml
  egs/covost2/asr1/conf/tuning/train_pytorch_conformer.yaml
  egs/covost2/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/covost2/asr1/local
  egs/covost2/asr1/path.sh
  egs/covost2/asr1/run.sh
  egs/covost2/asr1/steps
  egs/covost2/asr1/utils
  egs/covost2/mt1/cmd.sh
  egs/covost2/mt1/conf/gpu.conf
  egs/covost2/mt1/conf/queue.conf
  egs/covost2/mt1/conf/slurm.conf
  egs/covost2/mt1/conf/tuning/train_pytorch_transformer.yaml
  egs/covost2/mt1/local
  egs/covost2/mt1/path.sh
  egs/covost2/mt1/run.sh
  egs/covost2/mt1/steps
  egs/covost2/mt1/utils
  egs/covost2/st1/cmd.sh
  egs/covost2/st1/conf/decode.yaml
  egs/covost2/st1/conf/fbank.conf
  egs/covost2/st1/conf/gpu.conf
  egs/covost2/st1/conf/pitch.conf
  egs/covost2/st1/conf/queue.conf
  egs/covost2/st1/conf/slurm.conf
  egs/covost2/st1/conf/specaug.yaml
  egs/covost2/st1/conf/train.yaml
  egs/covost2/st1/conf/tuning/decode_pytorch_transformer_beam4.yaml
  egs/covost2/st1/conf/tuning/train_pytorch_conformer_ctcasr0.3.yaml
  egs/covost2/st1/local/data_prep_commonvoice.pl
  egs/covost2/st1/local/data_prep_covost2.sh
  egs/covost2/st1/local/download_and_untar_commonvoice.sh
  egs/covost2/st1/local/process_tsv.py
  egs/covost2/st1/path.sh
  egs/covost2/st1/run.sh
  egs/covost2/st1/steps
  egs/covost2/st1/utils
Labels: Recipe, ASR, ST, MT, ESPnet1
