Repository espnet/espnet, pull requests merged in 2021-12, with the labels that each got.

#3827 fix readme
  egs2/README.md
Labels: ESPnet2, README

#3826 Merging asr_streaming.sh into asr.sh
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/asr_streaming.sh
  egs2/aishell/asr1/asr_streaming.sh
  egs2/aishell/asr1/run_streaming.sh
Labels: ESPnet2

#3831 Fix typo in RESULTS
  egs2/vctk/tts1/README.md
Labels: Typo, ESPnet2, README

#3795 Expanding egs2 of Tedlium2
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/tedlium2/asr1/README.md
  egs2/tedlium2/asr1/asr.sh
  egs2/tedlium2/asr1/cmd.sh
  egs2/tedlium2/asr1/conf/decode_asr_streaming.yaml
  egs2/tedlium2/asr1/conf/fbank.conf
  egs2/tedlium2/asr1/conf/pbs.conf
  egs2/tedlium2/asr1/conf/pitch.conf
  egs2/tedlium2/asr1/conf/queue.conf
  egs2/tedlium2/asr1/conf/slurm.conf
  egs2/tedlium2/asr1/conf/train_asr_streaming_transformer.yaml
  egs2/tedlium2/asr1/conf/train_lm.yaml
  egs2/tedlium2/asr1/db.sh
  egs2/tedlium2/asr1/local/data.sh
  egs2/tedlium2/asr1/local/download_data.sh
  egs2/tedlium2/asr1/local/join_suffix.py
  egs2/tedlium2/asr1/local/path.sh
  egs2/tedlium2/asr1/local/prepare_data.sh
  egs2/tedlium2/asr1/path.sh
  egs2/tedlium2/asr1/pyscripts
  egs2/tedlium2/asr1/run_streaming.sh
  egs2/tedlium2/asr1/scripts
  egs2/tedlium2/asr1/steps
  egs2/tedlium2/asr1/utils
Labels: Recipe, ASR, ESPnet2, README

#3848 Fix G2P test failure in CI due to the dict update
  test/espnet2/text/test_phoneme_tokenizer.py
Labels: CI

#3849 Fix #3716
  espnet2/text/phoneme_tokenizer.py
Labels: Bugfix, ESPnet2, auto-merge

#3852 Fix typo in README.md
  egs2/vctk/tts1/README.md
Labels: Typo, ESPnet2, README

#3838 Refactor loss computation in enhancement tasks.
  egs2/chime4/enh1/conf/tuning/train_enh_beamformer_mvdr.yaml
  egs2/chime4/enh1/conf/tuning/train_enh_blstm_tf.yaml
  egs2/chime4/enh1/conf/tuning/train_enh_conv_tasnet.yaml
  egs2/chime4/enh1/conf/tuning/train_enh_dprnn_tasnet.yaml
  egs2/mini_an4/enh1/conf/train.yaml
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_asteroid_DPTNet.yaml
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_asteroid_convtasnet.yaml
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_asteroid_convtasnet_pretrain.yaml
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_conformer_tf.yaml
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_conv_tasnet.yaml
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_dprnn_tasnet.yaml
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_dprnn_tf.yaml
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_rnn_tf.yaml
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_transformer_tf.yaml
  egs2/wsj0_2mix/enh1/run.sh
  egs2/wsj0_2mix_spatialized/enh1/conf/tuning/train_enh_beamformer_no_wpe.yaml
  espnet2/bin/enh_inference.py
  espnet2/bin/enh_scoring.py
  espnet2/enh/espnet_model.py
  espnet2/enh/loss/__init__.py
  espnet2/enh/loss/criterions/__init__.py
  espnet2/enh/loss/criterions/abs_loss.py
  espnet2/enh/loss/criterions/tf_domain.py
  espnet2/enh/loss/criterions/time_domain.py
  espnet2/enh/loss/wrappers/__init__.py
  espnet2/enh/loss/wrappers/abs_wrapper.py
  espnet2/enh/loss/wrappers/fixed_order.py
  espnet2/enh/loss/wrappers/pit_solver.py
  espnet2/tasks/enh.py
  test/espnet2/enh/loss/criterions/test_tf_domain.py
  test/espnet2/enh/loss/criterions/test_time_domain.py
  test/espnet2/enh/loss/wrappers/test_fixed_order_solver.py
  test/espnet2/enh/loss/wrappers/test_pit_solver.py
  test/espnet2/enh/test_espnet_model.py
Labels: Refactoring, New Features, ESPnet2, SE

#3855 Updating main README.md about streaming transformer
  README.md
  doc/espnet2_tutorial.md
Labels: Documentation, README, streaming

#3839 update s3prl frontend w.r.t. recent modification in s3prl interface
  espnet2/asr/frontend/s3prl.py
Labels: Bugfix, ESPnet2

#3856 Implement self-conditioned CTC
  egs/librispeech/asr1/conf/tuning/train_pytorch_conformer_selfconditioned.yaml
  espnet/nets/pytorch_backend/conformer/encoder.py
  espnet/nets/pytorch_backend/e2e_asr_conformer.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/transformer/argument.py
  espnet/nets/pytorch_backend/transformer/encoder.py
  test/test_e2e_asr_conformer.py
  test/test_e2e_asr_transformer.py
Labels: ASR, ESPnet1

#3861 Scoring for observation signal for enhancement task
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/enh1/scripts/utils/show_asr_result.sh
  egs2/TEMPLATE/enh1/scripts/utils/show_enh_score.sh
Labels: Enhancement, ESPnet2, auto-merge

#3864 fix the sort order in select_k_expansions()
  espnet/nets/pytorch_backend/transducer/utils.py
Labels: Bugfix, auto-merge, ESPnet1, RNNT

#3869 Fix cache for Transducer search strategies + doc
  README.md
  doc/tutorial.md
  espnet/nets/pytorch_backend/transducer/custom_decoder.py
  espnet/nets/pytorch_backend/transducer/rnn_decoder.py
Labels: Bugfix, Documentation, README, ESPnet1, RNNT

#3871 fix small problem that used before defined in step 12
  egs2/TEMPLATE/asr1/asr.sh
Labels: ESPnet2

#3592 Add --use_matplotlib option
  espnet2/tasks/abs_task.py
  espnet2/train/trainer.py
Labels: Bugfix, ESPnet2, auto-merge

#3824 Frontends fusion (any type, any number, linear fusion only for now) for ASR in espnet2
  egs2/commonvoice/asr1/Fusing_ASR_frontends_in_Espnet2.md
  egs2/commonvoice/asr1/README.md
  egs2/commonvoice/asr1/conf/tuning/train_asr_fused_frontends.yaml
  espnet2/asr/frontend/default.py
  espnet2/asr/frontend/fused.py
  espnet2/asr/frontend/s3prl.py
  espnet2/tasks/asr.py
  test/espnet2/asr/frontend/test_fused.py
Labels: Recipe, New Features, ESPnet2, README

#3881 Update README.md
  egs2/TEMPLATE/tts1/README.md
Labels: ESPnet2, README

#3868 Merging asr_streaming.sh into asr.sh for laborotv egs2
  egs2/laborotv/asr1/asr_streaming.sh
  egs2/laborotv/asr1/run_streaming.sh
Labels: Bugfix, ESPnet2

#3886 Update CI for pytorch=1.10.1
  .github/workflows/centos7.yml
  .github/workflows/ci.yaml
  .github/workflows/debian9.yml
  .github/workflows/doc.yml
  .github/workflows/test_import.yaml
  .mergify.yml
  README.md
  tools/Makefile
  tools/installers/install_torch.sh
Labels: Installation, CI, README, auto-merge, mergify

#3862 Endangered language totonac recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/puebla_nahuatl/asr1/local/data.sh
  egs2/totonac/asr1/RESULTS.md
  egs2/totonac/asr1/asr.sh
  egs2/totonac/asr1/cmd.sh
  egs2/totonac/asr1/conf/decode_asr.yaml
  egs2/totonac/asr1/conf/fbank.conf
  egs2/totonac/asr1/conf/pbs.conf
  egs2/totonac/asr1/conf/pitch.conf
  egs2/totonac/asr1/conf/queue.conf
  egs2/totonac/asr1/conf/slurm.conf
  egs2/totonac/asr1/conf/train_asr.yaml
  egs2/totonac/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/totonac/asr1/conf/tuning/train_asr_transformer_default_hubert_linear.yaml
  egs2/totonac/asr1/db.sh
  egs2/totonac/asr1/local/data.sh
  egs2/totonac/asr1/local/data_prep.py
  egs2/totonac/asr1/local/download_and_untar.sh
  egs2/totonac/asr1/local/path.sh
  egs2/totonac/asr1/path.sh
  egs2/totonac/asr1/pyscripts
  egs2/totonac/asr1/run.sh
  egs2/totonac/asr1/scripts
  egs2/totonac/asr1/steps
  egs2/totonac/asr1/utils
Labels: ESPnet2, README

#3888 Update baseline results for endangered languages asr (espnet2)
  egs2/puebla_nahuatl/asr1/RESULTS.md
  egs2/totonac/asr1/RESULTS.md
  egs2/yoloxochitl_mixtec/asr1/RESULTS.md
Labels: Recipe, ASR, ESPnet2

#3812 fix stft olens when win_lengths is not equal to n_fft
  espnet2/layers/stft.py
Labels: Bugfix, ESPnet2

#2533 [ESPnet2] Transducer
  egs2/vivos/asr1/run.sh
  espnet2/asr/espnet_model.py
  espnet2/asr/transducer/beam_search_transducer.py
  espnet2/asr/transducer/error_calculator.py
  espnet2/asr/transducer/joint_network.py
  espnet2/asr/transducer/transducer_decoder.py
  espnet2/asr/transducer/utils.py
  espnet2/bin/asr_inference.py
  espnet2/lm/seq_rnn_lm.py
  espnet2/tasks/asr.py
  test/espnet2/asr/transducer/test_beam_search_transducer.py
  test/espnet2/asr/transducer/test_error_calculator_transducer.py
  test/espnet2/asr/transducer/test_transducer_decoder.py
Labels: Refactoring, New Features, ASR, ESPnet2

#3891 Bug fix for .gitignore and db fill up for CMU cluster
  .gitignore
  egs2/TEMPLATE/asr1/db.sh
Labels: ESPnet2

#3860 Speech Translation Update
  egs2/TEMPLATE/st1/st.sh
  espnet2/bin/st_inference.py
  espnet2/st/espnet_model.py
  espnet2/tasks/st.py
  espnet2/train/preprocessor.py
Labels: ST, ESPnet2

#3893 Update README.md
  README.md
Labels: Documentation, README

#3899 Black is included in conda which is a different version from pip
  CONTRIBUTING.md
  espnet2/asr/espnet_model.py
  tools/Makefile
Labels: Installation, ESPnet2

#3901 Revert "Black is included in conda which is a different version from pip"
  CONTRIBUTING.md
  espnet2/asr/espnet_model.py
  tools/Makefile
Labels: Installation, ESPnet2, auto-merge

#3904 add eps in beam-forming reference channel selection
  espnet2/enh/layers/dnn_beamformer.py
Labels: ESPnet2, SE

#3908 Fix recombine_hyps
  espnet/nets/pytorch_backend/transducer/utils.py
Labels: Bugfix, auto-merge, ESPnet1, RNNT

#3880 Fixing issues about streaming Transformer/Conformer training
  ci/test_integration_espnet2.sh
  doc/espnet2_tutorial.md
  espnet/nets/pytorch_backend/conformer/contextual_block_encoder_layer.py
  espnet/nets/pytorch_backend/transformer/contextual_block_encoder_layer.py
  espnet2/asr/encoder/contextual_block_conformer_encoder.py
  espnet2/asr/encoder/contextual_block_transformer_encoder.py
  espnet2/bin/asr_inference_streaming.py
Labels: Documentation, CI, ESPnet2, ESPnet1

#3906 bugfix lang2lid in tts.sh
  egs2/TEMPLATE/tts1/tts.sh
Labels: Bugfix, TTS, ESPnet2, auto-merge

#3917 Update README and add missing config
  egs2/TEMPLATE/tts1/README.md
  egs2/vctk/tts1/conf/tuning/train_xvector_vits.yaml
Labels: TTS, ESPnet2, README

#3916 Refactor Phonemizer-based G2P
  espnet2/text/phoneme_tokenizer.py
Labels: Refactoring, Installation, TTS, ESPnet2

#3903 Add ASR Recipe: Primewords_Chinese
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/primewords_chinese/asr1/README.md
  egs2/primewords_chinese/asr1/asr.sh
  egs2/primewords_chinese/asr1/cmd.sh
  egs2/primewords_chinese/asr1/conf/decode_asr.yaml
  egs2/primewords_chinese/asr1/conf/fbank.conf
  egs2/primewords_chinese/asr1/conf/pbs.conf
  egs2/primewords_chinese/asr1/conf/pitch.conf
  egs2/primewords_chinese/asr1/conf/queue.conf
  egs2/primewords_chinese/asr1/conf/slurm.conf
  egs2/primewords_chinese/asr1/conf/train_asr_conformer.yaml
  egs2/primewords_chinese/asr1/conf/train_lm_transformer.yaml
  egs2/primewords_chinese/asr1/db.sh
  egs2/primewords_chinese/asr1/local/data.sh
  egs2/primewords_chinese/asr1/local/data_prep.py
  egs2/primewords_chinese/asr1/local/path.sh
  egs2/primewords_chinese/asr1/path.sh
  egs2/primewords_chinese/asr1/pyscripts
  egs2/primewords_chinese/asr1/run.sh
  egs2/primewords_chinese/asr1/scripts
  egs2/primewords_chinese/asr1/steps
  egs2/primewords_chinese/asr1/utils
Labels: Recipe, ESPnet2, README

#3894 Slue voxceleb Sentiment Analysis
  egs2/TEMPLATE/asr1/db.sh
  egs2/slue-voxceleb/asr1/asr.sh
  egs2/slue-voxceleb/asr1/cmd.sh
  egs2/slue-voxceleb/asr1/conf/decode_asr.yaml
  egs2/slue-voxceleb/asr1/conf/fbank.conf
  egs2/slue-voxceleb/asr1/conf/pbs.conf
  egs2/slue-voxceleb/asr1/conf/pitch.conf
  egs2/slue-voxceleb/asr1/conf/queue.conf
  egs2/slue-voxceleb/asr1/conf/slurm.conf
  egs2/slue-voxceleb/asr1/conf/train_asr.yaml
  egs2/slue-voxceleb/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/slue-voxceleb/asr1/conf/tuning/train_asr_conformer_nlu.yaml
  egs2/slue-voxceleb/asr1/conf/tuning/train_asr_conformer_s3prl.yaml
  egs2/slue-voxceleb/asr1/db.sh
  egs2/slue-voxceleb/asr1/local/data.sh
  egs2/slue-voxceleb/asr1/local/data_prep_slue.py
  egs2/slue-voxceleb/asr1/local/path.sh
  egs2/slue-voxceleb/asr1/local/run_spm.sh
  egs2/slue-voxceleb/asr1/local/score.py
  egs2/slue-voxceleb/asr1/local/score.sh
  egs2/slue-voxceleb/asr1/path.sh
  egs2/slue-voxceleb/asr1/pyscripts
  egs2/slue-voxceleb/asr1/run.sh
  egs2/slue-voxceleb/asr1/scripts
  egs2/slue-voxceleb/asr1/steps
  egs2/slue-voxceleb/asr1/utils
Labels: Recipe, ESPnet2, SLU

#3915 Update Google Speechcommands (SLU recipe)
  egs2/speechcommands/asr1/README.md
  egs2/speechcommands/asr1/local/data.sh
  egs2/speechcommands/asr1/local/score.sh
  egs2/speechcommands/asr1/run.sh
Labels: ESPnet2, README, SLU

#3913 Update an4 config
  egs2/an4/asr1/README.md
  egs2/an4/asr1/conf/decode_asr.yaml
  egs2/an4/asr1/conf/train_asr_transformer.yaml
  egs2/an4/asr1/run.sh
Labels: Recipe, ASR, ESPnet2, README

#3914 Update Grabo (SLU recipe)
  egs2/TEMPLATE/asr1/db.sh
  egs2/grabo/asr1/README.md
  egs2/grabo/asr1/local/data.sh
  egs2/grabo/asr1/local/score.sh
  egs2/grabo/asr1/run.sh
Labels: ESPnet2, README

#3892 aidatatang_200zh recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/aidatatang_200zh/asr1/asr.sh
  egs2/aidatatang_200zh/asr1/cmd.sh
  egs2/aidatatang_200zh/asr1/conf/decode_asr.yaml
  egs2/aidatatang_200zh/asr1/conf/fbank.conf
  egs2/aidatatang_200zh/asr1/conf/pbs.conf
  egs2/aidatatang_200zh/asr1/conf/pitch.conf
  egs2/aidatatang_200zh/asr1/conf/queue.conf
  egs2/aidatatang_200zh/asr1/conf/slurm.conf
  egs2/aidatatang_200zh/asr1/conf/train_asr_conformer.yaml
  egs2/aidatatang_200zh/asr1/conf/train_lm_transformer.yaml
  egs2/aidatatang_200zh/asr1/db.sh
  egs2/aidatatang_200zh/asr1/local/data.sh
  egs2/aidatatang_200zh/asr1/local/data_prep.sh
  egs2/aidatatang_200zh/asr1/local/download_and_untar.sh
  egs2/aidatatang_200zh/asr1/local/path.sh
  egs2/aidatatang_200zh/asr1/path.sh
  egs2/aidatatang_200zh/asr1/pyscripts
  egs2/aidatatang_200zh/asr1/run.sh
  egs2/aidatatang_200zh/asr1/scripts
  egs2/aidatatang_200zh/asr1/steps
  egs2/aidatatang_200zh/asr1/utils
Labels: Recipe, ASR, ESPnet2, README

#3925 updated the results of aidatatang_200zh
  egs/README.md
  egs2/aidatatang_200zh/asr1/README.md
Labels: Recipe, ASR, ESPnet2, README, ESPnet1

#3928 add init.py
  espnet2/asr/transducer/__init__.py
Labels: Bugfix, ESPnet2
