Repository espnet/espnet, pull requests merged in 2021-02, with the labels that each got.

#2924 Update the pre-trained Conformer model link of Aishell-1 corpus.
  egs/aishell/asr1/RESULTS.md
Labels: ESPnet1

#2889 add wav2vec_encoder
  egs2/librispeech/asr1/conf/tuning/train_asr_transformer3_w2v_large_lv60_960h_finetuning_last_1layer.yaml
  espnet2/asr/encoder/extract_features.py
  espnet2/asr/encoder/wav2vec2_encoder.py
  espnet2/tasks/asr.py
  espnet2/torch_utils/initialize.py
  tools/Makefile
  tools/check_install.py
  tools/installers/install_fairseq.sh
Labels: ASR, ESPnet2, Installation, New Features

#2916 Update IWSLT18 (ST-TED) ASR recipe
  .circleci/config.yml
  .github/workflows/centos7.yml
  egs/iwslt18/asr1/RESULTS
  egs/iwslt18/asr1/RESULTS.md
  egs/iwslt18/asr1/conf/decode.yaml
  egs/iwslt18/asr1/conf/train.yaml
  egs/iwslt18/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/iwslt18/asr1/conf/tuning/decode_pytorch_transformer_nolm.yaml
  egs/iwslt18/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/iwslt18/asr1/run.sh
  egs/iwslt18/st1/local/data2json.sh
  egs/iwslt18/st1/local/data_prep_train.sh
  egs/iwslt18/st1/local/score_sclite_reseg.sh
  egs/iwslt18/st1/local/update_json.sh
  tools/installers/install_mwerSegmenter.sh
  tools/installers/patch_mwerSegmenter/hyp2sgm.patch
  tools/installers/patch_mwerSegmenter/sgm2mref.patch
  utils/average_checkpoints.py
Labels: ASR, CI, ESPnet1, Installation, Recipe, Refactoring

#2927 Update transformer training results on common vioce dataset
  egs/commonvoice/asr1/RESULTS.md
Labels: ESPnet1

#2933 Fix bug in How2 recipe
  egs/how2/asr1/run.sh
  egs/how2/st1/local/data_prep_test.sh
  egs/how2/st1/run.sh
Labels: ASR, Bugfix, ESPnet1, Recipe, ST, auto-merge

#2934 IWSLT'21 ASR recipe
  egs/iwslt21/asr1/cmd.sh
  egs/iwslt21/asr1/conf/decode.yaml
  egs/iwslt21/asr1/conf/fbank.conf
  egs/iwslt21/asr1/conf/gpu.conf
  egs/iwslt21/asr1/conf/lm.yaml
  egs/iwslt21/asr1/conf/pitch.conf
  egs/iwslt21/asr1/conf/queue.conf
  egs/iwslt21/asr1/conf/slurm.conf
  egs/iwslt21/asr1/conf/specaug.yaml
  egs/iwslt21/asr1/conf/train.yaml
  egs/iwslt21/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/iwslt21/asr1/conf/tuning/lm.yaml
  egs/iwslt21/asr1/conf/tuning/train_pytorch_conformer_large.yaml
  egs/iwslt21/asr1/conf/tuning/train_pytorch_transformer_large.yaml
  egs/iwslt21/asr1/local/copy_data_dir.sh
  egs/iwslt21/asr1/local/download_and_untar_iwslt.sh
  egs/iwslt21/asr1/local/filter_offlimit.py
  egs/iwslt21/asr1/local/join_suffix.py
  egs/iwslt21/asr1/local/offlimit_list
  egs/iwslt21/asr1/path.sh
  egs/iwslt21/asr1/run.sh
  egs/iwslt21/asr1/steps
  egs/iwslt21/asr1/utils
Labels: ASR, ESPnet1, Recipe

#2936 minor fix of li52 and nsc recipes
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/nsc/asr1/asr.sh
  egs2/nsc/asr1/cmd.sh
  egs2/nsc/asr1/conf/decode_asr.yaml
  egs2/nsc/asr1/conf/fbank.conf
  egs2/nsc/asr1/conf/pbs.conf
  egs2/nsc/asr1/conf/pitch.conf
  egs2/nsc/asr1/conf/queue.conf
  egs2/nsc/asr1/conf/slurm.conf
  egs2/nsc/asr1/conf/train_asr.yaml
  egs2/nsc/asr1/conf/train_lm.yaml
  egs2/nsc/asr1/conf/tuning/decode_transformer.yaml
  egs2/nsc/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/nsc/asr1/db.sh
  egs2/nsc/asr1/local/data.sh
  egs2/nsc/asr1/local/path.sh
  egs2/nsc/asr1/path.sh
  egs2/nsc/asr1/pyscripts
  egs2/nsc/asr1/run.sh
  egs2/nsc/asr1/scripts
  egs2/nsc/asr1/steps
  egs2/nsc/asr1/utils
  egs2/open_li52/asr1/local/data.sh
  egs2/open_li52/asr1/run.sh
Labels: ESPnet2, README

#2928 Librimix separation results for Conv-Tasnet, 8k, min
  egs2/librimix/enh1/RESULTS.md
Labels: ESPnet2

#2937 added nsc results
  egs2/nsc/asr1/README.md
  egs2/nsc/asr1/run.sh
Labels: ASR, ESPnet2, README, Recipe, auto-merge

#2940 Update IWSLT'19 recipe
  egs/iwslt19/asr1/run.sh
  egs/iwslt19/st1/local/data2json.sh
  egs/iwslt19/st1/local/filter_offlimit.py
  egs/iwslt19/st1/local/join_suffix.py
  egs/iwslt19/st1/local/offlimit_list
  egs/iwslt19/st1/local/update_json.sh
  egs/iwslt19/st1/run.sh
  egs/iwslt19/st1/steps
  egs/iwslt19/st1/utils
  egs/iwslt21/asr1/local/filter_offlimit.py
  egs/iwslt21/asr1/local/offlimit_list
Labels: ASR, ESPnet1, Recipe, Refactoring, ST

#2932 Minor refactoring
  CONTRIBUTING.md
  egs/vivos/asr1/conf/tuning/transducer/train_conformer_transducer.yaml
  espnet/asr/pytorch_backend/asr.py
  espnet/nets/beam_search_transducer.py
  espnet/nets/e2e_asr_common.py
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
  espnet/nets/pytorch_backend/transducer/custom_decoder.py
  espnet/nets/pytorch_backend/transducer/error_calculator.py
  espnet/nets/pytorch_backend/transducer/initializer.py
  espnet/nets/pytorch_backend/transducer/joint_network.py
  espnet/nets/pytorch_backend/transducer/loss.py
  espnet/nets/pytorch_backend/transducer/rnn_decoder.py
  espnet/nets/pytorch_backend/transducer/utils.py
  test/test_asr_init.py
  test/test_custom_transducer.py
  test/test_e2e_asr_transducer.py
Labels: ASR, ESPnet1, RNNT

#2938 Open-li52(add language id scoring & text case align for test set)
  egs2/TEMPLATE/asr1/asr.sh
  egs2/open_li52/asr1/local/data.sh
  egs2/open_li52/asr1/local/score.sh
  egs2/open_li52/asr1/run.sh
  utils/score_lang_id.py
Labels: ASR, ESPnet2, Recipe

#2907 Streaming Transformer ASR
  egs2/aishell/asr1/conf/decode_asr_streaming.yaml
  egs2/aishell/asr1/conf/train_asr_streaming_transformer.yaml
  egs2/aishell/asr1/run_streaming.sh
  espnet/nets/batch_beam_search_online_sim.py
  espnet/nets/ctc_prefix_score.py
  espnet/nets/pytorch_backend/transformer/contextual_block_encoder_layer.py
  espnet/nets/pytorch_backend/transformer/subsampling_without_posenc.py
  espnet/nets/scorers/ctc.py
  espnet2/asr/encoder/contextual_block_transformer_encoder.py
  espnet2/bin/asr_inference.py
  espnet2/tasks/asr.py
  test/espnet2/asr/decoder/test_transformer_decoder.py
  test/espnet2/asr/encoder/test_contextual_block_transformer_encoder.py
  test/espnet2/bin/test_asr_inference.py
Labels: ESPnet1, ESPnet2, New Features

#2942 RTF calculation
  egs/mini_an4/st1/run.sh
  egs/must_c/st1/run.sh
  espnet/nets/pytorch_backend/e2e_st.py
  utils/calculate_rtf.py
Labels: ESPnet1, New Features, Recipe

#2965 Fix a condition in TSD
  espnet/nets/beam_search_transducer.py
Labels: ESPnet1, RNNT, auto-merge

#2959 Support phonemizer for vairous language G2P
  .gitignore
  egs2/TEMPLATE/tts1/README.md
  espnet2/bin/tokenize_text.py
  espnet2/tasks/tts.py
  espnet2/text/phoneme_tokenizer.py
  test/espnet2/text/test_phoneme_tokenizer.py
  tools/check_install.py
  tools/extra_path.sh
  tools/installers/install_phonemizer.sh
Labels: ESPnet2, Installation, New Features, README, TTS

#2972 Add Russian open STT recipe for ESPnet2
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/ru_open_stt/asr1/README.md
  egs2/ru_open_stt/asr1/asr.sh
  egs2/ru_open_stt/asr1/cmd.sh
  egs2/ru_open_stt/asr1/conf/decode_asr.yaml
  egs2/ru_open_stt/asr1/conf/fbank.conf
  egs2/ru_open_stt/asr1/conf/pbs.conf
  egs2/ru_open_stt/asr1/conf/pitch.conf
  egs2/ru_open_stt/asr1/conf/queue.conf
  egs2/ru_open_stt/asr1/conf/slurm.conf
  egs2/ru_open_stt/asr1/conf/train_asr_conformer.yaml
  egs2/ru_open_stt/asr1/conf/train_lm_transformer.yaml
  egs2/ru_open_stt/asr1/db.sh
  egs2/ru_open_stt/asr1/local/data.sh
  egs2/ru_open_stt/asr1/local/path.sh
  egs2/ru_open_stt/asr1/local/ru_open_stt_download_data.sh
  egs2/ru_open_stt/asr1/local/ru_open_stt_prepare_data.py
  egs2/ru_open_stt/asr1/path.sh
  egs2/ru_open_stt/asr1/pyscripts
  egs2/ru_open_stt/asr1/run.sh
  egs2/ru_open_stt/asr1/scripts
  egs2/ru_open_stt/asr1/steps
  egs2/ru_open_stt/asr1/utils
Labels: ESPnet2, README

#2966 Update espnet2 librispeech result
  ci/test_integration.sh
  egs2/librispeech/asr1/README.md
  egs2/librispeech/asr1/conf/train_asr_confformer.yaml
  egs2/librispeech/asr1/conf/train_lm_transformer.yaml
  egs2/librispeech/asr1/conf/train_rnn_lm.yaml
  egs2/librispeech/asr1/conf/tuning/train_asr_conformer4.yaml
  egs2/librispeech/asr1/conf/tuning/train_asr_conformer5.yaml
  egs2/librispeech/asr1/conf/tuning/train_asr_conformer6_n_fft400_hop_length160.yaml
  egs2/librispeech/asr1/conf/tuning/train_asr_conformer6_n_fft512_hop_length128.yaml
  egs2/librispeech/asr1/conf/tuning/train_asr_conformer6_n_fft512_hop_length256.yaml
  egs2/librispeech/asr1/conf/tuning/train_lm_transformer2.yaml
  egs2/librispeech/asr1/run.sh
Labels: CI, ESPnet2, README, auto-merge

#2978 Stop circle ci
  .circleci/config.yml
  .mergify.yml
  README.md
Labels: CI

#2976 fix librispeech model url
  egs2/librispeech/asr1/README.md
Labels: ESPnet2, README, auto-merge

#2979 Uninstall typing
  tools/Makefile
  tools/installers/install_fairseq.sh
Labels: Installation, auto-merge

#2974 update the results of open li52 recipe
  egs2/open_li52/asr1/README.md
  egs2/open_li52/asr1/conf/train_asr.yaml
  egs2/open_li52/asr1/conf/tuning/train_asr_transformer_bpe7000.yaml
  egs2/open_li52/asr1/conf/tuning/train_asr_transformer_bpe8000.yaml
  egs2/open_li52/asr1/local/data.sh
Labels: ESPnet2, README

#2980 Support sharded training of fairscale
  README.md
  doc/espnet2_distributed.md
  espnet2/tasks/abs_task.py
  espnet2/train/trainer.py
  setup.py
Labels: Documentation, ESPnet2, Installation, New Features, README, auto-merge

#2977 swbd run.sh is including dev data in the training set
  egs/swbd/asr1/run.sh
Labels: ESPnet1, mergify

#2973 Fix docker error caused by BeamSearchTransducer
  espnet/nets/beam_search_transducer.py
  espnet/nets/transducer_decoder_interface.py
Labels: Bugfix, ESPnet1

#2969 Auto Resampling to 16khz for pretrained models
  utils/recog_wav.sh
Labels: ASR, ESPnet1

#2982 quick fix for librimix (SE) data preparation
  egs2/librimix/enh1/local/data.sh
Labels: Bugfix, ESPnet2, SE, auto-merge

#2985 Fix attention plot bug #2984
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
Labels: Bugfix, ESPnet1, TTS, auto-merge

#2975 Refactor ST recipes
  .github/workflows/centos7.yml
  .github/workflows/ci.yaml
  .github/workflows/debian9.yml
  egs/fisher_callhome_spanish/asr1b/run.sh
  egs/fisher_callhome_spanish/mt1/run.sh
  egs/fisher_callhome_spanish/st1/local/remove_punctuation.pl
  egs/fisher_callhome_spanish/st1/local/score_sclite.sh
  egs/fisher_callhome_spanish/st1/run.sh
  egs/how2/asr1/run.sh
  egs/how2/mt1/run.sh
  egs/how2/st1/local/score_sclite.sh
  egs/how2/st1/run.sh
  egs/iwslt18/asr1/conf/specaug.yaml
  egs/iwslt18/asr1/run.sh
  egs/iwslt18/st1/local/score_sclite.sh
  egs/iwslt18/st1/local/update_json.sh
  egs/iwslt18/st1/run.sh
  egs/iwslt19/st1/local/remove_punctuation.pl
  egs/iwslt19/st1/local/score_sclite.sh
  egs/libri_trans/asr1/run.sh
  egs/libri_trans/mt1/run.sh
  egs/libri_trans/st1/local/remove_punctuation.pl
  egs/libri_trans/st1/run.sh
  egs/mboshi_french/st1/run.sh
  egs/mini_an4/st1/run.sh
  egs/must_c/asr1/run.sh
  egs/must_c/mt1/run.sh
  egs/must_c/st1/local/remove_punctuation.pl
  egs/must_c/st1/local/score_sclite.sh
  egs/must_c/st1/run.sh
  egs/must_c_v2/asr1/run.sh
  egs/must_c_v2/mt1/run.sh
  egs/must_c_v2/st1/run.sh
  utils/clean_corpus.sh
  utils/concat_json_multiref.py
  utils/remove_punctuation.pl
  utils/score_sclite_case.sh
  utils/speed_perturb.sh
Labels: CI, ESPnet1, Recipe, Refactoring

#2981 bug fixed for streaming transformer ASR
  espnet/nets/batch_beam_search_online_sim.py
  test/espnet2/asr/decoder/test_transformer_decoder.py
Labels: ASR, Bugfix, ESPnet1

#2967 Fix transfer learning w/ pre-trained LM + finetuning tutorial
  ci/test_integration.sh
  doc/tutorial.md
  egs/mini_an4/asr1/conf/train_transducer_pre_init_enc.yaml
  egs/mini_an4/asr1/conf/train_transducer_pre_init_lm.yaml
  espnet/asr/pytorch_backend/asr_init.py
  espnet/bin/asr_train.py
Labels: ASR, CI, Documentation, ESPnet1

#2987 Update IWSLT21 ASR recipe
  egs/iwslt21/asr1/run.sh
Labels: ASR, ESPnet1, Recipe, auto-merge

#2993 Fix for sharded training with amp
  doc/espnet2_distributed.md
  espnet2/tasks/abs_task.py
  espnet2/train/trainer.py
Labels: Bugfix, Documentation, ESPnet2, auto-merge

#2994 Fix sharded training for multiple nodes
  doc/espnet2_distributed.md
  espnet2/tasks/abs_task.py
  espnet2/train/trainer.py
Labels: Bugfix, Documentation, ESPnet2, auto-merge

#2996 Print total params and trainable params.
  espnet/asr/pytorch_backend/asr.py
  espnet/asr/pytorch_backend/asr_mix.py
  espnet/lm/pytorch_backend/lm.py
  espnet/mt/pytorch_backend/mt.py
  espnet/st/pytorch_backend/st.py
  espnet/tts/pytorch_backend/tts.py
  espnet/vc/pytorch_backend/vc.py
  espnet2/torch_utils/model_summary.py
Labels: ASR, ESPnet1, ESPnet2, LM, MT, TTS, auto-merge

#3000 Fix dev set in IWSLT21 ASR recipe
  egs/iwslt21/asr1/run.sh
Labels: ASR, ESPnet1, Recipe, auto-merge

#2997 bug fix for Wav2Vec encoder
  espnet2/asr/encoder/wav2vec2_encoder.py
Labels: Bugfix, ESPnet2

#3001 builtin ctc modification
  espnet/bin/asr_train.py
  espnet/bin/st_train.py
  espnet/nets/pytorch_backend/ctc.py
Labels: ESPnet1

#3005 Add the latest RPE implementation to the ST task.
  egs/fisher_callhome_spanish/st1/conf/tuning/train_pytorch_conformer_kernel15_bpe_ctc_asr0.3.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/train_pytorch_conformer_kernel15_bpe_short.yaml
  espnet/nets/pytorch_backend/conformer/argument.py
  espnet/nets/pytorch_backend/e2e_asr_conformer.py
  espnet/nets/pytorch_backend/e2e_st_conformer.py
Labels: ESPnet1, Refactoring

#3004 Fix arguments in dynamic and lightweight conv
  espnet/nets/pytorch_backend/transformer/decoder.py
  espnet/nets/pytorch_backend/transformer/dynamic_conv.py
  espnet/nets/pytorch_backend/transformer/dynamic_conv2d.py
  espnet/nets/pytorch_backend/transformer/encoder.py
  espnet/nets/pytorch_backend/transformer/lightconv.py
  espnet/nets/pytorch_backend/transformer/lightconv2d.py
  espnet2/asr/decoder/transformer_decoder.py
Labels: ESPnet1, ESPnet2, Refactoring

#3006 Integration testing for asr_mix was using the wrong config.
  egs/mini_an4/asr_mix1/run.sh
  espnet/bin/asr_train.py
Labels: Bugfix, ESPnet1, auto-merge

#3008 Update model link for mls (previous one is not correct)
  egs2/mls/asr1/RESULTS.md
Labels: ESPnet2

#2999 Install warp-ctc using pip>=21.0
  ci/install.sh
  tools/installers/install_warp-ctc.sh
Labels: CI, Installation, auto-merge

#3012 Fix local/remove_punctuation.pl -> remove_punctuation.pl
  egs/fisher_callhome_spanish/st1/local/normalize_trans.sh
  egs/how2/st1/local/data_prep.sh
  egs/how2/st1/local/data_prep_test.sh
  egs/iwslt18/st1/local/data_prep_eval.sh
  egs/iwslt18/st1/local/data_prep_train.sh
  egs/libri_trans/st1/local/data_prep.sh
  egs/must_c/st1/local/data_prep.sh
Labels: Bug, ESPnet1, auto-merge

#3014 Supporting multiple optimizers in the default trainer
  espnet2/tasks/abs_task.py
  espnet2/train/trainer.py
  test/espnet2/tasks/test_abs_task.py
Labels: ESPnet2, New Features, auto-merge

#2951 Auxiliary task
  espnet/asr/pytorch_backend/asr_init.py
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
  espnet/nets/pytorch_backend/transducer/arguments.py
  espnet/nets/pytorch_backend/transducer/auxiliary_task.py
  espnet/nets/pytorch_backend/transducer/custom_encoder.py
  espnet/nets/pytorch_backend/transducer/joint_network.py
  espnet/nets/pytorch_backend/transducer/loss.py
  espnet/nets/pytorch_backend/transducer/rnn_encoder.py
  espnet/nets/pytorch_backend/transducer/utils.py
  test/test_asr_init.py
  test/test_custom_transducer.py
  test/test_e2e_asr_transducer.py
Labels: ASR, ESPnet1, RNNT, auto-merge

#3015 Fix sharded_ddp mode
  espnet2/train/trainer.py
Labels: Bugfix, ESPnet2, auto-merge

#3016 fix a typo
  doc/installation.md
Labels: Documentation

#3010 Add LM options like embedding dropout and tie weights
  espnet/nets/pytorch_backend/lm/default.py
  espnet/nets/pytorch_backend/lm/transformer.py
  test/test_lm.py
Labels: ESPnet1, Enhancement, LM

#3022 fix #3017
  utils/compute-fbank-feats.py
Labels: Bugfix, ESPnet1, auto-merge
