Repository espnet/espnet, pull requests merged in 2022-01, with the labels that each got.

#3900 Fix issues in EEND-EDA & add Librimix_diar recipe
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/diar1/scripts/utils/show_diar_result.sh
  egs2/librimix/diar1/cmd.sh
  egs2/librimix/diar1/conf/decode_diar.yaml
  egs2/librimix/diar1/conf/decode_diar_eda.yaml
  egs2/librimix/diar1/conf/pbs.conf
  egs2/librimix/diar1/conf/queue.conf
  egs2/librimix/diar1/conf/slurm.conf
  egs2/librimix/diar1/conf/train_diar.yaml
  egs2/librimix/diar1/conf/train_diar_eda.yaml
  egs2/librimix/diar1/conf/train_diar_eda_adapt.yaml
  egs2/librimix/diar1/conf/tuning/decode_diar.yaml
  egs2/librimix/diar1/conf/tuning/decode_diar_eda.yaml
  egs2/librimix/diar1/conf/tuning/train_diar_2.yaml
  egs2/librimix/diar1/conf/tuning/train_diar_eda_5.yaml
  egs2/librimix/diar1/conf/tuning/train_diar_eda_adapt.yaml
  egs2/librimix/diar1/db.sh
  egs2/librimix/diar1/diar.sh
  egs2/librimix/diar1/local/data.sh
  egs2/librimix/diar1/local/generate_librimix_sd.sh
  egs2/librimix/diar1/local/path.sh
  egs2/librimix/diar1/local/prepare_diarization.py
  egs2/librimix/diar1/path.sh
  egs2/librimix/diar1/pyscripts
  egs2/librimix/diar1/run.sh
  egs2/librimix/diar1/run_eda.sh
  egs2/librimix/diar1/scripts
  egs2/librimix/diar1/steps
  egs2/librimix/diar1/utils
  espnet2/diar/attractor/rnn_attractor.py
  espnet2/diar/espnet_model.py
  espnet2/tasks/diar.py
Labels: Recipe, ESPnet2, Diarization

#3965 Fix numpy version
  setup.py
  tools/Makefile
Labels: Bugfix, Installation, CI

#3966 update transformer config as baseline (stable)
  egs2/TEMPLATE/st1/st.sh
  egs2/fisher_callhome_spanish/asr1/conf/decode_asr.yaml
  egs2/fisher_callhome_spanish/asr1/conf/train_asr.yaml
  egs2/fisher_callhome_spanish/st1/conf/decode_st.yaml
  egs2/fisher_callhome_spanish/st1/conf/train_st.yaml
  egs2/fisher_callhome_spanish/st1/local/data.sh
Labels: ST, ESPnet2

#3953 Add test codes for diarization
  test/espnet2/bin/test_diar_inference.py
  test/espnet2/bin/test_diar_train.py
  test/espnet2/diar/attractor/test_rnn_attractor.py
  test/espnet2/diar/decoder/test_linear_decoder.py
  test/espnet2/tasks/test_diar.py
Labels: Diarization

#3957 Diarization: fix for convolutional input layer in the encoder
  espnet2/diar/espnet_model.py
Labels: ESPnet2, Diarization

#3895 Update two recipes (googlei18n and hub4_spanish)
  egs2/TEMPLATE/asr1/db.sh
  egs2/googlei18n_lowresource/tts1/cmd.sh
  egs2/googlei18n_lowresource/tts1/conf/decode.yaml
  egs2/googlei18n_lowresource/tts1/conf/mfcc.conf
  egs2/googlei18n_lowresource/tts1/conf/pbs.conf
  egs2/googlei18n_lowresource/tts1/conf/queue.conf
  egs2/googlei18n_lowresource/tts1/conf/slurm.conf
  egs2/googlei18n_lowresource/tts1/conf/train.yaml
  egs2/googlei18n_lowresource/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/googlei18n_lowresource/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/googlei18n_lowresource/tts1/conf/tuning/train_gst+xvector_conformer_fastspeech2.yaml
  egs2/googlei18n_lowresource/tts1/conf/tuning/train_gst+xvector_tacotron2.yaml
  egs2/googlei18n_lowresource/tts1/conf/tuning/train_gst+xvector_transformer.yaml
  egs2/googlei18n_lowresource/tts1/conf/vad.conf
  egs2/googlei18n_lowresource/tts1/db.sh
  egs2/googlei18n_lowresource/tts1/local/data.sh
  egs2/googlei18n_lowresource/tts1/local/download_and_unzip.sh
  egs2/googlei18n_lowresource/tts1/local/path.sh
  egs2/googlei18n_lowresource/tts1/run.sh
  egs2/googlei18n_lowresource/tts1/sid
  egs2/googlei18n_lowresource/tts1/steps
  egs2/googlei18n_lowresource/tts1/tts.sh
  egs2/googlei18n_lowresource/tts1/utils
  egs2/hub4_spanish/asr1/asr.sh
  egs2/hub4_spanish/asr1/cmd.sh
  egs2/hub4_spanish/asr1/conf/decode_asr.yaml
  egs2/hub4_spanish/asr1/conf/fbank.conf
  egs2/hub4_spanish/asr1/conf/pbs.conf
  egs2/hub4_spanish/asr1/conf/pitch.conf
  egs2/hub4_spanish/asr1/conf/queue.conf
  egs2/hub4_spanish/asr1/conf/slurm.conf
  egs2/hub4_spanish/asr1/conf/train_asr.yaml
  egs2/hub4_spanish/asr1/conf/train_lm.yaml
  egs2/hub4_spanish/asr1/conf/tuning/decode_rnn.yaml
  egs2/hub4_spanish/asr1/conf/tuning/decode_transformer.yaml
  egs2/hub4_spanish/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/hub4_spanish/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/hub4_spanish/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/hub4_spanish/asr1/db.sh
  egs2/hub4_spanish/asr1/local/data.sh
  egs2/hub4_spanish/asr1/local/parse_sgm.pl
  egs2/hub4_spanish/asr1/local/path.sh
  egs2/hub4_spanish/asr1/local/prepare_data.sh
  egs2/hub4_spanish/asr1/local/prepare_test_text.pl
  egs2/hub4_spanish/asr1/local/prepare_training_text.pl
  egs2/hub4_spanish/asr1/local/write_kaldi_files.pl
  egs2/hub4_spanish/asr1/path.sh
  egs2/hub4_spanish/asr1/pyscripts
  egs2/hub4_spanish/asr1/run.sh
  egs2/hub4_spanish/asr1/scripts
  egs2/hub4_spanish/asr1/steps
  egs2/hub4_spanish/asr1/utils
Labels: Recipe, TTS, ASR, ESPnet2

#3938 Two fixes to diarization evaluation scripts
  egs2/TEMPLATE/diar1/pyscripts/utils/make_rttm.py
  egs2/TEMPLATE/diar1/scripts/utils/score_der.sh
Labels: Bugfix, ESPnet2, Diarization

#3943 espnet2 asr inference bugfix for transducer
  espnet2/bin/asr_inference.py
Labels: Bugfix, ESPnet2, RNNT

#3902 Add SpecAug2 which supports variable maximum width in time masking
  espnet2/asr/specaug/specaug.py
  espnet2/layers/mask_along_axis.py
  espnet2/tasks/asr.py
  test/espnet2/asr/specaug/test_specaug.py
Labels: New Features, ESPnet2

#3968 Add ESPnet2 ASR recipe for the SEAME Mandarin-English code-switching corpus
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/seame/asr1/README.md
  egs2/seame/asr1/asr.sh
  egs2/seame/asr1/cmd.sh
  egs2/seame/asr1/conf/decode_asr.yaml
  egs2/seame/asr1/conf/fbank.conf
  egs2/seame/asr1/conf/pbs.conf
  egs2/seame/asr1/conf/pitch.conf
  egs2/seame/asr1/conf/queue.conf
  egs2/seame/asr1/conf/slurm.conf
  egs2/seame/asr1/conf/train.yaml
  egs2/seame/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/seame/asr1/conf/tuning/train_lm_transformer.yaml
  egs2/seame/asr1/db.sh
  egs2/seame/asr1/local/data.sh
  egs2/seame/asr1/local/path.sh
  egs2/seame/asr1/local/preprocess.py
  egs2/seame/asr1/path.sh
  egs2/seame/asr1/pyscripts
  egs2/seame/asr1/run.sh
  egs2/seame/asr1/scripts
  egs2/seame/asr1/steps
  egs2/seame/asr1/utils
Labels: ESPnet2, README

#3972 Bugfix for ST scoring
  egs2/TEMPLATE/st1/st.sh
Labels: Bugfix, Recipe, ST, ESPnet2

#3976 Scoring Mandarin / English separately for the SEAME corpus
  egs2/seame/asr1/README.md
  egs2/seame/asr1/local/score.sh
  egs2/seame/asr1/local/split_lang_trn.py
Labels: Recipe, ASR, ESPnet2, README

#3910 cleaned tensorboard and stats logging for espnet2
  espnet2/asr/espnet_model.py
  espnet2/train/reporter.py
  espnet2/train/trainer.py
  test/espnet2/train/test_reporter.py
Labels: Enhancement, ESPnet2

#3981 Faster diar1/pyscripts/utils/convert_rttm.py
  egs2/TEMPLATE/diar1/pyscripts/utils/convert_rttm.py
Labels: ESPnet2, Diarization

#3929 updated the results of Slue voxceleb
  egs2/README.md
  egs2/slue-voxceleb/asr1/README.md
Labels: ESPnet2, README

#3890 Add Sinhala E2E SLU Recipe
  doc/argparse2rst.py
  doc/conf.py
  doc/module2rst.py
  egs/libri_css/asr1/diarization/VB_diarization.py
  egs/libri_css/asr1/diarization/calc_cossim_scores.py
  egs/libri_css/asr1/diarization/make_rttm.py
  egs/libri_css/asr1/diarization/spec_clust.py
  egs/libri_css/asr1/diarization/vb_hmm_xvector.py
  egs2/TEMPLATE/asr1/scripts/utils/create_README_file.py
  egs2/TEMPLATE/asr1/scripts/utils/get_model_names.py
  egs2/TEMPLATE/ssl1/pyscripts/dump_km_label.py
  egs2/TEMPLATE/ssl1/pyscripts/feature_loader.py
  egs2/TEMPLATE/ssl1/pyscripts/sklearn_km.py
  egs2/sinhala/asr1/README.md
  egs2/sinhala/asr1/asr.sh
  egs2/sinhala/asr1/cmd.sh
  egs2/sinhala/asr1/conf/fbank.conf
  egs2/sinhala/asr1/conf/pbs.conf
  egs2/sinhala/asr1/conf/pitch.conf
  egs2/sinhala/asr1/conf/queue.conf
  egs2/sinhala/asr1/conf/slurm-2.conf
  egs2/sinhala/asr1/conf/slurm.conf
  egs2/sinhala/asr1/conf/train_asr.yaml
  egs2/sinhala/asr1/db.sh
  egs2/sinhala/asr1/local/data.sh
  egs2/sinhala/asr1/local/data_prep.py
  egs2/sinhala/asr1/local/path.sh
  egs2/sinhala/asr1/local/score.py
  egs2/sinhala/asr1/local/score.sh
  egs2/sinhala/asr1/path.sh
  egs2/sinhala/asr1/pyscripts
  egs2/sinhala/asr1/run.sh
  egs2/sinhala/asr1/scripts
  egs2/sinhala/asr1/steps
  egs2/sinhala/asr1/utils
Labels: Documentation, ESPnet2, README, ESPnet1, SLU

#3995 temporary fixed pypinyin version
  setup.py
Labels: Installation, CI

#3991 Minor bug fix - MLS steps and utils links were broken
  egs2/mls/asr1/steps
  egs2/mls/asr1/utils
Labels: ESPnet2

#3993 Update the default setting for st
  egs2/TEMPLATE/st1/setup.sh
  egs2/fisher_callhome_spanish/asr1/RESULTS.md
  egs2/fisher_callhome_spanish/asr1/conf/tuning/train_asr_conformer5.yaml
  egs2/fisher_callhome_spanish/asr1/conf/tuning/train_asr_conformer6.yaml
  egs2/fisher_callhome_spanish/st1/conf/fbank.conf
  egs2/fisher_callhome_spanish/st1/run.sh
Labels: Recipe, ST, ESPnet2

#3996 Add fisher_callhome_spanish results with espnet2
  egs2/fisher_callhome_spanish/st1/RESULT.md
Labels: ESPnet2

#4007 Update pyopenjtalk from v0.1.5 to v0.1.6
  tools/installers/install_pyopenjtalk.sh
  tools/installers/install_tdmelodic_pyopenjtalk.sh
Labels: Installation, auto-merge
