Repository espnet/espnet, pull requests merged in 2022-08, with the labels that each got.

#4551 Optionize graph creation
  espnet2/tasks/abs_task.py
  espnet2/train/trainer.py
Labels: Enhancement, ESPnet2, auto-merge

#4523 tedx_spanish_corpus egs2 recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/tedx_spanish_openslr67/asr1/RESULTS.md
  egs2/tedx_spanish_openslr67/asr1/asr.sh
  egs2/tedx_spanish_openslr67/asr1/cmd.sh
  egs2/tedx_spanish_openslr67/asr1/conf/decode_asr.yaml
  egs2/tedx_spanish_openslr67/asr1/conf/fbank.conf
  egs2/tedx_spanish_openslr67/asr1/conf/pbs.conf
  egs2/tedx_spanish_openslr67/asr1/conf/pitch.conf
  egs2/tedx_spanish_openslr67/asr1/conf/queue.conf
  egs2/tedx_spanish_openslr67/asr1/conf/slurm.conf
  egs2/tedx_spanish_openslr67/asr1/conf/train_asr.yaml
  egs2/tedx_spanish_openslr67/asr1/conf/train_lm.yaml
  egs2/tedx_spanish_openslr67/asr1/db.sh
  egs2/tedx_spanish_openslr67/asr1/local/create_data.py
  egs2/tedx_spanish_openslr67/asr1/local/data.sh
  egs2/tedx_spanish_openslr67/asr1/local/path.sh
  egs2/tedx_spanish_openslr67/asr1/local/split_data.py
  egs2/tedx_spanish_openslr67/asr1/path.sh
  egs2/tedx_spanish_openslr67/asr1/pyscripts
  egs2/tedx_spanish_openslr67/asr1/run.sh
  egs2/tedx_spanish_openslr67/asr1/scripts
  egs2/tedx_spanish_openslr67/asr1/steps
  egs2/tedx_spanish_openslr67/asr1/utils
Labels: Recipe, ASR, ESPnet2, README, auto-merge, ESPnet1

#4387 Add dynamic mixing in the speech separation task.
  ci/test_integration_espnet2.sh
  egs2/TEMPLATE/enh1/enh.sh
  egs2/mini_an4/asr1/local/data.sh
  egs2/mini_an4/enh1/conf/train_with_dynamic_mixing.yaml
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_skim_tasnet_noncausal_dm.yaml
  espnet2/enh/espnet_model.py
  espnet2/tasks/enh.py
  espnet2/train/preprocessor.py
Labels: CI, New Features, ESPnet2, auto-merge, SE

#4560 Added test script and usage for calculate_rtf.py script to ESPnet2 tutorial page
  doc/espnet2_tutorial.md
  test_utils/asr_inference.1.log
  test_utils/test_calculate_rtf_py.bats
Labels: Documentation, CI

#4576 Unfix matplotlib version
  .github/workflows/ci.yaml
  .github/workflows/test_import.yaml
  espnet/nets/pytorch_backend/transformer/plot.py
  setup.py
Labels: Installation, CI, ESPnet1

#4584 use torch.finfo for dtype other than float
  espnet/nets/pytorch_backend/transformer/attention.py
Labels: ESPnet1

#4585 Update recipe for slurp-entity
  egs2/slurp_entity/asr1/local/path.sh
Labels: Recipe, ESPnet2, SLU

#4592 Egs2 aesrc
  egs2/README.md
  egs2/aesrc2020/asr1/README.md
  egs2/aesrc2020/asr1/asr.sh
  egs2/aesrc2020/asr1/cmd.sh
  egs2/aesrc2020/asr1/conf/decode_asr.yaml
  egs2/aesrc2020/asr1/conf/fbank.conf
  egs2/aesrc2020/asr1/conf/pbs.conf
  egs2/aesrc2020/asr1/conf/pitch.conf
  egs2/aesrc2020/asr1/conf/queue.conf
  egs2/aesrc2020/asr1/conf/slurm.conf
  egs2/aesrc2020/asr1/conf/train_asr.yaml
  egs2/aesrc2020/asr1/conf/tuning/train_asr_conformer_lr2e-3_warmup15k_amp_nondeterministic.yaml
  egs2/aesrc2020/asr1/db.sh
  egs2/aesrc2020/asr1/local/create_subsets.sh
  egs2/aesrc2020/asr1/local/data.sh
  egs2/aesrc2020/asr1/local/data_prep.sh
  egs2/aesrc2020/asr1/local/download_and_untar.sh
  egs2/aesrc2020/asr1/local/files/ar.dict
  egs2/aesrc2020/asr1/local/files/cvlist/CA_cv_spk
  egs2/aesrc2020/asr1/local/files/cvlist/CHN_cv_spk
  egs2/aesrc2020/asr1/local/files/cvlist/ES_cv_spk
  egs2/aesrc2020/asr1/local/files/cvlist/IND_cv_spk
  egs2/aesrc2020/asr1/local/files/cvlist/JPN_cv_spk
  egs2/aesrc2020/asr1/local/files/cvlist/KR_cv_spk
  egs2/aesrc2020/asr1/local/files/cvlist/PT_cv_spk
  egs2/aesrc2020/asr1/local/files/cvlist/RU_cv_spk
  egs2/aesrc2020/asr1/local/files/cvlist/UK_cv_spk
  egs2/aesrc2020/asr1/local/files/cvlist/US_cv_spk
  egs2/aesrc2020/asr1/local/path.sh
  egs2/aesrc2020/asr1/local/preprocess.py
  egs2/aesrc2020/asr1/path.sh
  egs2/aesrc2020/asr1/pyscripts
  egs2/aesrc2020/asr1/run.sh
  egs2/aesrc2020/asr1/scripts
  egs2/aesrc2020/asr1/steps
  egs2/aesrc2020/asr1/utils
Labels: Recipe, ESPnet2, README

#4574 update checks for bias in initialization
  espnet2/torch_utils/initialize.py
Labels: Bugfix, ESPnet2

#4600 Update to fit the recent update in s3prl.
  ci/test_python.sh
  egs2/americasnlp22/asr1/conf/train_asr_transformer.yaml
  egs2/catslu/asr1/conf/train_asr.yaml
  egs2/mr_openslr64/asr1/conf/tuning/train_asr_conformer_xlsr.yaml
  egs2/ms_indic_18/asr1/README.md
  egs2/ms_indic_18/asr1/conf/tuning/train_asr_xlsr53_conformer.yaml
  espnet2/asr/frontend/s3prl.py
  espnet2/torch_utils/initialize.py
  test/espnet2/asr/frontend/test_s3prl.py
  tools/installers/install_s3prl.sh
Labels: Bugfix, Installation, CI, ESPnet2, README

#4605 Update mp4_to_wav.sh
  egs2/lrs3/asr1/local/mp4_to_wav.sh
Labels: Bugfix, Recipe, ESPnet2, auto-merge

#4607 Pass output_dir as str to wandb.init()
  espnet2/tasks/abs_task.py
Labels: Bugfix, ESPnet2, auto-merge

#4566 Support enh_s2t joint training on multi-speaker data
  egs2/TEMPLATE/enh_asr1/enh_asr.sh
  egs2/TEMPLATE/enh_asr1/scripts/utils/eval_perm_free_error.py
  egs2/TEMPLATE/enh_asr1/scripts/utils/show_enh_score.sh
  egs2/chime4/enh_asr1/local/data.sh
  egs2/chime4/enh_asr1/run.sh
  egs2/mini_an4/enh_asr1/local/data.sh
  egs2/mini_an4/enh_asr1/run.sh
  egs2/wsj0_2mix_spatialized/enh_asr1/README.md
  egs2/wsj0_2mix_spatialized/enh_asr1/cmd.sh
  egs2/wsj0_2mix_spatialized/enh_asr1/conf/decode_asr_transformer.yaml
  egs2/wsj0_2mix_spatialized/enh_asr1/conf/fbank.conf
  egs2/wsj0_2mix_spatialized/enh_asr1/conf/pbs.conf
  egs2/wsj0_2mix_spatialized/enh_asr1/conf/pitch.conf
  egs2/wsj0_2mix_spatialized/enh_asr1/conf/queue.conf
  egs2/wsj0_2mix_spatialized/enh_asr1/conf/slurm.conf
  egs2/wsj0_2mix_spatialized/enh_asr1/conf/train.yaml
  egs2/wsj0_2mix_spatialized/enh_asr1/conf/train_lm_transformer.yaml
  egs2/wsj0_2mix_spatialized/enh_asr1/conf/tuning/train_enh_asr_beamformer_fbank_transformer.yaml
  egs2/wsj0_2mix_spatialized/enh_asr1/db.sh
  egs2/wsj0_2mix_spatialized/enh_asr1/enh_asr.sh
  egs2/wsj0_2mix_spatialized/enh_asr1/local/convert2wav.sh
  egs2/wsj0_2mix_spatialized/enh_asr1/local/data.sh
  egs2/wsj0_2mix_spatialized/enh_asr1/local/enh_data.sh
  egs2/wsj0_2mix_spatialized/enh_asr1/local/find_transcripts.pl
  egs2/wsj0_2mix_spatialized/enh_asr1/local/flist2scp.pl
  egs2/wsj0_2mix_spatialized/enh_asr1/local/ndx2flist.pl
  egs2/wsj0_2mix_spatialized/enh_asr1/local/normalize_transcript.pl
  egs2/wsj0_2mix_spatialized/enh_asr1/local/path.sh
  egs2/wsj0_2mix_spatialized/enh_asr1/local/spatialize_wsj0_mix.sh
  egs2/wsj0_2mix_spatialized/enh_asr1/local/wsj0_2mix_data.sh
  egs2/wsj0_2mix_spatialized/enh_asr1/local/wsj0_2mix_data_prep.sh
  egs2/wsj0_2mix_spatialized/enh_asr1/local/wsj0_2mix_spatialized_data_prep.sh
  egs2/wsj0_2mix_spatialized/enh_asr1/local/wsj0_create_mixture.sh
  egs2/wsj0_2mix_spatialized/enh_asr1/local/wsj_data_prep.sh
  egs2/wsj0_2mix_spatialized/enh_asr1/local/wsj_format_data.sh
  egs2/wsj0_2mix_spatialized/enh_asr1/path.sh
  egs2/wsj0_2mix_spatialized/enh_asr1/pyscripts
  egs2/wsj0_2mix_spatialized/enh_asr1/run.sh
  egs2/wsj0_2mix_spatialized/enh_asr1/scripts
  egs2/wsj0_2mix_spatialized/enh_asr1/steps
  egs2/wsj0_2mix_spatialized/enh_asr1/utils
  espnet2/asr/espnet_model.py
  espnet2/bin/asr_inference.py
  espnet2/enh/espnet_enh_s2t_model.py
  espnet2/enh/espnet_model.py
  espnet2/enh/loss/wrappers/fixed_order.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/enh_s2t.py
  test/espnet2/bin/test_asr_inference.py
  test/espnet2/enh/test_espnet_enh_s2t_model.py
Labels: Enhancement, Recipe, ASR, ESPnet2, README, SE
