Repository espnet/espnet, pull requests merged in 2022-04, with the labels that each got.

#4227 fix issues about longformer package upgrades pytorch package
  egs2/zh_openslr38/asr1/local/check_train_test_duplicate.py
  tools/installers/install_longformer.sh
Labels: Installation, ESPnet2

#4239 fix doc ci by pinning jinja version
  setup.py
Labels: Bugfix, Installation, CI

#4104 add lrs avsr recipe
  egs/README.md
  egs/lrs/README.md
  egs/lrs/avsr1/RESULTS.md
  egs/lrs/avsr1/cmd.sh
  egs/lrs/avsr1/conf/decode.yaml
  egs/lrs/avsr1/conf/fbank.conf
  egs/lrs/avsr1/conf/gpu.conf
  egs/lrs/avsr1/conf/lm.yaml
  egs/lrs/avsr1/conf/mfcc.conf
  egs/lrs/avsr1/conf/mfcc_hires.conf
  egs/lrs/avsr1/conf/pitch.conf
  egs/lrs/avsr1/conf/queue.conf
  egs/lrs/avsr1/conf/slurm.conf
  egs/lrs/avsr1/conf/specaug.yaml
  egs/lrs/avsr1/conf/train.yaml
  egs/lrs/avsr1/local/CMakeLists.txt
  egs/lrs/avsr1/local/download.sh
  egs/lrs/avsr1/local/installpackage.sh
  egs/lrs/avsr1/local/se_batch.py
  egs/lrs/avsr1/local/show_result.sh
  egs/lrs/avsr1/path.sh
  egs/lrs/avsr1/run.sh
  egs/lrs/avsr1/steps
  egs/lrs/avsr1/utils
  egs/lrs2/asr1/RESULTS.md
  egs/lrs2/asr1/cmd.sh
  egs/lrs2/asr1/conf/decode.yaml
  egs/lrs2/asr1/conf/fbank.conf
  egs/lrs2/asr1/conf/gpu.conf
  egs/lrs2/asr1/conf/lm.yaml
  egs/lrs2/asr1/conf/pitch.conf
  egs/lrs2/asr1/conf/queue.conf
  egs/lrs2/asr1/conf/slurm.conf
  egs/lrs2/asr1/conf/specaug.yaml
  egs/lrs2/asr1/conf/train.yaml
  egs/lrs2/asr1/local/README.md
  egs/lrs2/asr1/local/data_preparation.sh
  egs/lrs2/asr1/local/make_files.py
  egs/lrs2/asr1/local/pretrain.py
  egs/lrs2/asr1/path.sh
  egs/lrs2/asr1/run.sh
  egs/lrs2/asr1/steps
  egs/lrs2/asr1/utils
  tools/installers/install_deepxi.sh
  tools/installers/install_openface.sh
  tools/installers/install_vidaug.sh
Labels: Recipe, Installation, New Features, README, ESPnet1

#4260 Fix jsondiff version and remove zenodo in CI
  setup.py
  test_utils/test_evaluate_asr.bats
  test_utils/test_evaluate_asr_hf.bats
Labels: Bugfix, Installation, CI

#4229 Fix speaker normalization
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_xvectors.py
Labels: Bugfix, TTS, ESPnet2

#4250 Add option to use norm. feats over denorm.
  espnet2/bin/tts_inference.py
Labels: Enhancement, TTS, ESPnet2

#4266 Follow up #4250
  espnet2/bin/tts_inference.py
Labels: Bugfix, ESPnet2, auto-merge

#4255 Update version based on date-versioning
  espnet/version.txt
Labels: ESPnet1

#4259 fix for enhancement model loading compatibility
  espnet2/tasks/enh.py
Labels: Bugfix, ESPnet2, SE

#4265 update install_pesq.sh
  tools/installers/install_pesq.sh
Labels: Installation, CI

#4192 Add ConferencingSpeech 2021 recipe to egs2
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/diar1/scripts/utils/create_README_file.py
  egs2/TEMPLATE/diar1/scripts/utils/get_model_names.py
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/enh1/scripts/utils/create_README_file.py
  egs2/TEMPLATE/enh1/scripts/utils/get_model_names.py
  egs2/TEMPLATE/enh1/scripts/utils/show_enh_score.sh
  egs2/conferencingspeech21/enh1/cmd.sh
  egs2/conferencingspeech21/enh1/conf/pbs.conf
  egs2/conferencingspeech21/enh1/conf/queue.conf
  egs2/conferencingspeech21/enh1/conf/slurm.conf
  egs2/conferencingspeech21/enh1/conf/tuning/train_enh_beamformer_mvdr.yaml
  egs2/conferencingspeech21/enh1/db.sh
  egs2/conferencingspeech21/enh1/enh.sh
  egs2/conferencingspeech21/enh1/local/config_from_generated.py
  egs2/conferencingspeech21/enh1/local/data.sh
  egs2/conferencingspeech21/enh1/local/fix_simulation_script.patch
  egs2/conferencingspeech21/enh1/local/path.sh
  egs2/conferencingspeech21/enh1/local/prepare.sh
  egs2/conferencingspeech21/enh1/local/prepare_data_list.py
  egs2/conferencingspeech21/enh1/local/prepare_dev_data.py
  egs2/conferencingspeech21/enh1/local/prepare_simu_config.py
  egs2/conferencingspeech21/enh1/local/prepare_test_data.py
  egs2/conferencingspeech21/enh1/path.sh
  egs2/conferencingspeech21/enh1/pyscripts
  egs2/conferencingspeech21/enh1/run.sh
  egs2/conferencingspeech21/enh1/scripts
  egs2/conferencingspeech21/enh1/steps
  egs2/conferencingspeech21/enh1/utils
Labels: Recipe, ESPnet2, README, SE

#4149 fix bug in mt/st templates for having separate token lists
  egs2/TEMPLATE/asr1/scripts/utils/show_translation_result.sh
  egs2/TEMPLATE/mt1/mt.sh
  egs2/TEMPLATE/st1/st.sh
  espnet2/st/espnet_model.py
Labels: Bugfix, ST, MT, ESPnet2

#3898 Accented English Speech Recognition Challenge 2020 recipe (AESRC2020)
  egs/README.md
  egs/aesrc2020/asr1/RESULTS.md
  egs/aesrc2020/asr1/cmd.sh
  egs/aesrc2020/asr1/conf/decode.yaml
  egs/aesrc2020/asr1/conf/fbank.conf
  egs/aesrc2020/asr1/conf/gpu.conf
  egs/aesrc2020/asr1/conf/lm.yaml
  egs/aesrc2020/asr1/conf/pitch.conf
  egs/aesrc2020/asr1/conf/queue.conf
  egs/aesrc2020/asr1/conf/slurm.conf
  egs/aesrc2020/asr1/conf/specaug.yaml
  egs/aesrc2020/asr1/conf/train.yaml
  egs/aesrc2020/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/aesrc2020/asr1/conf/tuning/decode_rnn.yaml
  egs/aesrc2020/asr1/conf/tuning/train_pytorch_conformer_kernel15.yaml
  egs/aesrc2020/asr1/conf/tuning/train_pytorch_conformer_kernel31.yaml
  egs/aesrc2020/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/aesrc2020/asr1/conf/tuning/train_rnn.yaml
  egs/aesrc2020/asr1/local/create_subsets.sh
  egs/aesrc2020/asr1/local/data_prep.sh
  egs/aesrc2020/asr1/local/download_and_untar.sh
  egs/aesrc2020/asr1/local/files/ar.dict
  egs/aesrc2020/asr1/local/files/cvlist/CA_cv_spk
  egs/aesrc2020/asr1/local/files/cvlist/CHN_cv_spk
  egs/aesrc2020/asr1/local/files/cvlist/ES_cv_spk
  egs/aesrc2020/asr1/local/files/cvlist/IND_cv_spk
  egs/aesrc2020/asr1/local/files/cvlist/JPN_cv_spk
  egs/aesrc2020/asr1/local/files/cvlist/KR_cv_spk
  egs/aesrc2020/asr1/local/files/cvlist/PT_cv_spk
  egs/aesrc2020/asr1/local/files/cvlist/RU_cv_spk
  egs/aesrc2020/asr1/local/files/cvlist/UK_cv_spk
  egs/aesrc2020/asr1/local/files/cvlist/US_cv_spk
  egs/aesrc2020/asr1/local/preprocess.py
  egs/aesrc2020/asr1/path.sh
  egs/aesrc2020/asr1/run.sh
  egs/aesrc2020/asr1/steps
  egs/aesrc2020/asr1/utils
Labels: Recipe, ASR, README, ESPnet1

#4210 2021 Clarity Challenge recipe
  egs2/README.md
  egs2/clarity21/enh_2021/README.md
  egs2/clarity21/enh_2021/cmd.sh
  egs2/clarity21/enh_2021/conf/pbs.conf
  egs2/clarity21/enh_2021/conf/queue.conf
  egs2/clarity21/enh_2021/conf/slurm.conf
  egs2/clarity21/enh_2021/conf/tuning/train_enh_beamformer_mvdr.yaml
  egs2/clarity21/enh_2021/db.sh
  egs2/clarity21/enh_2021/enh.sh
  egs2/clarity21/enh_2021/local/data.sh
  egs2/clarity21/enh_2021/local/path.sh
  egs2/clarity21/enh_2021/local/prep_data.py
  egs2/clarity21/enh_2021/path.sh
  egs2/clarity21/enh_2021/pyscripts
  egs2/clarity21/enh_2021/run.sh
  egs2/clarity21/enh_2021/scripts
  egs2/clarity21/enh_2021/steps
  egs2/clarity21/enh_2021/utils
  espnet2/bin/enh_scoring.py
Labels: Recipe, ESPnet2, README, SE

#4256 Import fast_bss_eval and update some time-domain losses for enh task
  espnet2/enh/loss/criterions/time_domain.py
  espnet2/tasks/enh.py
  setup.py
  test/espnet2/enh/loss/criterions/test_time_domain.py
Labels: Installation, ESPnet2, SE

#4281 updated librispeech-asr with rnn-t results
  egs2/librispeech/asr1/README.md
Labels: ESPnet2, README, RNNT

#4249 Add AISHELL-4 ENH recipe
  egs2/README.md
  egs2/aishell4/enh1/cmd.sh
  egs2/aishell4/enh1/conf/pbs.conf
  egs2/aishell4/enh1/conf/queue.conf
  egs2/aishell4/enh1/conf/slurm.conf
  egs2/aishell4/enh1/conf/train.yaml
  egs2/aishell4/enh1/conf/tuning/train_enh_beamformer_no_wpe.yaml
  egs2/aishell4/enh1/db.sh
  egs2/aishell4/enh1/enh.sh
  egs2/aishell4/enh1/local/data.sh
  egs2/aishell4/enh1/local/generate_fe_trainingdata.py.patch
  egs2/aishell4/enh1/local/generate_isotropic_noise.py.patch
  egs2/aishell4/enh1/local/generate_rir_trainingdata.py.patch
  egs2/aishell4/enh1/local/path.sh
  egs2/aishell4/enh1/local/prepare_audioset_category_list.py
  egs2/aishell4/enh1/local/prepare_data_list.py
  egs2/aishell4/enh1/local/pyrirgen.pyx.patch
  egs2/aishell4/enh1/local/split_train_dev.py
  egs2/aishell4/enh1/local/split_train_dev_by_column.py
  egs2/aishell4/enh1/local/split_train_dev_by_prefix.py
  egs2/aishell4/enh1/path.sh
  egs2/aishell4/enh1/pyscripts
  egs2/aishell4/enh1/run.sh
  egs2/aishell4/enh1/scripts
  egs2/aishell4/enh1/steps
  egs2/aishell4/enh1/utils
Labels: Recipe, ESPnet2, README, SE

#4191 recipee for Microsoft speech corpus for Indian Languages
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/microsoft_speech/asr1/README.md
  egs2/microsoft_speech/asr1/__MACOSX/._local
  egs2/microsoft_speech/asr1/asr.sh
  egs2/microsoft_speech/asr1/cmd.sh
  egs2/microsoft_speech/asr1/conf/decode_asr.yaml
  egs2/microsoft_speech/asr1/conf/fbank.conf
  egs2/microsoft_speech/asr1/conf/pbs.conf
  egs2/microsoft_speech/asr1/conf/pitch.conf
  egs2/microsoft_speech/asr1/conf/queue.conf
  egs2/microsoft_speech/asr1/conf/slurm.conf
  egs2/microsoft_speech/asr1/conf/train_asr.yaml
  egs2/microsoft_speech/asr1/conf/train_lm.yaml
  egs2/microsoft_speech/asr1/conf/tuning/decode_transformer.yaml
  egs2/microsoft_speech/asr1/conf/tuning/train_asr_conformer5.yaml
  egs2/microsoft_speech/asr1/conf/tuning/train_asr_conformer5_hubert.yaml
  egs2/microsoft_speech/asr1/conf/tuning/train_asr_conformer_wav2vec2.yaml
  egs2/microsoft_speech/asr1/conf/tuning/train_lm_transformer.yaml
  egs2/microsoft_speech/asr1/db.sh
  egs2/microsoft_speech/asr1/local/data.sh
  egs2/microsoft_speech/asr1/local/path.sh
  egs2/microsoft_speech/asr1/local/process.py
  egs2/microsoft_speech/asr1/path.sh
  egs2/microsoft_speech/asr1/pyscripts
  egs2/microsoft_speech/asr1/run.sh
  egs2/microsoft_speech/asr1/scripts
  egs2/microsoft_speech/asr1/steps
  egs2/microsoft_speech/asr1/utils
Labels: Recipe, ASR, ESPnet2, README

#4182 Adding new recipe for Burmese (OpenSLR80)
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/bur_openslr80/asr1/README.md
  egs2/bur_openslr80/asr1/asr.sh
  egs2/bur_openslr80/asr1/cmd.sh
  egs2/bur_openslr80/asr1/conf/decode_asr.yaml
  egs2/bur_openslr80/asr1/conf/fbank.conf
  egs2/bur_openslr80/asr1/conf/pbs.conf
  egs2/bur_openslr80/asr1/conf/pitch.conf
  egs2/bur_openslr80/asr1/conf/queue.conf
  egs2/bur_openslr80/asr1/conf/slurm.conf
  egs2/bur_openslr80/asr1/conf/train_asr.yaml
  egs2/bur_openslr80/asr1/conf/train_asr_hubert_transformer_adam_specaug.yaml
  egs2/bur_openslr80/asr1/conf/train_lm.yaml
  egs2/bur_openslr80/asr1/db.sh
  egs2/bur_openslr80/asr1/local/data.sh
  egs2/bur_openslr80/asr1/local/data_prep.py
  egs2/bur_openslr80/asr1/local/path.sh
  egs2/bur_openslr80/asr1/path.sh
  egs2/bur_openslr80/asr1/pyscripts
  egs2/bur_openslr80/asr1/run.sh
  egs2/bur_openslr80/asr1/scripts
  egs2/bur_openslr80/asr1/steps
  egs2/bur_openslr80/asr1/utils
Labels: Recipe, ASR, ESPnet2, README

#4280 Accented French Openslr57 ASR recipe (ESPnet2) (part of Homework3 MNLP)
  egs2/TEMPLATE/asr1/db.sh
  egs2/accented_french_openslr57/asr1/README.md
  egs2/accented_french_openslr57/asr1/asr.sh
  egs2/accented_french_openslr57/asr1/cmd.sh
  egs2/accented_french_openslr57/asr1/conf/decode_asr.yaml
  egs2/accented_french_openslr57/asr1/conf/fbank.conf
  egs2/accented_french_openslr57/asr1/conf/pbs.conf
  egs2/accented_french_openslr57/asr1/conf/pitch.conf
  egs2/accented_french_openslr57/asr1/conf/queue.conf
  egs2/accented_french_openslr57/asr1/conf/slurm.conf
  egs2/accented_french_openslr57/asr1/conf/train_lm_transformer.yaml
  egs2/accented_french_openslr57/asr1/conf/tuning/train_asr_hubert_frontend.yaml
  egs2/accented_french_openslr57/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/accented_french_openslr57/asr1/db.sh
  egs2/accented_french_openslr57/asr1/local/data.sh
  egs2/accented_french_openslr57/asr1/local/normalize_test.py
  egs2/accented_french_openslr57/asr1/local/path.sh
  egs2/accented_french_openslr57/asr1/local/remove_missing.py
  egs2/accented_french_openslr57/asr1/path.sh
  egs2/accented_french_openslr57/asr1/pyscripts
  egs2/accented_french_openslr57/asr1/run.sh
  egs2/accented_french_openslr57/asr1/scripts
  egs2/accented_french_openslr57/asr1/steps
  egs2/accented_french_openslr57/asr1/utils
Labels: Recipe, ASR, ESPnet2, README

#4277 Fix aishell3 data preparation script
  egs2/aishell3/tts1/local/data_prep.py
Labels: Bugfix, Recipe, ESPnet2

#4289 Change the order of README
  README.md
Labels: README

#4284 Update README.md
  README.md
Labels: README

#4279 Transfer Learning Documentation
  README.md
  egs2/mini_an4/asr1/transfer_learning.md
Labels: ESPnet2, README

#4238 Add INTERSPEECH 2021 DNS Challenge 3 recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/dns_ins21/enh1/cmd.sh
  egs2/dns_ins21/enh1/conf/pbs.conf
  egs2/dns_ins21/enh1/conf/queue.conf
  egs2/dns_ins21/enh1/conf/slurm.conf
  egs2/dns_ins21/enh1/conf/train.yaml
  egs2/dns_ins21/enh1/conf/tuning/train_enh_tcn_tf.yaml
  egs2/dns_ins21/enh1/db.sh
  egs2/dns_ins21/enh1/enh.sh
  egs2/dns_ins21/enh1/local/data.sh
  egs2/dns_ins21/enh1/local/dns_create_mixture.sh
  egs2/dns_ins21/enh1/local/dns_data_prep.sh
  egs2/dns_ins21/enh1/local/path.sh
  egs2/dns_ins21/enh1/path.sh
  egs2/dns_ins21/enh1/pyscripts
  egs2/dns_ins21/enh1/run.sh
  egs2/dns_ins21/enh1/scripts
  egs2/dns_ins21/enh1/steps
  egs2/dns_ins21/enh1/utils
Labels: Recipe, ESPnet2, README, SE

#4283 Update SLU results for ICASSP
  README.md
Labels: README

#4295 Github Action Trigger Docker Build
  .github/workflows/docker.yml
Labels: Docker, CI

#4253 Add ICASSP2021 DNS Challenge 2 recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/dns_icassp21/enh1/cmd.sh
  egs2/dns_icassp21/enh1/conf/pbs.conf
  egs2/dns_icassp21/enh1/conf/queue.conf
  egs2/dns_icassp21/enh1/conf/slurm.conf
  egs2/dns_icassp21/enh1/conf/train.yaml
  egs2/dns_icassp21/enh1/conf/tuning/train_enh_tcn_tf.yaml
  egs2/dns_icassp21/enh1/db.sh
  egs2/dns_icassp21/enh1/enh.sh
  egs2/dns_icassp21/enh1/local/data.sh
  egs2/dns_icassp21/enh1/local/dns_create_mixture.sh
  egs2/dns_icassp21/enh1/local/dns_data_prep.sh
  egs2/dns_icassp21/enh1/local/path.sh
  egs2/dns_icassp21/enh1/path.sh
  egs2/dns_icassp21/enh1/pyscripts
  egs2/dns_icassp21/enh1/run.sh
  egs2/dns_icassp21/enh1/scripts
  egs2/dns_icassp21/enh1/steps
  egs2/dns_icassp21/enh1/utils
Labels: Recipe, ESPnet2, README, SE

#4304 Fix a bug in utterance_mvn
  espnet2/layers/utterance_mvn.py
Labels: Bugfix, ESPnet2

#4257 Add svoice recipe for wsj0-2mix speech separation
  egs2/wsj0_2mix/enh1/README.md
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_svoice.yaml
  espnet2/enh/layers/dpmulcat.py
  espnet2/enh/loss/wrappers/multilayer_pit_solver.py
  espnet2/enh/separator/svoice_separator.py
  espnet2/tasks/enh.py
  test/espnet2/enh/loss/wrappers/test_multilayer_pit_solver.py
  test/espnet2/enh/separator/test_svoice_separator.py
  test/espnet2/enh/test_espnet_model.py
Labels: New Features, ESPnet2, README, SE

#4309 Add results of ICASSP2021 DNS Challenge 2 recipe
  egs2/dns_icassp21/enh1/README.md
  egs2/dns_icassp21/enh1/conf/tuning/train_enh_tcn_tf.yaml
Labels: ESPnet2, README

#4314 add convtasnet recipe for dns_ins20
  egs2/dns_ins20/enh1/README.md
  egs2/dns_ins20/enh1/conf/tuning/train_enh_conv_tasnet.yaml
Labels: Recipe, ESPnet2, README, SE

#4310 add integration test and fix the decoding in enh_asr and enh_st
  ci/test_integration_espnet2.sh
  egs2/TEMPLATE/enh_asr1/enh_asr.sh
  egs2/TEMPLATE/enh_st1/enh_st.sh
  egs2/mini_an4/enh_asr1/cmd.sh
  egs2/mini_an4/enh_asr1/conf/fbank.conf
  egs2/mini_an4/enh_asr1/conf/pbs.conf
  egs2/mini_an4/enh_asr1/conf/pitch.conf
  egs2/mini_an4/enh_asr1/conf/queue.conf
  egs2/mini_an4/enh_asr1/conf/slurm.conf
  egs2/mini_an4/enh_asr1/db.sh
  egs2/mini_an4/enh_asr1/downloads.tar.gz
  egs2/mini_an4/enh_asr1/enh_asr.sh
  egs2/mini_an4/enh_asr1/local/data.sh
  egs2/mini_an4/enh_asr1/local/data_prep.py
  egs2/mini_an4/enh_asr1/local/download_and_untar.sh
  egs2/mini_an4/enh_asr1/local/path.sh
  egs2/mini_an4/enh_asr1/path.sh
  egs2/mini_an4/enh_asr1/pyscripts
  egs2/mini_an4/enh_asr1/run.sh
  egs2/mini_an4/enh_asr1/scripts
  egs2/mini_an4/enh_asr1/steps
  egs2/mini_an4/enh_asr1/utils
  espnet2/enh/espnet_enh_s2t_model.py
  test/espnet2/bin/test_asr_inference.py
Labels: CI, ESPnet2

#4262 SLUE Voxpopuli base recipe
  egs2/slue-voxpopuli/asr1/asr.sh
  egs2/slue-voxpopuli/asr1/cmd.sh
  egs2/slue-voxpopuli/asr1/conf/decode_asr.yaml
  egs2/slue-voxpopuli/asr1/conf/fbank.conf
  egs2/slue-voxpopuli/asr1/conf/pbs.conf
  egs2/slue-voxpopuli/asr1/conf/pitch.conf
  egs2/slue-voxpopuli/asr1/conf/queue.conf
  egs2/slue-voxpopuli/asr1/conf/slurm.conf
  egs2/slue-voxpopuli/asr1/conf/train_asr.yaml
  egs2/slue-voxpopuli/asr1/conf/tuning_wavlm/train_asr_conformer_lr2e-3_warmup5k_wavlm_conv2d2.yaml
  egs2/slue-voxpopuli/asr1/db.sh
  egs2/slue-voxpopuli/asr1/local/data.sh
  egs2/slue-voxpopuli/asr1/local/data_prep_original_slue_format.py
  egs2/slue-voxpopuli/asr1/local/data_prep_original_slue_format_transcript.py
  egs2/slue-voxpopuli/asr1/local/eval_utils.py
  egs2/slue-voxpopuli/asr1/local/path.sh
  egs2/slue-voxpopuli/asr1/local/run_spm.sh
  egs2/slue-voxpopuli/asr1/local/score.py
  egs2/slue-voxpopuli/asr1/local/score.sh
  egs2/slue-voxpopuli/asr1/path.sh
  egs2/slue-voxpopuli/asr1/pyscripts
  egs2/slue-voxpopuli/asr1/run.sh
  egs2/slue-voxpopuli/asr1/scripts
  egs2/slue-voxpopuli/asr1/steps
  egs2/slue-voxpopuli/asr1/utils
Labels: Recipe, ESPnet2, README, SLU

#4315 Harpervalley recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/harpervalley/asr1/README.md
  egs2/harpervalley/asr1/asr.sh
  egs2/harpervalley/asr1/cmd.sh
  egs2/harpervalley/asr1/conf/decode_asr.yaml
  egs2/harpervalley/asr1/conf/fbank.conf
  egs2/harpervalley/asr1/conf/pbs.conf
  egs2/harpervalley/asr1/conf/pitch.conf
  egs2/harpervalley/asr1/conf/queue.conf
  egs2/harpervalley/asr1/conf/slurm.conf
  egs2/harpervalley/asr1/conf/train_asr.yaml
  egs2/harpervalley/asr1/conf/tuning/train_asr.yaml
  egs2/harpervalley/asr1/conf/tuning/train_asr_hubert.yaml
  egs2/harpervalley/asr1/db.sh
  egs2/harpervalley/asr1/local/data.sh
  egs2/harpervalley/asr1/local/data_prep.py
  egs2/harpervalley/asr1/local/path.sh
  egs2/harpervalley/asr1/local/score.py
  egs2/harpervalley/asr1/local/score.sh
  egs2/harpervalley/asr1/local/split_data.py
  egs2/harpervalley/asr1/path.sh
  egs2/harpervalley/asr1/pyscripts
  egs2/harpervalley/asr1/run.sh
  egs2/harpervalley/asr1/scripts
  egs2/harpervalley/asr1/steps
  egs2/harpervalley/asr1/utils
Labels: Recipe, ESPnet2, README, SLU

#4251 Some improvements to current enh functions
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/enh1/scripts/utils/show_enh_score.sh
  egs2/TEMPLATE/enh_asr1/enh_asr.sh
  egs2/TEMPLATE/enh_st1/enh_st.sh
  espnet2/bin/enh_inference.py
  espnet2/bin/enh_scoring.py
  espnet2/enh/encoder/conv_encoder.py
  espnet2/enh/espnet_model.py
  espnet2/enh/layers/beamformer.py
  espnet2/enh/layers/complex_utils.py
  espnet2/enh/loss/criterions/abs_loss.py
  espnet2/enh/loss/criterions/tf_domain.py
  espnet2/enh/loss/criterions/time_domain.py
  espnet2/enh/loss/wrappers/abs_wrapper.py
  espnet2/enh/loss/wrappers/fixed_order.py
  espnet2/enh/loss/wrappers/pit_solver.py
  espnet2/tasks/enh.py
  test/espnet2/bin/test_enh_inference.py
  test/espnet2/enh/layers/test_complex_utils.py
  test/espnet2/enh/loss/criterions/test_tf_domain.py
  test/espnet2/enh/loss/criterions/test_time_domain.py
  test/espnet2/enh/loss/wrappers/test_pit_solver.py
  test/espnet2/enh/test_espnet_model.py
Labels: New Features, ESPnet2, SE

#4323 fix the enh_s2t_task argument in espnet2/bin/st_inference.py
  espnet2/bin/st_inference.py
Labels: Bugfix, ESPnet2

#4324 Add Test Functions for ST Train and Inference
  espnet2/st/espnet_model.py
  espnet2/tasks/st.py
  test/espnet2/bin/test_st_inference.py
  test/espnet2/bin/test_st_train.py
Labels: CI, ST, ESPnet2

#4328 Rename egs2/clarity21/enh_2021 to egs2/clarity21/enh1
  egs2/clarity21/enh1/README.md
  egs2/clarity21/enh1/cmd.sh
  egs2/clarity21/enh1/conf/pbs.conf
  egs2/clarity21/enh1/conf/queue.conf
  egs2/clarity21/enh1/conf/slurm.conf
  egs2/clarity21/enh1/conf/tuning/train_enh_beamformer_mvdr.yaml
  egs2/clarity21/enh1/db.sh
  egs2/clarity21/enh1/enh.sh
  egs2/clarity21/enh1/local/data.sh
  egs2/clarity21/enh1/local/path.sh
  egs2/clarity21/enh1/local/prep_data.py
  egs2/clarity21/enh1/path.sh
  egs2/clarity21/enh1/pyscripts
  egs2/clarity21/enh1/run.sh
  egs2/clarity21/enh1/scripts
  egs2/clarity21/enh1/steps
  egs2/clarity21/enh1/utils
Labels: Recipe, ESPnet2, README

#4243 Add streaming ST/SLU
  ci/test_integration_espnet2.sh
  egs2/TEMPLATE/st1/st.sh
  egs2/fisher_callhome_spanish/st1/conf/decode_streaming_st.yaml
  egs2/fisher_callhome_spanish/st1/conf/train_st_streaming.yaml
  egs2/fisher_callhome_spanish/st1/run.sh
  egs2/fsc/asr1/conf/train_asr_streaming_transformer.yaml
  egs2/mini_an4/st1/cmd.sh
  egs2/mini_an4/st1/conf/fbank.conf
  egs2/mini_an4/st1/conf/pbs.conf
  egs2/mini_an4/st1/conf/pitch.conf
  egs2/mini_an4/st1/conf/queue.conf
  egs2/mini_an4/st1/conf/slurm.conf
  egs2/mini_an4/st1/conf/train_st.yaml
  egs2/mini_an4/st1/conf/train_st_streaming.yaml
  egs2/mini_an4/st1/db.sh
  egs2/mini_an4/st1/downloads.tar.gz
  egs2/mini_an4/st1/local/data.sh
  egs2/mini_an4/st1/local/data_prep.py
  egs2/mini_an4/st1/local/download_and_untar.sh
  egs2/mini_an4/st1/local/path.sh
  egs2/mini_an4/st1/path.sh
  egs2/mini_an4/st1/pyscripts
  egs2/mini_an4/st1/run.sh
  egs2/mini_an4/st1/scripts
  egs2/mini_an4/st1/st.sh
  egs2/mini_an4/st1/steps
  egs2/mini_an4/st1/utils
  egs2/slurp/asr1/conf/train_asr_streaming_transformer.yaml
  espnet2/bin/st_inference_streaming.py
Labels: CI, New Features, ST, ESPnet2, SLU, streaming

#4316 add egs2/chime4/enh_asr1 recipe and results
  ci/test_integration_espnet2.sh
  egs2/TEMPLATE/enh_asr1/scripts/utils/show_enh_score.sh
  egs2/chime4/asr1/conf/tuning/train_asr_transformer_wavlm_lr1e-3_specaug_accum1_preenc128_warmup20k.yaml
  egs2/chime4/enh1/conf/tuning/train_enh_convtasnet_small.yaml
  egs2/chime4/enh_asr1/README.md
  egs2/chime4/enh_asr1/cmd.sh
  egs2/chime4/enh_asr1/conf/chime4.cfg
  egs2/chime4/enh_asr1/conf/decode_asr_transformer.yaml
  egs2/chime4/enh_asr1/conf/fbank.conf
  egs2/chime4/enh_asr1/conf/pbs.conf
  egs2/chime4/enh_asr1/conf/pitch.conf
  egs2/chime4/enh_asr1/conf/queue.conf
  egs2/chime4/enh_asr1/conf/slurm.conf
  egs2/chime4/enh_asr1/conf/train_enh_asr_convtasnet_fbank_transformer.yaml
  egs2/chime4/enh_asr1/conf/train_lm_transformer.yaml
  egs2/chime4/enh_asr1/conf/tuning/train_enh_asr_convtasnet_init_noenhloss_wavlm_transformer_init_lr1e-4_accum1_adam_specaug_bypass0.yaml
  egs2/chime4/enh_asr1/conf/tuning/train_enh_asr_convtasnet_si_snr_fbank_transformer_lr2e-3_accum2_warmup20k_specaug.yaml
  egs2/chime4/enh_asr1/db.sh
  egs2/chime4/enh_asr1/enh_asr.sh
  egs2/chime4/enh_asr1/local/CHiME3_simulate_data_patched_parallel.m
  egs2/chime4/enh_asr1/local/bth_chime4_data_prep.sh
  egs2/chime4/enh_asr1/local/chime4_asr_data.sh
  egs2/chime4/enh_asr1/local/chime4_enh_data.sh
  egs2/chime4/enh_asr1/local/clean_chime4_format_data.sh
  egs2/chime4/enh_asr1/local/clean_wsj0_data_prep.sh
  egs2/chime4/enh_asr1/local/cstr_ndx2flist.pl
  egs2/chime4/enh_asr1/local/data.sh
  egs2/chime4/enh_asr1/local/find_noisy_transcripts.pl
  egs2/chime4/enh_asr1/local/find_transcripts.pl
  egs2/chime4/enh_asr1/local/flist2scp.pl
  egs2/chime4/enh_asr1/local/localize.m
  egs2/chime4/enh_asr1/local/make_stft.sh
  egs2/chime4/enh_asr1/local/ndx2flist.pl
  egs2/chime4/enh_asr1/local/normalize_transcript.pl
  egs2/chime4/enh_asr1/local/path.sh
  egs2/chime4/enh_asr1/local/real_enhan_chime4_data_prep.sh
  egs2/chime4/enh_asr1/local/real_ext_chime4_data_prep.sh
  egs2/chime4/enh_asr1/local/real_noisy_chime4_data_prep.sh
  egs2/chime4/enh_asr1/local/run_beamform_2ch_track.sh
  egs2/chime4/enh_asr1/local/run_beamform_6ch_track.sh
  egs2/chime4/enh_asr1/local/show_enhance_results.sh
  egs2/chime4/enh_asr1/local/simu_enhan_chime4_data_prep.sh
  egs2/chime4/enh_asr1/local/simu_ext_chime4_data_prep.sh
  egs2/chime4/enh_asr1/local/simu_noisy_chime4_data_prep.sh
  egs2/chime4/enh_asr1/local/sym_channel.py
  egs2/chime4/enh_asr1/local/wsj_data_prep.sh
  egs2/chime4/enh_asr1/local/wsj_format_data.sh
  egs2/chime4/enh_asr1/path.sh
  egs2/chime4/enh_asr1/pyscripts
  egs2/chime4/enh_asr1/run.sh
  egs2/chime4/enh_asr1/scripts
  egs2/chime4/enh_asr1/steps
  egs2/chime4/enh_asr1/utils
  espnet2/enh/espnet_enh_s2t_model.py
Labels: Recipe, CI, ASR, ESPnet2, README, SE

#4320 Add progress bar to phonemization
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_text_to_phn.py
Labels: Enhancement, ESPnet2
