Repository espnet/espnet, pull requests merged in 2022-11, with the labels that each got.

#4746 add fleurs conformer+sc-ctc results
  egs2/fleurs/asr1/README.md
  egs2/fleurs/asr1/conf/train_asr.yaml
  egs2/fleurs/asr1/conf/tuning/train_asr_conformer_scctc.yaml
Labels: ASR, ESPnet2, README

#4707 Add recipe for OCR task on IAM handwriting dataset
  egs2/README.md
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/db.sh
  egs2/iam/ocr1/README.md
  egs2/iam/ocr1/asr.sh
  egs2/iam/ocr1/cmd.sh
  egs2/iam/ocr1/conf/fbank.conf
  egs2/iam/ocr1/conf/pbs.conf
  egs2/iam/ocr1/conf/pitch.conf
  egs2/iam/ocr1/conf/queue.conf
  egs2/iam/ocr1/conf/slurm.conf
  egs2/iam/ocr1/conf/train_asr_conformer.yaml
  egs2/iam/ocr1/db.sh
  egs2/iam/ocr1/local/data.sh
  egs2/iam/ocr1/local/data_prep.py
  egs2/iam/ocr1/local/download_and_untar.sh
  egs2/iam/ocr1/local/path.sh
  egs2/iam/ocr1/path.sh
  egs2/iam/ocr1/pyscripts
  egs2/iam/ocr1/run.sh
  egs2/iam/ocr1/scripts
  egs2/iam/ocr1/steps
  egs2/iam/ocr1/utils
Labels: Recipe, ESPnet2, README

#4680 Add Talromur2 recipe
  .gitignore
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/talromur2/tts1/README.md
  egs2/talromur2/tts1/cmd.sh
  egs2/talromur2/tts1/conf/decode.yaml
  egs2/talromur2/tts1/conf/mfcc.conf
  egs2/talromur2/tts1/conf/pbs.conf
  egs2/talromur2/tts1/conf/queue.conf
  egs2/talromur2/tts1/conf/slurm.conf
  egs2/talromur2/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/talromur2/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/talromur2/tts1/conf/tuning/decode_vits.yaml
  egs2/talromur2/tts1/conf/tuning/train_full_band_multi_spk_vits.yaml
  egs2/talromur2/tts1/conf/tuning/train_multi_spk_vits.yaml
  egs2/talromur2/tts1/conf/tuning/train_xvector_fastspeech2.yaml
  egs2/talromur2/tts1/conf/tuning/train_xvector_tacotron2.yaml
  egs2/talromur2/tts1/conf/tuning/train_xvector_vits.yaml
  egs2/talromur2/tts1/conf/vad.conf
  egs2/talromur2/tts1/db.sh
  egs2/talromur2/tts1/local/convert_to_avg_xvectors.py
  egs2/talromur2/tts1/local/data.sh
  egs2/talromur2/tts1/local/data_download.sh
  egs2/talromur2/tts1/local/data_utils.py
  egs2/talromur2/tts1/local/path.sh
  egs2/talromur2/tts1/local/phonetize.sh
  egs2/talromur2/tts1/local/split_train_dev_test.py
  egs2/talromur2/tts1/path.sh
  egs2/talromur2/tts1/pyscripts
  egs2/talromur2/tts1/run.sh
  egs2/talromur2/tts1/scripts
  egs2/talromur2/tts1/sid
  egs2/talromur2/tts1/steps
  egs2/talromur2/tts1/train_multi_speaker_fastspeech2.sh
  egs2/talromur2/tts1/train_multi_speaker_tacotron2.sh
  egs2/talromur2/tts1/train_multi_speaker_vits.sh
  egs2/talromur2/tts1/tts.sh
  egs2/talromur2/tts1/utils
  tools/installers/install_ice_g2p.sh
Labels: Recipe, Installation, TTS, ESPnet2, README

#4751 chunk_mask error
  espnet2/asr_transducer/encoder/modules/attention.py
Labels: Bugfix, ESPnet2, RNNT

#4772 fix wav2vec2 encoder mask bug
  espnet2/asr/encoder/wav2vec2_encoder.py
Labels: Bugfix, ESPnet2, auto-merge, SSL

#4099 Add Hugging Face Transformers Decoder, Tokenizer and their example on SLURP
  egs2/TEMPLATE/asr1/asr.sh
  egs2/slurp_entity/asr1/README.md
  egs2/slurp_entity/asr1/conf/decode_asr_hf.yaml
  egs2/slurp_entity/asr1/conf/tuning/train_asr_branchformer_xlsr_mbart.yaml
  egs2/slurp_entity/asr1/local/convert_to_entity_file.py
  egs2/slurp_entity/asr1/local/data.sh
  egs2/slurp_entity/asr1/local/score.sh
  egs2/slurp_entity/asr1/run-hugging-face.sh
  espnet2/asr/decoder/hugging_face_transformers_decoder.py
  espnet2/asr/espnet_model.py
  espnet2/asr/postencoder/hugging_face_transformers_postencoder.py
  espnet2/bin/asr_inference.py
  espnet2/bin/hugging_face_export_vocabulary.py
  espnet2/tasks/asr.py
  espnet2/text/build_tokenizer.py
  espnet2/text/hugging_face_tokenizer.py
  espnet2/torch_utils/initialize.py
  test/espnet2/asr/decoder/test_hugging_face_transformers_decoder.py
  test/espnet2/asr/postencoder/test_hugging_face_transformers_postencoder.py
  test/espnet2/bin/test_asr_inference.py
  test/espnet2/bin/test_hugging_face_export_vocabulary.py
  test/espnet2/text/test_hugging_face_tokenizer.py
  tools/installers/install_transformers.sh
Labels: Installation, ESPnet2, README, SLU

#4771 [Recipe PR] MELD: Multimodal EmotionLines Dataset
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/meld/asr1/README.md
  egs2/meld/asr1/asr.sh
  egs2/meld/asr1/cmd.sh
  egs2/meld/asr1/conf/decoder_asr.yaml
  egs2/meld/asr1/conf/fbank.conf
  egs2/meld/asr1/conf/pbs.conf
  egs2/meld/asr1/conf/pitch.conf
  egs2/meld/asr1/conf/queue.conf
  egs2/meld/asr1/conf/slurm.conf
  egs2/meld/asr1/conf/train_asr.yaml
  egs2/meld/asr1/conf/tuning/train_asr_hubert_transformer_adam_specaug_meld.yaml
  egs2/meld/asr1/db.sh
  egs2/meld/asr1/local/data.sh
  egs2/meld/asr1/local/data_prep.py
  egs2/meld/asr1/local/download_and_untar.sh
  egs2/meld/asr1/local/path.sh
  egs2/meld/asr1/path.sh
  egs2/meld/asr1/pyscripts
  egs2/meld/asr1/run.sh
  egs2/meld/asr1/scripts
  egs2/meld/asr1/steps
  egs2/meld/asr1/utils
Labels: Recipe, ESPnet2, README, SLU

#4782 Add CATSLU results for XLS-R with mBART-50
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/catslu_entity/asr1/README.md
  egs2/catslu_entity/asr1/asr.sh
  egs2/catslu_entity/asr1/cmd.sh
  egs2/catslu_entity/asr1/conf/decode_asr_hf.yaml
  egs2/catslu_entity/asr1/conf/pbs.conf
  egs2/catslu_entity/asr1/conf/queue.conf
  egs2/catslu_entity/asr1/conf/slurm.conf
  egs2/catslu_entity/asr1/conf/tuning/train_asr_branchformer_xlsr_mbart.yaml
  egs2/catslu_entity/asr1/db.sh
  egs2/catslu_entity/asr1/local/data.sh
  egs2/catslu_entity/asr1/local/data_prep.py
  egs2/catslu_entity/asr1/local/path.sh
  egs2/catslu_entity/asr1/local/score.py
  egs2/catslu_entity/asr1/local/score.sh
  egs2/catslu_entity/asr1/path.sh
  egs2/catslu_entity/asr1/pyscripts
  egs2/catslu_entity/asr1/run-hugging-face.sh
  egs2/catslu_entity/asr1/scripts
  egs2/catslu_entity/asr1/steps
  egs2/catslu_entity/asr1/utils
Labels: ESPnet2, README, auto-merge, SLU

#4777 Add SLUE-VoxPopuli results for WavLM with mBART-50
  egs2/slue-voxpopuli/asr1/README.md
  egs2/slue-voxpopuli/asr1/conf/decode_asr_hf.yaml
  egs2/slue-voxpopuli/asr1/conf/tuning/train_asr_branchformer_wavlm_mbart.yaml
  egs2/slue-voxpopuli/asr1/local/data.sh
  egs2/slue-voxpopuli/asr1/local/run_hf.sh
  egs2/slue-voxpopuli/asr1/local/score.py
  egs2/slue-voxpopuli/asr1/local/score.sh
Labels: Recipe, ESPnet2, README, auto-merge, SLU

#4796 Follow up for SLURP and CATSLU
  egs2/catslu_entity/asr1/run.sh
  egs2/slurp_entity/asr1/README.md
  egs2/slurp_entity/asr1/local/run_hf.sh
Labels: Recipe, ESPnet2, README, auto-merge, SLU

#4795 Update README in chime4/enh_asr1
  egs2/chime4/enh_asr1/README.md
  egs2/chime4/enh_asr1/conf/train_lm_transformer.yaml
Labels: Recipe, ASR, ESPnet2, README, SE

#4778 fix parsing token_list
  espnet2/tasks/gan_tts.py
  espnet2/tasks/tts.py
  espnet2/text/token_id_converter.py
Labels: Bugfix, TTS, ESPnet2, auto-merge

#4753 PIT E2E multi-speaker ASR and librimix recipe
  ci/test_integration_espnet2.sh
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/scripts/utils/eval_perm_free_error.py
  egs2/TEMPLATE/enh_asr1/enh_asr.sh
  egs2/TEMPLATE/enh_asr1/scripts/utils/eval_perm_free_error.py
  egs2/librimix/asr1/RESULTS.md
  egs2/librimix/asr1/cmd.sh
  egs2/librimix/asr1/conf/decode.yaml
  egs2/librimix/asr1/conf/fbank.conf
  egs2/librimix/asr1/conf/pbs.conf
  egs2/librimix/asr1/conf/pitch.conf
  egs2/librimix/asr1/conf/queue.conf
  egs2/librimix/asr1/conf/slurm.conf
  egs2/librimix/asr1/conf/tuning/train_asr_transformer_multispkr.yaml
  egs2/librimix/asr1/conf/tuning/train_lm_transformer.yaml
  egs2/librimix/asr1/db.sh
  egs2/librimix/asr1/local/data.sh
  egs2/librimix/asr1/local/data_prep.sh
  egs2/librimix/asr1/local/download_and_untar.sh
  egs2/librimix/asr1/local/path.sh
  egs2/librimix/asr1/path.sh
  egs2/librimix/asr1/pyscripts
  egs2/librimix/asr1/run.sh
  egs2/librimix/asr1/scripts
  egs2/librimix/asr1/steps
  egs2/librimix/asr1/utils
  egs2/mini_an4/asr1/run_multispkr.sh
  espnet2/asr/encoder/transformer_encoder_multispkr.py
  espnet2/asr/espnet_model.py
  espnet2/asr/pit_espnet_model.py
  espnet2/bin/asr_inference.py
  espnet2/tasks/asr.py
  espnet2/train/preprocessor.py
  espnet2/train/trainer.py
  test/espnet2/asr/encoder/test_transformer_encoder_multispkr.py
  test/espnet2/asr/test_espnet_model.py
  test/espnet2/asr/test_pit_espnet_model.py
  test/espnet2/bin/test_asr_inference.py
  utils/calculate_rtf.py
Labels: CI, New Features, ASR, ESPnet2, auto-merge
