Repository espnet/espnet, pull requests merged in 2022-07, with the labels that each got.

#4489 Report Aishell-2 Transducer results
  egs2/aishell2/asr1/README.md
  egs2/aishell2/asr1/conf/tuning/transducer/decode.yaml
  egs2/aishell2/asr1/conf/tuning/transducer/train_conformer-rnn_transducer.yaml
Labels: ESPnet2, README

#4499 Update char_tokenizer.py
  espnet2/text/char_tokenizer.py
Labels: ESPnet2, auto-merge

#4501 Aishell-2 GPU info
  egs2/aishell2/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/aishell2/asr1/conf/tuning/transducer/train_conformer-rnn_transducer.yaml
Labels: ESPnet2, auto-merge

#4480 raise more useful error in espnet2/asr/frontend/s3prl.py if s3prl is not installed
  espnet2/asr/frontend/s3prl.py
Labels: ESPnet2, auto-merge, SSL

#4522 Recipe fix for PueblaNahuatl Recipe
  egs2/puebla_nahuatl/asr1/local/data.sh
  egs2/puebla_nahuatl/asr1/local/path.sh
  egs2/puebla_nahuatl/st1/local/data.sh
Labels: ESPnet2

#4312 Fix mAES with big vocab size
  espnet/nets/beam_search_transducer.py
  espnet/nets/pytorch_backend/transducer/utils.py
  espnet2/asr/transducer/beam_search_transducer.py
Labels: ESPnet2, ESPnet1, RNNT

#3994 Adding L3DAS22 Task1 model to ESPNet-SE
  espnet2/enh/layers/tcndenseunet.py
  espnet2/enh/loss/criterions/time_domain.py
  espnet2/enh/separator/ineube_separator.py
  espnet2/tasks/enh.py
  espnet2/torch_utils/get_layer_from_string.py
  test/espnet2/enh/loss/criterions/test_tf_domain.py
  test/espnet2/enh/loss/criterions/test_time_domain.py
  test/espnet2/enh/test_espnet_model.py
Labels: ASR, ESPnet2, SE, ESPnet1

#4530 Refactoring 'is_prefix' function
  espnet/nets/pytorch_backend/transducer/utils.py
Labels: ESPnet1

#4400 [WIP] Branchformer Encoder in ESPnet2
  README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/asr1/pyscripts/utils/score_intent.py
  egs2/aishell/asr1/README.md
  egs2/aishell/asr1/conf/decode_asr_branchformer.yaml
  egs2/aishell/asr1/conf/train_asr_branchformer.yaml
  egs2/aishell/asr1/conf/train_asr_conformer.yaml
  egs2/aishell/asr1/conf/tuning/train_asr_branchformer_e24_amp.yaml
  egs2/aishell/asr1/conf/tuning/train_asr_branchformer_fast_selfattn_e24_amp.yaml
  egs2/aishell/asr1/conf/tuning/train_asr_conformer_e12_amp.yaml
  egs2/aishell/asr1/run.sh
  egs2/iwslt14/mt1/README.md
  egs2/iwslt14/mt1/conf/decode_mt.yaml
  egs2/iwslt14/mt1/conf/tuning/train_mt_branchformer_lr3e-3_warmup10k_share_enc_dec_input_dropout0.3.yaml
  egs2/iwslt14/mt1/run.sh
  egs2/librispeech/asr1/README.md
  egs2/librispeech/asr1/conf/train_asr_branchformer.yaml
  egs2/librispeech/asr1/conf/tuning/train_asr_branchformer_hop_length160_e18_linear3072.yaml
  egs2/slurp_entity/asr1/README.md
  egs2/slurp_entity/asr1/conf/decode_asr.yaml
  egs2/slurp_entity/asr1/conf/train_asr.yaml
  egs2/slurp_entity/asr1/conf/train_asr_branchformer.yaml
  egs2/slurp_entity/asr1/conf/train_asr_conformer.yaml
  egs2/slurp_entity/asr1/conf/tuning/train_asr_branchformer_e18_d6_size512_lr1e-3_warmup35k.yaml
  egs2/slurp_entity/asr1/conf/tuning/train_asr_conformer_e12_d6_size512_lr1e-3_warmup35k.yaml
  egs2/slurp_entity/asr1/local/convert_to_entity_file.py
  egs2/slurp_entity/asr1/local/score.sh
  egs2/slurp_entity/asr1/run.sh
  espnet2/asr/encoder/branchformer_encoder.py
  espnet2/asr/layers/__init__.py
  espnet2/asr/layers/cgmlp.py
  espnet2/asr/layers/fastformer.py
  espnet2/tasks/asr.py
  espnet2/tasks/mt.py
  test/espnet2/asr/encoder/test_branchformer_encoder.py
Labels: New Features, ASR, ESPnet2, README

#4317 Dcase task1 Baseline
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/dcase22_task1/asr1/README.md
  egs2/dcase22_task1/asr1/asr.sh
  egs2/dcase22_task1/asr1/cmd.sh
  egs2/dcase22_task1/asr1/conf/decode_asr.yaml
  egs2/dcase22_task1/asr1/conf/fbank.conf
  egs2/dcase22_task1/asr1/conf/pbs.conf
  egs2/dcase22_task1/asr1/conf/pitch.conf
  egs2/dcase22_task1/asr1/conf/queue.conf
  egs2/dcase22_task1/asr1/conf/slurm.conf
  egs2/dcase22_task1/asr1/conf/train_asr.yaml
  egs2/dcase22_task1/asr1/conf/tuning/train_asr_hubert_transformer_adam_specaug.yaml
  egs2/dcase22_task1/asr1/db.sh
  egs2/dcase22_task1/asr1/local/data.sh
  egs2/dcase22_task1/asr1/local/data_prep.py
  egs2/dcase22_task1/asr1/local/path.sh
  egs2/dcase22_task1/asr1/local/score.py
  egs2/dcase22_task1/asr1/local/score.sh
  egs2/dcase22_task1/asr1/local/score_macro.py
  egs2/dcase22_task1/asr1/path.sh
  egs2/dcase22_task1/asr1/pyscripts
  egs2/dcase22_task1/asr1/run.sh
  egs2/dcase22_task1/asr1/scripts
  egs2/dcase22_task1/asr1/steps
  egs2/dcase22_task1/asr1/utils
Labels: ESPnet2, README

#4382 Calculate RTF and latency in espnet2
  egs2/TEMPLATE/asr1/asr.sh
  espnet2/bin/asr_inference.py
  utils/calculate_rtf.py
Labels: New Features, ESPnet2, ESPnet1

#4322 Update decoder.py
  espnet/nets/pytorch_backend/tacotron2/decoder.py
Labels: Documentation, ESPnet1

#4517 Fix librispeech default path to signify auto download
  egs2/TEMPLATE/asr1/db.sh
Labels: Recipe, ESPnet2
