Repository espnet/espnet, pull requests merged in 2022-03, with the labels that each got.

#4117 Add tests for Intermediate/Self-conditioned CTC
  espnet2/asr/ctc.py
  espnet2/tasks/asr.py
  espnet2/tasks/enh_asr.py
  espnet2/tasks/st.py
  test/espnet2/asr/decoder/test_transformer_decoder.py
  test/espnet2/asr/encoder/test_conformer_encoder.py
  test/espnet2/asr/encoder/test_transformer_encoder.py
  test/espnet2/asr/test_ctc.py
Labels: Enhancement, ASR, ESPnet2

#4118 Bug fix ST model
  espnet2/st/espnet_model.py
Labels: ESPnet2

#4121 Update README.md
  egs2/README.md
Labels: ESPnet2, README

#4106 Update audio_format in tts.sh
  egs2/TEMPLATE/tts1/tts.sh
Labels: Bugfix, TTS, ESPnet2

#4125 Mandarin ISO id should be CMN instead of ZHO
  egs2/README.md
Labels: ESPnet2, README

#4097 Add DCCRN separator
  README.md
  egs2/dns_ins20/enh1/README.md
  egs2/dns_ins20/enh1/conf/tuning/train_enh_dccrn.yaml
  espnet2/enh/layers/complexnn.py
  espnet2/enh/separator/dccrn_separator.py
  espnet2/tasks/enh.py
  test/espnet2/enh/separator/test_dccrn_separator.py
  test/espnet2/enh/test_espnet_model.py
Labels: New Features, ESPnet2, README, SE

#4137 fix bug where asr multitasking uses st decoder
  espnet2/st/espnet_model.py
Labels: ESPnet2

#4132 IWSLT'14 Results using ESPnet2-MT
  README.md
  egs2/TEMPLATE/mt1/mt.sh
  egs2/iwslt14/mt1/README.md
  egs2/iwslt14/mt1/conf/decode_mt.yaml
  egs2/iwslt14/mt1/conf/train_mt_transformer.yaml
  egs2/iwslt14/mt1/conf/tuning/train_mt_transformer_lr3e-3_warmup10k_share_enc_dec_input_dropout0.3.yaml
  egs2/iwslt14/mt1/run.sh
  espnet2/mt/espnet_model.py
Labels: Recipe, MT, ESPnet2, README

#4134 ESPnet2 swbd_sentiment recipe
  egs2/README.md
  egs2/swbd_sentiment/asr1/README.md
  egs2/swbd_sentiment/asr1/asr.sh
  egs2/swbd_sentiment/asr1/cmd.sh
  egs2/swbd_sentiment/asr1/conf/decode_asr.yaml
  egs2/swbd_sentiment/asr1/conf/fbank.conf
  egs2/swbd_sentiment/asr1/conf/pbs.conf
  egs2/swbd_sentiment/asr1/conf/pitch.conf
  egs2/swbd_sentiment/asr1/conf/queue.conf
  egs2/swbd_sentiment/asr1/conf/slurm.conf
  egs2/swbd_sentiment/asr1/conf/train_asr.yaml
  egs2/swbd_sentiment/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/swbd_sentiment/asr1/conf/tuning/train_asr_conformer_wav2vec2.yaml
  egs2/swbd_sentiment/asr1/db.sh
  egs2/swbd_sentiment/asr1/local/MSU_single_letter.txt
  egs2/swbd_sentiment/asr1/local/data.sh
  egs2/swbd_sentiment/asr1/local/dict.patch
  egs2/swbd_sentiment/asr1/local/extend_segments.pl
  egs2/swbd_sentiment/asr1/local/format_acronyms_dict.py
  egs2/swbd_sentiment/asr1/local/map_acronyms_transcripts.py
  egs2/swbd_sentiment/asr1/local/path.sh
  egs2/swbd_sentiment/asr1/local/prepare_sentiment.py
  egs2/swbd_sentiment/asr1/local/score.py
  egs2/swbd_sentiment/asr1/local/score.sh
  egs2/swbd_sentiment/asr1/local/score_f1.py
  egs2/swbd_sentiment/asr1/local/swbd1_data_download.sh
  egs2/swbd_sentiment/asr1/local/swbd1_data_prep.sh
  egs2/swbd_sentiment/asr1/local/swbd1_fix_speakerid.pl
  egs2/swbd_sentiment/asr1/local/swbd1_map_words.pl
  egs2/swbd_sentiment/asr1/local/swbd1_prepare_dict.sh
  egs2/swbd_sentiment/asr1/path.sh
  egs2/swbd_sentiment/asr1/pyscripts
  egs2/swbd_sentiment/asr1/run.sh
  egs2/swbd_sentiment/asr1/scripts
  egs2/swbd_sentiment/asr1/steps
  egs2/swbd_sentiment/asr1/utils
Labels: Recipe, ESPnet2, README, SLU

#4129 Automatic lyric recognition Recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/ssl1/pyscripts/dump_km_label.py
  egs2/dsing/asr1/asr.sh
  egs2/dsing/asr1/cmd.sh
  egs2/dsing/asr1/conf/decode_asr.yaml
  egs2/dsing/asr1/conf/fbank.conf
  egs2/dsing/asr1/conf/pbs.conf
  egs2/dsing/asr1/conf/pitch.conf
  egs2/dsing/asr1/conf/queue.conf
  egs2/dsing/asr1/conf/slurm.conf
  egs2/dsing/asr1/conf/train_asr.yaml
  egs2/dsing/asr1/conf/train_lm.yaml
  egs2/dsing/asr1/conf/tuning/decode_conformer.yaml
  egs2/dsing/asr1/conf/tuning/decode_rnn.yaml
  egs2/dsing/asr1/conf/tuning/decode_transformer.yaml
  egs2/dsing/asr1/conf/tuning/train_asr_conformer6.yaml
  egs2/dsing/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/dsing/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/dsing/asr1/db.sh
  egs2/dsing/asr1/local/data.sh
  egs2/dsing/asr1/local/data_prep.py
  egs2/dsing/asr1/local/path.sh
  egs2/dsing/asr1/path.sh
  egs2/dsing/asr1/pyscripts
  egs2/dsing/asr1/run.sh
  egs2/dsing/asr1/scripts
  egs2/dsing/asr1/steps
  egs2/dsing/asr1/utils
Labels: Recipe, ASR, ESPnet2, README

#4150 README Update for E2E Speech Summarization #4071
  README.md
Labels: README

#4155 Update README.md for How2 2000h ASR,SUM
  egs2/how2_2000h/asr1/README.md
  egs2/how2_2000h/sum1/README.md
Labels: ESPnet2, README

#4142 Add stochastic depth to conformer and share results on LibriSpeech 960h
  egs2/librispeech/asr1/README.md
  egs2/librispeech/asr1/conf/decode_asr.yaml
  egs2/librispeech/asr1/conf/tuning/train_asr_conformer8.yaml
  egs2/librispeech/asr1/conf/tuning/train_asr_conformer9_layerdrop0.1_last6.yaml
  egs2/librispeech/asr1/run.sh
  espnet2/asr/encoder/conformer_encoder.py
  test/espnet2/asr/encoder/test_conformer_encoder.py
Labels: New Features, ASR, ESPnet2, README

#4143 Fix joint tokenization in st.sh
  egs2/TEMPLATE/st1/st.sh
Labels: Bugfix, ST, MT, ESPnet2

#4146 scoring fixes MT and ST
  egs2/TEMPLATE/mt1/mt.sh
  egs2/TEMPLATE/st1/st.sh
  espnet2/bin/mt_inference.py
Labels: Bugfix, ST, MT, ESPnet2

#4101 ESPNET - LRS3 Recepie
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/lrs3/asr1/RESULTS.md
  egs2/lrs3/asr1/asr.sh
  egs2/lrs3/asr1/cmd.sh
  egs2/lrs3/asr1/conf/fbank.conf
  egs2/lrs3/asr1/conf/pbs.conf
  egs2/lrs3/asr1/conf/pitch.conf
  egs2/lrs3/asr1/conf/queue.conf
  egs2/lrs3/asr1/conf/slurm.conf
  egs2/lrs3/asr1/conf/train_asr_transformer.yaml
  egs2/lrs3/asr1/conf/train_lm.yaml
  egs2/lrs3/asr1/db.sh
  egs2/lrs3/asr1/local/data.sh
  egs2/lrs3/asr1/local/data_prep.py
  egs2/lrs3/asr1/local/download_and_untar.sh
  egs2/lrs3/asr1/local/mp4_to_wav.sh
  egs2/lrs3/asr1/local/path.sh
  egs2/lrs3/asr1/path.sh
  egs2/lrs3/asr1/pyscripts
  egs2/lrs3/asr1/run.sh
  egs2/lrs3/asr1/scripts
  egs2/lrs3/asr1/steps
  egs2/lrs3/asr1/utils
Labels: Recipe, ASR, ESPnet2, README

#4088 Add ASR recipe for VCTK dataset based on TTS's dataprep.
  egs2/README.md
  egs2/vctk/asr1/RESULTS.md
  egs2/vctk/asr1/asr.sh
  egs2/vctk/asr1/cmd.sh
  egs2/vctk/asr1/conf/decode_asr.yaml
  egs2/vctk/asr1/conf/fbank.conf
  egs2/vctk/asr1/conf/pbs.conf
  egs2/vctk/asr1/conf/pitch.conf
  egs2/vctk/asr1/conf/queue.conf
  egs2/vctk/asr1/conf/slurm.conf
  egs2/vctk/asr1/conf/train_asr_transformer.yaml
  egs2/vctk/asr1/db.sh
  egs2/vctk/asr1/local/data.sh
  egs2/vctk/asr1/local/data_download.sh
  egs2/vctk/asr1/local/data_prep_speaker_closed.sh
  egs2/vctk/asr1/local/data_prep_speaker_open.sh
  egs2/vctk/asr1/local/path.sh
  egs2/vctk/asr1/path.sh
  egs2/vctk/asr1/pyscripts
  egs2/vctk/asr1/run.sh
  egs2/vctk/asr1/scripts
  egs2/vctk/asr1/steps
  egs2/vctk/asr1/utils
Labels: Recipe, ASR, ESPnet2, README

#4162 Add new conformer config with hop length 160 for LibriSpeech 960h
  egs2/librispeech/asr1/README.md
  egs2/librispeech/asr1/conf/train_asr_confformer.yaml
  egs2/librispeech/asr1/conf/train_asr_conformer.yaml
  egs2/librispeech/asr1/conf/tuning/train_asr_conformer10_hop_length160.yaml
  egs2/librispeech/asr1/run.sh
Labels: Recipe, ASR, ESPnet2, README

#4164 [documentation] fix minor typo in installation.md
  doc/installation.md
Labels: Documentation

#4158 [WIP] [ESPnet2] Mask-CTC
  egs2/TEMPLATE/asr1/asr.sh
  egs2/wsj/asr1/conf/tuning/inference_asr_maskctc.yaml
  egs2/wsj/asr1/conf/tuning/train_asr_transformer_maskctc.yaml
  espnet2/asr/decoder/mlm_decoder.py
  espnet2/asr/maskctc_model.py
  espnet2/bin/asr_inference_maskctc.py
  espnet2/tasks/asr.py
  test/espnet2/asr/decoder/test_mlm_decoder.py
  test/espnet2/asr/test_maskctc_model.py
  test/espnet2/bin/test_asr_inference_maskctc.py
Labels: New Features, ASR, ESPnet2

#4172 Update experimental results
  egs2/dsing/asr1/RESULTS.md
  egs2/dsing/asr1/conf/pitch.conf
  egs2/dsing/asr1/local/data.sh
  egs2/dsing/asr1/local/data_prep.py
  egs2/fisher_callhome_spanish/st1/RESULT.md
Labels: Recipe, ESPnet2

#4127 Add DC-CRN complex masking and spectral mapping approach for speech enhancement
  README.md
  egs2/chime4/enh1/README.md
  egs2/chime4/enh1/conf/tuning/train_enh_beamformer_mvdr.yaml
  egs2/chime4/enh1/conf/tuning/train_enh_dc_crn_mapping_snr.yaml
  egs2/chime4/enh1/local/simu_ext_chime4_data_prep.sh
  egs2/chime4/enh1/run.sh
  egs2/wsj0_2mix/enh1/README.md
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_dc_crn_mapping_snr.yaml
  espnet2/enh/espnet_model.py
  espnet2/enh/layers/conv_utils.py
  espnet2/enh/layers/dc_crn.py
  espnet2/enh/loss/criterions/tf_domain.py
  espnet2/enh/separator/dc_crn_separator.py
  espnet2/tasks/enh.py
  test/espnet2/enh/layers/test_conv_utils.py
  test/espnet2/enh/loss/criterions/test_tf_domain.py
  test/espnet2/enh/separator/test_dc_crn_separator.py
  test/espnet2/enh/test_espnet_model.py
Labels: New Features, ESPnet2, README, SE

#4186 Create README.md
  egs2/bn_openslr53/asr1/README.md
Labels: ESPnet2, README

#4196 bug fixes and efficient train/dev split in data prep of Microsoft Indian Languages recipe
  egs2/ms_indic_18/asr1/local/data.sh
  egs2/ms_indic_18/asr1/local/prepare_data.py
  egs2/ms_indic_18/asr1/run.sh
Labels: Bugfix, ESPnet2

#4198 Fixed black formatting
  egs2/README.md
  egs2/ms_indic_18/asr1/conf/decode_asr.yaml
  egs2/ms_indic_18/asr1/conf/train_asr.yaml
  egs2/ms_indic_18/asr1/conf/train_lm.yaml
  egs2/ms_indic_18/asr1/local/prepare_data.py
Labels: ESPnet2, README

#4168 Fix n-gram decoding
  espnet2/bin/asr_inference.py
Labels: Bugfix, ESPnet2

#4179 Added Marathi OpenSLR 64 recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/mr_openslr64/asr1/README.md
  egs2/mr_openslr64/asr1/asr.sh
  egs2/mr_openslr64/asr1/cmd.sh
  egs2/mr_openslr64/asr1/conf/decode_asr.yaml
  egs2/mr_openslr64/asr1/conf/fbank.conf
  egs2/mr_openslr64/asr1/conf/pbs.conf
  egs2/mr_openslr64/asr1/conf/pitch.conf
  egs2/mr_openslr64/asr1/conf/queue.conf
  egs2/mr_openslr64/asr1/conf/slurm.conf
  egs2/mr_openslr64/asr1/conf/train_asr.yaml
  egs2/mr_openslr64/asr1/conf/train_lm.yaml
  egs2/mr_openslr64/asr1/conf/tuning/decode_rnn.yaml
  egs2/mr_openslr64/asr1/conf/tuning/decode_transformer.yaml
  egs2/mr_openslr64/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/mr_openslr64/asr1/conf/tuning/train_asr_conformer_xlsr.yaml
  egs2/mr_openslr64/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/mr_openslr64/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/mr_openslr64/asr1/db.sh
  egs2/mr_openslr64/asr1/local/data.sh
  egs2/mr_openslr64/asr1/local/data_prep.py
  egs2/mr_openslr64/asr1/local/path.sh
  egs2/mr_openslr64/asr1/path.sh
  egs2/mr_openslr64/asr1/pyscripts
  egs2/mr_openslr64/asr1/run.sh
  egs2/mr_openslr64/asr1/scripts
  egs2/mr_openslr64/asr1/steps
  egs2/mr_openslr64/asr1/utils
Labels: Recipe, ASR, ESPnet2, README
