Repository espnet/espnet, pull requests merged in 2022-10, with the labels that each got.

#4681 Muskit: add recipe ofuton
  egs2/ofuton_p_utagoe_db/svs1/cmd.sh
  egs2/ofuton_p_utagoe_db/svs1/conf/decode.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/train.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/decode_rnn.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_naive_rnn.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_naive_rnn_dp.yaml
  egs2/ofuton_p_utagoe_db/svs1/db.sh
  egs2/ofuton_p_utagoe_db/svs1/path.sh
  egs2/ofuton_p_utagoe_db/svs1/pyscripts
  egs2/ofuton_p_utagoe_db/svs1/run.sh
  egs2/ofuton_p_utagoe_db/svs1/scripts
  egs2/ofuton_p_utagoe_db/svs1/svs.sh
  egs2/ofuton_p_utagoe_db/svs1/utils
  espnet2/bin/svs_inference.py
  espnet2/svs/espnet_model.py
  espnet2/svs/naive_rnn/naive_rnn.py
  espnet2/svs/naive_rnn/naive_rnn_dp.py
Labels: ESPnet2

#4686 Fix importlib-metadata version
  setup.py
Labels: Installation

#4456 Cmu arctic tts pretrain finetune
  egs2/cmu_arctic/tts1/README.md
  egs2/cmu_arctic/tts1/conf/tuning/finetune_multi_spk_vits.yaml
  egs2/cmu_arctic/tts1/conf/tuning/finetune_transformer.yaml
  egs2/cmu_arctic/tts1/conf/tuning/pretrain_multi_spk_vits.yaml
  egs2/cmu_arctic/tts1/conf/tuning/pretrain_transformer_sid.yaml
  egs2/cmu_arctic/tts1/conf/tuning/train_multi_spk_vits.yaml
  egs2/cmu_arctic/tts1/conf/tuning/train_transformer_pre.yaml
  egs2/cmu_arctic/tts1/conf/tuning/train_transformer_pre_sid.yaml
  egs2/cmu_arctic/tts1/conf/tuning/train_vits.yaml
  egs2/cmu_arctic/tts1/local/data.sh
  egs2/cmu_arctic/tts1/local/data_download_all.sh
  egs2/cmu_arctic/tts1/local/data_prep_all.sh
  egs2/cmu_arctic/tts1/local/get_utt_list.py
  egs2/cmu_arctic/tts1/run_pre_fine.sh
Labels: Recipe, TTS, ESPnet2, README, auto-merge

#4685 updated version to 202209
  espnet/version.txt
Labels: ESPnet1

#4657 Add dns_icassp22 Speech Enhancement Recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/dns_icassp22/enh1/README.md
  egs2/dns_icassp22/enh1/cmd.sh
  egs2/dns_icassp22/enh1/conf/pbs.conf
  egs2/dns_icassp22/enh1/conf/queue.conf
  egs2/dns_icassp22/enh1/conf/slurm.conf
  egs2/dns_icassp22/enh1/conf/tuning/train.yaml
  egs2/dns_icassp22/enh1/db.sh
  egs2/dns_icassp22/enh1/enh.sh
  egs2/dns_icassp22/enh1/local/data.sh
  egs2/dns_icassp22/enh1/local/dns_create_mixture.sh
  egs2/dns_icassp22/enh1/local/dns_data_prep.sh
  egs2/dns_icassp22/enh1/local/download_dns4_dataset.sh
  egs2/dns_icassp22/enh1/local/noisyspeech_synthesizer.py
  egs2/dns_icassp22/enh1/local/path.sh
  egs2/dns_icassp22/enh1/path.sh
  egs2/dns_icassp22/enh1/pyscripts
  egs2/dns_icassp22/enh1/run.sh
  egs2/dns_icassp22/enh1/scripts
  egs2/dns_icassp22/enh1/steps
  egs2/dns_icassp22/enh1/utils
Labels: ESPnet2, README

#4692 Documentation of Tutorial and Muskits
  README.md
Labels: README

#4669 Add tests on MacOS and Windows (only installation)
  .github/workflows/ci.yaml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
  ci/install.sh
  ci/test_shell.sh
  tools/Makefile
  tools/extra_path.sh
  tools/installers/install_chainer_ctc.sh
  tools/installers/install_gtn.sh
  tools/installers/install_k2.sh
  tools/installers/install_mwerSegmenter.sh
  tools/installers/install_nkf.sh
  tools/installers/install_pesq.sh
  tools/installers/install_phonemizer.sh
  tools/installers/install_py3mmseg.sh
  tools/installers/install_sctk.sh
  tools/installers/install_sph2pipe.sh
  tools/installers/install_torch.sh
  tools/installers/install_warp-transducer.sh
  tools/setup_anaconda.sh
  tools/setup_venv.sh
Labels: Installation, CI

#4699 Add missing entries in readme
  egs2/README.md
Labels: ESPnet2, README

#4688 Support ST without texts in source language
  egs2/TEMPLATE/st1/st.sh
  egs2/covost2/st1/run.sh
  espnet2/st/espnet_model.py
  espnet2/tasks/st.py
Labels: Bugfix, ST, ESPnet2

#4708 Add svs recipe of 'Oniku'
  egs2/README.md
  egs2/oniku/svs1/cmd.sh
  egs2/oniku/svs1/conf/decode.yaml
  egs2/oniku/svs1/conf/pbs.conf
  egs2/oniku/svs1/conf/queue.conf
  egs2/oniku/svs1/conf/slurm.conf
  egs2/oniku/svs1/conf/train.yaml
  egs2/oniku/svs1/conf/tuning/decode_rnn.yaml
  egs2/oniku/svs1/conf/tuning/train_naive_rnn.yaml
  egs2/oniku/svs1/conf/tuning/train_naive_rnn_dp.yaml
  egs2/oniku/svs1/db.sh
  egs2/oniku/svs1/local/data.sh
  egs2/oniku/svs1/local/dataset_split.py
  egs2/oniku/svs1/local/path.sh
  egs2/oniku/svs1/local/prep_segments.py
  egs2/oniku/svs1/local/prep_segments_from_xml.py
  egs2/oniku/svs1/path.sh
  egs2/oniku/svs1/pyscripts
  egs2/oniku/svs1/run.sh
  egs2/oniku/svs1/scripts
  egs2/oniku/svs1/svs.sh
  egs2/oniku/svs1/utils
Labels: ESPnet2, README, Music

#4720 Update ConvInput for Transducer
  espnet2/asr_transducer/encoder/blocks/conv_input.py
  espnet2/asr_transducer/encoder/validation.py
  test/espnet2/asr_transducer/test_encoder.py
Labels: ESPnet2, RNNT

#4722 Small changes for standalone Transducer
  espnet2/asr_transducer/encoder/blocks/conformer.py
  espnet2/asr_transducer/encoder/modules/convolution.py
  espnet2/asr_transducer/espnet_transducer_model.py
  espnet2/tasks/asr_transducer.py
Labels: ESPnet2, RNNT

#4724 Fix input block tutorial documentation for Transducer
  doc/espnet2_tutorial.md
Labels: README, RNNT

#4713 Update to puebla-nahuatl recipe (some minor fixes)
  egs2/puebla_nahuatl/asr1/local/data.sh
Labels: Recipe, ASR, ESPnet2

#4701 Add espnet2 TTS recipe on M-AILABS
  egs/m_ailabs/tts1/local/data_prep.sh
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/tts1/README.md
  egs2/m_ailabs/tts1/README.md
  egs2/m_ailabs/tts1/cmd.sh
  egs2/m_ailabs/tts1/conf/decode.yaml
  egs2/m_ailabs/tts1/conf/mfcc.conf
  egs2/m_ailabs/tts1/conf/pbs.conf
  egs2/m_ailabs/tts1/conf/queue.conf
  egs2/m_ailabs/tts1/conf/slurm.conf
  egs2/m_ailabs/tts1/conf/train.yaml
  egs2/m_ailabs/tts1/conf/train_multilingual.yaml
  egs2/m_ailabs/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/m_ailabs/tts1/conf/tuning/decode_vits.yaml
  egs2/m_ailabs/tts1/conf/tuning/train_tacotron2.yaml
  egs2/m_ailabs/tts1/conf/tuning/train_tacotron2_multilingual.yaml
  egs2/m_ailabs/tts1/conf/tuning/train_vits.yaml
  egs2/m_ailabs/tts1/conf/vad.conf
  egs2/m_ailabs/tts1/db.sh
  egs2/m_ailabs/tts1/local/data.sh
  egs2/m_ailabs/tts1/local/data_en_us.sh
  egs2/m_ailabs/tts1/local/data_multilingual.sh
  egs2/m_ailabs/tts1/local/data_prep.sh
  egs2/m_ailabs/tts1/local/download.sh
  egs2/m_ailabs/tts1/local/parse_text.py
  egs2/m_ailabs/tts1/local/path.sh
  egs2/m_ailabs/tts1/local/update_json.sh
  egs2/m_ailabs/tts1/path.sh
  egs2/m_ailabs/tts1/pyscripts
  egs2/m_ailabs/tts1/run.sh
  egs2/m_ailabs/tts1/scripts
  egs2/m_ailabs/tts1/steps
  egs2/m_ailabs/tts1/tts.sh
  egs2/m_ailabs/tts1/utils
  espnet2/text/phoneme_tokenizer.py
  test/espnet2/text/test_phoneme_tokenizer.py
Labels: Recipe, TTS, ESPnet2, README, ESPnet1

#4719 Update outdated enh config files
  egs2/chime4/enh1/conf/tuning/train_enh_convtasnet_small.yaml
  egs2/lt_slurp_spatialized/enh1/conf/tuning/train_enh_conv_tasnet.yaml
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_dptnet.yaml
Labels: ESPnet2, SE

#4736 add src_sos & src_eos for mt task to address the index out of range w…
  espnet2/mt/espnet_model.py
Labels: Bugfix, MT, ESPnet2

#4718 Add g2pk_explicit_space tokenizer
  egs2/TEMPLATE/tts1/README.md
  espnet2/text/phoneme_tokenizer.py
Labels: TTS, ESPnet2, README

#4744 Fix JETS inference with GST (#4743)
  espnet2/gan_tts/jets/jets.py
Labels: Bugfix, TTS, ESPnet2
