Repository espnet/espnet, pull requests merged in 2022-06, with the labels that each got.

#4384 Add icelandic g2p
  .gitignore
  espnet2/text/phoneme_tokenizer.py
  test/espnet2/text/test_phoneme_tokenizer.py
  tools/installers/install_ice_g2p.sh
Labels: Enhancement, Installation, TTS, ESPnet2

#4415 Zero_infinity option for ctc loss
  espnet2/asr/ctc.py
Labels: Refactoring, ASR, ESPnet2, auto-merge

#4419 Remove the version restriction for numpy
  egs2/TEMPLATE/asr1/pyscripts/utils/plot_sinc_filters.py
  espnet/nets/chainer_backend/transformer/subsampling.py
  espnet/nets/pytorch_backend/e2e_st.py
  espnet/nets/pytorch_backend/frontends/mask_estimator.py
  espnet/nets/pytorch_backend/nets_utils.py
  espnet2/asr/encoder/rnn_encoder.py
  espnet2/asr/encoder/vgg_rnn_encoder.py
  espnet2/enh/layers/mask_estimator.py
  setup.py
  tools/Makefile
Labels: Installation, ESPnet2, auto-merge, ESPnet1

#4417 Add moses check for ST recipes
  egs2/covost2/asr1/local/path.sh
  egs2/iwslt22_dialect/st1/local/path.sh
Labels: Recipe, ST, ESPnet2

#4381 Add support of test-only criterions after each epoch
  egs2/chime4/enh1/conf/tuning/train_enh_convtasnet_small.yaml
  egs2/chime4/enh_asr1/conf/tuning/train_enh_asr_convtasnet_si_snr_fbank_transformer_lr2e-3_accum2_warmup20k_specaug.yaml
  egs2/clarity21/enh1/conf/tuning/train_enh_beamformer_mvdr.yaml
  espnet2/enh/espnet_model.py
  espnet2/enh/loss/criterions/abs_loss.py
  espnet2/enh/loss/criterions/tf_domain.py
  espnet2/enh/loss/criterions/time_domain.py
  test/espnet2/enh/test_espnet_model.py
Labels: ESPnet2, SE

#4427 Fix an4 URL
  egs/an4/asr1/run.sh
  egs/an4/tts1/run.sh
  egs2/an4/asr1/local/data.sh
Labels: Bugfix, ESPnet2, ESPnet1

#4321 Add EnhPreprocessor for Speech Enhancement
  ci/test_integration_espnet2.sh
  egs/mini_an4/asr1/downloads.tar.gz
  egs2/TEMPLATE/enh1/README.md
  egs2/TEMPLATE/enh1/enh.sh
  egs2/mini_an4/asr1/local/data.sh
  egs2/mini_an4/enh1/conf/train_with_preprocessor.yaml
  espnet2/iterators/sequence_iter_factory.py
  espnet2/tasks/asr.py
  espnet2/tasks/enh.py
  espnet2/tasks/enh_s2t.py
  espnet2/tasks/hubert.py
  espnet2/tasks/st.py
  espnet2/train/preprocessor.py
Labels: CI, New Features, ESPnet2, README, SE, ESPnet1

#4428 Add AmericasNLP 2022 baselines
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/americasnlp22/asr1/README.md
  egs2/americasnlp22/asr1/asr.sh
  egs2/americasnlp22/asr1/cmd.sh
  egs2/americasnlp22/asr1/conf/decode_asr.yaml
  egs2/americasnlp22/asr1/conf/fbank.conf
  egs2/americasnlp22/asr1/conf/pbs.conf
  egs2/americasnlp22/asr1/conf/pitch.conf
  egs2/americasnlp22/asr1/conf/queue.conf
  egs2/americasnlp22/asr1/conf/slurm.conf
  egs2/americasnlp22/asr1/conf/train_asr_transformer.yaml
  egs2/americasnlp22/asr1/db.sh
  egs2/americasnlp22/asr1/local/data.sh
  egs2/americasnlp22/asr1/local/path.sh
  egs2/americasnlp22/asr1/path.sh
  egs2/americasnlp22/asr1/pyscripts
  egs2/americasnlp22/asr1/run.sh
  egs2/americasnlp22/asr1/scripts
  egs2/americasnlp22/asr1/steps
  egs2/americasnlp22/asr1/utils
Labels: Recipe, ASR, ESPnet2, README

#4435 Fix a bug in enh unit test
  test/espnet2/enh/test_espnet_model.py
Labels: Bugfix, SE

#4436 Add notes on batch size and num of GPUs in ESPnet2 documentation
  doc/espnet2_distributed.md
  doc/espnet2_tutorial.md
  doc/tutorial.md
Labels: Documentation

#4433 Update notes in the recipes for DNS challenges
  egs2/dns_icassp21/enh1/local/data.sh
  egs2/dns_ins21/enh1/local/data.sh
Labels: ESPnet2, SE

#4441 Update language codes in AmericasNLP 2022 baseline
  egs2/americasnlp22/asr1/README.md
  egs2/americasnlp22/asr1/local/data.sh
  egs2/americasnlp22/asr1/run.sh
Labels: ESPnet2, README

#4451 [WIP] Add Aishell-2 ASR Recipe for Espnet2
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/aishell2/asr1/README.md
  egs2/aishell2/asr1/asr.sh
  egs2/aishell2/asr1/cmd.sh
  egs2/aishell2/asr1/conf/decode_asr_rnn.yaml
  egs2/aishell2/asr1/conf/fbank.conf
  egs2/aishell2/asr1/conf/pbs.conf
  egs2/aishell2/asr1/conf/pitch.conf
  egs2/aishell2/asr1/conf/queue.conf
  egs2/aishell2/asr1/conf/slurm.conf
  egs2/aishell2/asr1/conf/train_asr_conformer.yaml
  egs2/aishell2/asr1/conf/train_lm_transformer.yaml
  egs2/aishell2/asr1/conf/tuning/decode_asr_rnn.yaml
  egs2/aishell2/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/aishell2/asr1/conf/tuning/train_lm_transformer.yaml
  egs2/aishell2/asr1/conf/tuning/transducer/decode.yaml
  egs2/aishell2/asr1/conf/tuning/transducer/train_conformer-rnn_transducer.yaml
  egs2/aishell2/asr1/db.sh
  egs2/aishell2/asr1/local/data.sh
  egs2/aishell2/asr1/local/path.sh
  egs2/aishell2/asr1/local/prepare_data.sh
  egs2/aishell2/asr1/path.sh
  egs2/aishell2/asr1/pyscripts
  egs2/aishell2/asr1/run.sh
  egs2/aishell2/asr1/scripts
  egs2/aishell2/asr1/steps
  egs2/aishell2/asr1/utils
Labels: Recipe, ASR, ESPnet2, README

#4446 Add JETS AlignmentModule in calculate_all_attentions.py
  espnet2/main_funcs/calculate_all_attentions.py
Labels: Enhancement, TTS, ESPnet2, auto-merge

#4455 FLEURS ASR Recipe for ESPnet2
  egs2/README.md
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/db.sh
  egs2/fleurs/asr1/README.md
  egs2/fleurs/asr1/asr.sh
  egs2/fleurs/asr1/cmd.sh
  egs2/fleurs/asr1/conf/decode_asr.yaml
  egs2/fleurs/asr1/conf/fbank.conf
  egs2/fleurs/asr1/conf/pbs.conf
  egs2/fleurs/asr1/conf/pitch.conf
  egs2/fleurs/asr1/conf/queue.conf
  egs2/fleurs/asr1/conf/slurm.conf
  egs2/fleurs/asr1/conf/train_asr.yaml
  egs2/fleurs/asr1/conf/train_lm.yaml
  egs2/fleurs/asr1/conf/tuning/decode_rnn.yaml
  egs2/fleurs/asr1/conf/tuning/decode_transformer.yaml
  egs2/fleurs/asr1/conf/tuning/train_asr_conformer5.yaml
  egs2/fleurs/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/fleurs/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/fleurs/asr1/db.sh
  egs2/fleurs/asr1/local/create_dataset.py
  egs2/fleurs/asr1/local/data.sh
  egs2/fleurs/asr1/local/data_prep.pl
  egs2/fleurs/asr1/local/nlsyms.txt
  egs2/fleurs/asr1/local/path.sh
  egs2/fleurs/asr1/path.sh
  egs2/fleurs/asr1/pyscripts
  egs2/fleurs/asr1/run.sh
  egs2/fleurs/asr1/scripts
  egs2/fleurs/asr1/steps
  egs2/fleurs/asr1/utils
  tools/installers/install_datasets.sh
Labels: Recipe, Installation, ASR, ESPnet2, README, ESPnet1

#4464 Temporary fixed numpy version
  setup.py
  tools/Makefile
Labels: Installation, auto-merge

#4430 Add DDP support for v1 ASR training.
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_train.py
  espnet/distributed/__init__.py
  espnet/distributed/pytorch_backend/launch.py
  espnet/utils/dataset.py
  test/test_distributed_launch.py
Labels: ASR, ESPnet1

#4470 Adding __init__.py to espnet2/diar/layers and espnet2/diar/separator
  espnet2/diar/layers/__init__.py
  espnet2/diar/separator/__init__.py
Labels: Bugfix, ESPnet2

#4471 Canged to install espnet from wheel in the test_import CI test
  .github/workflows/test_import.yaml
  espnet2/mt/__init__.py
Labels: CI, ESPnet2, auto-merge

#4477 Add a note to follow the installation instructions
  egs2/TEMPLATE/asr1/scripts/utils/TEMPLATE_HF_Readme.md
Labels: ESPnet2

#4478 Vox populi baseline
  egs2/slue-voxpopuli/asr1/README.md
  egs2/slue-voxpopuli/asr1/conf/train_asr_baseline_conformer.yaml
Labels: ESPnet2, README
