Repository espnet/espnet, pull requests merged in 2022-05, with the labels that each got.

#4332 add chime6 recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/chime6/asr1/README.md
  egs2/chime6/asr1/asr.sh
  egs2/chime6/asr1/cmd.sh
  egs2/chime6/asr1/conf/decode_asr_transformer.yaml
  egs2/chime6/asr1/conf/fbank.conf
  egs2/chime6/asr1/conf/pbs.conf
  egs2/chime6/asr1/conf/pitch.conf
  egs2/chime6/asr1/conf/queue.conf
  egs2/chime6/asr1/conf/slurm.conf
  egs2/chime6/asr1/conf/train_lm.yaml
  egs2/chime6/asr1/conf/tuning/train_asr_transformer_wavlm_lr1e-3_specaug_accum1_preenc128_warmup20k.yaml
  egs2/chime6/asr1/db.sh
  egs2/chime6/asr1/local/check_tools.sh
  egs2/chime6/asr1/local/data.sh
  egs2/chime6/asr1/local/distant_audio_list
  egs2/chime6/asr1/local/extract_noises.py
  egs2/chime6/asr1/local/generate_chime6_data.sh
  egs2/chime6/asr1/local/install_pb_chime5.sh
  egs2/chime6/asr1/local/json2text.py
  egs2/chime6/asr1/local/make_noise_list.py
  egs2/chime6/asr1/local/path.sh
  egs2/chime6/asr1/local/prepare_baseline_chime6_data.sh
  egs2/chime6/asr1/local/prepare_data.sh
  egs2/chime6/asr1/local/prepare_dict.sh
  egs2/chime6/asr1/local/run_gss.sh
  egs2/chime6/asr1/local/train_lms_srilm.sh
  egs2/chime6/asr1/local/wer_output_filter
  egs2/chime6/asr1/path.sh
  egs2/chime6/asr1/pyscripts
  egs2/chime6/asr1/run.sh
  egs2/chime6/asr1/scripts
  egs2/chime6/asr1/steps
  egs2/chime6/asr1/utils
Labels: Recipe, ASR, ESPnet2, README

#4338 Fix typo
  README.md
Labels: README

#4329 Wandb Minor Fix for Model Resume
  espnet2/tasks/abs_task.py
Labels: Bugfix, ESPnet2

#4330 Update show_translation_result.sh to show all decoding results under the given exp directory
  egs2/TEMPLATE/asr1/scripts/utils/show_translation_result.sh
  egs2/TEMPLATE/mt1/mt.sh
  egs2/iwslt14/mt1/run.sh
Labels: MT, ESPnet2

#4343 Fix a bug in stats aggregation when PITSolver is used
  espnet2/enh/loss/wrappers/pit_solver.py
Labels: Bugfix, ESPnet2, SE

#4347 Minor fix for Mask-CTC forward function
  espnet2/asr/maskctc_model.py
Labels: Bugfix, ESPnet2

#4356 fix loss = NaN in VITS with mixed precision
  espnet2/gan_tts/vits/vits.py
Labels: Bugfix, TTS, ESPnet2

#4206 fix a bug in Mandarin pypinyin_g2p_phone
  espnet2/text/phoneme_tokenizer.py
  test/espnet2/text/test_phoneme_tokenizer.py
Labels: Bugfix, TTS, ESPnet2

#4352 Add unit test to streaming ASR inference
  espnet2/bin/asr_inference_streaming.py
  test/espnet2/bin/test_asr_inference.py
Labels: Bugfix, ESPnet2, streaming

#4361 Update README.md
  README.md
Labels: README, auto-merge

#4349 Add quantization in ESPnet2 for asr inference
  espnet/nets/pytorch_backend/rnn/encoders.py
  espnet2/bin/asr_inference.py
  test/espnet2/bin/test_asr_inference.py
Labels: New Features, ASR, ESPnet2, ESPnet1

#4364 add e2e tts model: JETS
  egs2/kss/tts1/conf/tuning/train_jets.yaml
  egs2/ljspeech/tts1/conf/tuning/train_jets.yaml
  espnet2/gan_tts/jets/__init__.py
  espnet2/gan_tts/jets/alignments.py
  espnet2/gan_tts/jets/generator.py
  espnet2/gan_tts/jets/jets.py
  espnet2/gan_tts/jets/length_regulator.py
  espnet2/gan_tts/jets/loss.py
  espnet2/tasks/gan_tts.py
  espnet2/tasks/tts.py
  test/espnet2/gan_tts/jets/test_jets.py
Labels: New Features, TTS, ESPnet2

#4369 Minor update for JETS
  README.md
  egs2/TEMPLATE/tts1/README.md
  test/espnet2/gan_tts/jets/test_jets.py
Labels: Documentation, TTS, ESPnet2, README, auto-merge

#4371 Update .mergify.yml
  .mergify.yml
Labels: mergify

#4341 bug fixes in ST recipes
  egs2/TEMPLATE/asr1/pyscripts/utils/rotate_logfile.py
  egs2/TEMPLATE/st1/st.sh
  egs2/covost2/st1/conf/fbank.conf
  egs2/covost2/st1/conf/pitch.conf
  egs2/covost2/st1/run.sh
Labels: Bugfix, ST, ESPnet2

#4375 Update .mergify.yml
  .mergify.yml
Labels: mergify

#4376 Remove the restriction for libsndfile version
  tools/Makefile
Labels: Installation, auto-merge

#4399 fix s3prl install by using legacy version. Temporal solution.
  tools/installers/install_s3prl.sh
Labels: Bugfix, Installation

#4393 Update version to 202205
  espnet/version.txt
Labels: auto-merge, ESPnet1

#4398 Fix #4396
  espnet2/tasks/abs_task.py
Labels: Bugfix, ESPnet2, auto-merge

#4406 add pre-trained model jets in the recipe of ljspeech, kss
  egs2/kss/tts1/README.md
  egs2/ljspeech/tts1/README.md
Labels: Recipe, TTS, ESPnet2, README

#4402 Fix for issue #4401
  egs2/TEMPLATE/tts1/tts.sh
Labels: Recipe, TTS, ESPnet2

#4407 Temporary fix protobuf version
  setup.py
Labels: Bugfix, Installation

#4327 Fix Transducer LM fusion and add Logging for Transducer inference
  egs2/librispeech/asr1/README.md
  egs2/librispeech/asr1/conf/decode_asr_rnnt.yaml
  egs2/librispeech/asr1/conf/train_asr_rnnt.yaml
  egs2/librispeech/asr1/conf/tuning/transducer/decode.yaml
  egs2/librispeech/asr1/conf/tuning/transducer/train_conformer-rnn_transducer.yaml
  espnet2/asr/transducer/beam_search_transducer.py
  espnet2/bin/asr_inference.py
  test/espnet2/asr/transducer/test_beam_search_transducer.py
Labels: Installation, CI, TTS, ASR, MT, ESPnet2, README, mergify, LM, ESPnet1
