Repository espnet/espnet, pull requests merged in 2023-02, with the labels that each got.

#4900 fixing bug deu1
  egs2/msuperb/asr1/local/single_lang_data_prep.py
Labels: Bugfix, ESPnet2, auto-merge

#4899 Fix dataprep issues based on updated data release via Google form
  egs2/how2_2000h/asr1/local/data.sh
  egs2/how2_2000h/sum1/local/data.sh
Labels: Bugfix, ESPnet2

#4901 Update version to 202301
  espnet/version.txt
Labels: ESPnet1

#4888 Update collect stats stage so that less memory cost in Utt_mvn
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/diar1/diar.sh
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/enh_asr1/enh_asr.sh
  egs2/TEMPLATE/enh_st1/enh_st.sh
  egs2/TEMPLATE/slu1/slu.sh
  egs2/TEMPLATE/ssl1/hubert.sh
  egs2/TEMPLATE/st1/st.sh
  egs2/TEMPLATE/svs1/svs.sh
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/asr/espnet_model.py
  espnet2/main_funcs/collect_stats.py
  espnet2/slu/espnet_model.py
  espnet2/st/espnet_model.py
  espnet2/tasks/abs_task.py
Labels: Enhancement, ESPnet2, SSL

#4906 Add pytorch=1.13.1 to CI configuration
  .github/workflows/centos7.yml
  .github/workflows/ci.yaml
  .github/workflows/debian9.yml
  .github/workflows/doc.yml
  .github/workflows/macos.yml
  .github/workflows/test_import.yaml
  .github/workflows/windows.yml
  .mergify.yml
  README.md
  tools/Makefile
  tools/installers/install_torch.sh
Labels: Installation, CI, README, mergify

#4902 How2 fix README, incorrect url
  egs2/how2_2000h/asr1/local/data.sh
  egs2/how2_2000h/sum1/README.md
  egs2/how2_2000h/sum1/local/data.sh
Labels: CI, ESPnet2, README, auto-merge, ESPnet1

#4911 Fix typo in lrs/README.md
  egs/lrs/README.md
Labels: README, auto-merge, ESPnet1

#4913 MSUPERB setting update
  egs2/msuperb/asr1/conf/decode_asr.yaml
  egs2/msuperb/asr1/local/data.sh
  egs2/msuperb/asr1/run_single_lang.sh
Labels: Recipe, ASR, ESPnet2, auto-merge

#4918 Update test_import.yaml to install numba
  .github/workflows/test_import.yaml
Labels: CI, auto-merge

#4894 CHiME-7 Task1 recipe
  egs2/chime7_task1/asr1/README.md
  egs2/chime7_task1/asr1/asr.sh
  egs2/chime7_task1/asr1/cmd.sh
  egs2/chime7_task1/asr1/conf/decode_asr_transformer.yaml
  egs2/chime7_task1/asr1/conf/fbank.conf
  egs2/chime7_task1/asr1/conf/pbs.conf
  egs2/chime7_task1/asr1/conf/pitch.conf
  egs2/chime7_task1/asr1/conf/queue.conf
  egs2/chime7_task1/asr1/conf/slurm.conf
  egs2/chime7_task1/asr1/conf/train_lm.yaml
  egs2/chime7_task1/asr1/conf/tuning/train_asr_transformer_wavlm_lr1e-4_specaugm_accum1_preenc128_warmup20k.yaml
  egs2/chime7_task1/asr1/db.sh
  egs2/chime7_task1/asr1/local/data.sh
  egs2/chime7_task1/asr1/local/distant_audio_list
  egs2/chime7_task1/asr1/local/extract_noises.py
  egs2/chime7_task1/asr1/local/gen_task1_data.py
  egs2/chime7_task1/asr1/local/gen_task1_data.sh
  egs2/chime7_task1/asr1/local/generate_chime6_data.sh
  egs2/chime7_task1/asr1/local/get_lhotse_manifests.py
  egs2/chime7_task1/asr1/local/gss2lhotse.py
  egs2/chime7_task1/asr1/local/install_dependencies.sh
  egs2/chime7_task1/asr1/local/make_noise_list.py
  egs2/chime7_task1/asr1/local/path.sh
  egs2/chime7_task1/asr1/local/run_gss.sh
  egs2/chime7_task1/asr1/path.sh
  egs2/chime7_task1/asr1/pyscripts
  egs2/chime7_task1/asr1/run.sh
  egs2/chime7_task1/asr1/scripts
  egs2/chime7_task1/asr1/steps
  egs2/chime7_task1/asr1/utils
  espnet2/asr/preencoder/linear.py
  espnet2/layers/global_mvn.py
  tools/installers/install_gss.sh
Labels: Recipe, Installation, ASR, ESPnet2, README, auto-merge, ESPnet1

#4920 Update CHiME-7 Task 1 README.md
  egs2/chime7_task1/asr1/README.md
  egs2/chime7_task1/asr1/run.sh
Labels: ESPnet2, README, auto-merge

#4922 Use native CPU version of STFT on newer pytorch versions, fix librosa window size < ftt
  espnet2/layers/stft.py
Labels: Bugfix, ESPnet2, auto-merge

#4923 Add few shot subset for mSuperb multilingual setting
  egs2/msuperb/asr1/local/data_prep.py
Labels: Recipe, ASR, ESPnet2, auto-merge

#4915 Fix existing bugs in the TSE task
  egs2/TEMPLATE/enh1/enh.sh
  egs2/librimix/enh1/local/data.sh
  egs2/librimix/tse1/run.sh
  espnet2/bin/enh_tse_inference.py
  espnet2/enh/espnet_model_tse.py
  espnet2/iterators/chunk_iter_factory.py
  espnet2/train/preprocessor.py
Labels: Bugfix, ESPnet2, SE

#4927 IAM OCR recipe updates
  egs2/iam/ocr1/README.md
  egs2/iam/ocr1/run.sh
Labels: Recipe, ESPnet2, README

#4925 Fixing some issues with chime7-task1 baseline
  egs2/chime7_task1/asr1/local/data.sh
  egs2/chime7_task1/asr1/local/gen_task1_data.py
  egs2/chime7_task1/asr1/local/install_dependencies.sh
  egs2/chime7_task1/asr1/local/run_gss.sh
  egs2/chime7_task1/asr1/run.sh
Labels: Bugfix, Recipe, ASR, ESPnet2, auto-merge

#4917 set default none decoder for ASR
  ci/test_integration_espnet2.sh
  espnet2/asr/espnet_model.py
  espnet2/asr/pit_espnet_model.py
  espnet2/tasks/asr.py
  test/espnet2/bin/test_asr_align.py
  test/espnet2/bin/test_asr_inference.py
  test/espnet2/bin/test_asr_inference_k2.py
  test/espnet2/bin/test_enh_inference.py
Labels: Bugfix, CI, ESPnet2

#4932 Update inference and training setting for mSuperb multilingual model
  egs2/msuperb/asr1/conf/tuning/train_asr_fbank.yaml
  egs2/msuperb/asr1/conf/tuning/train_asr_s3prl.yaml
  egs2/msuperb/asr1/run.sh
Labels: Recipe, ASR, ESPnet2, auto-merge

#4864 add tf-gridnet
  egs2/wsj0_2mix/enh1/README.md
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_tfgridnet_tf_lr-patience3_patience5.yaml
  espnet2/enh/separator/tfgridnet_separator.py
  espnet2/tasks/enh.py
  test/espnet2/enh/test_espnet_model.py
Labels: New Features, ESPnet2, README, auto-merge, SE

#4934 Fixes + Channel Selection for CHiME-7 Task
  egs/chime6/asr1/local/distant_audio_list
  egs2/chime7_task1/asr1/README.md
  egs2/chime7_task1/asr1/local/check_data_gen.py
  egs2/chime7_task1/asr1/local/chime7_dasr_md5.json
  egs2/chime7_task1/asr1/local/data.sh
  egs2/chime7_task1/asr1/local/gen_task1_data.py
  egs2/chime7_task1/asr1/local/gen_task1_data.sh
  egs2/chime7_task1/asr1/local/generate_chime6_data.sh
  egs2/chime7_task1/asr1/local/get_lhotse_manifests.py
  egs2/chime7_task1/asr1/local/gss2lhotse.py
  egs2/chime7_task1/asr1/local/gss_micrank.py
  egs2/chime7_task1/asr1/local/install_dependencies.sh
  egs2/chime7_task1/asr1/local/run_gss.sh
  egs2/chime7_task1/asr1/run.sh
Labels: Recipe, ASR, ESPnet2, README, auto-merge, ESPnet1

#4926 fix extracted feature dummy generation
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/slu1/slu.sh
  egs2/TEMPLATE/st1/st.sh
  egs2/TEMPLATE/uasr1/uasr.sh
Labels: ESPnet2

#4936 Speaker Identification recipe for course demonstration
  egs/chime6/asr1/local/distant_audio_list
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_xvectors.py
  egs2/TEMPLATE/slu1/slu.sh
  egs2/TEMPLATE/st1/st.sh
  egs2/TEMPLATE/uasr1/uasr.sh
  egs2/chime7_task1/asr1/README.md
  egs2/chime7_task1/asr1/local/check_data_gen.py
  egs2/chime7_task1/asr1/local/chime7_dasr_md5.json
  egs2/chime7_task1/asr1/local/data.sh
  egs2/chime7_task1/asr1/local/gen_task1_data.py
  egs2/chime7_task1/asr1/local/gen_task1_data.sh
  egs2/chime7_task1/asr1/local/generate_chime6_data.sh
  egs2/chime7_task1/asr1/local/get_lhotse_manifests.py
  egs2/chime7_task1/asr1/local/gss2lhotse.py
  egs2/chime7_task1/asr1/local/gss_micrank.py
  egs2/chime7_task1/asr1/local/install_dependencies.sh
  egs2/chime7_task1/asr1/local/run_gss.sh
  egs2/chime7_task1/asr1/run.sh
  egs2/mini_librispeech/sid1/asr.sh
  egs2/mini_librispeech/sid1/cmd.sh
  egs2/mini_librispeech/sid1/conf/decode_sid.yaml
  egs2/mini_librispeech/sid1/conf/fbank.conf
  egs2/mini_librispeech/sid1/conf/pbs.conf
  egs2/mini_librispeech/sid1/conf/pitch.conf
  egs2/mini_librispeech/sid1/conf/queue.conf
  egs2/mini_librispeech/sid1/conf/slurm.conf
  egs2/mini_librispeech/sid1/conf/train_sid_transformer.yaml
  egs2/mini_librispeech/sid1/conf/train_sid_transformer_xvector.yaml
  egs2/mini_librispeech/sid1/conf/train_sid_transformer_xvector_speechbrain.sh
  egs2/mini_librispeech/sid1/db.sh
  egs2/mini_librispeech/sid1/local/data.sh
  egs2/mini_librispeech/sid1/local/data_prep.sh
  egs2/mini_librispeech/sid1/local/download_and_untar.sh
  egs2/mini_librispeech/sid1/local/extract_xvector.sh
  egs2/mini_librispeech/sid1/local/extract_xvector_speechbrain.sh
  egs2/mini_librispeech/sid1/local/path.sh
  egs2/mini_librispeech/sid1/path.sh
  egs2/mini_librispeech/sid1/pyscripts
  egs2/mini_librispeech/sid1/run.sh
  egs2/mini_librispeech/sid1/run_xvector.sh
  egs2/mini_librispeech/sid1/run_xvector_speechbrain.sh
  egs2/mini_librispeech/sid1/scripts
  egs2/mini_librispeech/sid1/steps
  egs2/mini_librispeech/sid1/utils
  egs2/tedlium2/asr1/README.md
  egs2/tedlium2/asr1/conf/decode_asr_transducer.yaml
  egs2/tedlium2/asr1/conf/tuning/train_asr_transducer_conformer_e12_linear2048.yaml
  egs2/tedlium2/asr1/conf/tuning/train_asr_transducer_e_branchformer_e12.yaml
  egs2/wsj0_2mix/enh1/README.md
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_tfgridnet_tf_lr-patience3_patience5.yaml
  espnet2/asr/espnet_model.py
  espnet2/enh/separator/tfgridnet_separator.py
  espnet2/tasks/enh.py
  test/espnet2/enh/test_espnet_model.py
  tools/installers/install_speechbrain.sh
Labels: Installation, ESPnet2, README, ESPnet1

#4941 Fix device mismatch error in GPU decoding with PyTorch 1.13
  espnet/nets/batch_beam_search.py
Labels: Bugfix, auto-merge, ESPnet1

#4942 CHiME-7 DASR MD5 checksum fix for mixer6/train_call
  egs2/chime7_task1/asr1/README.md
  egs2/chime7_task1/asr1/local/check_data_gen.py
  egs2/chime7_task1/asr1/local/chime7_dasr_md5.json
  egs2/chime7_task1/asr1/local/gen_task1_data.py
  egs2/chime7_task1/asr1/run.sh
Labels: Bugfix, Recipe, ASR, ESPnet2, README

#4943 Update show_asr_result.sh
  egs2/TEMPLATE/asr1/scripts/utils/show_asr_result.sh
Labels: ESPnet2, auto-merge

#4946 CHiME-7 DASR correct development results
  egs2/chime7_task1/asr1/README.md
  egs2/chime7_task1/asr1/run.sh
Labels: Documentation, ESPnet2, README, auto-merge

#4945 Fix '__floordiv__ is deprecated' warnings
  espnet/nets/batch_beam_search.py
  espnet2/layers/stft.py
Labels: Bugfix, ESPnet2, ESPnet1

#4949 Added WSLII installation instruction
  doc/installation.md
Labels: Documentation

#4931 Update Muskits
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_vits.yaml
  espnet2/bin/svs_inference.py
  espnet2/gan_svs/espnet_model.py
  espnet2/gan_svs/vits/generator.py
  espnet2/gan_svs/vits/vits.py
  espnet2/svs/espnet_model.py
  espnet2/svs/feats_extract/score_feats_extract.py
  espnet2/svs/naive_rnn/naive_rnn.py
  espnet2/svs/naive_rnn/naive_rnn_dp.py
  espnet2/svs/xiaoice/XiaoiceSing.py
  espnet2/tasks/gan_svs.py
  espnet2/tasks/svs.py
  espnet2/train/preprocessor.py
  test/espnet2/gan_svs/visinger/test_visinger.py
  test/espnet2/gan_svs/visinger/test_visinger_generator.py
Labels: ESPnet2

#4962 Set a longer time execution threshold for related failed time-outs CI
  setup.py
  test/espnet2/bin/test_tts_inference.py
  test/test_multi_spkrs.py
  test/test_transform.py
Labels: Installation, CI, auto-merge

#4965 Modify data prep for mSUPERB multilingual
  egs2/msuperb/asr1/conf/tuning/train_asr_fbank.yaml
  egs2/msuperb/asr1/conf/tuning/train_asr_s3prl.yaml
  egs2/msuperb/asr1/local/data.sh
  egs2/msuperb/asr1/local/data_prep.py
  egs2/msuperb/asr1/run.sh
Labels: ESPnet2, auto-merge

#4958 Add E-Branchformer results in some recipes
  egs2/aidatatang_200zh/asr1/README.md
  egs2/aidatatang_200zh/asr1/conf/decode_asr.yaml
  egs2/aidatatang_200zh/asr1/conf/train_asr_e_branchformer.yaml
  egs2/aidatatang_200zh/asr1/conf/tuning/train_asr_e_branchformer_e16_linear1024_lr1e-3.yaml
  egs2/aishell/asr1/README.md
  egs2/aishell/asr1/conf/tuning/train_asr_ctc_conformer_e15_linear1024.yaml
  egs2/aishell/asr1/conf/tuning/train_asr_ctc_e_branchformer_e12.yaml
  egs2/jsut/asr1/README.md
  egs2/jsut/asr1/conf/tuning/train_asr_e_branchformer_e16_conv15.yaml
  egs2/librispeech_100/asr1/README.md
  egs2/librispeech_100/asr1/conf/tuning/decode_transducer.yaml
  egs2/librispeech_100/asr1/conf/tuning/train_asr_transducer_conformer_e15_linear1024.yaml
  egs2/librispeech_100/asr1/conf/tuning/train_asr_transducer_e_branchformer_e12_mlp1024_linear1024.yaml
Labels: Recipe, ASR, ESPnet2, README, auto-merge

#4964 Add 'six' as a required Python module
  setup.py
Labels: Bugfix, Installation, auto-merge

#4938 add msuperb linguistic analysis
  egs2/msuperb/asr1/local/data.sh
  egs2/msuperb/asr1/local/data_prep.py
  egs2/msuperb/asr1/local/linguistic_tree.py
  egs2/msuperb/asr1/local/path.sh
  egs2/msuperb/asr1/local/score.sh
  egs2/msuperb/asr1/local/split_results.py
  egs2/msuperb/asr1/run.sh
  egs2/msuperb/asr1/run_single_lang.sh
Labels: Recipe, ASR, ESPnet2, auto-merge

#4972 Fix a 'ref_channel'-related issue in espnet2/bin/enh_inference.py
  espnet2/bin/enh_inference.py
Labels: Bugfix, ESPnet2, SE

#4971 Add E-Branchformer results in slurp_entity
  egs2/slurp_entity/asr1/README.md
  egs2/slurp_entity/asr1/conf/tuning/train_asr_e_branchformer_e12_mlp3072_linear1024_layerdrop.yaml
Labels: Recipe, ESPnet2, README, SLU
