Repository espnet/espnet, pull requests merged in 2023-09, with the labels that each got.

#5426 fix typo in TEMPLATE/svs1/README.md
  egs2/TEMPLATE/svs1/README.md
Labels: ESPnet2, README

#5437 Update install_mwerSegmenter.sh
  tools/installers/install_mwerSegmenter.sh
Labels: Bugfix, Installation, CI

#5447 fix twice numpy installation issue
  .github/workflows/ci_on_centos7.yml
  test/espnet2/bin/test_asr_inference.py
  tools/Makefile
Labels: Installation, CI, auto-merge

#5371 Add Whisper SOT recipe for Librimix
  egs2/TEMPLATE/asr1/asr.sh
  egs2/librimix/sot_asr1/README.md
  egs2/librimix/sot_asr1/conf/tuning/train_sot_asr_whisper.yaml
  egs2/librimix/sot_asr1/conf/tuning/train_sot_asr_whisper_medium.yaml
  egs2/librimix/sot_asr1/conf/tuning/train_sot_asr_whisper_small.yaml
  egs2/librimix/sot_asr1/local/data.sh
  egs2/librimix/sot_asr1/run_whisper_sot.sh
  espnet2/asr/decoder/whisper_decoder.py
  espnet2/asr/encoder/whisper_encoder.py
  espnet2/bin/asr_inference.py
  espnet2/bin/whisper_export_vocabulary.py
  espnet2/text/build_tokenizer.py
  espnet2/text/whisper_token_id_converter.py
  espnet2/text/whisper_tokenizer.py
  espnet2/train/preprocessor.py
  test/espnet2/asr/decoder/test_whisper_decoder.py
  test/espnet2/bin/test_whisper_export_vocabulary.py
  test/espnet2/text/test_whisper_token_id_converter.py
Labels: New Features, ASR, ESPnet2, README

#5418 Update for the JOSS paper editor review
  doc/paper/espnet-se++/paper.bib
  doc/paper/espnet-se++/paper.md
Labels: Documentation, auto-merge

#5448 Add the VOiCES recipe for ASR
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/voices/asr1/asr.sh
  egs2/voices/asr1/cmd.sh
  egs2/voices/asr1/conf/decode_asr.yaml
  egs2/voices/asr1/conf/fbank.conf
  egs2/voices/asr1/conf/pbs.conf
  egs2/voices/asr1/conf/pitch.conf
  egs2/voices/asr1/conf/queue.conf
  egs2/voices/asr1/conf/slurm.conf
  egs2/voices/asr1/conf/train_asr_conformer.yaml
  egs2/voices/asr1/conf/tuning/train_lm_transformer2.yaml
  egs2/voices/asr1/db.sh
  egs2/voices/asr1/local/data.sh
  egs2/voices/asr1/local/path.sh
  egs2/voices/asr1/local/prepare_multich_datadir.py
  egs2/voices/asr1/path.sh
  egs2/voices/asr1/pyscripts
  egs2/voices/asr1/run.sh
  egs2/voices/asr1/scripts
  egs2/voices/asr1/utils
Labels: Recipe, ASR, ESPnet2, README, auto-merge

#5445 Improve diacritic compatibility in data_prep.pl preprocessing scripts
  egs/commonvoice/asr1/local/data_prep.pl
  egs/covost2/st1/local/data_prep_commonvoice.pl
  egs2/fleurs/asr1/local/data_prep.pl
  egs2/open_li52/asr1/local/data_prep.pl
Labels: Bugfix, ESPnet2, ESPnet1

#5431 [WIP] create recipe for acesinger
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/acesinger/svs1/cmd.sh
  egs2/acesinger/svs1/conf/pbs.conf
  egs2/acesinger/svs1/conf/queue.conf
  egs2/acesinger/svs1/conf/slurm.conf
  egs2/acesinger/svs1/db.sh
  egs2/acesinger/svs1/local/data.sh
  egs2/acesinger/svs1/local/data_prep.py
  egs2/acesinger/svs1/local/path.sh
  egs2/acesinger/svs1/midi-note.scp
  egs2/acesinger/svs1/path.sh
  egs2/acesinger/svs1/pyscripts
  egs2/acesinger/svs1/run.sh
  egs2/acesinger/svs1/scripts
  egs2/acesinger/svs1/svs.sh
  egs2/acesinger/svs1/utils
  egs2/opencpop/svs1/local/midi-note.scp
Labels: Recipe, ESPnet2, README, auto-merge, Music

#5436 Add BibleTTS recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/bibletts/tts1/README.md
  egs2/bibletts/tts1/RESULTS.MD
  egs2/bibletts/tts1/cmd.sh
  egs2/bibletts/tts1/conf/mfcc.conf
  egs2/bibletts/tts1/conf/pbs.conf
  egs2/bibletts/tts1/conf/queue.conf
  egs2/bibletts/tts1/conf/slurm.conf
  egs2/bibletts/tts1/conf/tuning/decode_vits.yaml
  egs2/bibletts/tts1/conf/tuning/train_vits.yaml
  egs2/bibletts/tts1/conf/vad.conf
  egs2/bibletts/tts1/db.sh
  egs2/bibletts/tts1/local/data.sh
  egs2/bibletts/tts1/local/path.sh
  egs2/bibletts/tts1/path.sh
  egs2/bibletts/tts1/pyscripts
  egs2/bibletts/tts1/run.sh
  egs2/bibletts/tts1/scripts
  egs2/bibletts/tts1/sid
  egs2/bibletts/tts1/steps
  egs2/bibletts/tts1/tts.sh
  egs2/bibletts/tts1/utils
Labels: Documentation, TTS, ESPnet2, README, auto-merge
