Repository espnet/espnet, pull requests merged in 2023-10, with the labels that each got.

#5434 ASR2 CHiME4 & Gigaspeech Recipes
  egs2/chime4/asr2/README.md
  egs2/chime4/asr2/asr2.sh
  egs2/chime4/asr2/cmd.sh
  egs2/chime4/asr2/conf/chime4.cfg
  egs2/chime4/asr2/conf/decode_asr.yaml
  egs2/chime4/asr2/conf/pbs.conf
  egs2/chime4/asr2/conf/queue.conf
  egs2/chime4/asr2/conf/slurm.conf
  egs2/chime4/asr2/conf/tuning/train_discrete_asr_e_branchformer_e12_mlp1024_linear1024_macaron_lr1e-4_warmup25k_conv1d1.yaml
  egs2/chime4/asr2/db.sh
  egs2/chime4/asr2/local/bth_chime4_data_prep.sh
  egs2/chime4/asr2/local/clean_chime4_format_data.sh
  egs2/chime4/asr2/local/clean_wsj0_data_prep.sh
  egs2/chime4/asr2/local/cstr_ndx2flist.pl
  egs2/chime4/asr2/local/data.sh
  egs2/chime4/asr2/local/find_noisy_transcripts.pl
  egs2/chime4/asr2/local/find_transcripts.pl
  egs2/chime4/asr2/local/flist2scp.pl
  egs2/chime4/asr2/local/make_stft.sh
  egs2/chime4/asr2/local/ndx2flist.pl
  egs2/chime4/asr2/local/normalize_transcript.pl
  egs2/chime4/asr2/local/path.sh
  egs2/chime4/asr2/local/real_enhan_chime4_data_prep.sh
  egs2/chime4/asr2/local/real_noisy_chime4_data_prep.sh
  egs2/chime4/asr2/local/run_beamform_2ch_track.sh
  egs2/chime4/asr2/local/run_beamform_6ch_track.sh
  egs2/chime4/asr2/local/show_enhance_results.sh
  egs2/chime4/asr2/local/simu_enhan_chime4_data_prep.sh
  egs2/chime4/asr2/local/simu_noisy_chime4_data_prep.sh
  egs2/chime4/asr2/local/sym_channel.py
  egs2/chime4/asr2/local/wsj_data_prep.sh
  egs2/chime4/asr2/local/wsj_format_data.sh
  egs2/chime4/asr2/path.sh
  egs2/chime4/asr2/pyscripts
  egs2/chime4/asr2/run.sh
  egs2/chime4/asr2/scripts
  egs2/chime4/asr2/steps
  egs2/chime4/asr2/utils
  egs2/gigaspeech/asr2/README.md
  egs2/gigaspeech/asr2/asr2.sh
  egs2/gigaspeech/asr2/cmd.sh
  egs2/gigaspeech/asr2/conf/decode_ctc0.3.yaml
  egs2/gigaspeech/asr2/conf/pbs.conf
  egs2/gigaspeech/asr2/conf/queue.conf
  egs2/gigaspeech/asr2/conf/slurm.conf
  egs2/gigaspeech/asr2/conf/tuning/train_discrete_asr_e_branchformer1_e12_lr.yaml
  egs2/gigaspeech/asr2/conf/tuning/train_discrete_asr_e_branchformer1_e12_lr1e-3.yaml
  egs2/gigaspeech/asr2/db.sh
  egs2/gigaspeech/asr2/local/data.sh
  egs2/gigaspeech/asr2/local/path.sh
  egs2/gigaspeech/asr2/local/score.sh
  egs2/gigaspeech/asr2/path.sh
  egs2/gigaspeech/asr2/pyscripts
  egs2/gigaspeech/asr2/run.sh
  egs2/gigaspeech/asr2/scripts
  egs2/gigaspeech/asr2/steps
  egs2/gigaspeech/asr2/utils
  espnet/nets/pytorch_backend/transformer/subsampling.py
  espnet2/asr/encoder/e_branchformer_encoder.py
Labels: Recipe, ASR, ESPnet2, README, ESPnet1

#5454 Do not use root logger in Beamsearch
  espnet/nets/batch_beam_search.py
  espnet/nets/beam_search.py
Labels: Enhancement, auto-merge, ESPnet1

#5464 Fix whisper test
  espnet2/bin/whisper_export_vocabulary.py
  espnet2/text/whisper_token_id_converter.py
  test/espnet2/bin/test_whisper_export_vocabulary.py
  test/espnet2/text/test_whisper_token_id_converter.py
Labels: ESPnet2

#5463 Add doc for OWSM
  README.md
  egs2/TEMPLATE/s2t1/README.md
Labels: ESPnet2, README, auto-merge

#5456 AVSR recipes on LRS3 using pre-trained AV-HuBERT model
  egs2/lrs3/avsr1/README.md
  egs2/lrs3/avsr1/asr.sh
  egs2/lrs3/avsr1/cmd.sh
  egs2/lrs3/avsr1/conf/fbank.conf
  egs2/lrs3/avsr1/conf/pbs.conf
  egs2/lrs3/avsr1/conf/pitch.conf
  egs2/lrs3/avsr1/conf/queue.conf
  egs2/lrs3/avsr1/conf/slurm.conf
  egs2/lrs3/avsr1/conf/train_avsr_avhubert_base.yaml
  egs2/lrs3/avsr1/conf/train_avsr_avhubert_large.yaml
  egs2/lrs3/avsr1/db.sh
  egs2/lrs3/avsr1/local/20words_mean_face.npy
  egs2/lrs3/avsr1/local/data.sh
  egs2/lrs3/avsr1/local/extract_av_feature.py
  egs2/lrs3/avsr1/local/face_alignment.py
  egs2/lrs3/avsr1/local/path.sh
  egs2/lrs3/avsr1/local/scp_gen.py
  egs2/lrs3/avsr1/local/transforms.py
  egs2/lrs3/avsr1/path.sh
  egs2/lrs3/avsr1/pyscripts
  egs2/lrs3/avsr1/run.sh
  egs2/lrs3/avsr1/scripts
  egs2/lrs3/avsr1/utils
  espnet2/asr/encoder/avhubert_encoder.py
  espnet2/tasks/asr.py
  test/espnet2/asr/encoder/test_avhubert_encoder.py
  tools/installers/install_visual.sh
Labels: Recipe, Installation, ESPnet2, README, AV

#5323 Multilingual Librispeech (MLS) refactor ASR1 recipe
  .gitignore
  ci/test_python_espnet1.sh
  ci/test_python_espnet2.sh
  ci/test_shell_espnet1.sh
  ci/test_shell_espnet2.sh
  ci/test_utils.sh
  egs2/TEMPLATE/asr1/scripts/feats/perform_kmeans.sh
  egs2/TEMPLATE/asr1/utils/simple_dict.sh
  egs2/mls/asr1/db.sh
  egs2/mls/asr1/local/data.sh
  egs2/mls/asr1/local/data_prep.py
  egs2/mls/asr1/local/download_and_untar.sh
  test_utils/test_simple_dict.bats
  utils/simple_dict.sh
Labels: Recipe, CI, ASR, ESPnet2, auto-merge, Need review

#5466 Add phonemized LibriTTS ASR recipe
  egs2/libritts/asr1/README.md
  egs2/libritts/asr1/asr.sh
  egs2/libritts/asr1/cmd.sh
  egs2/libritts/asr1/conf/decode_asr.yaml
  egs2/libritts/asr1/conf/fbank.conf
  egs2/libritts/asr1/conf/pbs.conf
  egs2/libritts/asr1/conf/pitch.conf
  egs2/libritts/asr1/conf/queue.conf
  egs2/libritts/asr1/conf/slurm.conf
  egs2/libritts/asr1/conf/train_asr.yaml
  egs2/libritts/asr1/conf/tuning/train_asr_e_branchformer.yaml
  egs2/libritts/asr1/db.sh
  egs2/libritts/asr1/local/data.sh
  egs2/libritts/asr1/local/data_prep.sh
  egs2/libritts/asr1/local/download_and_untar.sh
  egs2/libritts/asr1/local/path.sh
  egs2/libritts/asr1/local/phonemize_dir.py
  egs2/libritts/asr1/path.sh
  egs2/libritts/asr1/pyscripts
  egs2/libritts/asr1/run.sh
  egs2/libritts/asr1/scripts
  egs2/libritts/asr1/steps
  egs2/libritts/asr1/utils
Labels: Recipe, ASR, ESPnet2, README

#5414 Update the Enh framework to support training with variable numbers of speakers
  ci/test_integration_espnet2.sh
  egs2/TEMPLATE/enh1/enh.sh
  egs2/mini_an4/tse1/conf/train_variable_nspk_debug.yaml
  egs2/mini_an4/tse1/conf/train_variable_nspk_random_enrollment_debug.yaml
  egs2/mini_an4/tse1/local/data.sh
  espnet2/enh/espnet_model.py
  espnet2/enh/espnet_model_tse.py
  espnet2/enh/extractor/abs_extractor.py
  espnet2/enh/extractor/td_speakerbeam_extractor.py
  espnet2/fileio/multi_sound_scp.py
  espnet2/iterators/chunk_iter_factory.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/enh.py
  espnet2/tasks/enh_tse.py
  espnet2/train/dataset.py
  espnet2/train/iterable_dataset.py
  espnet2/train/preprocessor.py
Labels: Recipe, CI, ESPnet2, README, auto-merge, SE

#5395 speed up TFGridNet code
  egs2/wsj0_2mix/enh1/README.md
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_tfgridnetv2_tf_lr-patience3_patience5_I_1_J_1_D_128.yaml
  espnet2/enh/separator/tfgridnetv2_separator.py
  espnet2/tasks/enh.py
  test/espnet2/enh/test_espnet_model.py
Labels: Enhancement, ESPnet2, README, SE

#5331 ASR2 recipe on Tedlium3 dataset
  egs2/TEMPLATE/asr2/asr2.sh
  egs2/tedlium3/asr2/README.md
  egs2/tedlium3/asr2/asr2.sh
  egs2/tedlium3/asr2/cmd.sh
  egs2/tedlium3/asr2/conf/decode.yaml
  egs2/tedlium3/asr2/conf/fbank.conf
  egs2/tedlium3/asr2/conf/pbs.conf
  egs2/tedlium3/asr2/conf/pitch.conf
  egs2/tedlium3/asr2/conf/queue.conf
  egs2/tedlium3/asr2/conf/slurm.conf
  egs2/tedlium3/asr2/conf/train.yaml
  egs2/tedlium3/asr2/conf/tuning/decode_ctc0.3.yaml
  egs2/tedlium3/asr2/conf/tuning/train_discrete_asr_e_branchformer1.yaml
  egs2/tedlium3/asr2/db.sh
  egs2/tedlium3/asr2/local/data.sh
  egs2/tedlium3/asr2/local/download_data.sh
  egs2/tedlium3/asr2/local/join_suffix.py
  egs2/tedlium3/asr2/local/path.sh
  egs2/tedlium3/asr2/local/prepare_data.sh
  egs2/tedlium3/asr2/path.sh
  egs2/tedlium3/asr2/pyscripts
  egs2/tedlium3/asr2/run.sh
  egs2/tedlium3/asr2/scripts
  egs2/tedlium3/asr2/steps
  egs2/tedlium3/asr2/utils
Labels: Recipe, ASR, ESPnet2, README

#5490 Update setup.py
  setup.py
Labels: Installation

#5492 Fix default value in ML-SUPERB
  egs2/ml_superb/asr1/README.md
  egs2/ml_superb/asr1/run_multi.sh
Labels: ESPnet2, README

#5494 Fix bugs of Whisper SOT.
  espnet2/bin/whisper_export_vocabulary.py
  espnet2/train/preprocessor.py
Labels: Bugfix, ASR, ESPnet2

#5441 Multilingual Librispeech ASR2 + ASR1 baselines
  egs2/TEMPLATE/asr1/scripts/utils/simple_dict.sh
  egs2/TEMPLATE/asr2/asr2.sh
  egs2/mls/asr1/RESULTS.md
  egs2/mls/asr1/conf/tuning/decode_transformer_nolm.yaml
  egs2/mls/asr1/conf/tuning/train_asr_e_branchformer1_fbank_lre1-3.yaml
  egs2/mls/asr1/conf/tuning/train_asr_e_branchformer1_wavlm_lr1e-4.yaml
  egs2/mls/asr1/local/data.sh
  egs2/mls/asr1/run.sh
  egs2/mls/asr2/RESULTS.md
  egs2/mls/asr2/asr2.sh
  egs2/mls/asr2/cmd.sh
  egs2/mls/asr2/conf/decode_ctc0.3.yaml
  egs2/mls/asr2/conf/pbs.conf
  egs2/mls/asr2/conf/queue.conf
  egs2/mls/asr2/conf/slurm.conf
  egs2/mls/asr2/conf/train_discrete_asr_e_branchformer1.yaml
  egs2/mls/asr2/db.sh
  egs2/mls/asr2/local/data.sh
  egs2/mls/asr2/local/data_prep.py
  egs2/mls/asr2/local/download_and_untar.sh
  egs2/mls/asr2/local/path.sh
  egs2/mls/asr2/path.sh
  egs2/mls/asr2/pyscripts
  egs2/mls/asr2/run.sh
  egs2/mls/asr2/scripts
  egs2/mls/asr2/utils
  test_utils/espnet2_scripts/test_simple_dict.bats
Labels: Recipe, CI, ASR, ESPnet2

#5484 Add a new SE recipe combining five public corpora
  egs2/README.md
  egs2/TEMPLATE/enh1/enh.sh
  egs2/universal_se_v1/enh1/README.md
  egs2/universal_se_v1/enh1/cmd.sh
  egs2/universal_se_v1/enh1/conf/inference/test_16kHz.yaml
  egs2/universal_se_v1/enh1/conf/inference/test_48kHz.yaml
  egs2/universal_se_v1/enh1/conf/inference/test_8kHz.yaml
  egs2/universal_se_v1/enh1/conf/pbs.conf
  egs2/universal_se_v1/enh1/conf/queue.conf
  egs2/universal_se_v1/enh1/conf/slurm.conf
  egs2/universal_se_v1/enh1/conf/tuning/train_enh_uses_refch0_2mem.yaml
  egs2/universal_se_v1/enh1/db.sh
  egs2/universal_se_v1/enh1/enh.sh
  egs2/universal_se_v1/enh1/local/data.sh
  egs2/universal_se_v1/enh1/local/path.sh
  egs2/universal_se_v1/enh1/path.sh
  egs2/universal_se_v1/enh1/pyscripts
  egs2/universal_se_v1/enh1/run.sh
  egs2/universal_se_v1/enh1/scripts
  egs2/universal_se_v1/enh1/steps
  egs2/universal_se_v1/enh1/utils
Labels: Recipe, ESPnet2, README, SE

#5502 Update .mergify.yml
  .mergify.yml
Labels: mergify

#5501 update version to 202310
  espnet/version.txt
Labels: auto-merge, ESPnet1

#5503 Add transducer conformer configuration to commonvoice recipe
  egs2/commonvoice/asr1/README.md
  egs2/commonvoice/asr1/conf/tuning/decode_transducer.yaml
  egs2/commonvoice/asr1/conf/tuning/train_asr_transducer_conformer5.yaml
Labels: Recipe, ASR, ESPnet2, README, RNNT

#5504 Fix s2st HF model uploading
  egs2/TEMPLATE/s2st1/s2st.sh
Labels: Bugfix, ST, ESPnet2

#5511 Remove the pytorch version restriction for s3prl
  test/espnet2/asr/frontend/test_s3prl.py
Labels: auto-merge

#5515 Updated the reference of the accepted JOSS paper
  doc/paper/espnet-se++/paper.bib
  doc/paper/espnet-se++/paper.md
Labels: Documentation

#5516 replace old mustc links with new instructions
  egs/must_c/st1/local/download_and_untar.sh
Labels: ESPnet1
