Repository espnet/espnet, pull requests merged in 2023-05, with the labels that each got.

#5151 update version to 202304
  espnet/version.txt
Labels: ESPnet1

#5130 add e-branchformer result for tedlium3 and add checker for text output length
  egs2/tedlium3/asr1/README.md
  egs2/tedlium3/asr1/conf/train.yaml
  egs2/tedlium3/asr1/conf/tuning/train_asr_e_branchformer_size256_mlp1024_e12_mactrue.yaml
  egs2/tedlium3/asr1/conf/tuning/train_lm_transformer.yaml
  espnet2/train/preprocessor.py
Labels: Recipe, ASR, ESPnet2, README, auto-merge

#5162 Limit the Numpy version (<1.24) to fix CI error temporarily.
  setup.py
Labels: Bugfix, Installation, CI, auto-merge

#5166 Update README.md of CHiME-7 DASR: fixing typos
  egs2/chime7_task1/asr1/README.md
Labels: ESPnet2, README

#5167 Fix typo in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: README, auto-merge

#5168 CHiME-7 DASR: Update install_dependencies.sh, fix lhotse version
  egs2/chime7_task1/asr1/local/install_dependencies.sh
Labels: Recipe, ASR, ESPnet2, auto-merge

#5172 Add pre-trained causal speech separation model and streaming demo
  README.md
  egs2/wsj0_2mix/enh1/README.md
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_skim_causal_small.yaml
Labels: ESPnet2, README, auto-merge

#5171 KSC recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/ksc/asr1/RESULTS.md
  egs2/ksc/asr1/asr.sh
  egs2/ksc/asr1/cmd.sh
  egs2/ksc/asr1/conf/decode.yaml
  egs2/ksc/asr1/conf/fbank.conf
  egs2/ksc/asr1/conf/pbs.conf
  egs2/ksc/asr1/conf/pitch.conf
  egs2/ksc/asr1/conf/queue.conf
  egs2/ksc/asr1/conf/slurm.conf
  egs2/ksc/asr1/conf/train.yaml
  egs2/ksc/asr1/db.sh
  egs2/ksc/asr1/local/data.sh
  egs2/ksc/asr1/local/download_data.sh
  egs2/ksc/asr1/local/path.sh
  egs2/ksc/asr1/local/prepare_data.sh
  egs2/ksc/asr1/path.sh
  egs2/ksc/asr1/pyscripts
  egs2/ksc/asr1/run.sh
  egs2/ksc/asr1/scripts
  egs2/ksc/asr1/utils
Labels: Recipe, ASR, ESPnet2, README, auto-merge

#4052 Add installer for ParallelWaveGAN
  ci/install.sh
  test/espnet2/gan_tts/parallel_wavegan/test_parallel_wavegan.py
  tools/Makefile
  tools/installers/install_parallel-wavegan.sh
Labels: Installation, CI, ESPnet2

#5123 [GAN SVS] Add VISinger2, UHifiGAN, Avocodo
  egs2/TEMPLATE/svs1/svs.sh
  egs2/opencpop/svs1/conf/tuning/train_visinger.yaml
  egs2/opencpop/svs1/conf/tuning/train_visinger2.yaml
  egs2/opencpop/svs1/conf/tuning/train_visinger_avocodo.yaml
  egs2/opencpop/svs1/conf/tuning/train_visinger_uhifigan.yaml
  egs2/opencpop/svs1/run.sh
  espnet2/bin/svs_inference.py
  espnet2/gan_svs/avocodo/__init__.py
  espnet2/gan_svs/avocodo/avocodo.py
  espnet2/gan_svs/espnet_model.py
  espnet2/gan_svs/pits/modules.py
  espnet2/gan_svs/pits/ying_decoder.py
  espnet2/gan_svs/uhifigan/__init__.py
  espnet2/gan_svs/uhifigan/sine_generator.py
  espnet2/gan_svs/uhifigan/uhifigan.py
  espnet2/gan_svs/utils/__init__.py
  espnet2/gan_svs/utils/expand_f0.py
  espnet2/gan_svs/visinger2/__init__.py
  espnet2/gan_svs/visinger2/ddsp.py
  espnet2/gan_svs/visinger2/visinger2_vocoder.py
  espnet2/gan_svs/vits/duration_predictor.py
  espnet2/gan_svs/vits/frame_prior_net.py
  espnet2/gan_svs/vits/generator.py
  espnet2/gan_svs/vits/length_regulator.py
  espnet2/gan_svs/vits/phoneme_predictor.py
  espnet2/gan_svs/vits/pitch_predictor.py
  espnet2/gan_svs/vits/prior_decoder.py
  espnet2/gan_svs/vits/text_encoder.py
  espnet2/gan_svs/vits/vits.py
  espnet2/gan_tts/hifigan/hifigan.py
  espnet2/gan_tts/utils/get_random_segments.py
  espnet2/gan_tts/vits/loss.py
  espnet2/svs/espnet_model.py
  espnet2/tasks/gan_svs.py
  espnet2/train/preprocessor.py
  espnet2/tts/feats_extract/yin.py
  espnet2/tts/feats_extract/ying.py
  test/espnet2/gan_svs/visinger/test_visinger.py
  test/espnet2/gan_svs/visinger/test_visinger_generator.py
  test/espnet2/gan_tts/vits/test_vits.py
Labels: ESPnet2

#5178 [SVS] Update docs README.md
  egs2/TEMPLATE/svs1/README.md
Labels: ESPnet2, README

#5157 Adding eendss models
  egs2/librimix/enh_diar1/README.md
  egs2/librimix/enh_diar1/conf/tuning/train_diar_enh_convtasnet_adapt.yaml
  egs2/librimix/enh_diar1/conf/tuning/train_diar_enh_convtasnet_concat_feats_adapt.yaml
Labels: Recipe, ESPnet2, README, Diarization

#5186 2022fall new task tutorial
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/asr1/pyscripts/utils/asvspoof_score.py
  egs2/TEMPLATE/asr1/scripts/utils/show_asvspoof_result.sh
  egs2/TEMPLATE/asvspoof1/asvspoof.sh
  egs2/TEMPLATE/asvspoof1/cmd.sh
  egs2/TEMPLATE/asvspoof1/conf/fbank.conf
  egs2/TEMPLATE/asvspoof1/conf/pbs.conf
  egs2/TEMPLATE/asvspoof1/conf/pitch.conf
  egs2/TEMPLATE/asvspoof1/conf/queue.conf
  egs2/TEMPLATE/asvspoof1/conf/slurm.conf
  egs2/TEMPLATE/asvspoof1/db.sh
  egs2/TEMPLATE/asvspoof1/local/path.sh
  egs2/TEMPLATE/asvspoof1/path.sh
  egs2/TEMPLATE/asvspoof1/pyscripts
  egs2/TEMPLATE/asvspoof1/scripts
  egs2/TEMPLATE/asvspoof1/setup.sh
  egs2/TEMPLATE/asvspoof1/steps
  egs2/TEMPLATE/asvspoof1/utils
  egs2/espnet_tutorial/asvspoof1/asvspoof.sh
  egs2/espnet_tutorial/asvspoof1/cmd.sh
  egs2/espnet_tutorial/asvspoof1/conf/checkpoint1_dummy.yaml
  egs2/espnet_tutorial/asvspoof1/conf/checkpoint2.yaml
  egs2/espnet_tutorial/asvspoof1/conf/decode_asvspoof.yaml
  egs2/espnet_tutorial/asvspoof1/conf/fbank.conf
  egs2/espnet_tutorial/asvspoof1/conf/pbs.conf
  egs2/espnet_tutorial/asvspoof1/conf/pitch.conf
  egs2/espnet_tutorial/asvspoof1/conf/queue.conf
  egs2/espnet_tutorial/asvspoof1/conf/slurm.conf
  egs2/espnet_tutorial/asvspoof1/db.sh
  egs2/espnet_tutorial/asvspoof1/local/data.sh
  egs2/espnet_tutorial/asvspoof1/local/data_prep.py
  egs2/espnet_tutorial/asvspoof1/local/path.sh
  egs2/espnet_tutorial/asvspoof1/path.sh
  egs2/espnet_tutorial/asvspoof1/pyscripts
  egs2/espnet_tutorial/asvspoof1/scripts
  egs2/espnet_tutorial/asvspoof1/steps
  egs2/espnet_tutorial/asvspoof1/utils
  espnet2/asvspoof/__init__.py
  espnet2/asvspoof/decoder/__init__.py
  espnet2/asvspoof/decoder/abs_decoder.py
  espnet2/asvspoof/decoder/linear_decoder.py
  espnet2/asvspoof/espnet_model.py
  espnet2/asvspoof/loss/__init__.py
  espnet2/asvspoof/loss/abs_loss.py
  espnet2/asvspoof/loss/am_softmax_loss.py
  espnet2/asvspoof/loss/binary_loss.py
  espnet2/asvspoof/loss/oc_softmax_loss.py
  espnet2/bin/asvspoof_inference.py
  espnet2/bin/asvspoof_train.py
  espnet2/tasks/asvspoof.py
Labels: New Features, ESPnet2

#5188 [GAN SVS] fix phoneme predictor
  espnet2/gan_svs/vits/vits.py
Labels: ESPnet2

#5196 Bug fix for #5195
  espnet2/asr/maskctc_model.py
Labels: Bugfix, ASR, ESPnet2, auto-merge
