Repository espnet/espnet, pull requests merged in 2023-07, with the labels that each got.

#5244 Add script to use speaker averaged xvectors in TTS training
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_to_avg_xvectors.py
  egs2/TEMPLATE/tts1/README.md
Labels: Enhancement, TTS, ESPnet2, README

#5267 Fix filling of waveform_buffer with samples for streaming inference
  espnet2/bin/asr_inference_streaming.py
Labels: Bugfix, ASR, ESPnet2, streaming

#5276 Some name update for ml-superb
  egs2/ml_superb/asr1/run_multi.sh
Labels: Recipe, ASR, ESPnet2

#5268 Add support for K2 pruned transducer loss
  doc/espnet2_tutorial.md
  espnet2/asr_transducer/beam_search_transducer.py
  espnet2/asr_transducer/decoder/mega_decoder.py
  espnet2/asr_transducer/decoder/rnn_decoder.py
  espnet2/asr_transducer/decoder/rwkv_decoder.py
  espnet2/asr_transducer/decoder/stateless_decoder.py
  espnet2/asr_transducer/error_calculator.py
  espnet2/asr_transducer/espnet_transducer_model.py
  espnet2/asr_transducer/joint_network.py
  espnet2/tasks/asr_transducer.py
  test/espnet2/asr_transducer/test_espnet_transducer_model.py
Labels: Enhancement, Documentation, ASR, ESPnet2, RNNT

#5306 Fix Transducer doc
  doc/espnet2_tutorial.md
Labels: Documentation, auto-merge

#5291 Update installation.md
  doc/installation.md
Labels: Documentation, auto-merge

#5300 Update install_nkf.sh
  tools/installers/install_nkf.sh
Labels: Bugfix, Installation, auto-merge

#5310 Fix Cython version to pass the installation of libraries with Cython
  setup.py
  tools/installers/install_pyopenjtalk.sh
Labels: Installation, CI

#5315 Update README.md
  README.md
Labels: README

#5316 Update setup.py
  setup.py
Labels: Bugfix, Installation, CI

#5251 Migrate recipe for nit_song070 from Muskit
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/nit_song070/svs1/cmd.sh
  egs2/nit_song070/svs1/conf/decode.yaml
  egs2/nit_song070/svs1/conf/pbs.conf
  egs2/nit_song070/svs1/conf/queue.conf
  egs2/nit_song070/svs1/conf/slurm.conf
  egs2/nit_song070/svs1/conf/train.yaml
  egs2/nit_song070/svs1/conf/tuning/train_naive_rnn.yaml
  egs2/nit_song070/svs1/db.sh
  egs2/nit_song070/svs1/local/data.sh
  egs2/nit_song070/svs1/local/data_prep.py
  egs2/nit_song070/svs1/local/midi-note.scp
  egs2/nit_song070/svs1/local/path.sh
  egs2/nit_song070/svs1/path.sh
  egs2/nit_song070/svs1/pyscripts
  egs2/nit_song070/svs1/run.sh
  egs2/nit_song070/svs1/scripts
  egs2/nit_song070/svs1/svs.sh
  egs2/nit_song070/svs1/utils
Labels: Recipe, ESPnet2, README, auto-merge, Music

#5285 A few updates for asr2 and hubert
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_km_label.py
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_ssl_feature.py
  egs2/TEMPLATE/asr1/pyscripts/feats/ssl_feature_utils.py
  egs2/TEMPLATE/asr1/scripts/feats/perform_kmeans.sh
  egs2/TEMPLATE/asr2/asr2.sh
  egs2/TEMPLATE/ssl1/hubert.sh
  egs2/librispeech/asr2/run.sh
Labels: Enhancement, ESPnet2, auto-merge, SSL

#5272 Add decode_options and hyp_cleaner in evaluate_whisper_inference
  doc/espnet2_tutorial.md
  egs2/TEMPLATE/asr1/pyscripts/utils/evaluate_whisper_inference.py
  egs2/TEMPLATE/asr1/scripts/utils/evaluate_asr.sh
Labels: Enhancement, Documentation, ASR, ESPnet2

#5322 fix a data preparation issue for librimix recipe.
  egs2/librimix/asr1/local/data.sh
  egs2/librimix/sot_asr1/local/data.sh
Labels: Recipe, ASR, ESPnet2, auto-merge

#5297 fix the s3prl frontend gradient backprop bug, ensuring feature_grad_mult=1.0
  espnet2/asr/frontend/s3prl.py
Labels: Bugfix, ESPnet2, auto-merge, SSL

#5328 remove some tests in espnet1 integration test
  ci/test_integration_espnet1.sh
  egs/mini_an4/asr1/conf/decode_transducer.yaml
Labels: CI, auto-merge, ESPnet1

#5274 Fix random segments
  espnet2/gan_tts/utils/get_random_segments.py
Labels: ESPnet2

#5333 Skip CI for draft PR
  .github/workflows/centos7.yml
  .github/workflows/ci.yaml
  .github/workflows/debian11.yml
  .github/workflows/doc.yml
  .github/workflows/draft-pdf.yml
  .github/workflows/macos.yml
  .github/workflows/test_import.yaml
  .github/workflows/windows.yml
Labels: CI

#5334 Update cancel.yml
  .github/workflows/cancel.yml
Labels: CI

#5327 Update several SE recipes and bash scripts
  egs2/TEMPLATE/enh1/enh.sh
  egs2/chime4/enh1/local/data.sh
  egs2/chime4/enh1/local/real_ext_chime4_data_prep.sh
  egs2/chime4/enh1/local/simu_ext_chime4_data_prep.sh
  egs2/librimix/enh1/local/asr_data_prep.sh
  egs2/librimix/enh1/local/data.sh
  egs2/librimix/tse1/README.md
  espnet2/bin/enh_scoring.py
  test/espnet2/bin/test_enh_scoring.py
Labels: Recipe, ESPnet2, README, auto-merge, SE

#5340 Add PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: CI

#5320 PR Labels for CI control
  .github/workflows/centos7.yml
  .github/workflows/ci.yaml
  .github/workflows/debian11.yml
  .github/workflows/doc.yml
  .github/workflows/macos.yml
  .github/workflows/windows.yml
  .gitignore
Labels: CI, Need review

#5343 Split ci into several jobs
  .github/workflows/centos7.yml
  .github/workflows/ci.yaml
  .github/workflows/debian11.yml
  .github/workflows/doc.yml
  ci/test_configuration_espnet2.sh
  ci/test_integration_espnet2.sh
  ci/test_python_espnet1.sh
  ci/test_python_espnet2.sh
  ci/test_shell_espnet1.sh
  ci/test_shell_espnet2.sh
Labels: CI, auto-merge, Need review, RFC

#5335 Update CONTRIBUTING.md
  .mergify.yml
  CONTRIBUTING.md
  doc/faq.md
  docker/README.md
Labels: Documentation, Docker, README, auto-merge, mergify

#5341 Update Scoring for Speech Summarization from NLG-Eval to Huggingface Evaluate
  egs2/TEMPLATE/asr1/pyscripts/utils/score_summarization.py
  egs2/how2_2000h/sum1/local/path.sh
  egs2/how2_2000h/sum1/local/score.sh
  setup.py
  tools/installers/install_longformer.sh
Labels: Installation, ESPnet2, auto-merge, Need review, SSUM

#5351 Fix documentation skip CI
  .github/workflows/doc.yml
Labels: CI

#5349 Update the usage
  doc/espnet1_tutorial.md
  doc/index.rst
  doc/tutorial.md
Labels: Documentation, auto-merge

#5321 Docker Update
  docker/prebuilt/devel.dockerfile
Labels: Docker

#5348 Update installation.md
  README.md
  doc/installation.md
Labels: Documentation, Installation, README, auto-merge

#5355 Fix doc condition
  .github/workflows/doc.yml
Labels: CI

#5357 Update issue templates
  .github/ISSUE_TEMPLATE/question.md
Labels: CI

#5352 Update Contribution.md
  CONTRIBUTING.md
Labels: Documentation, auto-merge

#5354 Fix .mergify condition
  .mergify.yml
Labels: auto-merge, mergify

#5356 Reduce ffmpeg installation time in ci
  .github/workflows/ci.yaml
  tools/installers/install_ffmpeg.sh
Labels: Installation, CI, auto-merge

#5359 Update CI table
  README.md
Labels: README

#5360 Clean workflow files
  .github/workflows/cancel.yml
  .github/workflows/cancel_workflows.yml
  .github/workflows/check_kaldi_symlinks.yaml
  .github/workflows/ci_on_centos7.yml
  .github/workflows/ci_on_debian11.yml
  .github/workflows/ci_on_macos.yml
  .github/workflows/ci_on_ubuntu.yml
  .github/workflows/ci_on_windows.yml
  .github/workflows/publish_doc.yml
  .github/workflows/publish_docker_image.yml
  .github/workflows/publish_paper_pdf.yml
  .github/workflows/publish_python_package.yml
  .github/workflows/test_import.yaml
  .mergify.yml
  CONTRIBUTING.md
  README.md
Labels: CI, README, mergify

#5362 Couple of tweaks for asr2.sh for the HF hub upload
  egs2/TEMPLATE/asr2/asr2.sh
Labels: Recipe, ASR, ESPnet2

#5361 Update TEMPLATE_HF_Readme.md (fix bash typo)
  egs2/TEMPLATE/asr1/scripts/utils/TEMPLATE_HF_Readme.md
Labels: Bugfix, ESPnet2, auto-merge

#5350 Add discrete-token ASR for LibriSpeech 100h
  egs2/librispeech_100/asr2/README.md
  egs2/librispeech_100/asr2/asr2.sh
  egs2/librispeech_100/asr2/cmd.sh
  egs2/librispeech_100/asr2/conf/decode_ctc0.3.yaml
  egs2/librispeech_100/asr2/conf/pbs.conf
  egs2/librispeech_100/asr2/conf/queue.conf
  egs2/librispeech_100/asr2/conf/slurm.conf
  egs2/librispeech_100/asr2/conf/train_discrete_asr_e_branchformer1_1gpu.yaml
  egs2/librispeech_100/asr2/db.sh
  egs2/librispeech_100/asr2/local/data.sh
  egs2/librispeech_100/asr2/local/data_prep.sh
  egs2/librispeech_100/asr2/local/download_and_untar.sh
  egs2/librispeech_100/asr2/local/path.sh
  egs2/librispeech_100/asr2/path.sh
  egs2/librispeech_100/asr2/pyscripts
  egs2/librispeech_100/asr2/run.sh
  egs2/librispeech_100/asr2/scripts
  egs2/librispeech_100/asr2/steps
  egs2/librispeech_100/asr2/utils
Labels: Recipe, ASR, ESPnet2, README, Need review

#5342 Whisper fine-tuning recipes for CHiME-4 and WSJ
  egs2/chime4/asr1/README.md
  egs2/chime4/asr1/conf/tuning/train_asr_whisper_full_warmup1500.yaml
  egs2/wsj/asr1/README.md
  egs2/wsj/asr1/conf/decode_asr_whisper_noctc_greedy.yaml
  egs2/wsj/asr1/conf/tuning/train_asr_whisper_full_warmup3000.yaml
Labels: ASR, ESPnet2, README, auto-merge

#5364 Fix bug in ngram training in slu.sh
  egs2/TEMPLATE/slu1/slu.sh
Labels: Bugfix, ESPnet2, auto-merge, SLU

#5338 Add musdb18 recipe for music source separation
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/musdb18/enh1/cmd.sh
  egs2/musdb18/enh1/conf/pbs.conf
  egs2/musdb18/enh1/conf/queue.conf
  egs2/musdb18/enh1/conf/slurm.conf
  egs2/musdb18/enh1/conf/tuning/train_enh_conv_tasnet.yaml
  egs2/musdb18/enh1/db.sh
  egs2/musdb18/enh1/enh.sh
  egs2/musdb18/enh1/local/data.sh
  egs2/musdb18/enh1/local/path.sh
  egs2/musdb18/enh1/path.sh
  egs2/musdb18/enh1/pyscripts
  egs2/musdb18/enh1/run.sh
  egs2/musdb18/enh1/scripts
  egs2/musdb18/enh1/steps
  egs2/musdb18/enh1/utils
Labels: Recipe, ESPnet2, README, SE, Music, Need review

#5288 Bugfix: JETS CTCLoss
  egs2/kss/tts1/conf/tuning/train_jets.yaml
  egs2/ljspeech/tts1/conf/tuning/train_jets.yaml
  espnet2/gan_tts/jets/alignments.py
  espnet2/gan_tts/jets/generator.py
  espnet2/gan_tts/jets/loss.py
Labels: ESPnet2

#5299 Check the value of `n_shift` == `upsample_factor` in GAN_TTS
  espnet2/gan_tts/espnet_model.py
Labels: TTS, ESPnet2

#5275 MFA format fix
  egs2/TEMPLATE/asr1/pyscripts/utils/mfa_format.py
Labels: Bugfix, TTS, ESPnet2, auto-merge

#5347 ESPnet-SPK: fix data augment
  egs2/TEMPLATE/spk1/spk.sh
  egs2/voxceleb/spk1/local/data.sh
  espnet2/train/preprocessor.py
Labels: Bugfix, ESPnet2, auto-merge, SID, Data aug.

#5265 A few minor fixes for SSL
  egs2/librispeech/ssl1/conf/tuning/train_ssl_torchaudiohubert_base_960h_pretrain_it2_40ms.yaml
  espnet2/asr/encoder/hubert_encoder.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/hubert.py
  espnet2/train/collate_fn.py
  test/espnet2/asr/encoder/test_hubert_encoder.py
  test/espnet2/hubert/test_hubert_espnet_model.py
  test/espnet2/train/test_collate_fn.py
Labels: Recipe, ESPnet2, SSL, Need review

#5346 remove unused file + small typo/style
  espnet2/asr_transducer/encoder/building.py
  espnet2/asr_transducer/encoder/modules/normalization.py
Labels: Refactoring, ESPnet2, RNNT

#5358 ESPnet-SPK: EER validation efficiency improvement
  egs2/voxceleb/spk1/conf/tuning/train_RawNet3.yaml
  egs2/voxceleb/spk1/conf/tuning/train_RawNet3_sgdr_bs.yaml
  espnet2/train/spk_trainer.py
Labels: Enhancement, ESPnet2, SID

#5313 Add causal LM to Hugging Face Transformers Decoder
  espnet2/asr/decoder/hugging_face_transformers_decoder.py
  espnet2/asr/postencoder/length_adaptor_postencoder.py
  espnet2/bin/asr_inference.py
  espnet2/bin/hugging_face_export_vocabulary.py
  espnet2/tasks/asr.py
  espnet2/text/hugging_face_token_id_converter.py
  espnet2/text/hugging_face_tokenizer.py
  espnet2/train/preprocessor.py
  test/espnet2/asr/decoder/test_hugging_face_transformers_decoder.py
  test/espnet2/asr/postencoder/test_length_adaptor_postencoder.py
  test/espnet2/bin/test_asr_inference.py
  test/espnet2/text/test_hugging_face_token_id_converter.py
Labels: New Features, ASR, ESPnet2, LM, Need review

#5326 Make `make_pad_mask` onnx convertible
  espnet/nets/pytorch_backend/nets_utils.py
  test/test_nets_utils.py
Labels: Enhancement, ESPnet1, Need review

#5380 fix numerical error of parallel wavegan compatibility test in CI
  test/espnet2/gan_tts/parallel_wavegan/test_parallel_wavegan.py
Labels: Bugfix, CI, auto-merge

#5379 Add LibriTTS-R recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/asr1/utils/filter_scps.pl
  egs2/libritts_r/tts1/README.md
  egs2/libritts_r/tts1/cmd.sh
  egs2/libritts_r/tts1/conf/decode.yaml
  egs2/libritts_r/tts1/conf/mfcc.conf
  egs2/libritts_r/tts1/conf/pbs.conf
  egs2/libritts_r/tts1/conf/queue.conf
  egs2/libritts_r/tts1/conf/slurm.conf
  egs2/libritts_r/tts1/conf/train.yaml
  egs2/libritts_r/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/libritts_r/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/libritts_r/tts1/conf/tuning/decode_vits.yaml
  egs2/libritts_r/tts1/conf/tuning/train_gst+xvector_conformer_fastspeech2.yaml
  egs2/libritts_r/tts1/conf/tuning/train_gst+xvector_tacotron2.yaml
  egs2/libritts_r/tts1/conf/tuning/train_gst+xvector_transformer.yaml
  egs2/libritts_r/tts1/conf/tuning/train_xvector_conformer_fastspeech2.yaml
  egs2/libritts_r/tts1/conf/tuning/train_xvector_tacotron2.yaml
  egs2/libritts_r/tts1/conf/tuning/train_xvector_transformer.yaml
  egs2/libritts_r/tts1/conf/tuning/train_xvector_vits.yaml
  egs2/libritts_r/tts1/conf/vad.conf
  egs2/libritts_r/tts1/db.sh
  egs2/libritts_r/tts1/local/data.sh
  egs2/libritts_r/tts1/local/data_prep.sh
  egs2/libritts_r/tts1/local/download_and_untar.sh
  egs2/libritts_r/tts1/local/path.sh
  egs2/libritts_r/tts1/local/trim_all_silence.py
  egs2/libritts_r/tts1/path.sh
  egs2/libritts_r/tts1/pyscripts
  egs2/libritts_r/tts1/run.sh
  egs2/libritts_r/tts1/scripts
  egs2/libritts_r/tts1/sid
  egs2/libritts_r/tts1/steps
  egs2/libritts_r/tts1/tts.sh
  egs2/libritts_r/tts1/utils
Labels: Recipe, TTS, ESPnet2, README

#5378 minor fix: correct wrong comments
  egs2/ljspeech/tts1/local/data.sh
  espnet2/gan_tts/hifigan/loss.py
Labels: ESPnet2, auto-merge
