Repository espnet/espnet, pull requests merged in 2023-03, with the labels that each got.

#4977 [SVS] Add Joint-training
  egs2/TEMPLATE/svs1/svs.sh
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/finetune_joint_rnn_hifigan.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/finetune_joint_xiaoice_hifigan.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_joint_rnn_hifigan.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_joint_xiaoice_hifigan.yaml
  egs2/opencpop/svs1/local/data_prep.py
  espnet2/gan_svs/espnet_model.py
  espnet2/gan_svs/joint/__init__.py
  espnet2/gan_svs/joint/joint_score2wav.py
  espnet2/svs/espnet_model.py
  espnet2/svs/naive_rnn/naive_rnn_dp.py
  espnet2/svs/xiaoice/XiaoiceSing.py
  espnet2/tasks/gan_svs.py
  espnet2/tasks/svs.py
Labels: ESPnet2

#4929 Update the chunk iterator for the TSE task
  egs2/librimix/tse1/conf/tuning/train_enh_tse_td_speakerbeam_4gpu_max.yaml
  egs2/mini_an4/tse1/conf/train.yaml
  egs2/mini_an4/tse1/conf/train_random_enrollment.yaml
  egs2/mini_an4/tse1/run.sh
  espnet2/iterators/chunk_iter_factory.py
  espnet2/tasks/abs_task.py
  espnet2/train/preprocessor.py
  test/espnet2/iterators/test_chunk_iter_factory.py
Labels: Refactoring, ESPnet2, auto-merge, SE

#4979 update msuperb LID scoring script
  egs2/msuperb/asr1/local/lid.py
  egs2/msuperb/asr1/local/score.sh
  egs2/msuperb/asr1/local/split_results.py
  egs2/msuperb/asr1/run_single_lang.sh
Labels: ESPnet2

#4982 add multilingual+lid lid score generation
  egs2/msuperb/asr1/local/score.sh
Labels: ESPnet2

#4627 Add python=3.10 to CI
  .github/workflows/ci.yaml
  .github/workflows/macos.yml
  .github/workflows/test_import.yaml
  .github/workflows/windows.yml
  .mergify.yml
  README.md
  ci/install.sh
  ci/test_integration_espnet2.sh
  tools/installers/install_longformer.sh
Labels: Installation, CI, README, mergify

#4983 LID score v2
  egs2/msuperb/asr1/local/lid.py
  egs2/msuperb/asr1/local/score.sh
  egs2/msuperb/asr1/local/split_results.py
Labels: ESPnet2

#4985 Fix ci
  ci/test_integration_espnet2.sh
Labels: CI, auto-merge

#4986 Change to use Ubuntu-latest instead of Ubuntu-18.04 in CI
  .github/workflows/ci.yaml
  .github/workflows/doc.yml
  .mergify.yml
  README.md
  ci/install.sh
  tools/installers/install_k2.sh
Labels: Installation, CI, README, mergify

#4988 Remove six
  ci/test_integration_espnet2.sh
  egs2/TEMPLATE/enh_asr1/scripts/utils/eval_perm_free_error.py
  espnet/asr/chainer_backend/asr.py
  espnet/lm/chainer_backend/lm.py
  espnet/lm/lm_utils.py
  espnet/nets/chainer_backend/deterministic_embed_id.py
  espnet/nets/chainer_backend/e2e_asr_transformer.py
  espnet/nets/chainer_backend/rnn/decoders.py
  espnet/nets/chainer_backend/rnn/encoders.py
  espnet/nets/chainer_backend/rnn/training.py
  espnet/nets/chainer_backend/transformer/training.py
  espnet/nets/ctc_prefix_score.py
  espnet/nets/e2e_asr_common.py
  espnet/nets/pytorch_backend/ctc.py
  espnet/nets/pytorch_backend/e2e_asr.py
  espnet/nets/pytorch_backend/e2e_asr_mix.py
  espnet/nets/pytorch_backend/e2e_asr_mix_transformer.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_st.py
  espnet/nets/pytorch_backend/rnn/attentions.py
  espnet/nets/pytorch_backend/rnn/decoders.py
  espnet/nets/pytorch_backend/rnn/encoders.py
  espnet/nets/pytorch_backend/tacotron2/decoder.py
  espnet/nets/pytorch_backend/tacotron2/encoder.py
  setup.py
  test_utils/test_eval_perm_free_error_py.bats
  utils/eval_perm_free_error.py
  utils/text2vocabulary.py
Labels: Installation, CI, ASR, ESPnet2, auto-merge, LM, ESPnet1

#4997 Modify format_wav_scp.py to support PCM of uint8, int32, float32, float64, etc.
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
Labels: ESPnet2

#5004 Fix Whisper tokenizer CI error
  tools/installers/install_whisper.sh
Labels: Installation, CI

#5003 fix s3prl upstream attribute bug
  espnet2/asr/frontend/s3prl.py
Labels: Bugfix, ESPnet2, SSL

#5009 Fix typeguard version
  setup.py
Labels: Installation, auto-merge

#5014 Modify .pre-commit-config.yaml
  .pre-commit-config.yaml
  tools/installers/patch_mwerSegmenter/hyp2sgm.patch
  tools/installers/patch_mwerSegmenter/sgm2mref.patch
Labels: Installation

#5015 Modify .pre-commit-config.yaml
  .pre-commit-config.yaml
  README.md
  ci/test_python.sh
  egs/libri_css/asr1/diarization/VB_diarization.py
  egs/libri_css/asr1/diarization/calc_cossim_scores.py
  egs/libri_css/asr1/diarization/make_rttm.py
  egs/libri_css/asr1/diarization/spec_clust.py
  egs/libri_css/asr1/diarization/vb_hmm_xvector.py
  egs2/TEMPLATE/asr1/scripts/utils/create_README_file.py
  egs2/jkac/tts1/local/prep_segments.py
  espnet/nets/beam_search_timesync.py
  utils/spm_decode
  utils/spm_encode
Labels: CI, ESPnet2, README, auto-merge, ESPnet1

#5019 [Tuning] iwslt22 low-resource ST decode configuration tuning
  egs2/iwslt22_low_resource/st1/RESULTS.md
  egs2/iwslt22_low_resource/st1/conf/decode_st_full_transformer.yaml
  egs2/iwslt22_low_resource/st1/conf/decode_st_transformer.yaml
  egs2/iwslt22_low_resource/st1/conf/tuning/decode_pen3.yaml
  egs2/iwslt22_low_resource/st1/conf/tuning/decode_pen4.yaml
  egs2/iwslt22_low_resource/st1/run.sh
Labels: Recipe, ST, ESPnet2, auto-merge

#5020 Modify asr.sh
  ci/test_integration_espnet2.sh
  egs2/TEMPLATE/asr1/asr.sh
Labels: CI, New Features, ASR, ESPnet2, auto-merge

#5022 [SVS] Improve visinger
  .gitignore
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_vits.yaml
  egs2/ofuton_p_utagoe_db/svs1/run.sh
  egs2/opencpop/svs1/conf/tuning/train_vits.yaml
  espnet2/gan_svs/espnet_model.py
  espnet2/gan_svs/vits/duration_predictor.py
  espnet2/gan_svs/vits/generator.py
  test/espnet2/gan_svs/visinger/test_visinger.py
Labels: ESPnet2

#5025 Use scripts/utils/print_args.sh instead of pyscripts/utils/print_args.py
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/scripts/utils/print_args.sh
  egs2/TEMPLATE/diar1/diar.sh
  egs2/TEMPLATE/diar1/scripts/utils/print_args.sh
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/enh1/scripts/utils/print_args.sh
  egs2/TEMPLATE/enh_asr1/enh_asr.sh
  egs2/TEMPLATE/enh_asr1/scripts/utils/print_args.sh
  egs2/TEMPLATE/enh_diar1/enh_diar.sh
  egs2/TEMPLATE/enh_diar1/scripts/utils/print_args.sh
  egs2/TEMPLATE/enh_st1/enh_st.sh
  egs2/TEMPLATE/mt1/mt.sh
  egs2/TEMPLATE/slu1/slu.sh
  egs2/TEMPLATE/ssl1/hubert.sh
  egs2/TEMPLATE/st1/st.sh
  egs2/TEMPLATE/svs1/svs.sh
  egs2/TEMPLATE/tts1/tts.sh
  egs2/TEMPLATE/uasr1/scripts/utils/print_args.sh
  egs2/TEMPLATE/uasr1/uasr.sh
Labels: ESPnet2, auto-merge

#5028 Add docstring in extra_path.sh
  tools/extra_path.sh
Labels: Installation, auto-merge

#5029 Update installation.md
  doc/image/environment_structure.png
  doc/installation.md
  tools/README.md
Labels: Documentation, Installation, README

#5030 Update README.md
  tools/README.md
Labels: Installation, README

#5031 Update README.md
  tools/README.md
Labels: Installation, README

#5032 Change bc to python
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/enh_asr1/enh_asr.sh
  egs2/TEMPLATE/enh_st1/enh_st.sh
  egs2/TEMPLATE/slu1/slu.sh
  egs2/TEMPLATE/ssl1/hubert.sh
  egs2/TEMPLATE/st1/st.sh
  egs2/TEMPLATE/uasr1/uasr.sh
Labels: ESPnet2, auto-merge

#5027 Update tools/Makefile and path.sh
  ci/doc.sh
  ci/test_shell.sh
  doc/installation.md
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/path.sh
  egs2/TEMPLATE/asr1/pyscripts/utils/calculate_rtf.py
  egs2/TEMPLATE/asr1/scripts/audio/format_wav_scp.sh
  egs2/TEMPLATE/asr1/scripts/feats/feat_to_shape.sh
  egs2/TEMPLATE/asr1/scripts/utils/remove_punctuation.pl
  egs2/TEMPLATE/diar1/path.sh
  egs2/TEMPLATE/enh1/path.sh
  egs2/TEMPLATE/enh_asr1/path.sh
  egs2/TEMPLATE/enh_diar1/path.sh
  egs2/TEMPLATE/enh_st1/enh_st.sh
  egs2/TEMPLATE/enh_st1/path.sh
  egs2/TEMPLATE/mt1/mt.sh
  egs2/TEMPLATE/mt1/path.sh
  egs2/TEMPLATE/slu1/path.sh
  egs2/TEMPLATE/ssl1/path.sh
  egs2/TEMPLATE/st1/path.sh
  egs2/TEMPLATE/st1/st.sh
  egs2/TEMPLATE/svs1/path.sh
  egs2/TEMPLATE/tts1/README.md
  egs2/TEMPLATE/tts1/path.sh
  egs2/TEMPLATE/uasr1/path.sh
  test_utils/test_spm.bats
  tools/Makefile
  tools/check_install.py
  tools/extra_path.sh
  tools/sentencepiece_commands/spm_decode
  tools/sentencepiece_commands/spm_encode
  tools/sentencepiece_commands/spm_train
Labels: Refactoring, Documentation, Installation, CI, ESPnet2, README

#5038 Fix for format_wav_scp.py
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
Labels: ESPnet2, auto-merge

#5040 Add execute permission to install_ice_g2p.sh
  tools/installers/install_ice_g2p.sh
Labels: Installation, auto-merge

#5039 Bug fix of #5025
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/scripts/utils/print_args.sh
  tools/installers/install_beamformit.sh
Labels: Installation, ESPnet2, auto-merge

#5042 Update README.md
  egs2/TEMPLATE/asr1/steps/README.md
Labels: ESPnet2, README

#5043 Update README.md
  egs2/TEMPLATE/asr1/steps/README.md
Labels: ESPnet2, README

#5045 Update README.md
  egs2/TEMPLATE/asr1/steps/README.md
Labels: ESPnet2, README

#5044 Update README.md
  egs2/csj/asr1/README.md
Labels: Recipe, ASR, ESPnet2, README, auto-merge, streaming

#5046 Add installers/install_ffmpeg.sh
  doc/installation.md
  tools/Makefile
  tools/check_install.py
  tools/extra_path.sh
  tools/installers/install_ffmpeg.sh
Labels: Documentation, Installation, auto-merge

#4978 fix: resolve upgrade issues with praatio 6.0; lock praatio version
  egs2/librispeech/ssl1/local/dump_librispeech_alignment_from_textgrid.py
  setup.py
Labels: Bugfix, Installation, ESPnet2, auto-merge

#5052 Add miniconda in gitignore
  .gitignore
Labels: Bugfix, auto-merge

#4999 CHiME-7 DASR fixes from participants feedback
  egs2/chime7_task1/asr1/README.md
  egs2/chime7_task1/asr1/baseline_logs/RESULTS.md
  egs2/chime7_task1/asr1/baseline_logs/inference.log
  egs2/chime7_task1/asr1/local/asr2json.py
  egs2/chime7_task1/asr1/local/check_data_gen.py
  egs2/chime7_task1/asr1/local/chime7_dasr_md5.json
  egs2/chime7_task1/asr1/local/da_wer_scoring.py
  egs2/chime7_task1/asr1/local/data.sh
  egs2/chime7_task1/asr1/local/gen_task1_data.py
  egs2/chime7_task1/asr1/local/gen_task1_data.sh
  egs2/chime7_task1/asr1/local/get_lhotse_manifests.py
  egs2/chime7_task1/asr1/local/gss2lhotse.py
  egs2/chime7_task1/asr1/local/gss_micrank.py
  egs2/chime7_task1/asr1/local/install_dependencies.sh
  egs2/chime7_task1/asr1/local/run_gss.sh
  egs2/chime7_task1/asr1/run.sh
  tools/installers/install_gss.sh
Labels: Recipe, Installation, ASR, ESPnet2, README, auto-merge

#5055 Fix the condition for maxlen warning in beam search
  espnet/nets/beam_search.py
Labels: Bugfix, auto-merge, ESPnet1

#4876 [WIP] Support Multi-Blank Transducer in Espnet2
  ci/test_integration_espnet2.sh
  egs2/librispeech/asr1/README.md
  egs2/librispeech/asr1/conf/tuning/transducer/decode_multi_blank_transducer.yaml
  egs2/librispeech/asr1/conf/tuning/transducer/train_conformer-rnn_transducer_multi_blank.yaml
  egs2/mini_an4/asr1/conf/decode_multi_blank_transducer.yaml
  espnet2/asr/espnet_model.py
  espnet2/asr/transducer/beam_search_transducer.py
  espnet2/asr/transducer/rnnt_multi_blank/__init__.py
  espnet2/asr/transducer/rnnt_multi_blank/rnnt.py
  espnet2/asr/transducer/rnnt_multi_blank/rnnt_multi_blank.py
  espnet2/asr/transducer/rnnt_multi_blank/utils/__init__.py
  espnet2/asr/transducer/rnnt_multi_blank/utils/cpu_utils/__init__.py
  espnet2/asr/transducer/rnnt_multi_blank/utils/cpu_utils/cpu_rnnt.py
  espnet2/asr/transducer/rnnt_multi_blank/utils/cuda_utils/__init__.py
  espnet2/asr/transducer/rnnt_multi_blank/utils/cuda_utils/gpu_rnnt.py
  espnet2/asr/transducer/rnnt_multi_blank/utils/cuda_utils/gpu_rnnt_kernel.py
  espnet2/asr/transducer/rnnt_multi_blank/utils/cuda_utils/reduce.py
  espnet2/asr/transducer/rnnt_multi_blank/utils/global_constants.py
  espnet2/asr/transducer/rnnt_multi_blank/utils/rnnt_helper.py
  espnet2/bin/asr_inference.py
  espnet2/tasks/asr.py
  test/espnet2/asr/test_espnet_model.py
  test/espnet2/asr/transducer/test_transducer_beam_search.py
Labels: CI, New Features, ASR, ESPnet2, README, RNNT

#5060 Fix chime7 DASR task1 run.sh
  egs2/chime7_task1/asr1/run.sh
Labels: ESPnet2, auto-merge

#5061 CHiME-7 DASR recipe, fix display bug for scenario-wide DER and JER
  egs2/chime7_task1/asr1/local/da_wer_scoring.py
Labels: ESPnet2, auto-merge

#5062 Add test_format_wav_scp_sh.bats
  ci/test_shell.sh
  test_utils/espnet2_scripts/test_format_wav_scp_sh.bats
Labels: CI, auto-merge

#5063 Update documentation
  doc/espnet2_format_wav_scp.md
  doc/image/environment_structure.png
  doc/index.rst
  doc/installation.md
  doc/parallelization.md
  egs2/TEMPLATE/asr1/pyscripts/README.md
  egs2/TEMPLATE/asr1/scripts/README.md
  tools/README.md
Labels: Documentation, Installation, ESPnet2, README

#5066 Update check_install.py
  tools/check_install.py
Labels: Installation, auto-merge

#5068 Tedlium3 recipe
  egs2/README.md
  egs2/tedlium3/asr1/README.md
  egs2/tedlium3/asr1/asr.sh
  egs2/tedlium3/asr1/cmd.sh
  egs2/tedlium3/asr1/conf/decode.yaml
  egs2/tedlium3/asr1/conf/fbank.conf
  egs2/tedlium3/asr1/conf/pbs.conf
  egs2/tedlium3/asr1/conf/pitch.conf
  egs2/tedlium3/asr1/conf/queue.conf
  egs2/tedlium3/asr1/conf/slurm.conf
  egs2/tedlium3/asr1/conf/train.yaml
  egs2/tedlium3/asr1/conf/train_lm.yaml
  egs2/tedlium3/asr1/conf/tuning/decode_asr.yaml
  egs2/tedlium3/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/tedlium3/asr1/conf/tuning/train_lm_transformer.yaml
  egs2/tedlium3/asr1/db.sh
  egs2/tedlium3/asr1/local/data.sh
  egs2/tedlium3/asr1/local/download_data.sh
  egs2/tedlium3/asr1/local/join_suffix.py
  egs2/tedlium3/asr1/local/path.sh
  egs2/tedlium3/asr1/local/prepare_data.sh
  egs2/tedlium3/asr1/path.sh
  egs2/tedlium3/asr1/pyscripts
  egs2/tedlium3/asr1/run.sh
  egs2/tedlium3/asr1/scripts
  egs2/tedlium3/asr1/steps
  egs2/tedlium3/asr1/utils
Labels: Recipe, ASR, ESPnet2, README
