Repository espnet/espnet, pull requests merged in 2023-12, with the labels that each got.

#5561 Add Discord Server link
  README.md
Labels: README

#5578 Update Discord Invitation Link
  README.md
Labels: README, auto-merge

#5522 Added data.sh to SPRING-INX IITM Recipe
  egs2/spring_speech/local/data.sh
  egs2/spring_speech/local/path.sh
Labels: Recipe, ASR, ESPnet2, auto-merge

#5372 Add espnetez
  egsez/asr/finetune_with_lora.yaml
  egsez/asr/libri100.ipynb
  egsez/asr/libri100_finetune.ipynb
  egsez/asr/preprocess.yaml
  egsez/asr/train_asr_e_branchformer_size256_mlp1024_linear1024_e12_mactrue_edrop0.0_ddrop0.0.yaml
  egsez/tts/finetune.yaml
  egsez/tts/tacotron2.ipynb
  egsez/tts/tacotron2.yaml
  egsez/tts/tacotron2_finetune.ipynb
  espnetez/__init__.py
  espnetez/config.py
  espnetez/data/__init__.py
  espnetez/data/dump.py
  espnetez/preprocess/__init__.py
  espnetez/preprocess/sentencepiece.py
  espnetez/preprocess/tokenizer.py
  espnetez/task.py
  espnetez/trainer.py
  espnetez/utils.py
Labels: New Features, TTS, ASR, ESPnet2

#5590 fix inference with teacher forcing using speech in text2wav model
  espnet2/tts/espnet_model.py
Labels: Bugfix, TTS, ESPnet2

#5581 Make minlenratio effective
  espnet/nets/batch_beam_search.py
  espnet/nets/batch_beam_search_online.py
  espnet/nets/batch_beam_search_online_sim.py
  espnet/nets/beam_search.py
  espnet2/bin/asr_inference.py
  espnet2/bin/asr_inference_streaming.py
  espnet2/bin/mt_inference.py
  espnet2/bin/s2st_inference.py
  espnet2/bin/s2t_inference.py
  espnet2/bin/s2t_inference_language.py
  espnet2/bin/slu_inference.py
  espnet2/bin/st_inference.py
  espnet2/bin/st_inference_streaming.py
Labels: Bugfix, ESPnet2, ESPnet1

#5485 TTS evaluation script and monitoring functionality using MOS prediction model
  egs2/TEMPLATE/asr1/pyscripts/utils/evaluate_pseudomos.py
  egs2/TEMPLATE/tts1/README.md
  egs2/jsut/tts1/conf/tuning/train_full_band_vits.yaml
  egs2/jsut/tts1/conf/tuning/train_vits.yaml
  egs2/libritts/tts1/conf/tuning/train_xvector_vits.yaml
  egs2/libritts_r/tts1/conf/tuning/train_xvector_vits.yaml
  egs2/ljspeech/tts1/conf/tuning/train_vits.yaml
  egs2/vctk/tts1/conf/tuning/train_full_band_multi_spk_vits.yaml
  egs2/vctk/tts1/conf/tuning/train_multi_spk_vits.yaml
  egs2/vctk/tts1/conf/tuning/train_speechbrain_xvector_vits.yaml
  egs2/vctk/tts1/conf/tuning/train_xvector_vits.yaml
  espnet2/gan_tts/jets/jets.py
  espnet2/gan_tts/vits/vits.py
  test/espnet2/gan_tts/jets/test_jets.py
  test/espnet2/gan_tts/vits/test_vits.py
  test_utils/test_evaluate_pseudomos.bats
Labels: New Features, TTS, ESPnet2, README

#5595 [SVS] fix download acesinger
  egs2/acesinger/svs1/local/data.sh
Labels: ESPnet2

#5598 Minor fix to ACEsinger preparation
  egs2/acesinger/svs1/README.md
  egs2/acesinger/svs1/local/data_prep.py
Labels: Recipe, ESPnet2, README, auto-merge, Music

#5600 Tts2 support parallel_wavgan vocoder
  egs2/TEMPLATE/tts2/tts2.sh
  egs2/ljspeech/tts1/conf/tuning/train_tacotron2.yaml
  egs2/ljspeech/tts2/conf/train_fastspeech2.yaml
  egs2/ljspeech/tts2/run.sh
  espnet2/bin/tts2_inference.py
  espnet2/bin/tts2_train.py
  espnet2/tasks/tts2.py
  espnet2/tts2/abs_tts2.py
  espnet2/tts2/espnet_model.py
  espnet2/tts2/fastspeech2/__init__.py
  espnet2/tts2/fastspeech2/fastspeech2_discrete.py
  espnet2/tts2/fastspeech2/loss.py
  espnet2/tts2/fastspeech2/variance_predictor.py
  espnet2/tts2/feats_extract/abs_feats_extract.py
  espnet2/tts2/feats_extract/identity.py
  espnet2/tts2/gst/__init__.py
  espnet2/tts2/gst/style_encoder.py
Labels: ESPnet2

#5605 [WIP] KiSingV2 Recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/kising/svs1/README.md
  egs2/kising/svs1/cmd.sh
  egs2/kising/svs1/conf/pbs.conf
  egs2/kising/svs1/conf/queue.conf
  egs2/kising/svs1/conf/slurm.conf
  egs2/kising/svs1/conf/tuning/decode_vits.yaml
  egs2/kising/svs1/conf/tuning/train_visinger.yaml
  egs2/kising/svs1/conf/tuning/train_visinger2_all.yaml
  egs2/kising/svs1/conf/tuning/train_visinger2_original.yaml
  egs2/kising/svs1/db.sh
  egs2/kising/svs1/local/data.sh
  egs2/kising/svs1/local/data_prep.py
  egs2/kising/svs1/local/download_wget.sh
  egs2/kising/svs1/local/midi-note.scp
  egs2/kising/svs1/local/notes.md
  egs2/kising/svs1/local/path.sh
  egs2/kising/svs1/local/pinyin_dict.py
  egs2/kising/svs1/path.sh
  egs2/kising/svs1/pyscripts
  egs2/kising/svs1/run.sh
  egs2/kising/svs1/scripts
  egs2/kising/svs1/svs.sh
  egs2/kising/svs1/utils
Labels: Recipe, ESPnet2, README, Music
