Repository espnet/espnet, pull requests merged in 2023-04, with the labels that each got.

#5074 Bug Fix: pretrained s3prl-frontend based models loaded with parameters key mismatch error
  espnet2/tasks/abs_task.py
Labels: Bugfix, ESPnet2, auto-merge, SSL

#5075 Mechanism for multi channels input using multi columns wav.scp
  doc/espnet2_format_wav_scp.md
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/pyscripts/audio/compute_vad.py
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_xvectors.py
  egs2/TEMPLATE/asr1/pyscripts/utils/remove_duplicate_keys.py
  egs2/TEMPLATE/asr1/scripts/audio/format_wav_scp.sh
  egs2/TEMPLATE/enh1/scripts/utils/calculate_speech_metrics.py
  espnet2/bin/enh_scoring.py
  espnet2/fileio/npy_scp.py
  espnet2/fileio/read_text.py
  espnet2/fileio/score_scp.py
  espnet2/fileio/sound_scp.py
  espnet2/fileio/vad_scp.py
  espnet2/samplers/folded_batch_sampler.py
  espnet2/samplers/unsorted_batch_sampler.py
  espnet2/train/dataset.py
  setup.py
  test/espnet2/fileio/test_npy_scp.py
  test/espnet2/fileio/test_read_text.py
  test/espnet2/fileio/test_sound_scp.py
  test_utils/espnet2_scripts/test_format_wav_scp_sh.bats
Labels: Documentation, Installation, New Features, ESPnet2, auto-merge

#5067 Clean ML-SUPERB
  egs2/README.md
  egs2/ml_superb/asr1/README.md
  egs2/ml_superb/asr1/asr.sh
  egs2/ml_superb/asr1/cmd.sh
  egs2/ml_superb/asr1/conf/decode_asr.yaml
  egs2/ml_superb/asr1/conf/fbank.conf
  egs2/ml_superb/asr1/conf/pbs.conf
  egs2/ml_superb/asr1/conf/pitch.conf
  egs2/ml_superb/asr1/conf/queue.conf
  egs2/ml_superb/asr1/conf/slurm.conf
  egs2/ml_superb/asr1/conf/train_asr.yaml
  egs2/ml_superb/asr1/conf/tuning/train_asr_fbank_10min.yaml
  egs2/ml_superb/asr1/conf/tuning/train_asr_fbank_1h.yaml
  egs2/ml_superb/asr1/conf/tuning/train_asr_fbank_single.yaml
  egs2/ml_superb/asr1/conf/tuning/train_asr_s3prl_10min.yaml
  egs2/ml_superb/asr1/conf/tuning/train_asr_s3prl_1h.yaml
  egs2/ml_superb/asr1/conf/tuning/train_asr_s3prl_single.yaml
  egs2/ml_superb/asr1/db.sh
  egs2/ml_superb/asr1/local/data.sh
  egs2/ml_superb/asr1/local/data_prep.py
  egs2/ml_superb/asr1/local/lid.py
  egs2/ml_superb/asr1/local/linguistic_tree.py
  egs2/ml_superb/asr1/local/mono_superb_score.py
  egs2/ml_superb/asr1/local/multi_superb_score.py
  egs2/ml_superb/asr1/local/path.sh
  egs2/ml_superb/asr1/local/score.sh
  egs2/ml_superb/asr1/local/single_lang_data_prep.py
  egs2/ml_superb/asr1/local/split_results.py
  egs2/ml_superb/asr1/path.sh
  egs2/ml_superb/asr1/pyscripts
  egs2/ml_superb/asr1/run.sh
  egs2/ml_superb/asr1/run_mono.sh
  egs2/ml_superb/asr1/run_multi.sh
  egs2/ml_superb/asr1/scripts
  egs2/ml_superb/asr1/steps
  egs2/ml_superb/asr1/utils
  egs2/msuperb/asr1/conf/train_asr.yaml
  egs2/msuperb/asr1/conf/train_lm.yaml
  egs2/msuperb/asr1/local/score.sh
Labels: ESPnet2, README

#5088 Chime7-task1 diarization (updated results)
  egs2/chime7_task1/asr1/local/da_wer_scoring.py
  egs2/chime7_task1/diar_asr1/README.md
  egs2/chime7_task1/diar_asr1/baseline_logs/inference.log
  egs2/chime7_task1/diar_asr1/run.sh
Labels: ESPnet2, README, auto-merge

#5084 Add InterCTC to E-Branchformer encoder, and the ability to save InterCTC inference output to files
  espnet2/asr/encoder/e_branchformer_encoder.py
  espnet2/bin/asr_inference.py
  test/espnet2/asr/encoder/test_e_branchformer_encoder.py
  test/espnet2/bin/test_asr_inference.py
Labels: Enhancement, ASR, ESPnet2, auto-merge

#5094 [SVS] Bug fix: sample rate
  egs2/TEMPLATE/svs1/svs.sh
Labels: ESPnet2, auto-merge

#5106 Add kaldi steps/libs
  egs2/TEMPLATE/asr1/steps/libs/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/common.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/report/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/report/log_parse.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/chain_objf/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/chain_objf/acoustic_model.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/common.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/dropout_schedule.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/frame_level_objf/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/frame_level_objf/acoustic_model.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/frame_level_objf/common.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/frame_level_objf/raw_model.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/attention.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/basic_layers.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/composite_layers.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/convolution.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/gru.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/layers.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/lstm.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/parser.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/stats_layer.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/trivial_layers.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/utils.py
Labels: Bugfix, ESPnet2, auto-merge

#5107 Fix sentencepice version to v0.1.97
  setup.py
Labels: Installation, auto-merge

#5111 Drop PyTorch<=1.9
  .github/workflows/ci.yaml
  .mergify.yml
  README.md
Labels: CI, README, mergify

#5110 Update installers/install_kenlm.sh
  tools/installers/install_kenlm.sh
Labels: Enhancement, Installation, auto-merge

#5116 Fix typo in espnet2_format_wav_scp.md
  doc/espnet2_format_wav_scp.md
Labels: Documentation, auto-merge

#5112 Dtype for Speechbrain
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_xvectors.py
  tools/installers/install_speechbrain.sh
Labels: Installation, ESPnet2

#5119 Add test of soundfile for Makefile
  tools/Makefile
  tools/test_soundfile.py
Labels: Installation, auto-merge

#5122 Add lm_inference for conditional text generation
  espnet/nets/beam_search.py
  espnet2/bin/lm_inference.py
  test/espnet2/bin/test_lm_inference.py
Labels: New Features, ESPnet2, auto-merge, LM, ESPnet1

#5102 CHiME-7 diarization (updated README.md)
  egs2/chime7_task1/asr1/run.sh
  egs2/chime7_task1/diar_asr1/README.md
  egs2/chime7_task1/diar_asr1/run.sh
Labels: ASR, ESPnet2, README, auto-merge

#5128 [WIP] Update Docker
  docker/.default_args
  docker/README.md
  docker/build.sh
  docker/prebuilt/devel.dockerfile
  docker/prebuilt/gpu.dockerfile
  docker/prebuilt/runtime.dockerfile
Labels: Docker, README, auto-merge

#5103 Fix several bugs and improve function design in SE
  espnet2/bin/enh_inference.py
  espnet2/enh/decoder/stft_decoder.py
  espnet2/enh/encoder/stft_encoder.py
  espnet2/enh/loss/criterions/time_domain.py
  espnet2/enh/loss/wrappers/multilayer_pit_solver.py
  espnet2/enh/separator/dan_separator.py
  espnet2/enh/separator/dpcl_e2e_separator.py
  espnet2/enh/separator/dpcl_separator.py
  espnet2/enh/separator/ineube_separator.py
  espnet2/enh/separator/tfgridnet_separator.py
  espnet2/fileio/sound_scp.py
  espnet2/train/preprocessor.py
  test/espnet2/enh/decoder/test_stft_decoder.py
  test/espnet2/enh/encoder/test_stft_encoder.py
  test/espnet2/enh/loss/criterions/test_time_domain.py
  test/espnet2/enh/loss/wrappers/test_multilayer_pit_solver.py
Labels: Enhancement, Bugfix, ESPnet2, SE

#5124 [SVS] Update XiaoiceSing
  egs2/TEMPLATE/asr1/scripts/audio/format_score_scp.sh
  egs2/opencpop/svs1/conf/tuning/train_xiaoice.yaml
  espnet2/bin/svs_inference.py
  espnet2/gan_svs/espnet_model.py
  espnet2/gan_svs/joint/joint_score2wav.py
  espnet2/gan_svs/vits/vits.py
  espnet2/svs/espnet_model.py
  espnet2/svs/naive_rnn/naive_rnn.py
  espnet2/svs/naive_rnn/naive_rnn_dp.py
  espnet2/svs/xiaoice/XiaoiceSing.py
  espnet2/svs/xiaoice/loss.py
  espnet2/train/preprocessor.py
Labels: ESPnet2

#5139 Add missing filter_scps scripts and note about kaldi for diarization example of mini_librispeech
  egs2/TEMPLATE/asr1/utils/filter_scps.pl
  egs2/mini_librispeech/diar1/NOTE.md
Labels: ESPnet2

#5144 Bump up the debian version to 11
  .github/workflows/debian11.yml
  .mergify.yml
Labels: CI, auto-merge, mergify

#5143 Bug fixing and improvement in SE functions
  egs2/TEMPLATE/enh1/enh.sh
  egs2/librimix/enh1/local/data.sh
  espnet2/bin/asr_inference.py
  espnet2/bin/enh_scoring.py
  espnet2/enh/espnet_enh_s2t_model.py
  espnet2/enh/espnet_model.py
  espnet2/iterators/chunk_iter_factory.py
Labels: Enhancement, Bugfix, ESPnet2, SE

#5127 Add data augmentation to ReazonSpeech recipe
  egs2/reazonspeech/asr1/README.md
  egs2/reazonspeech/asr1/local/augment.py
  egs2/reazonspeech/asr1/local/data.py
  egs2/reazonspeech/asr1/local/data.sh
  egs2/reazonspeech/asr1/local/path.sh
  egs2/reazonspeech/asr1/local/symbol.txt
Labels: Recipe, ASR, ESPnet2, README, auto-merge

#5097 Update error calculator for transducer
  espnet2/asr_transducer/error_calculator.py
  espnet2/asr_transducer/espnet_transducer_model.py
  test/espnet2/asr_transducer/test_error_calculator_transducer.py
Labels: ASR, ESPnet2, auto-merge, RNNT

#5146 Update README.md about debian
  .github/workflows/cancel.yml
  README.md
  doc/installation.md
Labels: Documentation, CI, README, auto-merge

#5138 Fix issues in split scps
  espnet2/bin/split_scps.py
Labels: ESPnet2

#5149 fix 5148
  egs2/TEMPLATE/asr1/asr.sh
Labels: Bugfix, ESPnet2, auto-merge

#5150 fix format_wav_scp.py
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
  espnet2/fileio/sound_scp.py
Labels: Bugfix, ESPnet2, auto-merge

#5147 Add more stats to the training log
  espnet2/train/trainer.py
Labels: Enhancement, ESPnet2
