Repository espnet/espnet, pull requests merged in 2024-03, with the labels that each got.

#5692 Quick fix to calculation of bitrate
  egs2/TEMPLATE/asr1/pyscripts/utils/calculate_bitrate.py
Labels: Bugfix, Recipe, ESPnet2, auto-merge

#5693 Add Readme for Voxtlm
  egs2/voxtlm_v1/lm1/README.md
Labels: ESPnet2, README, auto-merge

#5709 Adding transformer_opt
  egs2/voxtlm_v1/lm1/conf/decode_lm_asr.yaml
  egs2/voxtlm_v1/lm1/conf/train_transformer_opt350.yaml
  espnet2/lm/huggingface_pretrained_opt_lm.py
  espnet2/tasks/lm.py
Labels: ESPnet2, auto-merge, LM

#5714 Fix stage references in generated run.sh in TTS recipes
  egs2/TEMPLATE/tts1/tts.sh
Labels: Bugfix, TTS, ESPnet2, auto-merge

#5703 fix a small issue in OWSM decode_long
  espnet2/bin/s2t_inference.py
Labels: Bugfix, ESPnet2, OWSM

#5710 TF-GridNet training recipe for DNS Interspeech 2020 dataset
  egs2/dns_ins20/enh1/README.md
  egs2/dns_ins20/enh1/conf/tuning/train_enh_tfgridnet.yaml
Labels: ESPnet2, README, auto-merge, SE

#5715 Fix tts packing with new spk embedding
  egs2/TEMPLATE/tts1/tts.sh
Labels: Bugfix, ESPnet2, auto-merge

#5687 ESPnet-SPK: add ASVspoof19 SASV recipe
  egs2/TEMPLATE/spk1/db.sh
  egs2/asvspoof/spk1/README.md
  egs2/asvspoof/spk1/cmd.sh
  egs2/asvspoof/spk1/conf/decode.yaml
  egs2/asvspoof/spk1/conf/fbank.conf
  egs2/asvspoof/spk1/conf/pbs.conf
  egs2/asvspoof/spk1/conf/pitch.conf
  egs2/asvspoof/spk1/conf/queue.conf
  egs2/asvspoof/spk1/conf/slurm.conf
  egs2/asvspoof/spk1/conf/train_ECAPA_mel.yaml
  egs2/asvspoof/spk1/conf/train_SKA_mel.yaml
  egs2/asvspoof/spk1/conf/train_mfa_conformer.yaml
  egs2/asvspoof/spk1/conf/train_rawnet3.yaml
  egs2/asvspoof/spk1/conf/train_xvector.yaml
  egs2/asvspoof/spk1/db.sh
  egs2/asvspoof/spk1/local/asv_data_prep.py
  egs2/asvspoof/spk1/local/cat_spk_utt.py
  egs2/asvspoof/spk1/local/cm_data_prep.py
  egs2/asvspoof/spk1/local/convert_protocol.py
  egs2/asvspoof/spk1/local/convert_trial.py
  egs2/asvspoof/spk1/local/data.sh
  egs2/asvspoof/spk1/local/make_subprotocols.py
  egs2/asvspoof/spk1/local/path.sh
  egs2/asvspoof/spk1/path.sh
  egs2/asvspoof/spk1/pyscripts
  egs2/asvspoof/spk1/run.sh
  egs2/asvspoof/spk1/scripts
  egs2/asvspoof/spk1/spk.sh
  egs2/asvspoof/spk1/steps
  egs2/asvspoof/spk1/utils
Labels: ESPnet2, README, SID

#5722 Fix LoRA issues when saving all parameters.
  espnet2/layers/create_adapter_fn.py
Labels: Bugfix, ESPnet2, auto-merge
