Repository espnet/espnet, pull requests merged in 2024-02, with the labels that each got.

#5635 SVS recipe for the JSUT-song corpus
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/jsut_song/svs1/cmd.sh
  egs2/jsut_song/svs1/conf/decode.yaml
  egs2/jsut_song/svs1/conf/pbs.conf
  egs2/jsut_song/svs1/conf/queue.conf
  egs2/jsut_song/svs1/conf/slurm.conf
  egs2/jsut_song/svs1/conf/train.yaml
  egs2/jsut_song/svs1/conf/tuning/train_naive_rnn.yaml
  egs2/jsut_song/svs1/db.sh
  egs2/jsut_song/svs1/local/README.md
  egs2/jsut_song/svs1/local/data.sh
  egs2/jsut_song/svs1/local/data_prep.py
  egs2/jsut_song/svs1/local/path.sh
  egs2/jsut_song/svs1/path.sh
  egs2/jsut_song/svs1/pyscripts
  egs2/jsut_song/svs1/run.sh
  egs2/jsut_song/svs1/scripts
  egs2/jsut_song/svs1/svs.sh
  egs2/jsut_song/svs1/utils
Labels: Recipe, ESPnet2, README, Music

#5649 Added clean speech results
  egs/chime4/asr1/RESULTS.md
Labels: README, auto-merge, ESPnet1

#5651 Update version to 202402
  espnet/version.txt
Labels: auto-merge, ESPnet1

#5646 Update espnet_model.py
  espnet2/enh/espnet_model.py
Labels: Enhancement, ESPnet2

#5653 Add script to make release note from milestone
  doc/make_release_note_from_milestone.py
Labels: Documentation

#5627 add interspeech2024_dsu_challenge/asr2
  egs2/README.md
  egs2/interspeech2024_dsu_challenge/asr2/README.md
  egs2/interspeech2024_dsu_challenge/asr2/asr2.sh
  egs2/interspeech2024_dsu_challenge/asr2/cmd.sh
  egs2/interspeech2024_dsu_challenge/asr2/conf/decode_ctc0.3.yaml
  egs2/interspeech2024_dsu_challenge/asr2/conf/pbs.conf
  egs2/interspeech2024_dsu_challenge/asr2/conf/queue.conf
  egs2/interspeech2024_dsu_challenge/asr2/conf/slurm.conf
  egs2/interspeech2024_dsu_challenge/asr2/conf/tuning/train_discrete_asr_e_branchformer1_1gpu_lr5e-4_warmup5k.yaml
  egs2/interspeech2024_dsu_challenge/asr2/db.sh
  egs2/interspeech2024_dsu_challenge/asr2/local/data.sh
  egs2/interspeech2024_dsu_challenge/asr2/local/data_ls100.sh
  egs2/interspeech2024_dsu_challenge/asr2/local/data_mlsuperb.sh
  egs2/interspeech2024_dsu_challenge/asr2/local/data_prep.py
  egs2/interspeech2024_dsu_challenge/asr2/local/data_prep.sh
  egs2/interspeech2024_dsu_challenge/asr2/local/download_and_untar.sh
  egs2/interspeech2024_dsu_challenge/asr2/local/path.sh
  egs2/interspeech2024_dsu_challenge/asr2/path.sh
  egs2/interspeech2024_dsu_challenge/asr2/pyscripts
  egs2/interspeech2024_dsu_challenge/asr2/run.sh
  egs2/interspeech2024_dsu_challenge/asr2/scripts
  egs2/interspeech2024_dsu_challenge/asr2/steps
  egs2/interspeech2024_dsu_challenge/asr2/utils
Labels: Recipe, ASR, ESPnet2, README, auto-merge

#5659 ESPnet-SPK: add SdSV 2021 recipe
  egs2/README.md
  egs2/TEMPLATE/spk1/db.sh
  egs2/sdsv21/spk1/README.md
  egs2/sdsv21/spk1/cmd.sh
  egs2/sdsv21/spk1/conf/decode.yaml
  egs2/sdsv21/spk1/conf/fbank.conf
  egs2/sdsv21/spk1/conf/pbs.conf
  egs2/sdsv21/spk1/conf/pitch.conf
  egs2/sdsv21/spk1/conf/queue.conf
  egs2/sdsv21/spk1/conf/slurm.conf
  egs2/sdsv21/spk1/conf/train_rawnet3.yaml
  egs2/sdsv21/spk1/db.sh
  egs2/sdsv21/spk1/local/commonvoice_data_prep.py
  egs2/sdsv21/spk1/local/convert_trial.py
  egs2/sdsv21/spk1/local/crawl_voxcelebs.py
  egs2/sdsv21/spk1/local/crawl_voxcelebs_mp.py
  egs2/sdsv21/spk1/local/data.sh
  egs2/sdsv21/spk1/local/data_prep.py
  egs2/sdsv21/spk1/local/generate_trial_file.py
  egs2/sdsv21/spk1/local/librispeech_flac2wav.py
  egs2/sdsv21/spk1/local/path.sh
  egs2/sdsv21/spk1/local/remove_unopenable_files.py
  egs2/sdsv21/spk1/local/sampledeepmine_prep.py
  egs2/sdsv21/spk1/path.sh
  egs2/sdsv21/spk1/pyscripts
  egs2/sdsv21/spk1/run.sh
  egs2/sdsv21/spk1/scripts
  egs2/sdsv21/spk1/spk.sh
  egs2/sdsv21/spk1/steps
  egs2/sdsv21/spk1/utils
Labels: Recipe, ESPnet2, README, SID

#5657 Add E-Branchformer model for FLEURS
  egs2/fleurs/asr1/README.md
  egs2/fleurs/asr1/conf/tuning/train_asr_ebf_scctc.yaml
Labels: Recipe, ASR, ESPnet2, README, auto-merge

#5668 Fix loading pre-trained model from transformers
  espnet2/tasks/abs_task.py
Labels: Bugfix, ESPnet2, auto-merge, SLU

#5671 Fix speed perturbation when not using transcript in slu.sh
  egs2/TEMPLATE/slu1/slu.sh
Labels: Bugfix, ESPnet2, SLU

#5609 Integrate adapter for s3prl frontend
  egs2/ml_superb/asr1/README.md
  egs2/ml_superb/asr1/conf/tuning/train_asr_s3prl_houlsby.yaml
  egs2/ml_superb/asr1/conf/tuning/train_asr_s3prl_lora.yaml
  espnet2/layers/create_adapter.py
  espnet2/layers/create_adapter_fn.py
  espnet2/layers/create_adapter_utils.py
  espnet2/layers/create_lora_adapter.py
  espnet2/layers/houlsby_adapter_layer.py
  espnet2/tasks/abs_task.py
  espnet2/train/trainer.py
  test/espnet2/layers/test_create_adapter.py
  test/espnet2/layers/test_create_adapter_fn.py
  test/espnet2/layers/test_create_lora_adapter.py
  test/espnet2/layers/test_houlsby_adapter_layer.py
Labels: New Features, ASR, ESPnet2, README

#5661 Add evaluation scripts with DiscreteSpeechMetrics.
  egs2/TEMPLATE/asr1/pyscripts/utils/evaluate_speechbertscore.py
  egs2/TEMPLATE/asr1/pyscripts/utils/evaluate_speechbleu.py
  egs2/TEMPLATE/tts1/README.md
  tools/Makefile
  tools/check_install.py
  tools/installers/install_discrete_speech_metrics.sh
Labels: Installation, New Features, TTS, ESPnet2, README, auto-merge

#5672 Fix CI Multilingual ST test
  .gitignore
  setup.py
  test_utils/test_addjson_py.bats
  test_utils/test_concatjson_py.bats
  test_utils/test_data2json_sh.bats
  test_utils/test_make_pair_json_py.bats
  test_utils/test_merge_scp2json_py.bats
  test_utils/test_mergejson_py.bats
  test_utils/test_scp2json_py.bats
  test_utils/test_splitjson_py.bats
  test_utils/test_update_json_sh.bats
  utils/data2json.sh
Labels: Bugfix, Installation, ST, auto-merge

#5673 fix typo
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_rttm.py
Labels: Bugfix, ESPnet2, auto-merge

#5679 TransformerDecoder forward_one_step with memory_mask
  espnet/nets/pytorch_backend/transformer/decoder.py
  espnet/nets/pytorch_backend/transformer/decoder_layer.py
  espnet/nets/pytorch_backend/transformer/encoder.py
  espnet/nets/pytorch_backend/transformer/encoder_mix.py
  espnet2/asr/decoder/transformer_decoder.py
  espnet2/asr/decoder/whisper_decoder.py
  espnet2/s2st/synthesizer/discrete_synthesizer.py
Labels: Enhancement, ESPnet2, auto-merge, ESPnet1

#5678 Fix over-lengthy audio in ml_superb data prep
  egs2/interspeech2024_dsu_challenge/asr2/README.md
  egs2/ml_superb/asr1/README.md
  egs2/ml_superb/asr1/local/data_prep.py
Labels: Bugfix, Recipe, ASR, ESPnet2, README, auto-merge

#5677 Update bitrate calculation scripts for the IS24 discrete speech challenge
  egs2/TEMPLATE/asr1/pyscripts/utils/calculate_bitrate.py
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_token2json.py
Labels: Recipe, TTS, ASR, ESPnet2, auto-merge, Music

#5682 Update egs2/TEMPLATE/asr2/asr2.sh
  egs2/TEMPLATE/asr2/README.md
  egs2/TEMPLATE/asr2/asr2.sh
  egs2/mini_an4/asr2/run.sh
Labels: Bugfix, ESPnet2, README, auto-merge

#5684 update is2024_dsu_challenge asr scoring script, bitrate calculation
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_token2json.py
  egs2/interspeech2024_dsu_challenge/asr2/README.md
  egs2/interspeech2024_dsu_challenge/asr2/conf/tuning/train_discrete_asr_e_branchformer1_1gpu_lr5e-4_warmup30k.yaml
  egs2/interspeech2024_dsu_challenge/asr2/local/score.sh
Labels: ESPnet2, README, auto-merge

#5688 Fix typo in summarization scoring
  egs2/TEMPLATE/asr1/pyscripts/utils/score_summarization.py
Labels: Bugfix, ESPnet2, SSUM
