Repository espnet/espnet, pull requests merged in 2024-08, with the labels that each got.

#5863 Add more download links for ML-SUPERB
  egs2/ml_superb/asr1/README.md
Labels: Recipe, ESPnet2, README, auto-merge

#5859 Fix bug in asr2.sh
  egs2/TEMPLATE/asr2/asr2.sh
  egs2/librispeech_100/asr2/path.sh
  egs2/librispeech_100/asr2/run.sh
Labels: Recipe, ASR, ESPnet2, auto-merge

#5869 [CI] Add required file for g2p_en
  tools/Makefile
Labels: Bugfix, Installation, auto-merge

#5872 Speechlm bug fix
  egs2/TEMPLATE/asr1/scripts/audio/format_wav_scp.sh
  egs2/libritts/speechlm1/conf/decode_espnet_codec.yaml
  egs2/libritts/speechlm1/conf/train_delay.yaml
  egs2/libritts/speechlm1/conf/train_multiscale.yaml
  egs2/libritts/speechlm1/conf/train_valle.yaml
  egs2/mls/speechlm1/run_codec_ssl_tts.sh
  espnet2/speechlm/core_lm/ar_multiscale.py
  espnet2/speechlm/definitions.py
  espnet2/speechlm/module/transformer.py
  espnet2/tasks/speechlm.py
Labels: ESPnet2

#5857 Support Codec feature for TTS2 task
  espnet2/tts2/fastspeech2/fastspeech2_discrete.py
  espnet2/tts2/fastspeech2/loss.py
Labels: New Features, TTS, ESPnet2, Codec

#5766 Add torch=2.4.0, 2.3.1, 2.2.2 to CI
  .github/workflows/ci_on_macos.yml
  .github/workflows/ci_on_ubuntu.yml
  .github/workflows/ci_on_windows.yml
  .mergify.yml
  README.md
  ci/install.sh
  tools/Makefile
  tools/installers/install_torch.sh
Labels: Installation, CI, README, mergify

#5849 New Recipe of tts2+aishell3
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_km_label.py
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_ssl_feature.py
  egs2/TEMPLATE/asr1/pyscripts/feats/ssl_feature_utils.py
  egs2/TEMPLATE/asr1/scripts/feats/perform_kmeans.sh
  egs2/TEMPLATE/tts2/tts2.sh
  egs2/aishell3/tts1/local/data.sh
  egs2/aishell3/tts2/README.md
  egs2/aishell3/tts2/cmd.sh
  egs2/aishell3/tts2/conf/decode_fastspeech2.yaml
  egs2/aishell3/tts2/conf/decode_teacher.yaml
  egs2/aishell3/tts2/conf/mfcc.conf
  egs2/aishell3/tts2/conf/pbs.conf
  egs2/aishell3/tts2/conf/queue.conf
  egs2/aishell3/tts2/conf/slurm.conf
  egs2/aishell3/tts2/conf/train_fastspeech2.yaml
  egs2/aishell3/tts2/conf/train_teacher.yaml
  egs2/aishell3/tts2/conf/vad.conf
  egs2/aishell3/tts2/db.sh
  egs2/aishell3/tts2/local/data.sh
  egs2/aishell3/tts2/local/data_prep.py
  egs2/aishell3/tts2/local/download_and_untar.sh
  egs2/aishell3/tts2/local/path.sh
  egs2/aishell3/tts2/local/run_mfa.sh
  egs2/aishell3/tts2/path.sh
  egs2/aishell3/tts2/pyscripts
  egs2/aishell3/tts2/run.sh
  egs2/aishell3/tts2/run_train_teacher.sh
  egs2/aishell3/tts2/scripts
  egs2/aishell3/tts2/sid
  egs2/aishell3/tts2/steps
  egs2/aishell3/tts2/tts.sh
  egs2/aishell3/tts2/tts2.sh
  egs2/aishell3/tts2/utils
  espnet2/bin/tts2_inference.py
  espnet2/bin/tts_inference.py
  espnet2/tts2/espnet_model.py
Labels: Recipe, TTS, ESPnet2, README

#5856 Add DeepSpeed trainer for large-scale training
  README.md
  egs2/an4/asr1/conf/deepspeed_zero2.json
  egs2/an4/asr1/conf/train_asr_transformer_deepspeed.yaml
  egs2/librispeech_100/asr1/conf/deepspeed_zero2.json
  espnet2/asr/ctc.py
  espnet2/layers/stft.py
  espnet2/tasks/abs_task.py
  espnet2/torch_utils/device_funcs.py
  espnet2/train/deepspeed_trainer.py
  espnet2/train/distributed_utils.py
  tools/extra_path.sh
Labels: Installation, ESPnet2, README

#5839 Add flash-attn
  README.md
  egs2/librispeech_100/asr1/conf/tuning/train_asr_e_branchformer_flash.yaml
  espnet/nets/pytorch_backend/transformer/attention.py
  espnet2/asr/decoder/transformer_decoder.py
  espnet2/asr/encoder/branchformer_encoder.py
  espnet2/asr/encoder/conformer_encoder.py
  espnet2/asr/encoder/e_branchformer_encoder.py
  espnet2/asr/encoder/transformer_encoder.py
  espnet2/torch_utils/get_flash_attn_compatability.py
  espnet2/tts/gst/style_encoder.py
  test/espnet2/asr/encoder/test_transformer_encoder.py
  tools/Makefile
  tools/installers/install_flash_attn.sh
Labels: Installation, ESPnet2, README, auto-merge, ESPnet1

#5847 [WIP] New Homepage for ESPnet
  .github/workflows/publish_doc.yml
  ci/doc.sh
  doc/README.md
  doc/about_this_doc.md
  doc/argparse2rst.py
  doc/conf.py
  doc/convert_custom_tags_to_html.py
  doc/convert_md_to_homepage.py
  doc/index.md
  doc/members2rst.py
  doc/notebook2rst.sh
  doc/usage2rst.sh
  doc/vuepress/create_menu.py
  doc/vuepress/package-lock.json
  doc/vuepress/package.json
  doc/vuepress/src/.vuepress/config.ts
  doc/vuepress/src/.vuepress/head.ts
  doc/vuepress/src/.vuepress/navbar.ts
  doc/vuepress/src/.vuepress/public/assets/icon/school_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg
  doc/vuepress/src/.vuepress/public/assets/icon/speech_to_text_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg
  doc/vuepress/src/.vuepress/public/assets/image/box.svg
  doc/vuepress/src/.vuepress/public/assets/image/environment_structure.png
  doc/vuepress/src/.vuepress/public/assets/image/espnet.png
  doc/vuepress/src/.vuepress/public/assets/image/espnet_logo1.png
  doc/vuepress/src/.vuepress/public/assets/image/github-dark.svg
  doc/vuepress/src/.vuepress/public/assets/image/github-light.svg
  doc/vuepress/src/.vuepress/sidebar.ts
  doc/vuepress/src/.vuepress/styles/config.scss
  doc/vuepress/src/.vuepress/styles/index.scss
  doc/vuepress/src/.vuepress/styles/palette.scss
  doc/vuepress/src/.vuepress/theme.ts
  doc/vuepress/tsconfig.json
  egs2/TEMPLATE/asr1/utils/divide_lang.sh
  egs2/TEMPLATE/asr1/utils/free-gpu.sh
  espnet/vc/__init__.py
  espnet/vc/pytorch_backend/__init__.py
  espnet2/asr/state_spaces/utils.py
  espnetez/config.py
  espnetez/data/dump.py
  espnetez/dataloader.py
  espnetez/dataset.py
  espnetez/preprocess/sentencepiece.py
  espnetez/preprocess/tokenizer.py
  espnetez/task.py
  espnetez/trainer.py
  setup.py
  utils/divide_lang.sh
  utils/free-gpu.sh
Labels: Documentation, Installation, CI, ESPnet2, README, ESPnet1

#5880 Fix missing flag in EZ streaming iterator
  espnetez/task.py
Labels: Installation

#5883 Bug fix for source link
  doc/argparse2rst.py
  doc/members2rst.py
  doc/usage2rst.sh
Labels: Bugfix, Documentation

#5884 Fix absolute paths in aishell3_tts2
  egs2/aishell3/tts2/local/data.sh
  egs2/aishell3/tts2/local/download_and_untar.sh
  egs2/aishell3/tts2/local/path.sh
Labels: Bugfix, Recipe, ESPnet2, auto-merge
