Repository espnet/espnet, pull requests merged in 2024-01, with the labels that each got.

#5607 Fix minor OWSM data prep bug
  egs2/owsm_v3/s2t1/local/kaldi_to_whisper.py
Labels: Bugfix, ESPnet2

#5548 Add PyTorch & GPU support for DNSMOS calculation
  ci/install.sh
  espnet2/bin/enh_scoring.py
  espnet2/enh/layers/dnsmos.py
  test/espnet2/enh/layers/test_dnsmos.py
Labels: CI, ESPnet2, SE

#5583 ESPnet-SPK: add Voxblink recipe
  egs2/TEMPLATE/spk1/db.sh
  egs2/TEMPLATE/spk1/setup.sh
  egs2/voxblink/spk1/README.md
  egs2/voxblink/spk1/cmd.sh
  egs2/voxblink/spk1/conf/decode.yaml
  egs2/voxblink/spk1/conf/pbs.conf
  egs2/voxblink/spk1/conf/queue.conf
  egs2/voxblink/spk1/conf/slurm.conf
  egs2/voxblink/spk1/conf/train_rawnet3_vbClean.yaml
  egs2/voxblink/spk1/conf/train_rawnet3_vbFull.yaml
  egs2/voxblink/spk1/conf/train_rawnet3_voxcelebs12devs_voxblinkclean.yaml
  egs2/voxblink/spk1/conf/train_rawnet3_voxcelebs12devs_voxblinkfull.yaml
  egs2/voxblink/spk1/conf/tuning/train_rawnet3_best_trnVox12Vbcln_emb192_amp_subcentertopk.yaml
  egs2/voxblink/spk1/conf/tuning/train_rawnet3_best_trnVox12Vbfull_emb192_amp_subcentertopk.yaml
  egs2/voxblink/spk1/conf/tuning/train_rawnet3_vbClean.yaml
  egs2/voxblink/spk1/db.sh
  egs2/voxblink/spk1/local/data.sh
  egs2/voxblink/spk1/local/data_prep.py
  egs2/voxblink/spk1/local/full2clean.py
  egs2/voxblink/spk1/local/path.sh
  egs2/voxblink/spk1/path.sh
  egs2/voxblink/spk1/pyscripts
  egs2/voxblink/spk1/run.sh
  egs2/voxblink/spk1/scripts
  egs2/voxblink/spk1/spk.sh
  egs2/voxblink/spk1/steps
  egs2/voxblink/spk1/utils
Labels: Recipe, ESPnet2, README, auto-merge, SID

#5579 Speaker embedding extractor (with ESPnet pre-trained speaker model)
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_to_avg_spk_embed.py
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_to_avg_xvectors.py
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_spk_embed.py
  egs2/TEMPLATE/tts1/README.md
  egs2/TEMPLATE/tts1/tts.sh
  egs2/aishell3/tts1/run.sh
  egs2/css10/tts1/run.sh
  egs2/googlei18n_lowresource/tts1/run.sh
  egs2/jtubespeech/tts1/run.sh
  egs2/librispeech_100/asr2/path.sh
  egs2/libritts/tts1/run.sh
  egs2/libritts_r/tts1/run.sh
  egs2/talromur2/tts1/conf/tuning/train_xvector_vits.yaml
  egs2/talromur2/tts1/local/convert_to_avg_xvectors.py
  egs2/talromur2/tts1/run.sh
  egs2/talromur2/tts1/train_multi_speaker_fastspeech2.sh
  egs2/talromur2/tts1/train_multi_speaker_tacotron2.sh
  egs2/talromur2/tts1/train_multi_speaker_vits.sh
  egs2/thchs30/tts1/run.sh
  egs2/vctk/tts1/README.md
  egs2/vctk/tts1/conf/tuning/train_speechbrain_xvector_vits.yaml
  egs2/vctk/tts1/conf/tuning/train_xvector_vits.yaml
  espnet2/bin/spk_inference.py
  espnet2/spk/espnet_model.py
  espnet2/spk/projector/rawnet3_projector.py
  espnet2/tasks/spk.py
  test/espnet2/bin/test_spk_inference.py
Labels: Documentation, TTS, ESPnet2, README, SID

#5620 CTC prefix score, fix if blank == eos
  espnet/nets/ctc_prefix_score.py
Labels: Bugfix, ASR, ESPnet1

#5559 ESPnet-SPK: Additional models, supplement readme
  ci/test_integration_espnet2.sh
  egs2/TEMPLATE/asr1/pyscripts/utils/spk_apply_score_norm.py
  egs2/TEMPLATE/spk1/README.md
  egs2/TEMPLATE/spk1/spk.sh
  egs2/mini_an4/spk1/conf/train_conformer.yaml
  egs2/mini_an4/spk1/conf/train_identity.yaml
  egs2/mini_an4/spk1/conf/train_ska.yaml
  egs2/mini_an4/spk1/conf/train_xvector.yaml
  egs2/voxceleb/spk1/README.md
  egs2/voxceleb/spk1/conf/decode.yaml
  egs2/voxceleb/spk1/conf/train_ECAPA_wavlm_joint.yaml
  egs2/voxceleb/spk1/conf/train_SKA_mel.yaml
  egs2/voxceleb/spk1/conf/train_SKA_wavlm_frozen.yaml
  egs2/voxceleb/spk1/conf/train_mfa_conformer.yaml
  egs2/voxceleb/spk1/conf/train_xvector.yaml
  egs2/voxceleb/spk1/conf/tuning/train_ecapa_Vox12_emb192_torchmelspec_subcentertopk_wavlm_jt11.yaml
  egs2/voxceleb/spk1/conf/tuning/train_mfa_conformer_adamw.yaml
  egs2/voxceleb/spk1/conf/tuning/train_ska_Vox12_emb192_torchmelspec_subcentertopk.yaml
  egs2/voxceleb/spk1/conf/tuning/train_ska_Vox12_emb192_torchmelspec_subcentertopk_wavlm_nodownsample.yaml
  egs2/voxceleb/spk1/conf/tuning/train_xvector_Vox12_amp_subcentertopk.yaml
  egs2/voxceleb/spk1/local/data.sh
  egs2/voxceleb/spk1/run.sh
  espnet2/spk/encoder/conformer_encoder.py
  espnet2/spk/encoder/ecapa_tdnn_encoder.py
  espnet2/spk/encoder/identity_encoder.py
  espnet2/spk/encoder/ska_tdnn_encoder.py
  espnet2/spk/encoder/xvector_encoder.py
  espnet2/spk/pooling/mean_pooling.py
  espnet2/spk/pooling/stat_pooling.py
  espnet2/spk/projector/ska_tdnn_projector.py
  espnet2/spk/projector/xvector_projector.py
  espnet2/tasks/spk.py
Labels: CI, ESPnet2, README, auto-merge

#5618 Improving OWSM inference interface
  egs2/mini_an4/s2t1/conf/decode_s2t.yaml
  egs2/owsm_v1/s2t1/conf/decode_s2t.yaml
  egs2/owsm_v2/s2t1/conf/decode_s2t.yaml
  egs2/owsm_v3.1/s2t1/conf/decode_s2t.yaml
  egs2/owsm_v3/s2t1/conf/decode_s2t.yaml
  espnet2/bin/s2t_inference.py
  espnet2/bin/s2t_inference_language.py
  test/espnet2/bin/test_s2t_inference.py
  test/espnet2/bin/test_s2t_inference_language.py
Labels: Enhancement, ESPnet2, OWSM

#5642 Fix CI
  test/espnet2/text/test_whisper_token_id_converter.py
Labels: Bugfix

#5640 bug fixes for must_c v2 recipe
  egs/must_c/st1/local/download_and_untar.sh
  egs2/must_c_v2/st1/local/data.sh
Labels: ESPnet2, auto-merge, ESPnet1

#5636 Fixed bug by copying missing Kaldi scripts
  egs2/TEMPLATE/asr1/utils/data/internal/modify_speaker_info.py
  egs2/TEMPLATE/asr1/utils/data/modify_speaker_info.sh
Labels: Bugfix, ESPnet2, auto-merge

#5644 Fix ESPnet tutorial
  egs2/espnet_tutorial/asvspoof1/steps
  egs2/espnet_tutorial/asvspoof1/utils
Labels: Bugfix, ESPnet2, auto-merge

#5645 Fix path dependency in ESPnet tutorial
  egs2/TEMPLATE/asvspoof1/path.sh
Labels: Bugfix, ESPnet2, auto-merge

#5623 Fix relative setting of train-dev-test
  egs2/kising/svs1/local/data.sh
  egs2/kising/svs1/local/data_prep.py
Labels: Recipe, ESPnet2, auto-merge, Music

#5630 AVSR recipe for Easycom Dataset
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/easycom/avsr1/README.md
  egs2/easycom/avsr1/asr.sh
  egs2/easycom/avsr1/cmd.sh
  egs2/easycom/avsr1/conf/fbank.conf
  egs2/easycom/avsr1/conf/pbs.conf
  egs2/easycom/avsr1/conf/pitch.conf
  egs2/easycom/avsr1/conf/queue.conf
  egs2/easycom/avsr1/conf/slurm.conf
  egs2/easycom/avsr1/conf/train_avsr_avhubert_large_with_lrs3.yaml
  egs2/easycom/avsr1/conf/train_avsr_avhubert_large_with_lrs3_noise.yaml
  egs2/easycom/avsr1/db.sh
  egs2/easycom/avsr1/local/20words_mean_face.npy
  egs2/easycom/avsr1/local/data.sh
  egs2/easycom/avsr1/local/extract_av_feature.py
  egs2/easycom/avsr1/local/face_alignment.py
  egs2/easycom/avsr1/local/path.sh
  egs2/easycom/avsr1/local/preprocessing.py
  egs2/easycom/avsr1/local/scp_gen.py
  egs2/easycom/avsr1/local/transforms.py
  egs2/easycom/avsr1/path.sh
  egs2/easycom/avsr1/pyscripts
  egs2/easycom/avsr1/run.sh
  egs2/easycom/avsr1/scripts
  egs2/easycom/avsr1/steps
  egs2/easycom/avsr1/utils
  espnet2/asr/encoder/avhubert_encoder.py
  tools/installers/install_visual.sh
Labels: Installation, ESPnet2, README, AV
