Repository espnet/espnet, pull requests merged in 2024-12, with the labels that each got.

#5969 [Bugfix] fix keyword argument error in stage 7 of diar.sh
  egs2/TEMPLATE/diar1/diar.sh
Labels: Bugfix, ESPnet2, Diarization

#5970 Update version to 202412
  espnet/version.txt
Labels: auto-merge, ESPnet1

#5967 Clotho_v2 Audio Captioning (DCASE 2023 implementation)
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/clotho_v2/asr1/README.md
  egs2/clotho_v2/asr1/asr.sh
  egs2/clotho_v2/asr1/cmd.sh
  egs2/clotho_v2/asr1/conf/bart_decoder_config.json
  egs2/clotho_v2/asr1/conf/beats_bart_ft.yaml
  egs2/clotho_v2/asr1/conf/beats_bart_pt.yaml
  egs2/clotho_v2/asr1/conf/fbank.conf
  egs2/clotho_v2/asr1/conf/pbs.conf
  egs2/clotho_v2/asr1/conf/pitch.conf
  egs2/clotho_v2/asr1/conf/queue.conf
  egs2/clotho_v2/asr1/conf/slurm.conf
  egs2/clotho_v2/asr1/conf/wav2vec2_conformer_config.json
  egs2/clotho_v2/asr1/db.sh
  egs2/clotho_v2/asr1/local/data.sh
  egs2/clotho_v2/asr1/local/data_prep_audiocaps.py
  egs2/clotho_v2/asr1/local/data_prep_clotho.py
  egs2/clotho_v2/asr1/local/data_prep_clotho_chatgpt_mixup.py
  egs2/clotho_v2/asr1/local/evaluation.py
  egs2/clotho_v2/asr1/local/path.sh
  egs2/clotho_v2/asr1/local/score.sh
  egs2/clotho_v2/asr1/path.sh
  egs2/clotho_v2/asr1/pyscripts
  egs2/clotho_v2/asr1/run.sh
  egs2/clotho_v2/asr1/scripts
  egs2/clotho_v2/asr1/steps
  egs2/clotho_v2/asr1/utils
  espnet2/asr/decoder/hugging_face_transformers_decoder.py
  espnet2/asr/encoder/beats_encoder.py
  espnet2/bin/asr_inference.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/asr.py
  espnet2/torch_utils/initialize.py
  test/espnet2/asr/decoder/test_hugging_face_transformers_decoder.py
  test/espnet2/asr/encoder/test_beats_encoder.py
Labels: Recipe, ESPnet2, README

#5974 fix: gradient truncation bug in pit_solver.py
  espnet2/enh/loss/wrappers/pit_solver.py
Labels: ESPnet2, SE

#5982 remove gtn in setup.py
  espnet/nets/pytorch_backend/gtn_ctc.py
  setup.py
  test/espnet2/gan_svs/visinger/test_visinger_generator.py
  test/tedlium2.vocab
Labels: Installation, CI, ESPnet2, ESPnet1

#5994 Add Scaled Dot Product Attention (SDPA) from PyTorch
  espnet/nets/pytorch_backend/transformer/attention.py
Labels: Enhancement, ESPnet1

#5983 Update VISingerPlus README.md
  egs2/TEMPLATE/svs1/README.md
Labels: ESPnet2, README, auto-merge

#6000 Fix issues in OWSM CTC segmentation
  doc/installation.md
  egs2/owsm_ctc_v3.1/s2t1/README.md
  espnet2/bin/s2t_ctc_align.py
Labels: Documentation, ESPnet2, README

#5989 ml-superb 2024 recipe
  egs2/README.md
  egs2/ml_superb2/asr1/README.md
  egs2/ml_superb2/asr1/asr.sh
  egs2/ml_superb2/asr1/cmd.sh
  egs2/ml_superb2/asr1/conf/decode_asr.yaml
  egs2/ml_superb2/asr1/conf/fbank.conf
  egs2/ml_superb2/asr1/conf/pbs.conf
  egs2/ml_superb2/asr1/conf/pitch.conf
  egs2/ml_superb2/asr1/conf/queue.conf
  egs2/ml_superb2/asr1/conf/slurm.conf
  egs2/ml_superb2/asr1/conf/train_asr.yaml
  egs2/ml_superb2/asr1/conf/tuning/train_mms_baseline.yaml
  egs2/ml_superb2/asr1/db.sh
  egs2/ml_superb2/asr1/local/data.sh
  egs2/ml_superb2/asr1/local/download.py
  egs2/ml_superb2/asr1/local/path.sh
  egs2/ml_superb2/asr1/local/score.py
  egs2/ml_superb2/asr1/local/score.sh
  egs2/ml_superb2/asr1/path.sh
  egs2/ml_superb2/asr1/pyscripts
  egs2/ml_superb2/asr1/run.sh
  egs2/ml_superb2/asr1/scripts
  egs2/ml_superb2/asr1/steps
  egs2/ml_superb2/asr1/utils
Labels: Recipe, ASR, ESPnet2, README
