Repository espnet/espnet, pull requests merged in 2024-05, with the labels that each got.

#5730 ESPnet Recipe for ASR on the Makerere Radio Speech Corpus
  egs2/README.md
  egs2/makerere/asr1/README.md
  egs2/makerere/asr1/asr.sh
  egs2/makerere/asr1/cmd.sh
  egs2/makerere/asr1/conf/fbank.conf
  egs2/makerere/asr1/conf/pbs.conf
  egs2/makerere/asr1/conf/pitch.conf
  egs2/makerere/asr1/conf/queue.conf
  egs2/makerere/asr1/conf/slurm.conf
  egs2/makerere/asr1/conf/train_asr_demo_branchformer.yaml
  egs2/makerere/asr1/db.sh
  egs2/makerere/asr1/local/data.sh
  egs2/makerere/asr1/local/data_prep.py
  egs2/makerere/asr1/local/path.sh
  egs2/makerere/asr1/path.sh
  egs2/makerere/asr1/pyscripts
  egs2/makerere/asr1/run.sh
  egs2/makerere/asr1/scripts
  egs2/makerere/asr1/steps
  egs2/makerere/asr1/utils
Labels: Recipe, ASR, ESPnet2, README

#5771 Updated results for CHiME-8 DASR baseline with new notsofar1 dev set
  egs2/chime8_task1/README.md
  egs2/chime8_task1/asr1/local/gss2lhotse.py
Labels: Recipe, ASR, ESPnet2, README

#5744 Add recipe for IWSLT 2024 shared task Indic track
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/iwslt24_indic/st1/RESULTS.md
  egs2/iwslt24_indic/st1/cmd.sh
  egs2/iwslt24_indic/st1/conf/fbank.conf
  egs2/iwslt24_indic/st1/conf/pbs.conf
  egs2/iwslt24_indic/st1/conf/pitch.conf
  egs2/iwslt24_indic/st1/conf/queue.conf
  egs2/iwslt24_indic/st1/conf/slurm.conf
  egs2/iwslt24_indic/st1/conf/tuning/decode_st_conformer.yaml
  egs2/iwslt24_indic/st1/conf/tuning/train_st_conformer.yaml
  egs2/iwslt24_indic/st1/db.sh
  egs2/iwslt24_indic/st1/local/data.sh
  egs2/iwslt24_indic/st1/local/data_prep.sh
  egs2/iwslt24_indic/st1/local/download_and_unpack.sh
  egs2/iwslt24_indic/st1/local/path.sh
  egs2/iwslt24_indic/st1/path.sh
  egs2/iwslt24_indic/st1/pyscripts
  egs2/iwslt24_indic/st1/run.sh
  egs2/iwslt24_indic/st1/scripts
  egs2/iwslt24_indic/st1/st.sh
  egs2/iwslt24_indic/st1/steps
  egs2/iwslt24_indic/st1/utils
Labels: Recipe, CI, ST, ESPnet2, README

#5782 Bug fix for VoxtLM v1 recipe
  egs2/TEMPLATE/lm1/lm.sh
  egs2/voxtlm_v1/lm1/README.md
  egs2/voxtlm_v1/lm1/conf/decode_lm_tts.yaml
  egs2/voxtlm_v1/lm1/db.sh
  egs2/voxtlm_v1/lm1/local/data_librilight.sh
  egs2/voxtlm_v1/lm1/local/data_librispeech.sh
  egs2/voxtlm_v1/lm1/local/data_libritts.sh
  egs2/voxtlm_v1/lm1/local/data_vctk.sh
  egs2/voxtlm_v1/lm1/local/librilight/data_prep_librilight.sh
  egs2/voxtlm_v1/lm1/local/prepare_bpe_text.py
  egs2/voxtlm_v1/lm1/local/prepare_lm_test.py
  egs2/voxtlm_v1/lm1/path.sh
Labels: ESPnet2, README, LM

#5741 [SVS] VISinger Plus
  egs2/acesinger/svs1/conf/tuning/train_visinger2_24k.yaml
  egs2/acesinger/svs1/conf/tuning/train_visinger2_plus_fused.yaml
  egs2/acesinger/svs1/conf/tuning/train_visinger2_plus_hubert.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_visinger2_24k.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_visinger2_plus_fused.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_visinger2_plus_hubert.yaml
  egs2/opencpop/svs1/conf/tuning/train_visinger2_24k.yaml
  egs2/opencpop/svs1/conf/tuning/train_visinger2_plus_fused.yaml
  egs2/opencpop/svs1/conf/tuning/train_visinger2_plus_hubert.yaml
  egs2/opencpop/svs1/conf/tuning/train_visinger_mert.yaml
  egs2/opencpop/svs1/conf/tuning/train_visinger_wavlablm_ms_40k.yaml
  espnet2/gan_svs/espnet_model.py
  espnet2/gan_svs/post_frontend/__init__.py
  espnet2/gan_svs/post_frontend/fused.py
  espnet2/gan_svs/post_frontend/s3prl.py
  espnet2/gan_svs/vits/generator.py
  espnet2/gan_svs/vits/vits.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/gan_svs.py
  espnet2/tts/feats_extract/dio.py
Labels: Recipe, New Features, ESPnet2, Music

#5752 Separate packing and uploading stages
  CONTRIBUTING.md
  ci/test_integration_espnet2.sh
  doc/espnet2_tutorial.md
  doc/notebook2rst.sh
  egs2/TEMPLATE/asr1/README_multitask.md
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr2/README.md
  egs2/TEMPLATE/asr2/asr2.sh
  egs2/TEMPLATE/diar1/diar.sh
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/enh_asr1/enh_asr.sh
  egs2/TEMPLATE/enh_diar1/enh_diar.sh
  egs2/TEMPLATE/enh_st1/enh_st.sh
  egs2/TEMPLATE/lm1/lm.sh
  egs2/TEMPLATE/mt1/mt.sh
  egs2/TEMPLATE/s2st1/s2st.sh
  egs2/TEMPLATE/s2t1/README.md
  egs2/TEMPLATE/s2t1/s2t.sh
  egs2/TEMPLATE/slu1/slu.sh
  egs2/TEMPLATE/spk1/spk.sh
  egs2/TEMPLATE/ssl1/hubert.sh
  egs2/TEMPLATE/svs1/svs.sh
  egs2/TEMPLATE/tts1/README.md
  egs2/TEMPLATE/tts1/tts.sh
  egs2/TEMPLATE/uasr1/uasr.sh
Labels: Documentation, CI, ESPnet2, README

#5787 update meta info for reference usage
  egs2/TEMPLATE/asr1/pyscripts/utils/make_speechlm_json.py
  egs2/TEMPLATE/asr1/pyscripts/utils/make_token_list_speechlm.py
  espnet2/bin/speechlm_inference.py
  espnet2/gan_codec/abs_gan_codec.py
  espnet2/gan_codec/espnet_model.py
  espnet2/gan_codec/soundstream/soundstream.py
  espnet2/speechlm/core_lm/abs_core_lm.py
  espnet2/speechlm/core_lm/ar_multiscale.py
Labels: ESPnet2

#5769 Added partially auto-regressive decoding
  espnet/nets/beam_search_partially_AR.py
  espnet/nets/pytorch_backend/transformer/attention.py
  espnet/nets/pytorch_backend/transformer/decoder_layer.py
  espnet/nets/scorer_interface.py
  espnet2/asr/decoder/transformer_decoder.py
  espnet2/asr/partially_AR_model.py
  espnet2/bin/asr_inference.py
  espnet2/bin/s2t_inference.py
  test/espnet2/asr/decoder/test_transformer_decoder.py
  test/espnet2/asr/test_partially_AR.py
Labels: ESPnet2, ESPnet1

#5789 Revert change to abs_task to keep the consistency behavior
  espnet2/tasks/abs_task.py
Labels: Bugfix, ESPnet2

#5784 Adding Hifitts recipe for espnet
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/hifitts/tts1/README.md
  egs2/hifitts/tts1/cmd.sh
  egs2/hifitts/tts1/conf/decode.yaml
  egs2/hifitts/tts1/conf/mfcc.conf
  egs2/hifitts/tts1/conf/pbs.conf
  egs2/hifitts/tts1/conf/queue.conf
  egs2/hifitts/tts1/conf/slurm.conf
  egs2/hifitts/tts1/conf/train.yaml
  egs2/hifitts/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/hifitts/tts1/conf/tuning/decode_vits.yaml
  egs2/hifitts/tts1/conf/tuning/train_gst_tacotron2.yaml
  egs2/hifitts/tts1/conf/tuning/train_multi_spk_vits.yaml
  egs2/hifitts/tts1/conf/vad.conf
  egs2/hifitts/tts1/db.sh
  egs2/hifitts/tts1/local/data.sh
  egs2/hifitts/tts1/local/data_download.sh
  egs2/hifitts/tts1/local/data_prep.py
  egs2/hifitts/tts1/local/path.sh
  egs2/hifitts/tts1/path.sh
  egs2/hifitts/tts1/pyscripts
  egs2/hifitts/tts1/run.sh
  egs2/hifitts/tts1/scripts
  egs2/hifitts/tts1/steps
  egs2/hifitts/tts1/tts.sh
  egs2/hifitts/tts1/utils
Labels: Recipe, TTS, ESPnet2, README

#5788 Import Espnet in-house codec to downstream task
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_codec.py
  egs2/TEMPLATE/asr1/scripts/feats/codec_tokenization.sh
  egs2/TEMPLATE/speechlm1/speechlm.sh
  espnet2/bin/gan_codec_inference.py
  espnet2/gan_codec/soundstream/soundstream.py
  espnet2/speechlm/postprocessor/codec_post_processor.py
  espnet2/speechlm/tokenizer/abs_tokenizer.py
  espnet2/speechlm/tokenizer/codec_tokenizer.py
  espnet2/tasks/speechlm.py
Labels: New Features, ESPnet2, Codec

#5790 Add DAC Codec to espnet-codec
  egs2/libritts/codec1/conf/decode.yaml
  egs2/libritts/codec1/conf/train_dac.yaml
  egs2/libritts/codec1/run.sh
  espnet2/bin/gan_codec_inference.py
  espnet2/gan_codec/dac/__init__.py
  espnet2/gan_codec/dac/dac.py
  espnet2/gan_codec/shared/decoder/seanet.py
  espnet2/gan_codec/shared/discriminator/msmpmb_discriminator.py
  espnet2/gan_codec/shared/encoder/seanet.py
  espnet2/gan_codec/shared/encoder/snake_activation.py
  espnet2/gan_codec/shared/quantizer/modules/core_vq.py
  espnet2/gan_codec/shared/quantizer/residual_vq.py
  espnet2/tasks/gan_codec.py
  espnet2/train/preprocessor.py
Labels: New Features, ESPnet2, Codec

#5786 [SVS] Add CI tests for VISinger Plus
  egs2/TEMPLATE/svs1/svs.sh
  espnet2/bin/svs_inference.py
  espnet2/gan_svs/espnet_model.py
  espnet2/gan_svs/post_frontend/fused.py
  espnet2/gan_svs/post_frontend/s3prl.py
  espnet2/gan_svs/vits/vits.py
  test/espnet2/gan_svs/visinger/test_fused.py
  test/espnet2/gan_svs/visinger/test_postfrontend.py
  test/espnet2/gan_svs/visinger/test_visinger_plus.py
Labels: CI, ESPnet2, auto-merge, Music
