Repository espnet/espnet, pull requests merged in 2024-04, with the labels that each got.

#5731 Update TSE recipe egs2/librimix/tse1
  egs2/librimix/tse1/conf/tuning/train_enh_tse_td_speakerbeam_16k.yaml
  egs2/librimix/tse1/local/asr_data_prep.sh
Labels: Bugfix, ESPnet2, auto-merge, SE

#5749 Apply normalization on validation set for CHiME-8 recipe
  egs2/chime8_task1/asr1/run.sh
Labels: Recipe, ESPnet2, auto-merge

#5750 Fix failing `data.sh` in OWSM
  egs2/owsm_v1/s2t1/local/data.sh
Labels: Bugfix, ESPnet2, auto-merge, OWSM

#5754 Final model scores for TF-GridNetV2 on the Kinect-WSJ dataset
  egs2/wsj_kinect/enh1/README.md
Labels: Recipe, ESPnet2, README, auto-merge, SE

#5760 Fix Whisper frontend
  espnet2/asr/frontend/whisper.py
Labels: Bugfix, ESPnet2, auto-merge

#5748 Bug fixes for egs2/TEMPLATE/st1
  ci/test_integration_espnet2.sh
  egs2/TEMPLATE/st1/README.md
  egs2/TEMPLATE/st1/TEMPLATE_local/images/asr-init.png
  egs2/TEMPLATE/st1/TEMPLATE_local/images/attn.png
  egs2/TEMPLATE/st1/TEMPLATE_local/images/code.png
  egs2/TEMPLATE/st1/TEMPLATE_local/images/ctc-attn.png
  egs2/TEMPLATE/st1/TEMPLATE_local/images/example-b.png
  egs2/TEMPLATE/st1/TEMPLATE_local/images/example-c.png
  egs2/TEMPLATE/st1/TEMPLATE_local/images/hier-enc.png
  egs2/TEMPLATE/st1/TEMPLATE_local/images/llm.png
  egs2/TEMPLATE/st1/TEMPLATE_local/images/md-ctc-attn.png
  egs2/TEMPLATE/st1/TEMPLATE_local/images/python-cmd.png
  egs2/TEMPLATE/st1/TEMPLATE_local/images/rnnt.png
  egs2/TEMPLATE/st1/TEMPLATE_local/images/ssl.png
  egs2/TEMPLATE/st1/TEMPLATE_local/images/ts-ctc-attn.png
  egs2/TEMPLATE/st1/TEMPLATE_local/images/unity.png
  egs2/TEMPLATE/st1/local/TEMPLATE_HF_README_st.md
  egs2/TEMPLATE/st1/st.sh
Labels: CI, ESPnet2, README

#5764 Add egs2/reverb/asr1/scripts
  egs2/reverb/asr1/scripts
Labels: ESPnet2, auto-merge
