Repository espnet/espnet, pull requests merged in 2024-11, with the labels that each got.

#5940 Fix bug in document that overflows the page
  doc/espnet1_tutorial.md
  doc/espnet2_tutorial.md
Labels: Documentation

#5924 Migration from Anaconda to conda-forge
  .github/workflows/ci_on_ubuntu.yml
  .gitignore
  ci/install.sh
  ci/install_macos.sh
  ci/test_shell_espnet1.sh
  ci/test_shell_espnet2.sh
  doc/about_this_doc.md
  doc/installation.md
  docker/prebuilt/runtime.dockerfile
  tools/Makefile
  tools/README.md
  tools/setup_miniforge.sh
Labels: Documentation, Docker, Installation, CI, README, auto-merge

#5947 add visinger2 plus readme
  egs2/TEMPLATE/svs1/README.md
Labels: ESPnet2, README

#5946 removed ''continue'' statement from the for loop in run_mono.sh
  egs2/ml_superb/asr1/run_mono.sh
Labels: Bugfix, Recipe, ASR, ESPnet2

#5933 Add OWSM-CTC
  egs2/owsm_ctc_v3.1/s2t1/README.md
  egs2/owsm_ctc_v3.1/s2t1/cmd.sh
  egs2/owsm_ctc_v3.1/s2t1/conf/decode_s2t.yaml
  egs2/owsm_ctc_v3.1/s2t1/conf/fbank.conf
  egs2/owsm_ctc_v3.1/s2t1/conf/pbs.conf
  egs2/owsm_ctc_v3.1/s2t1/conf/pitch.conf
  egs2/owsm_ctc_v3.1/s2t1/conf/queue.conf
  egs2/owsm_ctc_v3.1/s2t1/conf/slurm.conf
  egs2/owsm_ctc_v3.1/s2t1/conf/train_s2t_multitask-ctc_ebf27_conv2d8_size1024.yaml
  egs2/owsm_ctc_v3.1/s2t1/db.sh
  egs2/owsm_ctc_v3.1/s2t1/local/convert_owsm_data.py
  egs2/owsm_ctc_v3.1/s2t1/local/path.sh
  egs2/owsm_ctc_v3.1/s2t1/path.sh
  egs2/owsm_ctc_v3.1/s2t1/pyscripts
  egs2/owsm_ctc_v3.1/s2t1/run.sh
  egs2/owsm_ctc_v3.1/s2t1/s2t.sh
  egs2/owsm_ctc_v3.1/s2t1/scripts
  egs2/owsm_ctc_v3.1/s2t1/utils
  espnet/nets/pytorch_backend/transformer/subsampling.py
  espnet2/asr/encoder/e_branchformer_ctc_encoder.py
  espnet2/bin/s2t_ctc_align.py
  espnet2/bin/s2t_inference_ctc.py
  espnet2/s2t/espnet_ctc_model.py
  espnet2/tasks/s2t_ctc.py
  espnet2/train/preprocessor.py
  test/espnet2/asr/encoder/test_e_branchformer_ctc_encoder.py
  test/espnet2/bin/test_s2t_ctc_align.py
  test/espnet2/bin/test_s2t_inference_ctc.py
  test/espnet2/s2t/test_espnet_ctc_model.py
  test/espnet2/s2t/test_espnet_model.py
  test/espnet2/tasks/test_s2t_ctc.py
Labels: ESPnet2, README, ESPnet1

#5950 Bug fixed for #5949
  espnetez/trainer.py
Labels: Bugfix, ESPnetEZ

#5951 Fix versa interface
  egs2/TEMPLATE/codec1/codec.sh
Labels: ESPnet2, auto-merge, Codec

#5964 My Science Tutor (MyST) Children's Conversational Speech Corpus
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/myst/asr1/README.md
  egs2/myst/asr1/asr.sh
  egs2/myst/asr1/cmd.sh
  egs2/myst/asr1/conf/decode_asr.yaml
  egs2/myst/asr1/conf/fbank.conf
  egs2/myst/asr1/conf/pbs.conf
  egs2/myst/asr1/conf/pitch.conf
  egs2/myst/asr1/conf/queue.conf
  egs2/myst/asr1/conf/slurm.conf
  egs2/myst/asr1/conf/tuning/train_asr_wavlm_conformer.yaml
  egs2/myst/asr1/conf/tuning/train_asr_wavlm_transformer.yaml
  egs2/myst/asr1/db.sh
  egs2/myst/asr1/local/data.sh
  egs2/myst/asr1/local/flac_to_wav.py
  egs2/myst/asr1/local/path.sh
  egs2/myst/asr1/local/prepare_data.py
  egs2/myst/asr1/path.sh
  egs2/myst/asr1/pyscripts
  egs2/myst/asr1/run.sh
  egs2/myst/asr1/scripts
  egs2/myst/asr1/steps
  egs2/myst/asr1/utils
Labels: Recipe, ASR, ESPnet2, README
