Repository espnet/espnet, pull requests merged in 2024-06, with the labels that each got.

#5797 fix spk mfa-conformer forwarding
  espnet2/spk/encoder/conformer_encoder.py
Labels: ESPnet2, SID

#5805 Add continuous representation interface in codec tokenizer
  egs2/TEMPLATE/asr1/scripts/feats/codec_tokenization.sh
  espnet2/gan_codec/dac/dac.py
  espnet2/gan_codec/espnet_model.py
  espnet2/gan_codec/funcodec/funcodec.py
  espnet2/gan_codec/soundstream/soundstream.py
  espnet2/speechlm/tokenizer/codec_tokenizer.py
Labels: ESPnet2

#5802 Codec evaluation (connection to speech evaluation toolkit)
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/asr1/pyscripts/utils/aggregate_codec_eval.py
  egs2/TEMPLATE/codec1/codec.sh
  egs2/libritts/codec1/cmd.sh
  egs2/libritts/codec1/conf/score_16k.yaml
  egs2/libritts/codec1/conf/score_24k.yaml
  egs2/libritts/codec1/conf/slurm.conf
  egs2/libritts/codec1/conf/train_soundstream.yaml
  egs2/libritts/codec1/run.sh
  espnet2/bin/gan_codec_inference.py
  espnet2/bin/pack.py
  espnet2/tasks/gan_codec.py
  espnet2/train/preprocessor.py
Labels: ESPnet2

#5803 Update specaug.py
  espnet2/asr/specaug/specaug.py
Labels: ESPnet2

#5811 SPRING-INX Recipe (Speech Lab, IIT, Madras)
  egs2/spring_speech/README.md
  egs2/spring_speech/run.sh
Labels: Recipe, ESPnet2, README, auto-merge

#5810 Add a speech enhancement recipe: egs2/urgent24/enh1
  egs2/README.md
  egs2/urgent24/enh1/cmd.sh
  egs2/urgent24/enh1/conf/pbs.conf
  egs2/urgent24/enh1/conf/queue.conf
  egs2/urgent24/enh1/conf/slurm.conf
  egs2/urgent24/enh1/conf/tuning/train_enh_bsrnn_large_noncausal.yaml
  egs2/urgent24/enh1/conf/tuning/train_enh_conv_tasnet.yaml
  egs2/urgent24/enh1/conf/tuning/train_enh_tfgridnet.yaml
  egs2/urgent24/enh1/db.sh
  egs2/urgent24/enh1/enh.sh
  egs2/urgent24/enh1/local/data.sh
  egs2/urgent24/enh1/local/path.sh
  egs2/urgent24/enh1/path.sh
  egs2/urgent24/enh1/pyscripts
  egs2/urgent24/enh1/run.sh
  egs2/urgent24/enh1/scripts
  egs2/urgent24/enh1/steps
  egs2/urgent24/enh1/utils
Labels: Recipe, ESPnet2, README, SE

#5800 SE function updates: new models and support for handling various sampling frequencies
  ci/test_integration_espnet2.sh
  egs2/TEMPLATE/enh1/enh.sh
  egs2/mini_an4/enh1/conf/train_with_chunk_iterator_debug.yaml
  espnet2/bin/enh_inference.py
  espnet2/bin/enh_scoring.py
  espnet2/diar/separator/tcn_separator_nomask.py
  espnet2/enh/decoder/stft_decoder.py
  espnet2/enh/encoder/stft_encoder.py
  espnet2/enh/espnet_model.py
  espnet2/enh/layers/bsrnn.py
  espnet2/enh/loss/criterions/time_domain.py
  espnet2/enh/separator/bsrnn_separator.py
  espnet2/enh/separator/dptnet_separator.py
  espnet2/enh/separator/tcn_separator.py
  espnet2/enh/separator/tfgridnetv3_separator.py
  espnet2/iterators/chunk_iter_factory.py
  espnet2/layers/augmentation.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/enh.py
  espnet2/train/preprocessor.py
  test/espnet2/enh/separator/test_bsrnn_separator.py
  test/espnet2/enh/separator/test_tcn_separator.py
  test/espnet2/enh/test_espnet_model.py
Labels: CI, ESPnet2, auto-merge, SE

#5817 Avoid zero division for speech_volume_normalize
  espnet2/train/preprocessor.py
Labels: ESPnet2
