Repository espnet/espnet, pull requests merged in 2024-07, with the labels that each got.

#5828 CI Fix - Updated dependencies
  .github/workflows/ci_on_centos7_yml.eol
  .gitignore
  README.md
  tools/Makefile
  tools/installers/install_fairseq.sh
Labels: Installation, CI, README

#5834 Fixed kising/acesinger google drive download
  egs2/acesinger/svs1/local/download_wget.sh
Labels: ESPnet2, auto-merge

#5826 update MFA-Conformer performance after fixing the bug in #5797
  egs2/voxceleb/spk1/README.md
Labels: ESPnet2, README, auto-merge, SID

#5830 A fix to newer torch version (compatible to old version with typecheck)
  espnet2/tasks/abs_task.py
Labels: Bugfix, ESPnet2

#5838 [SVS] fix VISinger2 typecheck error
  espnet2/gan_svs/vits/generator.py
Labels: ESPnet2, auto-merge, Music

#5832 WIP: Espnet Multi-convformer implementation
  egs2/librispeech/asr1/README.md
  egs2/librispeech/asr1/conf/tuning/train_asr_multiconvformer_conv_fusion.yaml
  egs2/librispeech_100/asr1/README.md
  egs2/librispeech_100/asr1/conf/tuning/train_asr_multiconvformer_conv_fusion_linear1024.yaml
  egs2/slurp_entity/asr1/README.md
  egs2/slurp_entity/asr1/conf/tuning/train_asr_multiconv_e12_mlp3072_linear2048_layerdrop.yaml
  espnet2/asr/encoder/multiconvformer_encoder.py
  espnet2/asr/layers/multiconv_cgmlp.py
  espnet2/tasks/asr.py
  test/espnet2/asr/encoder/test_multiconvformer_encoder.py
Labels: Recipe, New Features, ASR, ESPnet2, README

#5825 Update of SE functions
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/enh_asr1/enh_asr.sh
  espnet2/bin/enh_inference.py
  espnet2/bin/enh_inference_streaming.py
  espnet2/bin/enh_tse_inference.py
  espnet2/enh/layers/bsrnn.py
  espnet2/enh/separator/bsrnn_separator.py
  test/espnet2/enh/separator/test_bsrnn_separator.py
Labels: Recipe, ESPnet2, SE

#5821 Prodiff teacher forcing inference
  espnet2/tts/prodiff/denoiser.py
  espnet2/tts/prodiff/prodiff.py
Labels: TTS, ESPnet2

#5852 Update README info
  README.md
Labels: README, auto-merge
