Repository espnet/espnet, pull requests merged in 2025-06, with the labels that each got.

#6129 Changing order on CI for Whisper installation
  .github/workflows/ci_on_ubuntu.yml
  ci/install.sh
  ci/test_configuration_espnet2.sh
  setup.py
  test/espnet2/asr/decoder/test_hugging_face_transformers_decoder.py
  test/espnet2/asr/postencoder/test_hugging_face_transformers_postencoder.py
  test/espnet2/bin/test_asr_inference.py
  test/espnet2/layers/test_create_adapter_fn.py
Labels: Installation, CI

#6117 Resolve logger warnings
  espnet/nets/chainer_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/nets_utils.py
Labels: Bugfix, ESPnet2, ESPnet1

#6067 Additional results for the discrete ASR challenge
  egs2/interspeech2024_dsu_challenge/asr1/RESULTS.md
  egs2/interspeech2024_dsu_challenge/asr1/asr.sh
  egs2/interspeech2024_dsu_challenge/asr1/cmd.sh
  egs2/interspeech2024_dsu_challenge/asr1/conf/decode_ctc0.3_beamsize5.yaml
  egs2/interspeech2024_dsu_challenge/asr1/conf/fbank.conf
  egs2/interspeech2024_dsu_challenge/asr1/conf/pbs.conf
  egs2/interspeech2024_dsu_challenge/asr1/conf/pitch.conf
  egs2/interspeech2024_dsu_challenge/asr1/conf/queue.conf
  egs2/interspeech2024_dsu_challenge/asr1/conf/slurm.conf
  egs2/interspeech2024_dsu_challenge/asr1/conf/tuning/train_asr_wavlm_0_ft_lr1e-4_warmup30k.yaml
  egs2/interspeech2024_dsu_challenge/asr1/conf/tuning/train_asr_wavlm_0_lr1e-4_warmup30k.yaml
  egs2/interspeech2024_dsu_challenge/asr1/conf/tuning/train_asr_wavlm_12_ft_lr1e-4_warmup30k.yaml
  egs2/interspeech2024_dsu_challenge/asr1/conf/tuning/train_asr_wavlm_12_lr1e-4_warmup30k.yaml
  egs2/interspeech2024_dsu_challenge/asr1/conf/tuning/train_asr_wavlm_15_ft_lr1e-4_warmup30k.yaml
  egs2/interspeech2024_dsu_challenge/asr1/conf/tuning/train_asr_wavlm_15_lr1e-4_warmup30k.yaml
  egs2/interspeech2024_dsu_challenge/asr1/conf/tuning/train_asr_wavlm_18_ft_lr1e-4_warmup30k.yaml
  egs2/interspeech2024_dsu_challenge/asr1/conf/tuning/train_asr_wavlm_18_lr1e-4_warmup30k.yaml
  egs2/interspeech2024_dsu_challenge/asr1/conf/tuning/train_asr_wavlm_21_ft_lr1e-4_warmup30k.yaml
  egs2/interspeech2024_dsu_challenge/asr1/conf/tuning/train_asr_wavlm_21_lr1e-4_warmup30k.yaml
  egs2/interspeech2024_dsu_challenge/asr1/conf/tuning/train_asr_wavlm_3_ft_lr1e-4_warmup30k.yaml
  egs2/interspeech2024_dsu_challenge/asr1/conf/tuning/train_asr_wavlm_3_lr1e-4_warmup30k.yaml
  egs2/interspeech2024_dsu_challenge/asr1/conf/tuning/train_asr_wavlm_6_ft_lr1e-4_warmup30k.yaml
  egs2/interspeech2024_dsu_challenge/asr1/conf/tuning/train_asr_wavlm_6_lr1e-4_warmup30k.yaml
  egs2/interspeech2024_dsu_challenge/asr1/conf/tuning/train_asr_wavlm_9_ft_lr1e-4_warmup30k.yaml
  egs2/interspeech2024_dsu_challenge/asr1/conf/tuning/train_asr_wavlm_9_lr1e-4_warmup30k.yaml
  egs2/interspeech2024_dsu_challenge/asr1/db.sh
  egs2/interspeech2024_dsu_challenge/asr1/local/data.sh
  egs2/interspeech2024_dsu_challenge/asr1/local/data_ls100.sh
  egs2/interspeech2024_dsu_challenge/asr1/local/data_mlsuperb.sh
  egs2/interspeech2024_dsu_challenge/asr1/local/data_prep.py
  egs2/interspeech2024_dsu_challenge/asr1/local/data_prep.sh
  egs2/interspeech2024_dsu_challenge/asr1/local/download_and_untar.sh
  egs2/interspeech2024_dsu_challenge/asr1/local/path.sh
  egs2/interspeech2024_dsu_challenge/asr1/path.sh
  egs2/interspeech2024_dsu_challenge/asr1/pyscripts
  egs2/interspeech2024_dsu_challenge/asr1/run.sh
  egs2/interspeech2024_dsu_challenge/asr1/scripts
  egs2/interspeech2024_dsu_challenge/asr1/steps
  egs2/interspeech2024_dsu_challenge/asr1/utils
  egs2/interspeech2024_dsu_challenge/asr2/README.md
  egs2/interspeech2024_dsu_challenge/asr2/conf/decode_beam5_ctc0.3.yaml
Labels: Recipe, ASR, ESPnet2, README

#6140 Flake8 CI Fixes
  ci/test_flake8.sh
  ci/test_python_espnet1.sh
  ci/test_python_espnet2.sh
  espnet/nets/pytorch_backend/transformer/embedding.py
  espnet2/asr/frontend/cnn.py
  espnet2/bin/cls_inference.py
  espnet2/bin/slu_inference.py
  espnet2/cls/decoder/linear_decoder.py
  espnet2/cls/espnet_model.py
  espnet2/ssl/espnet_model.py
  espnet2/ssl/loss/hubert.py
  espnet2/ssl/utils/mask.py
  espnet2/tasks/cls.py
  espnet2/tasks/ssl.py
  espnet2/train/collate_fn.py
  espnet2/utils/sized_dict.py
  espnet2/utils/yaml_no_alias_safe_dump.py
  test/espnet2/bin/test_cls_inference.py
  test/espnet2/cls/decoder/test_linear_decoder.py
  test/espnet2/cls/test_espnet_model.py
  test/espnet2/cls/test_lightning_callbacks.py
  test/espnet2/ssl/test_ssl_espnet_model.py
  test/espnet2/tasks/test_cls.py
Labels: Refactoring, CI, ESPnet2, ESPnet1, size:L, lgtm

#6143 Update document to add tutorials + more easy connection to installation
  ci/doc.sh
  doc/index.md
  doc/vuepress/create_menu.py
Labels: Documentation, CI, size:M

#6148 reflect the master updates to espnet3
  .github/PULL_REQUEST_TEMPLATE.md
  test/espnet2/layers/test_create_adapter_fn.py
Labels: CI, ESPnet3, size:M

#6134 [SVS2]: Discrete Singing Voice Synthesis
  egs2/TEMPLATE/asr1/pyscripts/feats/combine_tokens.py
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_km_label.py
  egs2/TEMPLATE/asr1/pyscripts/feats/ssl_feature_utils.py
  egs2/TEMPLATE/asr1/pyscripts/utils/learn_kmeans.py
  egs2/TEMPLATE/asr1/scripts/feats/perform_kmeans.sh
  egs2/TEMPLATE/asr1/scripts/utils/versa_eval.sh
  egs2/TEMPLATE/svs2/README.md
  egs2/TEMPLATE/svs2/cmd.sh
  egs2/TEMPLATE/svs2/conf/pbs.conf
  egs2/TEMPLATE/svs2/conf/queue.conf
  egs2/TEMPLATE/svs2/conf/slurm.conf
  egs2/TEMPLATE/svs2/conf/versa_cpu.yaml
  egs2/TEMPLATE/svs2/conf/versa_gpu.yaml
  egs2/TEMPLATE/svs2/db.sh
  egs2/TEMPLATE/svs2/local/path.sh
  egs2/TEMPLATE/svs2/path.sh
  egs2/TEMPLATE/svs2/pyscripts
  egs2/TEMPLATE/svs2/scripts
  egs2/TEMPLATE/svs2/setup.sh
  egs2/TEMPLATE/svs2/steps
  egs2/TEMPLATE/svs2/svs2.sh
  egs2/TEMPLATE/svs2/utils
  egs2/opencpop/svs2/cmd.sh
  egs2/opencpop/svs2/conf/pbs.conf
  egs2/opencpop/svs2/conf/queue.conf
  egs2/opencpop/svs2/conf/slurm.conf
  egs2/opencpop/svs2/conf/tuning/decode.yaml
  egs2/opencpop/svs2/conf/tuning/train_naive_rnn_dp.yaml
  egs2/opencpop/svs2/conf/tuning/train_toksing.yaml
  egs2/opencpop/svs2/conf/tuning/train_xiaoice.yaml
  egs2/opencpop/svs2/conf/versa.yaml
  egs2/opencpop/svs2/db.sh
  egs2/opencpop/svs2/local/data.sh
  egs2/opencpop/svs2/local/data_prep.py
  egs2/opencpop/svs2/local/midi-note.scp
  egs2/opencpop/svs2/local/path.sh
  egs2/opencpop/svs2/path.sh
  egs2/opencpop/svs2/pyscripts
  egs2/opencpop/svs2/run.sh
  egs2/opencpop/svs2/scripts
  egs2/opencpop/svs2/svs2.sh
  egs2/opencpop/svs2/utils
  espnet2/bin/svs_inference.py
  espnet2/svs/discrete/__init__.py
  espnet2/svs/discrete/frontend.py
  espnet2/svs/discrete/loss.py
  espnet2/svs/discrete/toksing.py
  espnet2/svs/discrete_svs_espnet_model.py
  espnet2/tasks/svs.py
  espnet2/tts/utils/parallel_wavegan_pretrained_vocoder.py
Labels: ESPnet2, README, Music, size:XXL

#6168 S2T Recipe for IPAPack++: main recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/s2t1/s2t.sh
  egs2/ipapack_plus/s2t1/README.md
  egs2/ipapack_plus/s2t1/cmd.sh
  egs2/ipapack_plus/s2t1/conf/decode_s2t_pr.yaml
  egs2/ipapack_plus/s2t1/conf/fbank.conf
  egs2/ipapack_plus/s2t1/conf/pbs.conf
  egs2/ipapack_plus/s2t1/conf/pitch.conf
  egs2/ipapack_plus/s2t1/conf/queue.conf
  egs2/ipapack_plus/s2t1/conf/slurm.conf
  egs2/ipapack_plus/s2t1/conf/tuning/train_s2t_ebf_conv2d_size768_e9_d9_piecewise_lr5e-4_warmup60k_flashattn.yaml
  egs2/ipapack_plus/s2t1/db.sh
  egs2/ipapack_plus/s2t1/local/utils.py
  egs2/ipapack_plus/s2t1/path.sh
  egs2/ipapack_plus/s2t1/pyscripts
  egs2/ipapack_plus/s2t1/run.sh
  egs2/ipapack_plus/s2t1/s2t.sh
  egs2/ipapack_plus/s2t1/scripts
  egs2/ipapack_plus/s2t1/utils
Labels: Recipe, ESPnet2, README, size:XL
