Repository espnet/espnet, pull requests merged in 2025-04, with the labels that each got.

#6080 Python Package Installation Flag
  .devcontainer/ci_cpu/build_image.sh
  .devcontainer/ci_cpu/devcontainer.json
  .devcontainer/ci_cpu/espnet.dockerfile
  .gitignore
  ci/install.sh
  ci/install_macos.sh
  ci/test_python_espnet1.sh
  ci/test_python_espnet2.sh
  ci/test_python_espnetez.sh
  tools/Makefile
  tools/installers/install_pyopenjtalk.sh
Labels: Installation, CI

#6088 ACE-Opencpop Data Preparation Quick Fix
  egs2/acesinger/svs1/local/data_prep.py
Labels: ESPnet2

#6090 [SVS] Creating gtsinger/svs1 recipe
  egs2/README.md
  egs2/gtsinger/svs1/cmd.sh
  egs2/gtsinger/svs1/conf/decode.yaml
  egs2/gtsinger/svs1/conf/pbs.conf
  egs2/gtsinger/svs1/conf/queue.conf
  egs2/gtsinger/svs1/conf/slurm.conf
  egs2/gtsinger/svs1/conf/train.yaml
  egs2/gtsinger/svs1/conf/tuning/train_visinger2_24k.yaml
  egs2/gtsinger/svs1/db.sh
  egs2/gtsinger/svs1/local/data.sh
  egs2/gtsinger/svs1/local/dataset_split.py
  egs2/gtsinger/svs1/local/path.sh
  egs2/gtsinger/svs1/local/unique_label.txt
  egs2/gtsinger/svs1/local/yue_songs.txt
  egs2/gtsinger/svs1/path.sh
  egs2/gtsinger/svs1/pyscripts
  egs2/gtsinger/svs1/run.sh
  egs2/gtsinger/svs1/scripts
  egs2/gtsinger/svs1/svs.sh
  egs2/gtsinger/svs1/utils
Labels: Recipe, ESPnet2, README, Music

#6095 Torch Version Update
  .devcontainer/ci_cpu/devcontainer.json
  .devcontainer/ci_cpu/espnet.dockerfile
  .github/workflows/ci_on_centos7_yml.eol
  .github/workflows/ci_on_debian11.yml
  .github/workflows/ci_on_macos.yml
  .github/workflows/ci_on_ubuntu.yml
  .github/workflows/ci_on_windows.yml
  .github/workflows/publish_doc.yml
  .github/workflows/publish_docker_image.yml
  .github/workflows/publish_paper_pdf.yml
  .github/workflows/publish_python_package.yml
  .github/workflows/stale.yml
  .gitignore
  README.md
  ci/test_integration_espnet2.sh
  ci/test_integration_espnetez.sh
  docker/.default_args
  docker/README.md
  docker/build.sh
  test/espnet2/asr/frontend/test_transformers.py
  test/espnet2/text/test_hugging_face_token_id_converter.py
  tools/Makefile
  tools/installers/install_torch.sh
Labels: Docker, Installation, CI, README

#6098 [SVS1]: update inference and evaluation
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/asr1/pyscripts/utils/check_align.py
  egs2/TEMPLATE/asr1/pyscripts/utils/evaluate_token_accuracy.py
  egs2/TEMPLATE/svs1/svs.sh
  egs2/acesinger/svs1/conf/tuning/train_visinger2_24k.yaml
  egs2/acesinger/svs1/local/data.sh
  egs2/acesinger/svs1/run.sh
  egs2/amaboshi/svs1/cmd.sh
  egs2/amaboshi/svs1/conf/decode.yaml
  egs2/amaboshi/svs1/conf/pbs.conf
  egs2/amaboshi/svs1/conf/queue.conf
  egs2/amaboshi/svs1/conf/slurm.conf
  egs2/amaboshi/svs1/conf/train.yaml
  egs2/amaboshi/svs1/conf/tuning/decode_rnn.yaml
  egs2/amaboshi/svs1/conf/tuning/train_naive_rnn.yaml
  egs2/amaboshi/svs1/conf/tuning/train_naive_rnn_dp.yaml
  egs2/amaboshi/svs1/conf/tuning/train_vits.yaml
  egs2/amaboshi/svs1/db.sh
  egs2/amaboshi/svs1/local/customed_dic.scp
  egs2/amaboshi/svs1/local/data.sh
  egs2/amaboshi/svs1/local/dataset_split.py
  egs2/amaboshi/svs1/local/path.sh
  egs2/amaboshi/svs1/local/prep_segments.py
  egs2/amaboshi/svs1/local/prep_segments_from_xml.py
  egs2/amaboshi/svs1/path.sh
  egs2/amaboshi/svs1/pyscripts
  egs2/amaboshi/svs1/run.sh
  egs2/amaboshi/svs1/scripts
  egs2/amaboshi/svs1/svs.sh
  egs2/amaboshi/svs1/utils
  espnet2/bin/svs_inference.py
  espnet2/train/preprocessor.py
Labels: ESPnet2

#6102 [Actions] Update Docker login
  .github/workflows/publish_docker_image.yml
  tools/installers/install_parallel-wavegan.sh
Labels: Docker, Installation, CI, auto-merge

#6105 VISinger2 Duration Loss Quick Fix
  espnet2/gan_svs/vits/vits.py
Labels: ESPnet2
