Repository espnet/espnet, pull requests merged in 2025-03, with the labels that each got.

#6056 Github Actions Update
  .github/workflows/publish_doc.yml
  .github/workflows/stale.yml
Labels: CI

#6060 fixed few typos on egs2/spk template
  egs2/TEMPLATE/asr1/pyscripts/utils/calculate_eer_mindcf.py
  egs2/TEMPLATE/asr1/pyscripts/utils/spk_calculate_scores_from_embeddings.py
  test_utils/test_calculate_eer_mindcf_py.bats
Labels: Bugfix, ESPnet2, SID

#6058 Bugfix #6057
  egs2/TEMPLATE/tts1/README.md
Labels: Bugfix, ESPnet2, README

#6064 A quick fix for type error when dealing with multi-decoder (ST)
  espnet2/bin/st_inference.py
Labels: Bugfix, ST, ESPnet2

#6065 Docs Fix
  .gitignore
  egs2/TEMPLATE/cls1/README.md
Labels: Bugfix, ESPnet2, README

#6071 Downgrade Transformers version
  tools/Makefile
  tools/installers/install_transformers.sh
Labels: Bugfix, Installation

#6076 Transformers version check
  .gitignore
  tools/installers/install_transformers.sh
Labels: Installation
