Repository espnet/espnet, pull requests merged in 2025-01, with the labels that each got.

#5996 EDACC dataset automatic speech recognition
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/edacc/asr1/README.md
  egs2/edacc/asr1/asr.sh
  egs2/edacc/asr1/cmd.sh
  egs2/edacc/asr1/conf/decode_asr.yaml
  egs2/edacc/asr1/conf/fbank.conf
  egs2/edacc/asr1/conf/pbs.conf
  egs2/edacc/asr1/conf/pitch.conf
  egs2/edacc/asr1/conf/queue.conf
  egs2/edacc/asr1/conf/slurm.conf
  egs2/edacc/asr1/conf/train_asr_wavlm_transformer.yaml
  egs2/edacc/asr1/db.sh
  egs2/edacc/asr1/local/data.sh
  egs2/edacc/asr1/local/data_prep.py
  egs2/edacc/asr1/local/path.sh
  egs2/edacc/asr1/local/truncate_test.py
  egs2/edacc/asr1/path.sh
  egs2/edacc/asr1/pyscripts
  egs2/edacc/asr1/run.sh
  egs2/edacc/asr1/scripts
  egs2/edacc/asr1/steps
  egs2/edacc/asr1/utils
Labels: Recipe, ASR, ESPnet2, README

#5977 ESC-50 classification with BEATs
  egs2/README.md
  egs2/esc50/asr1/README.md
  egs2/esc50/asr1/conf/beats_classification.yaml
  egs2/esc50/asr1/conf/fbank.conf
  egs2/esc50/asr1/conf/pbs.conf
  egs2/esc50/asr1/conf/pitch.conf
  egs2/esc50/asr1/conf/queue.conf
  egs2/esc50/asr1/conf/slurm.conf
  egs2/esc50/asr1/local/data.sh
  egs2/esc50/asr1/local/data_prep_multi_folds.py
  egs2/esc50/asr1/local/run_single_fold.sh
  egs2/esc50/asr1/run.sh
  espnet/nets/pytorch_backend/nets_utils.py
  espnet2/asr/decoder/linear_decoder.py
  espnet2/asr/encoder/beats_encoder.py
  espnet2/asr/espnet_model.py
  espnet2/bin/asr_inference.py
  espnet2/tasks/asr.py
  test/espnet2/asr/decoder/test_linear_decoder.py
  test/espnet2/asr/encoder/test_beats_encoder.py
  test/test_nets_utils.py
Labels: ESPnet2, README, ESPnet1, SED

#6005 Fix minor bug in OWSM-CTC preprocessor
  espnet2/train/preprocessor.py
Labels: Bugfix, ESPnet2, OWSM

#6003 Minor formatting fixes in mlsuperb 2 recipe
  egs2/ml_superb2/asr1/README.md
  egs2/ml_superb2/asr1/local/download.py
  egs2/ml_superb2/asr1/local/score.py
Labels: Bugfix, Recipe, ASR, ESPnet2, README

#6009 Typo in ML-SUPERB Results
  egs2/ml_superb2/asr1/README.md
  egs2/ml_superb2/asr1/local/score.py
Labels: ESPnet2, README

#6007 Implement unified batch decode interface for OWSM-CTC
  egs2/TEMPLATE/asr1/pyscripts/utils/average_checkpoints.py
  egs2/owsm_ctc_v3.1/s2t1/README.md
  espnet/nets/pytorch_backend/transformer/attention.py
  espnet2/bin/s2t_inference_ctc.py
  test/espnet2/bin/test_s2t_inference_ctc.py
Labels: ESPnet2, README, ESPnet1

#5913 Add Hugging Face Front End
  espnet2/asr/frontend/huggingface.py
  espnet2/tasks/asr.py
  test/espnet2/asr/frontend/test_transformers.py
Labels: New Features, ESPnet2

#5954 Support PyTorch Lightning Trainer in ESPnet2
  egs2/TEMPLATE/asr1/asr.sh
  egs2/librispeech_100/asr1/conf/tuning/lightning_ddp_2x2gpu_train_asr_e_branchformer_size256_mlp1024_linear1024_e12_mactrue_edrop0.0_ddrop0.0.yaml
  egs2/librispeech_100/asr1/conf/tuning/lightning_ddp_2x2gpu_train_asr_e_branchformer_size256_mlp1024_linear1024_e12_mactrue_edrop0.0_ddrop0.0_limitepoch.yaml
  espnet/nets/pytorch_backend/transformer/attention.py
  espnet2/bin/lightning_train.py
  espnet2/train/lightning_callbacks.py
  espnet2/train/lightning_espnet_model.py
  setup.py
  tools/Makefile
  tools/check_install.py
  tools/installers/install_lightning.sh
Labels: Enhancement, Installation, New Features, ESPnet2, ESPnet1

#6001 Update scoring config to support WER/CER information with VERSA
  egs2/TEMPLATE/asr1/pyscripts/utils/aggregate_codec_eval.py
  egs2/TEMPLATE/codec1/codec.sh
Labels: Enhancement, ESPnet2, Codec

#5999 Genshin Dataset recipe of vits model
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/genshin/tts1/README.md
  egs2/genshin/tts1/cmd.sh
  egs2/genshin/tts1/conf/decode.yaml
  egs2/genshin/tts1/conf/mfcc.conf
  egs2/genshin/tts1/conf/pbs.conf
  egs2/genshin/tts1/conf/queue.conf
  egs2/genshin/tts1/conf/slurm.conf
  egs2/genshin/tts1/conf/tuning/decode_vits.yaml
  egs2/genshin/tts1/conf/tuning/train_full_band_multi_spk_vits.yaml
  egs2/genshin/tts1/conf/vad.conf
  egs2/genshin/tts1/db.sh
  egs2/genshin/tts1/local/data.sh
  egs2/genshin/tts1/local/data_download.sh
  egs2/genshin/tts1/local/data_process.py
  egs2/genshin/tts1/local/path.sh
  egs2/genshin/tts1/local/sort_by_id.pl
  egs2/genshin/tts1/path.sh
  egs2/genshin/tts1/pyscripts
  egs2/genshin/tts1/run.sh
  egs2/genshin/tts1/scripts
  egs2/genshin/tts1/sid
  egs2/genshin/tts1/steps
  egs2/genshin/tts1/tts.sh
  egs2/genshin/tts1/utils
Labels: CI, ESPnet2, README

#6017 cmu_kids
  egs2/cmu_kids/asr1/README.md
  egs2/cmu_kids/asr1/asr.sh
  egs2/cmu_kids/asr1/cmd.sh
  egs2/cmu_kids/asr1/conf/decode_asr.yaml
  egs2/cmu_kids/asr1/conf/fbank.conf
  egs2/cmu_kids/asr1/conf/file_list/dev.list
  egs2/cmu_kids/asr1/conf/file_list/test.list
  egs2/cmu_kids/asr1/conf/file_list/train.list
  egs2/cmu_kids/asr1/conf/pbs.conf
  egs2/cmu_kids/asr1/conf/pitch.conf
  egs2/cmu_kids/asr1/conf/queue.conf
  egs2/cmu_kids/asr1/conf/slurm.conf
  egs2/cmu_kids/asr1/conf/tuning/train_asr_wavlm_conformer.yaml
  egs2/cmu_kids/asr1/conf/tuning/train_asr_wavlm_transformer.yaml
  egs2/cmu_kids/asr1/db.sh
  egs2/cmu_kids/asr1/local/cmu_kids_data_prepare.sh
  egs2/cmu_kids/asr1/local/data.sh
  egs2/cmu_kids/asr1/local/path.sh
  egs2/cmu_kids/asr1/local/sph2wav.py
  egs2/cmu_kids/asr1/path.sh
  egs2/cmu_kids/asr1/pyscripts
  egs2/cmu_kids/asr1/run.sh
  egs2/cmu_kids/asr1/scripts
  egs2/cmu_kids/asr1/steps
  egs2/cmu_kids/asr1/utils
Labels: Recipe, ASR, ESPnet2, README

#6020 [Doc] Update parser on lightning_train
  .continueignore
  .github/workflows/publish_doc.yml
  .gitignore
  doc/.gitignore
  espnet2/bin/lightning_train.py
Labels: Documentation, CI, ESPnet2

#6023 Logging bugfix, skip import
  espnet2/asr/decoder/hugging_face_transformers_decoder.py
  test/espnet2/asr/decoder/test_hugging_face_transformers_decoder.py
Labels: Bugfix, ESPnet2

#6002 [feature]finish versa eval in TTS recipe
  egs2/TEMPLATE/asr1/pyscripts/utils/aggregate_eval.py
  egs2/TEMPLATE/asr1/scripts/utils/show_tts_results.sh
  egs2/TEMPLATE/codec1/codec.sh
  egs2/TEMPLATE/tts1/README.md
  egs2/TEMPLATE/tts1/conf/versa.yaml
  egs2/TEMPLATE/tts1/tts.sh
  egs2/genshin/tts1/conf/versa.yaml
Labels: TTS, ESPnet2, README

#6025 fix: OWSM v3.1 - remove flash attention args
  egs2/owsm_v3.1/s2t1/conf/train_s2t_ebf_conv2d_size1024_e18_d18_piecewise_lr2e-4_warmup60k_flashattn.yaml
Labels: ESPnet2, auto-merge, OWSM

#6008 BEATs Tokenizer Inference
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_codec.py
  egs2/TEMPLATE/asr1/scripts/feats/audio_tokenization.sh
  espnet2/speechlm/tokenizer/beats_tokenizer.py
  espnet2/speechlm/tokenizer/codec_tokenizer.py
  espnet2/speechlm/tokenizer/random_tokenizer.py
  test/espnet2/speechlm/tokenizer/test_beats_tokenizer.py
  test/espnet2/speechlm/tokenizer/test_codec_tokenizer.py
  test/espnet2/speechlm/tokenizer/test_random_tokenizer.py
Labels: ESPnet2, SED

#6024 Improving efficiency of large-scale training
  espnet/nets/pytorch_backend/transformer/attention.py
  espnet2/asr/decoder/transformer_decoder.py
  espnet2/asr/encoder/e_branchformer_encoder.py
  espnet2/bin/s2t_inference.py
  espnet2/bin/s2t_inference_language.py
  espnet2/fileio/read_text.py
  espnet2/tasks/abs_task.py
  espnet2/train/dataset.py
  espnet2/train/trainer.py
Labels: Enhancement, ESPnet2, ESPnet1, OWSM

#6026 doc: update OWSM data preparation instructions
  egs2/TEMPLATE/s2t1/README.md
Labels: ESPnet2, README, OWSM

#6030 Update tools/README.md
  tools/README.md
Labels: Installation, README
