Repository espnet/espnet, pull requests merged in 2025-05, with the labels that each got.

#6082 Add explicit typecheck for warning msg
  espnet2/asr/frontend/fused.py
Labels: ASR, ESPnet2

#6109 Create recipe: iban/asr1
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/iban/asr1/README.md
  egs2/iban/asr1/asr.sh
  egs2/iban/asr1/cmd.sh
  egs2/iban/asr1/conf/decode_asr.yaml
  egs2/iban/asr1/conf/fbank.conf
  egs2/iban/asr1/conf/pbs.conf
  egs2/iban/asr1/conf/pitch.conf
  egs2/iban/asr1/conf/queue.conf
  egs2/iban/asr1/conf/slurm.conf
  egs2/iban/asr1/conf/tuning/train_asr_wavlm_conformer.yaml
  egs2/iban/asr1/db.sh
  egs2/iban/asr1/local/data.sh
  egs2/iban/asr1/local/path.sh
  egs2/iban/asr1/path.sh
  egs2/iban/asr1/pyscripts
  egs2/iban/asr1/run.sh
  egs2/iban/asr1/scripts
  egs2/iban/asr1/steps
  egs2/iban/asr1/utils
  test/espnet2/asr/frontend/test_fused.py
Labels: ESPnet2, README

#6111 FIX CI test_import
  .github/workflows/ci_on_ubuntu.yml
Labels: CI

#6110 [Recipe] Create inference recipe for non-native English ASR benchmark (ALLSSTAR)
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/allsstar_eng/s2t1/README.md
  egs2/allsstar_eng/s2t1/cmd.sh
  egs2/allsstar_eng/s2t1/conf/decode_s2t.yaml
  egs2/allsstar_eng/s2t1/conf/fbank.conf
  egs2/allsstar_eng/s2t1/conf/pbs.conf
  egs2/allsstar_eng/s2t1/conf/pitch.conf
  egs2/allsstar_eng/s2t1/conf/queue.conf
  egs2/allsstar_eng/s2t1/conf/slurm.conf
  egs2/allsstar_eng/s2t1/db.sh
  egs2/allsstar_eng/s2t1/local/data.sh
  egs2/allsstar_eng/s2t1/local/download_and_untar.sh
  egs2/allsstar_eng/s2t1/local/path.sh
  egs2/allsstar_eng/s2t1/path.sh
  egs2/allsstar_eng/s2t1/pyscripts
  egs2/allsstar_eng/s2t1/run.sh
  egs2/allsstar_eng/s2t1/s2t.sh
  egs2/allsstar_eng/s2t1/scripts
  egs2/allsstar_eng/s2t1/utils
Labels: ESPnet2, README

#6113 [SVS1] SingingGenerate and VISinger Inference Fix
  espnet2/bin/svs_inference.py
  espnet2/gan_svs/espnet_model.py
  espnet2/gan_svs/vits/vits.py
  espnet2/svs/espnet_model.py
Labels: ESPnet2, Music
