Repository espnet/espnet, pull requests merged in 2025-07, with the labels that each got.

#6184 [svs]: fix bugs in svs.py
  espnet2/tasks/svs.py
Labels: Bug, ESPnet2, size:XS

#6190 Fix FutureWarning `torch.cuda.amp.autocast(args...)` is deprecated
  espnet2/enh/loss/criterions/time_domain.py
Labels: Bugfix, ESPnet2, size:XS

#6191 Update transformers installation
  tools/installers/install_transformers.sh
Labels: Installation, size:XS

#6139 Espnet3/install only
  .github/workflows/ci_on_debian11.yml
  .github/workflows/ci_on_macos.yml
  .github/workflows/ci_on_ubuntu.yml
  .github/workflows/ci_on_windows.yml
  .github/workflows/publish_doc.yml
  .github/workflows/publish_docker_image.yml
  .github/workflows/publish_python_package.yml
  .gitignore
  ci/install.sh
  ci/test_import_all.py
  ci/test_integration_espnet2.sh
  ci/test_integration_espnetez.sh
  doc/conf.py
  doc/installation.md
  espnet2/asr/frontend/asteroid_frontend.py
  espnet2/asr/state_spaces/components.py
  espnet2/asr/state_spaces/s4.py
  espnet2/asr/state_spaces/utils.py
  espnet2/bin/asr_inference.py
  espnet2/enh/loss/criterions/time_domain.py
  espnet2/text/cleaner.py
  espnet2/text/phoneme_tokenizer.py
  espnet2/train/dataset.py
  espnetez/task.py
  pyproject.toml
  test/espnet2/bin/test_s2t_inference_ctc.py
  test/espnet2/enh/layers/test_complex_utils.py
  test/espnet2/enh/layers/test_dnsmos.py
  test/espnet2/text/test_phoneme_tokenizer.py
  test/espnetez/test_integration_espnetez_ft.py
  test_utils/uninstall_extra.py
  tools/Makefile
Labels: Documentation, Installation, CI, ESPnet2, README, ESPnet1, dependencies, size:XL

#6154 Update SPK recipe for CN-celeb
  egs2/TEMPLATE/asr1/pyscripts/utils/spk_calculate_scores_from_embeddings.py
  egs2/TEMPLATE/spk1/spk.sh
  egs2/cnceleb/spk1/README.md
  egs2/cnceleb/spk1/conf/decode.yaml
  egs2/cnceleb/spk1/conf/train_ECAPA_mel.yaml
  egs2/cnceleb/spk1/conf/train_ecapa_tdnn.yaml
  egs2/cnceleb/spk1/conf/train_resnet221.yaml
  egs2/cnceleb/spk1/conf/train_resnet34.yaml
  egs2/cnceleb/spk1/conf/tuning/train_ecapa_tdnn.yaml
  egs2/cnceleb/spk1/conf/tuning/train_resnet221.yaml
  egs2/cnceleb/spk1/conf/tuning/train_resnet34.yaml
  egs2/cnceleb/spk1/local/convert_trial.py
  egs2/cnceleb/spk1/local/data.sh
  egs2/cnceleb/spk1/local/data_prep.py
  egs2/cnceleb/spk1/run.sh
  espnet2/schedulers/exponential_decay_warmup.py
  espnet2/spk/encoder/resnet_encoder.py
  espnet2/spk/layers/resnet_block.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/spk.py
  test/espnet2/schedulers/test_exponential_decay_warmup.py
Labels: New Features, ESPnet2, README, SID, size:XL
