Repository espnet/espnet, pull requests merged in 2025-10, with the labels that each got.

#6249 [espnet3-7](2) Add Callbacks
  espnet3/trainer/callbacks.py
  espnet3/trainer/trainer.py
  test/espnet3/test_callback.py
Labels: New Features, ESPnet3, size:XL, lgtm

#6248 Get forced alignments from CTC model
  egs2/ipapack_plus/s2t1/force_align.py
  espnet2/asr/ctc.py
  espnet2/s2t/espnet_model.py
  test/espnet2/asr/test_ctc.py
  test/espnet2/s2t/test_espnet_model.py
Labels: CI, ESPnet2, Force alignment, size:L

#6257 SpeechLM Data Infra: dataset management
  .gitignore
  egs2/TEMPLATE/speechlm1/path.sh
  egs2/gigaspeech/speechlm1/cmd.sh
  egs2/gigaspeech/speechlm1/conf/pbs.conf
  egs2/gigaspeech/speechlm1/conf/queue.conf
  egs2/gigaspeech/speechlm1/conf/slurm.conf
  egs2/gigaspeech/speechlm1/db.sh
  egs2/gigaspeech/speechlm1/local/data.sh
  egs2/gigaspeech/speechlm1/local/path.sh
  egs2/gigaspeech/speechlm1/path.sh
  egs2/gigaspeech/speechlm1/prep.sh
  egs2/gigaspeech/speechlm1/pyscripts
  egs2/gigaspeech/speechlm1/scripts
  egs2/gigaspeech/speechlm1/speechlm.sh
  egs2/gigaspeech/speechlm1/steps
  egs2/gigaspeech/speechlm1/utils
  egs2/librispeech/speechlm1/cmd.sh
  egs2/librispeech/speechlm1/conf/pbs.conf
  egs2/librispeech/speechlm1/conf/queue.conf
  egs2/librispeech/speechlm1/conf/slurm.conf
  egs2/librispeech/speechlm1/db.sh
  egs2/librispeech/speechlm1/local/data.sh
  egs2/librispeech/speechlm1/local/data_prep.sh
  egs2/librispeech/speechlm1/local/download_and_untar.sh
  egs2/librispeech/speechlm1/local/path.sh
  egs2/librispeech/speechlm1/path.sh
  egs2/librispeech/speechlm1/prep.sh
  egs2/librispeech/speechlm1/pyscripts
  egs2/librispeech/speechlm1/scripts
  egs2/librispeech/speechlm1/speechlm.sh
  egs2/librispeech/speechlm1/steps
  egs2/librispeech/speechlm1/utils
  espnet2/speechlm/__init__.py
  espnet2/speechlm/bin/prepare_audio_lhotse.py
  espnet2/speechlm/bin/prepare_dataset_json.py
  espnet2/speechlm/dataloader/dataset.py
  espnet2/speechlm/dataloader/multimodal_loader.py
Labels: Recipe, ESPnet2, size:XL, lgtm
